_dumps/
_notes/
_older/
_scratch/
media/
datasets/static/_older/

.DS_Store

nohup.out
dump.rdb

es-*.*
*.wp*

### Django ###
*.log
*.pot
*.pyc
__pycache__/
whg/__pycache__/
local_settings.py
db.sqlite3
/static
