_dumps/
_notes/
_older/
_scratch/
*/_scratch/*
_tests/
_testdata/

datasets/static/_older/
elastic/mappings/
elastic/queries/
static/_older/
graph/

# leave server versions intact
media/collections/
media/data/
media/datasets/
media/downloads/
media/resources/
media/user*

*/migrations/0*.py
*/*/migrations/0*.py

sent_emails/

.DS_Store
*/.DS_Store
*/*/.DS_Store
.python-version

nohup.out
dump.rdb
req-tree.txt
es-*.*

# Wing IDE
*.wp*

# VS Code
whg.code-workspace
.idea/
.vscode/
init_shell.py

# PyCharm
.run/

### Django ###
local_settings.py
/static
*.log
*.pot
*.pyc
debug.*
__pycache__/
whg/__pycache__/
whg/logs/
db.sqlite3

