_dumps/
_notes/
_older/
_scratch/
_tests/
_testdata/

datasets/static/_older/
media/data/
media/downloads/
media/user*

sent_emails/

.DS_Store

nohup.out
dump.rdb

es-*.*

# Wing IDE
*.wp*

### Django ###
local_settings.py
*.log
*.pot
*.pyc
__pycache__/
whg/__pycache__/
db.sqlite3
/static
