{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "id": 227636,
        "src_id": "703448",
        "title": "Kyiv",
        "ccodes": [
          "UA"
        ]
      },
      "geometry": {
        "type": "GeometryCollection",
        "features": [
          {
            "type": "Point",
            "geowkt": "POINT(30.5238 50.45466)",
            "coordinates": [
              30.5238,
              50.45466
            ]
          }
        ]
      },
      "names": [
        {
          "lang": "",
          "toponym": "Chijv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Civ",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "C\u00edv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "IEV",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kaenugardur",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Keju",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiebo",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kief",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kieu",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiev",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiev osh",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kievi",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kievo",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiew",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiiev",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiiv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kijev",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kijeva",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kijevas",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kijew",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kijow",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kijuw",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kijv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kij\u00f3w",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kij\u016fw",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiova",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiovia",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiyev",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kiyiw",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Ki\u00ebf",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kjiv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kueyiv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kyev",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kyiiv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kyiv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kyiw",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kyjev",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kyjiv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Kyjiw",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "Ky\u00e8v",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "K\u00edev",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "K\u00eeev",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "K\u00fcyiv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "ji fu",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "kheiyf",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "kiefu",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "kiv",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "kiva",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "kiyebha",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "kiyepeu",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "kyf",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "kyiva",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "kyyf",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "qyyb",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u039a\u03af\u03b5\u03b2\u03bf",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u041a\u0435\u0439\u04f3",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u041a\u0438\u0435\u0432",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u041a\u0438\u0435\u0432 \u043e\u0448",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u041a\u0438\u0457\u0432",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u041a\u0438\u0458\u0435\u0432",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u041a\u044b\u0438\u0432",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u041a\u044b\u0439\u0438\u0432",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u041a\u0456\u0435\u045e",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u041a\ua651\u0465\u0432\u044a",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u053f\u056b\u0587",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u05e7\u05d9\u05d9\u05d1",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u05e7\u05d9\u05e2\u05d5\u05d5",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u0643\u0649\u064a\u06d0\u06cb",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u0643\u064a\u064a\u0641",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u06a9\u06cc\u0641",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u06a9\u06cc\u06ce\u06a4",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u06a9\u06cc\u200c\u06cc\u0641",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u0915\u0940\u0935",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u0915\u094d\u092f\u0940\u0935",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u0995\u09bf\u09af\u09bc\u09c7\u09ad",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u0b95\u0bc0\u0bb5\u0bcd",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u0d15\u0d40\u0d35\u0d4d",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u0e40\u0e04\u0e35\u0e22\u0e1f",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u0f40\u0f72\u0f56\u0f0d",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u1000\u102e\u1038\u101a\u1000\u103a\u1019\u103c\u102d\u102f\u1037",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u10d9\u10d8\u10d4\u10d5\u10d8",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u12aa\u12e8\u126d",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u30ad\u30a8\u30d5",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\u57fa\u8f14",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "\ud0a4\uc608\ud504",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        },
        {
          "lang": "",
          "toponym": "K\u00e6nugar\u00f0ur",
          "citations": [
            {
              "id": "",
              "label": "GeoNames"
            }
          ]
        }
      ],
      "types": [
        {
          "label": "inhabited places",
          "identifier": "aat:300008347",
          "sourceLabel": "populated place"
        }
      ],
      "links": [
        {
          "type": "exactMatch",
          "identifier": "tgn:7010171"
        },
        {
          "type": "closeMatch",
          "identifier": "wd:Q1899"
        },
        {
          "type": "closeMatch",
          "identifier": "tgn:7010171"
        },
        {
          "type": "closeMatch",
          "identifier": "viaf:150028026"
        },
        {
          "type": "closeMatch",
          "identifier": "loc:n81022031"
        },
        {
          "type": "closeMatch",
          "identifier": "gn:703447"
        },
        {
          "type": "closeMatch",
          "identifier": "dbp:Kiev"
        },
        {
          "type": "closeMatch",
          "identifier": "gn:703448"
        }
      ],
      "whens": []
    }
  ],
  "@context": "https://raw.githubusercontent.com/LinkedPasts/linked-places/master/linkedplaces-context-v1.1.jsonld",
  "filename": "/collection_109.lpf"
}