amqp==2.6.1
appdirs==1.4.3
appnope==0.1.0
APScheduler==3.7.0
argcomplete==1.12.3
asgiref==3.2.3
astroid==2.5.6
astropy==4.0.1.post1
asttokens==2.0.5
attrs==19.1.0
autopep8==1.5.7
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.10.0
billiard==3.6.3.0
black==21.5b1
boto3==1.20.33
botocore==1.23.33
bs4==0.0.1
cached-property==1.5.2
cchardet==2.1.5
celery==4.4.7
celery-progress==0.1.0
certifi==2019.9.11
cffi==1.14.5
chardet==3.0.4
charset-normalizer==2.0.10
cletus==1.0.15
click==7.1.2
click-default-group==1.2.2
click-didyoumean==0.0.3
click-plugins==1.0.4
click-repl==0.1.6
cligj==0.5.0
colorama==0.4.4
commonmark==0.9.1
crlibm==1.0.3
cryptography==3.4.6
datapackage==1.10.0
debugpy==1.4.1
decorator==4.3.0
defusedxml==0.6.0
Django==2.2.20
django-allauth==0.44.0
django-bootstrap-breadcrumbs==0.9.1
django-bootstrap-modal-forms==1.4.1
django-celery-results==1.0.2
django-cors-headers==2.4.0
django-datatables-view==1.17.0
django-extensions==2.1.5
django-filter==2.0.0
django-fontawesome==1.0
django-geojson==2.11.0
django-guardian==2.3.0
django-leaflet==0.24.0
django-mathfilters==0.4.0
django-multiselectfield==0.1.12
django-ranged-response==0.2.0
django-shapeshifter==18.9.23
django-simple-captcha==0.5.13
django-tables2==2.3.4
django-templated-mail==1.1.1
django-timezone-field==4.0
django-tinymce==3.3.0
django-webpack-loader==0.6.0
djangorestframework==3.11.2
djangorestframework-datatables==0.4.1
djangorestframework-gis==0.15
djoser==2.0.3
docutils==0.15.2
dparse==0.5.1
edtf==4.0.1
elastic-wikidata==0.1.0
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
entrypoints==0.3
envoy==0.0.3
et-xmlfile==1.0.1
ezodf==0.3.2
Fiona==1.8.6
flake8==2.3.0
Flask==1.0.2
flower==0.9.3
frictionless==3.31.0
geographiclib==1.49
geojson==2.4.1
geomet==0.2.0.post2
geopy==1.17.0
goodtables==2.5.2
httpie==2.0.0
idna==2.8
ijson==3.1.2.post0
importlib-metadata==0.23
ipdb==0.11
ipykernel==6.2.0
ipython==7.26.0
ipython-genutils==0.2.0
iso8601==0.1.13
isodate==0.6.0
isort==5.8.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.9.4
jobtastic==2.1.1
json-lines==0.5.0
jsonfield==2.0.2
jsonlines==1.2.0
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==7.0.1
jupyter-core==4.7.1
kombu==4.6.11
lazy-object-proxy==1.6.0
libmagic==1.0
linear-tsv==1.1.0
lxml==4.7.1
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib-inline==0.1.2
mccabe==0.6.1
more-itertools==7.2.0
munch==2.3.2
mypy-extensions==0.4.3
nest-asyncio==1.5.1
numpy==1.18.4
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.2
packaging==20.9
pandas==1.1.5
parso==0.8.2
pathspec==0.8.1
pep8==1.7.1
petl==1.6.8
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.0.0
pip-check-reqs==2.3.2
pip-search==0.0.10
pipdeptree==1.0.0
pout==0.7.9
pprint==0.1
promise==2.2.1
prompt-toolkit==2.0.7
psutil==5.7.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptyprocess==0.6.0
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.4
pyinterval==1.2.0
PyJWT==2.0.1
pylint==2.8.2
pyparsing==2.4.0
pyrsistent==0.14.11
pytest==3.1.2
python-crontab==2.3.5
python-dateutil==2.8.0
python-magic==0.4.15
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2018.5
PyYAML==5.4
pyzmq==22.2.1
qwikidata==0.4.0
rdflib==4.2.2
redis==3.5.3
regex==2021.4.4
requests==2.27.1
requests-oauthlib==1.3.0
reverse-geocoder==1.5.1
rfc3986==1.4.0
rfc3987==1.3.8
rich==10.16.2
s3transfer==0.5.0
scipy==1.4.1
selenium==3.141.0
Shapely==1.6.4.post2
shellingham==1.3.2
simpleeval==0.9.8
simplejson==3.16.0
six==1.11.0
soupsieve==2.3.1
SPARQLWrapper==1.8.5
SQLAlchemy==1.3.16
sqlparse==0.3.0
statistics==1.0.3.5
stringcase==1.2.0
tableschema==1.20.0
tabulator==1.53.0
text-unidecode==1.3
toml==0.10.2
tornado==5.1.1
tqdm==4.55.0
traitlets==4.3.2
typed-ast==1.4.3
typer==0.3.2
typing-extensions==3.10.0.0
tzlocal==2.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.26.8
validators==0.18.2
validictory==1.1.2
vine==1.3.0
vladiate==0.0.23
wcwidth==0.1.7
Werkzeug==0.15.6
Wikidata==0.7.0
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
zipp==0.6.0
