celery==4.4.7
chardet==3.0.4
Django==2.2.20
django-allauth==0.44.0
django-filter==2.0.0
django-guardian==2.3.0
django-simple-captcha==0.5.13
djangorestframework==3.11.2
djangorestframework-gis==0.15
edtf==4.0.1
elasticsearch==6.3.1
frictionless==3.31.0
geojson==2.4.1
geopy==1.17.0
goodtables==2.5.2
ipdb==0.11
jsonschema==3.2.0
openpyxl==3.0.2
pandas==1.1.5
pout==0.7.9
pprint==0.1
PyJWT==2.0.1
python-dateutil==2.8.0
python-magic==0.4.15
pytz==2018.5
qwikidata==0.4.0
requests==2.27.1
selenium==3.141.0
Shapely==1.6.4.post2
simplejson==3.16.0
SPARQLWrapper==1.8.5
validators==0.18.2
Wikidata==0.7.0
