amqp==2.6.1
appnope==0.1.2
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.10.0
billiard==3.6.4.0
boto3==1.21.17
botocore==1.24.17
bs4==0.0.1
cached-property==1.5.2
celery==4.4.7
celery-progress==0.1.2
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
class-registry==2.1.2
click==7.1.2
click-default-group==1.2.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
commonmark==0.9.1
datapackage==1.15.2
decorator==5.1.1
Django==2.2.20
django-bootstrap-modal-forms==2.2.0
django-celery-results==1.0.2
django-extensions==3.1.5
django-filter==21.1
django-fontawesome==1.0
django-geojson==3.2.1
django-guardian==2.4.0
django-leaflet==0.28.2
django-mathfilters==1.0.0
django-multiselectfield==0.1.12
django-ranged-response==0.2.0
django-rest-framework==0.1.0
django-rest-framework-datatables-filter==0.0.2
django-simple-captcha==0.5.13
django-tables2==2.4.1
django-tinymce==3.4.0
djangorestframework==3.13.1
djangorestframework-datatables==0.7.0
djangorestframework-gis==0.18
docutils==0.18.1
elasticsearch==6.3.1
et-xmlfile==1.1.0
executing==0.8.3
filters==1.3.2
filters-django==1.0.5
frictionless==3.31.0
geojson==2.4.1
goodtables==2.5.4
idna==3.3
ijson==3.1.4
ipdb==0.13.9
ipython==8.1.1
isodate==0.6.1
jedi==0.18.1
jmespath==0.10.0
jsonlines==3.0.0
jsonpointer==2.2
jsonschema==4.4.0
kombu==4.6.11
linear-tsv==1.1.0
matplotlib-inline==0.1.3
more-itertools==8.12.0
numpy==1.22.3
openpyxl==3.0.9
pandas==1.4.1
parso==0.8.3
petl==1.7.8
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pip-search==0.0.11
prompt-toolkit==3.0.28
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.11.2
pyrsistent==0.18.1
python-dateutil==2.8.2
python-slugify==6.1.1
pytz==2021.3
PyYAML==6.0
regex==2022.3.2
requests==2.27.1
rfc3986==2.0.0
rich==12.0.0
s3transfer==0.5.2
scipy==1.8.0
Shapely==1.8.1.post1
shellingham==1.4.0
simpleeval==0.9.12
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.32
sqlparse==0.4.2
stack-data==0.2.0
statistics==1.0.3.5
stringcase==1.2.0
tableschema==1.20.2
tabulator==1.53.5
text-unidecode==1.3
toml==0.10.2
traitlets==5.1.1
typed-ast==1.5.2
typer==0.3.2
typing-extensions==3.10.0.0
tzlocal==2.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.26.8
validators==0.18.2
validictory==1.1.2
vine==1.3.0
vladiate==0.0.23
wcwidth==0.1.7
Werkzeug==0.15.6
Wikidata==0.7.0
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
zipp==0.6.0
