{% extends "main/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <div>
        <h2>{% trans "Change Password" %}</h2>
    
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
