{% extends "main/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <div>
        <h2>{% trans "Register" %}</h2>
        
        <p>{% blocktrans %}Already have an account? Please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>
        
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <!--{ form.as_p }}-->
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          
          <table>
            <tr>
              <td class="">Username* </td>
              <td><input type="text" name="username" id="id_username" minlength="1" maxlength="150" required />
              </td>
            </tr>
            <tr>
              <td class="">Email* </td>
              <td><input type="text" name="email" id="id_email" autocomplete="email" required /></td>
            </tr>
            <tr>
              <td class="">First name </td>
              <td><input type="text" name="first_name" id="id_first_name"/></td>
            </tr>
            <tr>
              <td class="">Last name </td>
              <td><input type="text" name="last_name" id="id_last_name"/></td>
            </tr>
            <tr>
              <td class="">Password* </td>
              <td><input type="password" name="password1" id="id_password1" required /></td>
            </tr>
            <tr>
              <td class="">Confirm password* </td>
              <td><input type="password" name="password2" id="id_password2" required /></td>
            </tr>

            <!--<tr><td class="">Affiliation </td><td><input type="text" name="affiliation" /></td></tr>-->
            <!--<tr><td class="">Web page </td><td><input type="text" name="web_page" /></td></tr>-->
            <!--<tr><td class="">Full name </td><td><input type="text" name="name" /></td></tr>-->
          </table>
          <hr/>
          <p>
            <label for="id_captcha_1"></label> 
              <img class="captcha" alt="captcha" src="" />
            <input id="id_captcha_0" type="hidden" name="captcha_0" value="" required >
            <input id="id_captcha_1" type="text" name="captcha_1" required autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
            <span class="ml-2"><a href="#" class="captcha smaller">refresh</a></span>
          </p>          
<!--<p><label for="id_email">E-mail:</label> <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required id="id_email"></p>-->
<!--<p><label for="id_username">Username:</label> <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required id="id_username"></p>-->
<!--<p><label for="id_first_name">First Name:</label> <input type="text" name="first_name" maxlength="30" required id="id_first_name"></p>-->
<!--<p><label for="id_last_name">Last Name:</label> <input type="text" name="last_name" maxlength="30" required id="id_last_name"></p>-->
<!--<p><label for="id_captcha_1">foo:</label> <img src="/captcha/image/de3f7e55cf112f2fc4ddad7a003ff7e6f357cff5/" alt="captcha" class="captcha" />-->
<!--<input type="hidden" name="captcha_0" value="de3f7e55cf112f2fc4ddad7a003ff7e6f357cff5" required id="id_captcha_0"><input type="text" name="captcha_1" required id="id_captcha_1" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"></p>-->
<!--<p><label for="id_password1">Password:</label> <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required id="id_password1"></p>-->
<!--<p><label for="id_password2">Password (again):</label> <input type="password" name="password2" placeholder="Password (again)" required id="id_password2"></p>          -->
<!--<input class="btn btn-primary" type="submit" value="Register" /><span class="float-right">* required</span>-->
          
          <button type="submit">{% trans "Register" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript">
  $(function() {
    $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
    });
  })
  $('.captcha').click(function () {
    $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
    });
});
</script>
{% endblock %}
