{% extends "main/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <div>
        <h3>{% trans "Register" %}</h3>
        
        <p>{% blocktrans %}Already have an account? Please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>
        
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <!--{ form.as_p }}-->
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <input type="hidden" name="user_type" value = "individual" />
          <table class="auth-table">
            <tr>
              <td class="">Username* </td>
              <td><input type="text" name="username" id="id_username" minlength="1" maxlength="150" required />
              </td>
            </tr>
            <tr>
              <td class="">Email* </td>
              <td><input type="text" name="email" id="id_email" autocomplete="email" required /></td>
            </tr>
            <tr>
              <td class="">First name </td>
              <td><input type="text" name="first_name" id="id_first_name"/></td>
            </tr>
            <tr>
              <td class="">Last name </td>
              <td><input type="text" name="last_name" id="id_last_name"/></td>
            </tr>
            <tr>
              <td class="">Affiliation</td>
              <td><input type="text" name="affiliation" id="id_affiliation"/></td>
            </tr>
            <!--<tr>-->
              <!--<td class="">Web page</td>-->
              <!--<td><input type="text" name="web_page" id="id_web_page"/></td>-->
            <!--</tr>-->
            <tr>
              <td class="">Password* </td>
              <td><input type="password" name="password1" id="id_password1" required /></td>
            </tr>
            <tr>
              <td class="">Confirm password* </td>
              <td><input type="password" name="password2" id="id_password2" required /></td>
            </tr>

          </table>
          <hr/>
          <p>
            <label for="id_captcha_1"></label> 
              <img class="captcha" alt="captcha" src="" />
            <input id="id_captcha_0" type="hidden" name="captcha_0" value="" required >
            <input id="id_captcha_1" type="text" name="captcha_1" required autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
            <span class="ml-2"><a href="#" class="captcha smaller">refresh</a></span>
          </p>        
          <button type="submit">{% trans "Register" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript">
  $(function() {
    $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
    });
  })
  $('.captcha').click(function () {
    $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
    });
});
</script>
{% endblock %}
