{% extends 'main/base.html' %}

{% block title %}<title>WHG::Login</title>{% endblock %}

{% block content %}
{% load static %}
  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <div>
        <h2>Login</h2>
        <form method="post" action="{% url 'accounts:login' %}">
          {% csrf_token %}
          Email:<br/>
          <input type="text" name="email" size = 30 />
{#          Username:<br/>#}
{#          <input type="text" name="username" />#}
          <br/>
          Password:<br/>
          <input type="password" name="password" size = 30/>
          <br/><br/>
          <input class="btn btn-primary" type="submit" value="Login" />
        </form>
        <p class="mt-2">Not a user yet? <a href="{% url 'accounts:register' %}">Register first</a></p>
        <p class="mt-2"><a href="{% url 'accounts:password_reset' %}">Forgot password?</a></p>
        {% if error %}
          <p style="color:red">{{ error }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
