{% extends 'main/base.html' %}
{% block extra_head %}
{#    <style>#}
{#        th, td {#}
{#            padding: 2px 10px;#}
{#        }#}
{#    </style>#}
{% endblock %}
{% block content %}

<div class="container">
	<h3 class="text-center">My Dashboard</h3>
	<div class="row">
    <div class="col-6" id="dash_left">
			<form id="profile_form" method="POST" action="{% url 'accounts:profile' %}" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ user_form.errors }}
	    {{ profile_form.errors }}
	    {{ user_form.non_field_errors }}
	    {{ profile_form.non_field_errors }}
      <h5 class="profile-header">Profile
        <span id="edit_link" class="small float-end">
        <a href="#"><i class="fas fa-edit linky fa-xs"></i></a>
        </span>
      </h5>
      <span class="hidden">{{ user_form.email }}</span>
      <span class="hidden">{{ user_form.password }}</span>
      <span class="hidden">{{ user_form.role }}</span>
      <table>
            <tbody>
            <tr>
                <td class="float-end pe-3 strong">Login email</td>
                <td>{{ user_form.email.value }}</td>
            </tr>
            <tr>
                <td class="float-end pe-3 strong">Full name</td>
                <td class="strong-red">{{ user_form.name.value }}</td>
            </tr>
            <tr>
                <td class="float-end pe-3 strong">Affiliation</td>
                <td>{{ user_form.affiliation.value }}</td>
            </tr>
            <tr>
                <td class="float-end pe-3 strong">WHG role (id)</td>
                <td class="ital">
                    {% if user.is_superuser %}superuser{% else %}
                        {{ user_form.role.value }}{% endif %} ({{ user.id }})
                </td>
            </tr>
            </tbody>
        </table>
      <div id="edit_profile" class="hidden">
	      <hr/>
        <table>
          <tbody>
          <tr>
            <td class="float-end pe-3 strong">Name</td>
            <td>{{ user_form.name }}</td>
          </tr>
          <tr>
	          <td class="float-end pe-3 strong">Affiliation</td>
	          <td>{{ user_form.affiliation }}</td>
          </tr>
          </tbody>
        </table>
        <div class="ps-2">
          <input class="btn btn-primary btn-sm mt-3" type="submit" value="Save"/>
          <span class="ms-2" style="vertical-align:bottom;">
            <a href="{% url 'accounts:profile' %}">Cancel</a>
          </span>
        </div>
      </div> <!-- #editProfile -->
			</form>
    </div>
    <div class="col-6" id="data_right">
	    <h5 class="profile-header">Collections and Datasets</h5>
	    <table class="w-100">
        <tbody>
        {% if user_form.role.value == 'group_leader' or user.is_superuser %}
	        <tr style="background-color: honeydew;">
		        <td class="pe-3" style="vertical-align:top;"> Collection groups
	            <p class="mt-0 text-secondary small">
		            <i class="fas fa-plus-square linky"></i>
		            <a href="{% url 'collection:collection-group-create' %}" id="a_creategroup">new</a>
	            </p>
	          </td>
	          <td style="vertical-align: top;">
	            {% for cg in user.collection_groups.all %}
	              <a href="{% url 'collection:collection-group-update' id=cg.id %}">{{ cg.title }}</a><br/>
	              <span class="small">({{ cg.members.count }} members)</span><br/>
	            {% endfor %}
	          </td>
	        </tr>
	        <tr style="border-bottom: gainsboro 1px solid;">
	          <td >&nbsp;</td> <td></td>
	        </tr>
	        {% if context.groups_owned|length > 0 %}
	        <tr>
	          <td class="pe-3" style="vertical-align: top">System groups</td>
	          <td id="grouplist">
	            {% for g in context.groups_owned %}
	              <span class="ital">{{ g.name }}</span><br/>
	              {% if not forloop.last %} {% endif %}
	            {% endfor %}
	          </td>
	        </tr>
	        {% endif %}
        {% endif %} {# group_leqder #}
        {% if context.mygroups|length > 0 %}
          <tr>
            <td class="pe-3 strong" style="vertical-align: top;">Collection Groups</td>
            <td>
              {% for g in context.mygroups %}
	              <b><a href="{% url 'collection:collection-group-detail' g.id %}">{{ g }}</a></b>
	              <br/>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        {% with owned=context.coll_owned collabs=context.coll_collab %}
        {% if owned|length > 0 or collabs|length > 0 %}
          <tr>
            <td class="strong" style="vertical-align: top;">My Place Collections</td>
	          <td>
              {% for c in owned %}
	              <span><a href="{% url 'collection:place-collection-update' c.id %}">{{ c.title }}</a></span><br/>
              {% endfor %}
	          </td>
          </tr>
	        <tr>
	          <td class="strong" style="vertical-align: top;">Collection<br/>collaborations</td>
		        <td>
              {% for c in collabs %}
	              <span><a href="{% url 'collection:place-collection-update' c.collection.id %}">{{ c.collection.title }}</a></span><br/>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        {% endwith %}
        {% if context.ds_owned|length > 0 %}
          <tr>
            <td class="pe-3 strong" style="vertical-align: top;">Datasets</td>
            <td>
              {% for ds in context.ds_owned %}
                  <b><a href="{% url 'datasets:ds_summary' ds.0 %}">{{ ds.1 }}</a></b> ({{ ds.0 }}
                  , {{ ds.2 }})<br/>
              {% endfor %}
              {% for ds in context.ds_collabs %}
                  <b><a href="{% url 'datasets:ds_summary' ds.0 %}">{{ ds.1 }}</a></b> ({{ ds.0 }}
                  , {{ ds.2 }})<br/>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        </tbody>
    </table>
    </div> {# right #}
	</div> {# row #}
</div> {# container #}

<script type="text/javascript">
    $("#edit_link").click(function () {
        $("#view_profile").toggle()
        $("#edit_profile").toggle()
        $("#edit_link").toggle()
    })
    $("#b_addgroup").click(function () {
        console.log('adding group')
    })
    $(".a_addmembers").click(function () {
        console.log('something simple for adding members to ' + $(this).data('id'))
    })

    function create_group() {
        var formData = new FormData()
        formData.append('ownerid', {{ user.id }})
        formData.append('title', $("#group_title").val())
        formData.append('description', "is this required?")
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/collections/create_collection_group/',
            processData: false,
            contentType: false,
            cache: false,
            data: formData,
            success: function (response) {
                if (response.result == 'dupe') {
                    alert('That group name is taken')
                    $("input.action").prop('checked', false)
                } else {
                    res = response
                    if (res.status == "dupe") {
                        alert('that name is taken, try another')
                    } else {
                        // have to build an el here and add a click event to it
                        el = $('<a href="#" class="a_addmembers">' + res.name + '</a> (' + res.id + ')')
                        el.click(function () {
                            console.log($(this).text())
                        })
                        $("#grouplist").append(el)
                    }
                    $("#group_name").val('')
                    // $("#added_flash").fadeIn().delay(2000).fadeOut()
                    console.log('group created, click its name in group list to add members', res)
                    $("#groupform").hide()
                }
            }
        })
        $("#addtocoll").hide()
        $("#linkform_popup").hide()
    }
	</script>
{% endblock %}
