{% extends 'main/base.html' %}
{% load fontawesome %}
{% block content %}

<div class="container">
  <form id="profile_form" method="POST" action="#" enctype="multipart/form-data">
  {% csrf_token %}
  {{ user_form.errors }}
  <!--{ profile_form.errors }}-->
  {{ user_form.non_field_errors }}
  {{ profile_form.non_field_errors }}
  <div class="d-flex justify-content-center mt-3">
    <h3>{{ user.username }} account settings</h3>
  </div>
  <!-- non-changeable fields -->
  <span class="hidden">{{ user_form.username }}</span>
  <span class="hidden">{{ user_form.password }}</span>
  <span class="hidden">{{ profile_form.name }}</span>
  <span class="hidden">{{ profile_form.user_type }}</span>
  <div class="px-5 profile">
    <table>
      <tbody>
        <tr><td class="float-right pr-3 strong">Username</td><td>{{ user_form.username.value }}</td></tr>
        <tr>
          <td class="float-right pr-3 strong">Name</td>
          <td>{% if user.profile.user_type == 'individual' %}{{ user_form.first_name }} {{ user_form.last_name }}
              {% else %} {{ profile_form.name }} {% endif %}</td></tr>
        <tr>
          <td class="float-right pr-3 strong">Email</td>
          <td>{{ user_form.email }}</td></tr>
        <tr><td class="float-right pr-3 strong">Affiliation</td><td>{{ profile_form.affiliation }}</td></tr>
        <tr><td class="float-right pr-3 strong">Web page</td><td>{{ profile_form.web_page }}</td></tr>
        {% if groups|length > 0 %}
          <tr><td class="float-right pr-3 strong">Groups</td><td>
            {% for g in groups %}{{g}}{% if not forloop.last %}; {% endif %}{% endfor %}
          </td></tr>
        {% endif %}
      <tbody>
    </table>
    <input class="btn btn-primary ml-3 mt-3" type="submit" value="Save" />
    {% if messages %}
      <span class="text-success strong"> {% for message in messages %}{{ message }}{% endfor %}</span>
    {% endif %}
  </div>
  </form>
</div>
{% endblock %}
