{% extends 'main/base.html' %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mt-3">
  <form id="profile_form" method="POST" action="{% url 'account_profile' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {{ user_form.errors }}
  {{ profile_form.errors }}
  {{ user_form.non_field_errors }}
  {{ profile_form.non_field_errors }}
  <h3 class="text-center"><span class="red-head">{{ user.username }}</span> profile <span class="small ml-2"><a id="edit_link" href="#">edit {% fontawesome_icon 'edit' color='#336699' %}</a></span></h3>
  <!--</div>-->
  <!-- non-changeable fields -->
  <span class="hidden">{{ user_form.username }}</span>
  <span class="hidden">{{ user_form.password }}</span>
  <span class="hidden">{{ profile_form.name }}</span>
  <span class="hidden">{{ profile_form.user_type }}</span>
  <div class="profile px-5">
    <div id="view_profile">
      <table>
        <tbody>
          <tr><td class="float-right pr-3 strong">Username</td><td>{{ user_form.username.value }}</td></tr>
          <tr>
            <td class="float-right pr-3 strong">Name</td>
            <td>{% if user.profile.user_type == 'individual' %}{{ user_form.first_name.value }} {{ user_form.last_name.value }}
                {% else %} {{ profile_form.name.value }} {% endif %}</td>
          </tr>
          <tr>
            <td class="float-right pr-3 strong">Email</td>
            <td>{{ user_form.email.value }}</td>
          </tr>
          <tr><td class="float-right pr-3 strong">Affiliation</td><td>{{ profile_form.affiliation.value }}</td></tr>
          <!--<tr><td class="float-right pr-3 strong">Web page</td><td>{ profile_form.web_page.value }}</td></tr>-->
          {% if context.groups|length > 0 %}
            <tr>
	            <td class="float-right pr-3 strong">Groups</td>
	            <td id="grouplist">
              {% for g in context.groups %}
	              {% if g.name == 'pilot people' %}
	                <a href="#" data-id="{{g.id}}" class="a_addmembers">{{g.name}}</a> {% comment %}({{g.id}}){% endcomment %}
	              {% else %}
		              <span class="red-head">{{g.name}}</span> {% comment %}({{g.id}}){% endcomment %}
	              {% endif %}
              {% if not forloop.last %}; {% endif %}{% endfor %}
            </td></tr>
          {% endif %}
          {% if context.owned|length > 0 %}
          <tr><td class="float-right pr-3 strong">Datasets</td>
          <td>{% for ds in context.owned %}<b><a href="{% url 'datasets:ds_summary' ds.0 %}">{{ds.1}}</a></b> ({{ds.0}}, {{ds.2}})<br/> {% endfor %} </td>
          </tr>{% endif %}
          {% if context.collabs|length > 0 %}
          <tr><td class="float-right pr-3 strong">Member</td>
          <td>{% for ds in context.collabs %}<b>{{ds.1}}</b> ({{ds.0}}, {{ds.2}})<br/> {% endfor %} </td>
          </tr>{% endif %}
          <tr><td></td>
	          <td>
			        {% if context.group_leader %}
			          <p class="mt-3">
				          <a href="#" id="a_creategroup">create a personal group <i class="fas fa-plus-square linky"></i></a>
			          </p>
				        <p id="groupform" class="hidden"><input id="group_name" type="text" placeholder="Enter a group name" />
					        <button id="b_addgroup" type="button">Save</button> </p>
			        {% endif %}
	          </td>
          </tr>
        </tbody>
      </table>
    </div> <!-- view_profile -->
    <div id="edit_profile" class="hidden">
      <table>
        <tbody>
          <tr><td class="float-right pr-3 strong">Username</td><td>{{ user_form.username.value }}</td></tr>
          <tr>
            <td class="float-right pr-3 strong">Name</td>
            <td>{% if user.profile.user_type == 'individual' %}{{ user_form.first_name }} {{ user_form.last_name }}
                {% else %} {{ profile_form.name }} {% endif %}</td></tr>
          <tr>
            <td class="float-right pr-3 strong">Email</td>
            <td>{{ user_form.email }}</td></tr>
          <tr><td class="float-right pr-3 strong">Affiliation</td><td>{{ profile_form.affiliation }}</td></tr>
        </tbody>
      </table>
      <div>
        <input class="btn btn-primary btn-sm ml-3 mt-3" type="submit" value="Save" />
        <span class="ml-2" style="vertical-align:bottom;"><a href="{% url 'account_profile' %}">Cancel</a></span>
      </div>
    </div> <!-- #editProfile -->
    <div>
    </div>
  </div> <!-- .profile -->
  </form>
  </div>
</div>

<script type="text/javascript">
	$("#a_creategroup").click(function(){
		console.log('open a GroupCreate form now')
		$("#groupform").show()

	})
  $("#edit_link").click(function(){
    $("#view_profile").toggle()
    $("#edit_profile").toggle()
  })
	$("#b_addgroup").click(function(){
    create_group()
	})
	$(".a_addmembers").click(function(){
    console.log('something simple for adding members to '+$(this).data('id'))
	})
	function create_group() {
      var formData = new FormData()
      formData.append('group_name', $("#group_name").val())
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      $.ajax({
          type: 'POST',
          enctype: 'multipart/form-data',
          url: '/accounts/create_group/',
          processData: false,
          contentType: false,
          cache: false,
          data: formData,
          success: function (response) {
              {#if(response.result == 'dupe'){#}
              {#  alert('That group name is taken')#}
              {#$("input.action").prop('checked',false)#}
              {# } else {#}
              {#	// TODO: list in gui#}
              res = response
		          if (res.status == "dupe") {
                alert('that name is taken, try another')
		          } else {
                // have to build an el here and add a click event to it
			          el = $('<a href="#" class="a_addmembers">' + res.name + '</a> (' + res.id + ')')
								el.click(function(){
									console.log($(this).text())
								})
                $("#grouplist").append(el)
		          }
              $("#group_name").val('')
              {#$("#added_flash").fadeIn().delay(2000).fadeOut()#}
              console.log('group created, click its name in group list to add members', res)
              {# }#}
          }
      })
      {#$("#addtocoll").hide()#}
      $("#linkform_popup").hide()
  }

</script>
{% endblock %}
