{% extends 'main/base.html' %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <div class="justify-content-center">
    {% if error %} <p style="color:red">{{ error }}</p> {% endif %}
    <form method="post" action="{% url 'register' %}">
    <h2 class="">User Registration</h2>
      {% csrf_token %}
      <input type="hidden" name="first_name" value="n/a"/> <input type="hidden" name="last_name" value="n/a"/>
      <table>
        <tr><td class="">Username </td><td><input type="text" name="username" /></td></tr>
        <tr><td class="">Full name </td><td><input type="text" name="name" /></td></tr>
        <tr><td class="">Email </td><td><input type="text" name="email" /></td></tr>
        <tr><td class="">Affiliation </td><td><input type="text" name="affiliation" /></td></tr>
        <tr><td class="">Web page </td><td><input type="text" name="web_page" /></td></tr>
        <tr><td class="">Password </td><td><input type="password" name="password1" /></td></tr>
        <tr><td class="">Confirm password </td><td><input type="password" name="password2" /></td></tr>
      </table>
      <input class="btn btn-primary" type="submit" value="Register" />
    </form>
  </div>
  </div>
</div>
<script type="text/javascript"></script>
{% endblock %}
