{% extends "main/base.html" %}
{% block title %}<title>WHG::Search</title>{% endblock %}

{% block content %}
{% load static %}
{ load fontawesome %}
  <div class="container" style="width:50%;">
    <!-- <div class="d-flex justify-content-center mt-3">
      <h3>Search</h3>
    </div> -->
    <form class="mt-5">
    <div class="form-group">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter place name" aria-label="Search term" aria-describedby="search-type">
        <div class="input-group-append">
          <button class="btn btn-info" type="submit" id="search_button">Search</button>
        </div>
      </div>
    </div>
    <div class="form-group d-flex justify-content-center">
      <div class="mx-auto btn-group" data-toggle="buttons">
        <span style="display:block; border: 1px dashed #e0e0e0;">
          <label class="btn btn-default **active** mb-0">
              <input type="radio" name="search-type" id="" value="place" checked>
              Place</label>
          <label class="btn btn-default mb-1">
              <input type="radio" name="search-type" id="" value="trace">
              Trace </label>
          </span>
          <span class="ml-1">{% fontawesome_icon 'question-circle' color='gray' %}</span>
      </div>
    </div>
    </form>
  </div>
{% endblock %}
