<!-- search/search.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome %}
{% load static %}

{% block title %}<title>WHG v1.3 dev</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="{% static 'css/typeahead.css' %}">
  <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
  <script src="{% static 'js/typeahead.bundle.js' %}"></script>
  <script src="{% static 'js/spin.umd.js' %}"></script>
  
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <script src="{% static 'js/leaflet-mapbox-gl.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/spin.css' %}"/>
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <div class="justify-content-center mt-2">
  <div class="row">
    <div id="search_left" class="col-sm-5">
      <div id="search_panel">
		<div id="search_type" class="form-group d-flex justify-content-center"> 
		  <div class="form-check form-check-inline">
			<input class="form-check-input hover" type="radio" name="class" id="r_place" value="place" rel="Enter place name"  checked="checked">
			<label class="form-check-label" for="r_place">Places</label>
		  </div>
		  <div class="form-check form-check-inline">
			<input class="form-check-input hover" type="radio" name="class" id="r_trace" value="trace" rel="Enter term or name">
			<label class="form-check-label" for="r_trace">Traces</label>
		  </div>
		</div>          
		<div id="search_input" class="input-group input-group-sm pb-2" >
		  <label for="input_box">{% fontawesome_icon 'search' color='#336699'%}</label>
		  <input id="input_box" class="" type="text" placeholder="Enter place name" autocomplete="false"> 
		</div>
		<div id="search_input_traces" class="input-group input-group-sm pb-2 hidden" >
		  <label for="input_box_traces">{% fontawesome_icon 'search' color='#336699'%}</label>
		  <input id="input_box_traces" class="typeahead" type="text" placeholder="subject term, e.g. 'empire'">
		</div>
		  <ul id="scope_tabs" class="nav nav-tabs small">
			  <span class="ds-title ml-1 mr-3">Search
			  <a id="search_help" class="pointer" data-toggle="popover" title="Search scope" data-html="true" data-trigger="focus">{% fontawesome_icon 'question-circle' color='#336699' %}</a>
			  </span>
			  <li class="nav-item">
				<a class="nav-link" id="scope_idx" data-link="idx" href="#" role="tab">Index</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" id="scope_db" data-link="db" href="#" role="tab">Database</a>
			  </li>
		  </ul>	
		<div id="search_filters" class="tab-pane fade show active" role="tabpanel">
		  <div class="small row">
			<div id="filters_class" class="col-sm-6">
			  <p class="mb-0">feature class(es) 
				<!--<span class="ml-1 float-right">-->
				<span class="ml-1">
				  <span class="mr-1"><a id="check_toggle" href="#">clear all</a></span>
				  <a id="filter_help" class="pointer" data-toggle="popover" title="Feature classes" data-content="" tabindex="0" data-trigger="focus">{% fontawesome_icon 'question-circle' color='#336699' %}</a>
				</span>
			  </p>
			  <ul class="ul-left p-0 mb-0">
			  <li class="li-flush"><input type="checkbox" value="A" checked> A&nbsp;administrative entities</li>
			  <li class="li-flush"><input type="checkbox" value="P" checked> P&nbsp;cities, towns, hamlets...</li> 
			  <li class="li-flush"><input type="checkbox" value="S" checked> S&nbsp;sites, buildings, complexes...</li> 
			  <li class="li-flush"><input type="checkbox" value="R" checked> R&nbsp;roads, routes, rail...</li> 
			  <li class="li-flush"><input type="checkbox" value="L" checked> L&nbsp;regions, landscape areas</li> 
			  <li class="li-flush"><input type="checkbox" value="T" checked> T&nbsp;terrestrial landforms</li>
			  <li class="li-flush"><input type="checkbox" value="H" checked> H&nbsp;water bodies</li>
			  </ul>
			</div>
			<div id="filters_st" class="col-sm-6">
			  <p class="mb-0">temporal ( default = all)
				<span class="float-right"><a id="temporal_help" class="pointer" data-toggle="popover" title="Temporal filter" data-content="" tabindex="0" data-trigger="focus">
				  {% fontawesome_icon 'question-circle' color='#336699' %}</a></span>
			  </p>
			  <div>
				<label class="input-sm"><input id="input_start" type="text" value = "" size="12" placeholder="earliest year"></label>
				<label class="input-sm ml-2"><input id="input_end" type="text" value = "" size="12" placeholder="latest year"></label>
			  </div>
			  <p class="mb-0">spatial
				<span class="float-right">
				<a id="spatial_help" class="pointer" data-toggle="popover" title="Spatial filter" data-content="" tabindex="0" data-trigger="focus">{% fontawesome_icon 'question-circle' color='#336699' %}</a></span>	  
			  </p>
			  <div>
				<label><input id="input_area" type="text" size="30" placeholder="Region, country, study area"></label>
				<input type="hidden" id="boundsobj">
			  </div>
			</div>
		  </div>
			  <!--<div id="div_ds_select" class="hidden mt-0">-->
			  <div id="div_ds_select" class="mt-0">
				<p class="mb-0">dataset
				  <span class="float-right">
				  <a id="dataset_help" class="pointer" data-toggle="popover" title="Dataset filter" data-content="" tabindex="0" data-trigger="focus">{% fontawesome_icon 'question-circle' color='#336699' %}</a></span>	  
				</p>
				<div>
				  <select id="select_ds_search" name="ds" class="custom-select-sm small" style="width:auto;">
				  <option value="0">Select dataset</option>
				  <option disabled>___________</option>
				  {% for ds in dslist %}
					<option value="{{ ds.id }}">{{ ds.title }}</option>
				  {% endfor %}
				  </select>
				</div>
			  </div> <!-- #div_ds_select -->
		</div> <!-- #search_filters -->
      </div><!-- #search_panel -->
	  <div id="search_info" class="p-2">  
		<p>Search in WHG</p>
		<p>explanation of index vs. database, etc. with a picture</p>
	  </div>
	  <div id="traces_info" class="p-2 hidden">  
		<p>Traces in WHG</p>
		<p>explanation of traces w/link</p>
	  </div>
      <!-- separate div for full search results -->
      <div id="type_filter" class="hidden">
        <p class='allcap-heading half mb-0 pl-1'>PLACE TYPES (select to limit)
          <span class="float-right mr-2"><a href="#" class="hide-filter">
            close {% fontawesome_icon 'times-circle' color='#336699' %}</a></span>
          <span class="float-right clear-filter hidden mr-2"><a href="#">restore all</span></a>
        </p>
        <ul class="list-inline"></ul>
      </div>
      <div id="result_list" class="hidden"></div>
    </div>
    <div id="search_right" class="col-sm-7">
	  <div id="map_options" class="p-1 small">draw bbox, etc.</div>
      {% leaflet_map "map_search" callback="map_init" %}
    </div> <!--#search_right -->
  </div> <!-- .row -->
  </div>
</div> <!-- .container -->

<div id="ext_site" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div id="ext_content" class="modal-body">foo</div>
    </div>
  </div>
</div> <!-- ext_site -->


<script type="text/javascript">
  var filterLayers = null
  window.idToArea = {}
  window.area_list = []
  window.area_objs = []
    
  $(".bblink").click(function(){
	console.log('bbox for',$(this).data('id'))
	feat = idToFeature[$(this).data('id')]
	feat.addTo(mappy)
  })
  // search source faux tab actions
  $(".nav-link").click(function(){
	let link = $(this).data('link')
	search_scope = link
	other = link == 'idx'?$("#scope_db"):$("#scope_idx")
	<!--console.log('data-link, other', link, other)-->
	if(other.data('link') == 'idx'){ $("#div_ds_select").show()} else {$("#div_ds_select").hide()}
	other.removeClass('active')
	$(this).addClass('active')
  })
  // dataset dropdown
  $("#select_ds_search").change(function(){
	console.log('ds chosen', $(this).val())
  })
  // radio $("#checkbox_div input:radio").click(function() {
  $(".filters-title input:radio").click(function(){
	t = $(this)
	console.log('clicked', $(this).val())
	if($(this).val() == 'idx'){
	  $("#div_ds_select").hide()
	} else {
	  $("#div_ds_select").show()
	}
  })
  $(function(){
	window.search_scope = $("li a.active").data('link')
	// toggle all fclass checkboxes
	$("#check_toggle").click(function(e){
	  e.preventDefault()
	  var state = $("#check_toggle").text()
	  if(state == 'check all'){
		$("input:checkbox").prop('checked', true);
		$("#check_toggle").text('clear all');
	  } else if( state == 'clear all'){
		$("input:checkbox").prop('checked', false);
		$("#check_toggle").text('check all');		
	  }
	})
	
	$( "#map_dataset" ).change(function() {
	  if (!!gl.getLayer('heat_active')){
		gl.removeLayer('heat_active')}
	  heat($(this).val())
	  console.log('heat() for',$(this).val())
	});	
	
	$("[rel='tooltip']").tooltip();
	$("[data-toggle=popover]").popover({html:true})  

	// dynamic dataset info popover
	var dspop = $(".pop-dataset").popover({
	  trigger: 'focus',
	  placement: 'right',
	  html: true
	}).on('show.bs.popover', function () {
		$.ajax({
		  url: '/api/datasets/',
		  data: {id:$(this).data('id')},
		  dataType: "JSON",
		  async: false,
		  success: function (data) {
			ds=data.results[0]
			console.log('ds',ds)
			html='<p class="thin"><b>Title</b>: '+ds.title+'</p>'
			html+='<p class="thin"><b>Description</b>: '+ds.description+'</p>'
			html+='<p class="thin"><b>WHG Owner</b>: '+ds.owner+'</p>'
			html+='<p class="thin"><b>Creator</b>: '+ds.creator+'</p>'
			<!--if(ds.webpage){-->
			  <!--html+='<p class="thin"><a href="'+ds.webpage+'" target="_blank">Web page</a></p>'-->
			<!--}-->
			dspop.attr('data-content', html);
		  }
	  });
	})
	
	// popover content
	$("#filter_help").attr(
	  'data-content',"<p>Select one or more feature class (uses GeoNames single-letter codes)</p>"
	)
	$("#search_help").attr(
	  'data-content',"<p class='mb-2'>Search of the WHG <b>index</b> is limited to fully accessioned (linked) datasets. Returns conflated sets of attestations.</p>"+
	  "<p>Search of the WHG <b>database</b> includes datasets not yet indexed. Returns individual (non-conflated) attestations.</p>"
	)
	$("#db_help").attr(
	  'data-content',"<p>Search of all public datasets, including those not yet indexed. Returns individual (non-conflated) attestations.</p>"
	)
	$("#temporal_help").attr(
	  'data-content',"<p>NOTE: Records in our largest core datasets do not have temporal attributes, so the default is all periods. Nevertheless, limiting the timespan here may be useful for some queries</p>"
	)
	$("#spatial_help").attr(
	  'data-content',"<p>Constrain search to the bounds of a UN global sub-region</a>, a country, or a user-created study area. Try entering 'south...'</p>"
	) // <a href='https://unstats.un.org/unsd/methodology/m49/'></a>
	$("#dataset_help").attr(
	  'data-content',"<p>Constrain search to indexed places attested in a single public dataset.</p>"
	) // [<a href='{ url 'public-lists'%}'>list</a>] Choosing a dataset will override spatial filtering.
    
    
    var idToFeature = {} // for feature lookup
    var itf_new = []
    var titles = {}
    var searchoption = null;
	
	// clear map, inputs, results
    clearit()
    $("#type_filter").hide();
	
	// show filters, hide search_info and vice versa
    $("#link_filters").click(function(){
	  if($("#search_filters").is(":visible")){
		$("#search_info").show()
	  } else {
		$("#search_info").hide()
	  }
	  $("#search_filters").toggle(400)
    })

	// 
	$("label[for='input_box']").click(function(){
	  console.log('clicked search')
	  doctype = $("input[name='class']:checked").val()
	  if(search_scope == 'idx'){
		searchPlacesIdx()
	  } else { searchPlacesDb()}	  
	})	
    //
    // data type choice determines index searched
    var suggester = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          wildcard: '%QUERY',
          url: 'foofah',
          prepare: function (query, settings) {
           var doctype = $("input[name='class']:checked").val();
           settings.url = '/search/index?doc_type='+doctype+'&scope=suggest&'+$.param({
                qstr: query,
                idx: doctype == 'place' ? 'whg' : 'trace'
            });
           return settings;
         } 
        }
    });
    function hh(element) {
      el=element.toLowerCase()
      return el.includes($("#input_box").val().toLowerCase());
    }
    $('.typeahead').typeahead({minLength:2,highlight:true}, {
        name: 'suggester',
        source: suggester,
        display: 'name',
        limit: 10,
        templates: {
          empty: ['<div class="small ml-2">','no results...','</div>'].join('\n'),
          suggestion: function (data) {
            doctype = $("input[name='class']:checked").val()
            if(doctype == 'place'){
              <!--console.log('variants',data.variants)-->
              return data.variants.length>0 ? 
                '<p class="tight-p tt-suggestion">' + data.name + '<br/><i class="tight-p">' + 
                  data.variants.filter(hh).join(', ') + '<i></p>' : 
                '<p class="tight-p">' + data.name + '</p>'
            } else {
              console.log('data',data)
              return '<p rel="'+data._id+'">'+data.title+'</p>'
            }
          }
        }
    })
    .on('typeahead:selected', function (obj, datum) {
      // fetchTraceGeom() -> [views.TraceGeomView() <- views.getGeomCollection()] -> showResults() -> sugLister
      console.log('trace typeahead clicked: datum',datum)
      if(doctype=='trace'){
        fetchTraceGeom(datum._id,0,datum.title)
      }
    })
    .on('typeahead:asyncrequest', function() {
        $('.typeahead').addClass('input-loading');
    })
    .on('typeahead:asynccancel typeahead:asyncreceive', function() {
        $('.typeahead').removeClass('input-loading');
    });;
	
	// fetch area list
	$.get("/api/area_list", function(data){
	  <!--console.log('initial areas for list',data)-->
	  for(var i=0;i<data.length;i++){
		area_objs.push(data[i])
		area_list.push(data[i]['title'])
	  }	  
	})
	
	$( "#input_area" ).autocomplete({
	  source: area_list,
	  minLength: 2,
	  select: function( event, ui ) {
		// build boundsobj, insert as hidden input val()
		label = ui.item.label
		obj = area_objs.find(o =>o.title==label)
		areaid = obj.id
		boundsobj = '{"type":["'+obj.type+'"],"id":["'+areaid+'"]}'
		$("#boundsobj").val( boundsobj )
		console.log( "boundsobj for view ", boundsobj);
		
		// fetch and render selected area
		render_area(areaid)
	  }
	});
	$("#input_area").on('keyup', function(e){
		// resets stuff 
	  if($('#input_area').val().length < 3) {
		  $("#boundsobj").val('')
			if(typeof arealayer !== 'undefined'){arealayer.removeFrom(mappy)}
			mappy.setView([38, 10], 2.4)
	  }
	})
  })
 /*
	*** render_area() ***
	fetch and display an area (region/area/country)
  */
  function render_area(areaid) {
	$.ajax({
		url: '/api/area/'+areaid
	  }).done(function(data){
		console.log('render_area()',data)
		geom = {"type":"FeatureCollecton","features":[]}
		geom['features'].push(data.geojson)

		// clear existing
		if(typeof arealayer !== 'undefined'){arealayer.removeFrom(mappy)}

		// render new
		arealayer = L.geoJSON(geom, {
		  onEachFeature: function(feature,layer) {
			f=feature; l=layer;
			console.log('render_area() f,l',f,l)
			l.setStyle({"color":"orange","weight":2,"fillOpacity":0})
			idToArea[areaid] = l
			<!--identifier = f.place_id;-->
			popupOptions = {maxWidth: 200};
			l.bindPopup(data.title, popupOptions);
		  }
		}).addTo(mappy)
		mappy.fitBounds(arealayer.getBounds())
	  })
  }  
  //
  // radio button switch btwn place & trace search inputs
  $('input[type=radio][name=class]').change(function() {
    console.log('changed class',$(this).val())
    if ($(this).val() == 'place'){
	  if(!$("#search_info").is(":visible")){
		$("#traces_info").hide()
		$("#search_info").show()
		$("#scope_tabs").show()
	  }
	  <!--$(".carousel").carousel(0)-->
	  $("#filters_opener").show()
      $("#search_input").show()
	  $("#search_filters").show()
      $("#search_input_traces").hide()
	  <!--$("#traces_info").hide()-->
	  <!--$("#search_input").show()-->
    } else {
	  if(!$("#traces_info").is(":visible")){
		$("#search_info").hide()
		$("#traces_info").show()
		$("#scope_tabs").hide()
	  }
	  <!--$(".carousel").carousel(3)-->
	  $("#filters_opener").hide()
      $("#search_input").hide()
      $("#search_filters").hide()
      $("#search_input_traces").show()
	  <!--$("#splash").hide()-->
	  $('.nav-pills a[href="#pills-why"]').tab('show')
	  <!--$("#traces_info").show()-->
    }
    $('#input_box').val('')
    $('#input_box').attr("placeholder",this.getAttribute("rel"));
    clearit()
  });
  // 
  function heat(dataset) {
	console.log('heat()',dataset)
	ne_global.getMapboxMap().addLayer({
	  "id": "heat_active",
	  "type": "heatmap",
	  "source": dataset,
	  "maxzoom": 9,
	  "paint": {
		  // Increase the heatmap weight based on frequency and property magnitude
		"heatmap-weight": [
		  "interpolate",
		  ["linear"],
		  ["get", "mag"],
		  0, 0,
		  6, 1
		],
		// Increase the heatmap color weight weight by zoom level
		// heatmap-intensity is a multiplier on top of heatmap-weight
		"heatmap-intensity": [
		  "interpolate",
		  ["linear"],
		  ["zoom"],
		  0, 1,
		  9, 3
		],
		// Color ramp for heatmap.  Domain is 0 (low) to 1 (high).
		// Begin color ramp at 0-stop with a 0-transparancy color
		// to create a blur-like effect.
		"heatmap-color": [
		  "interpolate",
		  ["linear"],
		  ["heatmap-density"],
		  0, "rgba(33,102,172,0)",
		  0.2, "rgb(103,169,207)",
		  0.4, "rgb(209,229,240)",
		  0.6, "rgb(253,219,199)",
		  0.8, "rgb(239,138,98)",
		  1, "rgb(178,24,43)"
		],
		// Adjust the heatmap radius by zoom level
		"heatmap-radius": [
		  "interpolate",
		  ["linear"],
		  ["zoom"],
		  0, 2,
		  9, 20
		],
		// Transition from heatmap to circle layer by zoom level
		"heatmap-opacity": [
		  "interpolate",
		  ["linear"],
		  ["zoom"],
		  7, 1,
		  9, 0
		],
	  }
	});    
  }
  //
  // initializes map
  addEventListener('map:init', function (e) {
    window.mappy = e.detail.map
    mappy.setMaxBounds(null)

	// mapbox tokens 
	var token_kg = '{{ mbtokenkg }}', 
		token_whg = '{{ mbtokenwhg }}', 
		token_mb = '{{ mbtokenmb }}';
	
	// style/tile urls
	var mbstyle_url = 'https://api.mapbox.com/styles/v1/{id}/tiles/256/{z}/{x}/{y}?access_token={token}',
		mbtiles_url = 'https://api.mapbox.com/v3/{id}/{z}/{x}/{y}.png',
		ne_url = 'http://blog.whgazetteer.org/tiles/ne/{z}/{x}/{y}.png';
	  
    var satellite  = L.tileLayer(mbstyle_url, {
	  id:'mapbox/satellite-streets-v11', 
	  token:token_mb}),
	osm  = L.tileLayer(mbstyle_url, {
	  id:'mapbox/light-v10', 
	  token:token_mb}),
    ne_mb = L.tileLayer(mbtiles_url, {
	  id:'kgeographer.ne_global', 
	  token:token_kg})

	// GL wrappers to display heatmaps
	mb_terrain = L.mapboxGL({
	  style:'mapbox://styles/kgeographer/ckhf6o8yf07fw19qhbrm7f2q7',
	  accessToken:token_kg})

	ne_global= L.mapboxGL({
	  style:'mapbox://styles/kgeographer/ckidglq8l2nra19nzzbl995ue',
	  accessToken:token_kg}).addTo(mappy)
	
	
	gl=ne_global.getMapboxMap().on('load',function(){
	  gl.addSource('lugares', {
			  "type": "geojson",
			  <!--"data": "/media/data/lugares_13k.geojson"-->
			  "data": "{{media_url}}data/lugares_13k.geojson"
		  });	
	  gl.addSource('owtrad', {
			  "type": "geojson",
			  "data": "/media/data/owtrad.geojson"
		  });	
	  gl.addSource('euratlas', {
			  "type": "geojson",
			  "data": "/media/data/euratlas_cities.geojson"
		  });	
	  gl.addSource('alturayya', {
			  "type": "geojson",
			  "data": "/media/data/al-turayya.geojson"
		  });
	})
	
    var countryStyle = {
      "color": "#999",
      "weight": 1,
      "opacity": 0.4,
      "fillOpacity": 0
    };

    <!--countries = new L.GeoJSON.AJAX("/media/data/countries_simplified.json",-->
    countries = new L.GeoJSON.AJAX("/media/data/countries_noantarctica.json",
      {style:countryStyle,
        onEachFeature: function (feature, layer) {
          popupOptions = {maxWidth: 200};
            layer.bindPopup(feature.properties.gnlabel, popupOptions);
          }
    });

    var baseLayers = {
      "NE global": ne_global,
	  "Terrain": mb_terrain,
	  <!--"NE self": ne,-->
      "OpenStreetMap": osm,      
      "Satellite": satellite
    };
    var dataLayers = {
      "Countries": countries,
      <!--"Regions (UN)": regions-->
    }
    mappy.zoomControl.setPosition('topright')
    L.control.layers(baseLayers,dataLayers).addTo(mappy);
    baseLayers["NE global"].addTo(mappy)
	<!--if(localStorage.getItem('last_results') != null){-->
	if(localStorage.getItem('last_results') != "undefined"){
	  previous = JSON.parse(localStorage.getItem('last_results'))	
	}
	if(document.referrer.indexOf('place') >= 0 && previous){
	  showResults(previous,'place','search')
	}
  }, false);
  
  function cleanJson(text) {
	z=text.replace(/'/g,'\\"')
	y=z.replace(/point/,'Point')
	return JSON.parse(JSON.parse(y))
  }

  styles_bbox = {
	"MultiPolygon": {
	  "default":{fillOpacity: 0.3, opacity: 1, color: "#000", weight: 1, fillColor:"#ff9999"},
	  "focus":{fillOpacity: 0.3, opacity: 1, color: "red", weight: 2, fillColor:"#ff9999"}},
	"Polygon": {
	  "default":{fillOpacity: 0.3, opacity: .5, color: "#666", weight: 1, fillColor:"#ff9999"},
	  "focus":{fillOpacity: 0.3, opacity: .5, color: "red", weight: 2, fillColor:"#ff9999"}}
  }

  //  triggerEvent(window, 'map:init', {id: id, map: map, options: options});
  function map_init (map_search, options) {
		<!--console.log('options', options)-->
		window.geoms = []
		window.gelems = $('script').filter(function() {
			<!--return this.id.match(/[0-9]/) && this.text != '"null"';-->
			return this.id !='' && this.text != '"null"';
	});
	for (i=0;i<gelems.length;i++){
	  let t_geom = cleanJson(gelems[i].text)
	  <!--t_geom['properties'] = {"id": gelems[i].id,"ds": t_geom.ds!=null?t_geom.ds:ds}-->
	  geoms.push(t_geom)
	}

	if (geoms.length > 0) {
	  console.log('geom: ',geom)
	  idToFeature = {} // for feature lookup
	  bboxes = L.layerGroup()
	  features = L.geoJSON(geoms, {
		onEachFeature: function(feature,layer) {
		  f=feature; l=layer;
		  bboxes.addLayer(l)
		  identifier = f.properties.id;
		  <!--console.log('identifier, type',identifier,f.geometry.type)-->
		  if(f.type != 'Point'){
			layer.setStyle(styles_bbox[f.geometry.type].default).bindPopup(
			  f.properties.title+' ('+identifier+')'
			)
			idToFeature[identifier] = layer
		  }
		}
	  })<!--.addTo(mappy);-->

	  <!--mappy.setView(features.getBounds().getCenter(),6)-->
	  mappy.fitBounds(features.getBounds())
	  mappy.setZoom(mappy.getZoom()-1)
	} else {
	  console.log('no geometries, no feature')
	}
  } // end map_init
  
  function filly(counter) {
    if (counter == 0)
      return "blue"
    else if (counter == 1)
      return "orange"
    else if (counter == 2)
      return "purple"
    else if (counter == 3)
      return "greenyellow"
    else 
      return "yellow"
  }

  function fetchTraceGeom(trace_id,counter,title) {
    <!-- get trace GeoJSON (includes features[] and bodies[] ) -->
    if(typeof(traces) !== "undefined") {traces.clearLayers();}
    if(typeof(features) !== "undefined") {features.clearLayers();}
    $.get("/search/tracegeom",{idx: 'traces', search: trace_id, doc_type: 'trace'},
      function(data){
        <!--console.log('bodies in this trace',data.bodies)-->
        <!--console.log('fetchTraceGeom() data',data)-->
        var count_features = 0
        window.idToFeature = {}
        window.itf_new = []
        mappy.createPane('tracePane');
        mappy.getPane('tracePane').style.zIndex = 200;
        traces = L.geoJSON(data, {
          pane: 'tracePane',
          pointToLayer: function (feature, latlng) {
            count_features +=1;
            identifier = feature.properties.whg_id;
            <!--console.log(feature,identifier)-->
            marker = L.circleMarker(latlng,
              {
                radius: 5, fillOpacity: 0.8, opacity: 1, weight: 1,
                color: "#fff", fillColor: filly(counter)
              }
            ).bindPopup('whg:'+identifier+'<br/><b>'+
              '<a href="/places/'+identifier+'/portal">'+feature.properties.title+"</b></a>");
            
            <!--console.log('marker feature?',marker)-->
            idToFeature[identifier] = marker
            itf_new.push({"id":identifier,"feature":marker})
            return marker
          }
        }).addTo(mappy);

        bounds = traces.getBounds()
        if (bounds.getSouthWest().equals(bounds.getNorthEast())) {
          // single point
          mappy.setView(bounds.getCenter(),5)
        } else {
          <!--mappy.fitBounds(bounds,{padding: [200, 0]})-->
		  // TODO: some logic to provide padding if bounds too small
          mappy.fitBounds(bounds)
        }
		console.log('searchResults from fetchTraceGeometry()')
        showResults(data,'trace','suggest',title)
    });
  }

  // clear results, type filter
  clearit = function(){
    <!--console.log('clearit() called')-->
    $("#search_input").val('')
    $("#result_list").html('')
    $("#result_list").hide()
    $("#type_filter").hide()
    $(".list-inline").html('')
    <!--features.clearLayers()-->
    if(typeof(traces) !== "undefined") {traces.clearLayers(); mappy.setView([38, 10], 2.4)}
    if(typeof(features) !== "undefined") {features.clearLayers(); mappy.setView([38, 10], 2.4)}
    
  }  
  /*
  // catch Enter key press for places
  // traces are handled in .typeahead function
  // disabled typeahead: removed class .typeahead from #input_box
  */
  $("#input_box").on('keyup', function(e){
    // resets page 
    if($('#input_box').val().length < 3) {
      clearit()
    }
    doctype = $("input[name='class']:checked").val()
    <!--if (e.keyCode === 13 && doctype == 'place') {-->
    if (e.keyCode === 13) {
      // always hide search_info and traces_info on search
	  $("#search_info").hide()
	  $("#traces_info").hide()
	  if (search_scope == 'idx'){
		searchPlacesIdx()		
	  } else {
		searchPlacesDb()
	  }
    } 
  })
  // hack: typeahead disabled for place
  // only valid if doctype has been changed
  $(".typeahead").on('keyup', function(e){
    <!--if($('#input_box').val().length < 3) {-->
      <!--clearit()-->
    <!--}-->
    doctype = $("input[name='class']:checked").val()
    if (e.keyCode === 13) {
      searchPlacesIdx()
    } 
  })

  // acts on suggest items (.tt-selectable)
  $("#search_input").on('click','.tt-selectable', function(e) {
    if(doctype == 'place') {
      console.log('clicked place suggestion',$(this))
      searchPlacesIdx()    
    } 
  })

  spin_opts = { scale: .8, top: '70%', 'right':'30%'}
  function startSearchSpinner(){
	window.spinner_search = new Spin.Spinner(spin_opts).spin();
	$("#search_filters").append(spinner_search.el);   
  }
  /*
    *** searchPlacesIdx() *** from #input_box keyup 
    index search w/o autocomplete -> showResults()
	handles traces also !?
  */
  searchPlacesIdx = function (){
    window.doctype = $("input[name='class']:checked").val();
    // get filter values: fclasses, start, end, ??
    var fclasses = [];
    $('#search_filters input:checked').each(function() {
      fclasses.push($(this).val());
    });
    // hack disables typeahead
    scope = doctype =='place' ? 'search' : 'suggest'
    // end hack
    index = doctype =='place' ? 'whg' : 'traces'    
    // clear filters
    $(".list-inline").html('')
	<!--console.log('bounds in js SearchPlacesIdx()',$("#boundsobj").val())-->
    $.get("/search/index",{
        // qstr: $(".tt-input")[0].value,
        // disabled typeahead
        qstr: $('#input_box').val(), 
        doc_type: doctype,
        scope: scope,
        idx: index,
        fclasses: fclasses.join(','),
        start: $("#input_start").val(),
        end: $("#input_end").val(),
        bounds: $("#boundsobj").val()
		<!--,ds: $("#select_ds_search").val()-->
      }, function(data){
		window.searchres=data['suggestions']
		// store locally
		localStorage.setItem('last_results',JSON.stringify(searchres))
        // render to html
		console.log('get from that query',data['get'])
		console.log('results [data]',data)
		if(doctype == 'place'){
		  showResults(data['suggestions'],doctype,scope);
		}
    });
    $('.tt-menu').hide()
  }

  /* 
    *** searchPlacesDb() *** from #input_box keyup 
    database search w/o autocomplete -> showResults()
  */
  function searchPlacesDb(){
	startSearchSpinner()
    fclasses = [];
    $('#search_filters input:checked').each(function() {
      fclasses.push($(this).val());
    });
	years = [Number($("#input_start").val()),Number($("#input_end").val())]
	y = years.find(element => element != 0 );
	ds_select = $("#select_ds_search").val()
	dsid = ds_select!="0" ? parseInt(ds_select) : null
	console.log('params',{'fc':fclasses, "y":y, "dsid":dsid})
	$.get("/search/db",{
	  name: $('#input_box').val(), 
	  name_contains: null, // if 'contains checked
	  // break array nec. - WHY???
	  fclasses: fclasses.join(','),
	  year: !y?null:y,
	  dsid: dsid,
	  context: "search"
	}, function(data) {
	  <!--console.log('searchPlacesDb() sugs', data['suggestions'])-->
	  showResults(data['suggestions'], doctype, "search")
	  spinner_search.stop()
	})
  }
  /* 
    *** showResults() *** from searchPlacesIdx(), fetchTraceGeometry()
    Builds results_div, renders to #result_list; builds geoms[] -> renderPlaces(geoms)

    data: 
    doctype ['place' | 'trace' ]
    scope: ['suggest' | 'search']
    title:    
  */
  function showResults(data, doctype, scope='suggest', title){
		console.log('in showResults()')
    var results_div = '';
    geoms=[]
    var types=[], typesArr = []
    <!--console.log(data.bodies.length+ ' bodies',data)-->
    if (doctype == 'place'){
      if(data.length ==0) {
        results_div += '<p class="small ml-2">No results, sorry.</p>'
      } else {
        data.forEach(function(sug){
					console.log('sug', sug)
					typesArr=typesArr.concat(sug.types)
          if(!!sug.geom) {
            sug.geom.forEach(function(g){
              g['properties']['title'] = sug.name
              g['properties']['whgid'] = (doctype=='place')?sug.whg_id:sug.place_id
              geoms.push(g)
            })
          }
          <!--console.log('types Set',types)-->
          results_div += sugLister(sug, doctype, scope)   
        })
        <!--console.log('typesArr',typesArr)-->
        types = Array.from(new Set(typesArr));
        <!--console.log('types',types)-->
        types.forEach(function(type){
          $("#type_filter ul").append('<li class="filter list-inline-item" data-type="'+type+'"><a href="#">'+type+'</a></li>')
        })
        if(scope=='search') {
					console.log('geoms from sugs, to renderPlaces()', geoms)
          renderPlaces(geoms)
        }      
      }
    } else if (doctype == 'trace') {
			// data has features and bodies
			bodies = data.bodies
			console.log('trace data',data)
			<!--console.log('trace data bodies',data.bodies)-->
			data.bodies.forEach(function(bod){ 
        // add a whg_id to bodies        
				results_div += sugLister(bod, doctype, scope)
      })
    };
     
	$("#result_list").show()
	$("#search_info").hide()
	$("#traces_info").hide()
	titleMarkup = doctype=='trace'?'<p class="pl-1 mb-1 small strong">'+title+'</p>':''
	let src=search_scope=='idx'?'INDEX':'DATABASE'
    $('#result_list').html(titleMarkup+
      "<p class='half allcap-heading mb-0 pl-1'>"+(doctype=='place'?src+' SEARCH RESULTS ('+data.length+
      ')<span class="float-right typefilter-link">'+
      '<a href="#">filter by type {% fontawesome_icon 'filter' %}</a></span>':
      'PLACE ANNOTATIONS IN TRACE  ('+data.bodies.length+')')+'</p>'
      +results_div
    );    

    // empty the typeahead suggestions
    $(".tt-dataset").html('')
    
    /* 
      set events on new elements 
    */
    //
    // filter results list by type (old school JS)
    $(".filter").on('click',function(e){
      $(".clear-filter").show()
      if(filterLayers != null){filterLayers.addTo(mappy)}
      $(".filter").removeClass('active-filter')
      $(this).addClass('active-filter')
      filter=$(this).data('type')
      result_div = document.getElementById("result_list")
      results = result_div.getElementsByTagName("div")
      hide_ids=[]; show_ids = []
      for (i = 0; i < results.length; i++) {
        types = results[i].getAttribute('data-types')
        _id = results[i].getAttribute('data-id')
        <!--console.log('results[i]',results[i])-->
        if (types.indexOf(filter) > -1){
          results[i].style.display = "";
          show_ids.push(_id)
        } else {
          results[i].style.display = "none";
          hide_ids.push(_id)
        }
      }
      // filter map too
      <!--console.log('filter these from map',_ids)-->
      hide_these = $.map(hide_ids,function(i){
        return idToFeature[i]
      })
      show_these = $.map(show_ids,function(i){
        return idToFeature[i]
      })
      window.filterLayers = L.layerGroup(hide_these)
      window.showLayers = L.featureGroup(show_these)
      for(l in hide_these){hide_these[l].removeFrom(mappy)}
      mappy.fitBounds(showLayers.getBounds(), {padding: [200, 0]})
      if(showLayers.getLayers().length ==1){
        mappy.setZoom(5)
      }
      
    })
    $(".clear-filter").on('click',function(e){
      filterLayers.addTo(mappy)
	  mappy.fitBounds(features.getBounds())
      $(".filter").removeClass('active-filter')
      $(".clear-filter").hide()
    })
    $(".hide-filter").on('click',function(e){
      $("#type_filter").hide(200)
    })
    $(".typefilter-link").on("click", function(e){
      e.preventDefault()
      $("#type_filter").toggle(300)
    })    
    $(".trace-item").on('click',function(e){
      // reset all markers to default
      traces.setStyle({"fillColor":"blue","radius":5})
      whgid = $(this).attr('data-id')
      console.log(whgid,'from body-place click')
      if(whgid in idToFeature) {
        idToFeature[whgid].setStyle({"fillColor":"#ff3333","radius":10})
        mappy.panTo(idToFeature[whgid]._latlng)
      } else {
        h = $(this).html()
        h += '...<b>no geometry yet</b>'
        $(this).html(h)
      }
    })
    
    // highlight map marker from list
    $(".search-row").on('click',function(e){
      // set all layers to default style
      for (i in idToFeature){
        type = idToFeature[i].feature.geometry.type
        idToFeature[i].setStyle(type=='Point'?styles.marker_default:styles.line_default)
      }
      <!--whgid = $(this).data('id')-->
      <!--f = idToFeature[whgid]-->
	  // identifier either a whg (index search) or pid (db search)
      layerid = $(this).data('id')
      f = idToFeature[layerid]
      // raise z-index
      f.bringToFront().setStyle(f.feature.geometry.type=='Point'?styles.marker_highlight:styles.line_highlight)
      // get a centroid
      center = f.feature.geometry.type=='Point' ? f._latlng : f.getCenter(f._latlngs)
      mappy.panTo(center)
    })
    // open a modal for external page
    $('.ext').on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      console.log('url',url)
      $(".modal-body").html('<iframe width="100%" height="100%" frameborder="0" scrolling="yes" '+
        'allowtransparency="true" src="'+url+'"></iframe>');
    });
  }
 
  /*
    *** renderPlaces() *** from showResults()
    render geometries from search results to map
  */
  renderPlaces = function(geoms) {
    if(typeof(features)!=='undefined'){ features.clearLayers() }
    if(typeof(traces)!=='undefined'){ traces.clearLayers() }
    
    data = {"type":"FeatureCollection","features":geoms}
    <!--console.log('geodata prior to render',data)-->
    var count_features = 0
    idToFeature = {}
    idToArea = {}
    mappy.createPane('placePane');
    mappy.getPane('placePane').style.zIndex = 200;
    stuff=L.layerGroup()
    features = L.geoJSON(data, {
      pointToLayer: function (feature, latlng) {
        count_features +=1;
		// if feature has src key, it's from a database search
        identifier = feature.src?feature.properties.pid:feature.properties.whgid;
        if(feature.type=='Point'){
          marker = L.circleMarker(latlng, styles.marker_default)
          <!--.bindPopup(feature.properties.title+' (whg id:<a href="/places/'+identifier+'/portal">+identifier+</a>)');-->
          // add to array for selection
          idToFeature[identifier] = marker
          return marker
        }
      },
      onEachFeature: function(feature,layer) {
        f=feature; l=layer;
        <!--identifier = feature.properties.whgid;-->
		// if feature has src key, it's from a database search; also, popup link differs
		if(feature.src){
		  identifier = feature.properties.pid
		  popup_link = ' (<a href="/places/'+identifier+'/detail">place page</a>)'
		} else {
		  identifier = feature.properties.whgid
		  popup_link = ' (<a href="/places/'+identifier+'/portal">place portal</a>)'
		}
        if(feature.type != 'Point'){
          layer.setStyle(['LineString','MultiLineString'].indexOf(feature.type)>-1 ? styles.line_default:styles.pgon_default)
          idToFeature[identifier] = layer
        }
        layer.bindPopup(feature.properties.title+popup_link);
        <!--layer.bindTooltip(feature.properties.title,{"permanent":true});-->
        layer.on('click',function(e){
          scroll = 20
          ele = $("#result_list")
          $(".search-row").css('background-color','#fff')
          <!--divtop = $('#result_list').offset().top-->
          fid = this.feature.geometry.properties.whgid
          foo=$("div.place-item").find('[data-id="'+fid+'"]').closest('.search-row')
          foo.css('background-color','#f4f4d7')
          <!--foo[0].scrollIntoView({behavior:'smooth'})-->
          foo[0].scrollIntoView()
          ele.scrollTop(ele.scrollTop() - scroll);
        })
      }
    }).addTo(mappy);
    bounds = features.getBounds()
    <!--mappy.setView(bounds.getCenter(),5) -->
    if(geoms.length > 0 ){
      mappy.fitBounds(bounds)
      if(mappy.getZoom() > 5){ mappy.setZoom(5)}
      <!--mappy.setView(bounds.getCenter(),)-->
    }
    
  }
  /*
    *** sugLister() ***  from showResults()
    formats search result item (sug)
  */  
  function sugLister(sug, doctype, scope) {
    <!--console.log(sug)-->
    if (doctype=='place') {
	  linkcount = sug['ds'] ? '' : (parseInt(sug['linkcount']) +1)
	  attestations = sug['ds'] ? '' : ' <i>' + linkcount + (linkcount>1?' linked attestations</i>; ':' attestation</i>; ')
      variants = sug['variants'].length > 0 ? '<br/><i class="text-secondary"> var: '+
        sug['variants'].sort().slice(0,6).join('; ')+'; </i> ...' : ''
      <!--console.log(sug['variants'])-->
      if (scope=='search'){
        <!--snippet = sug['snippet'].length > 0 ? sug['snippet']+'...' : ''-->
        ccodes = sug['ccodes'] != '' ? ' ['+sug['ccodes']+']' : ''
        types = '<br/>('+sug['types']+')'
        geo = sug['geom'].length > 0 ? ' {% fontawesome_icon 'globe' color='#666' %}' : ''
		
		// whgid if index search, else pid
		identifier = sug['ds'] ? sug['pid'] : sug['whg_id']
		// add dataset link if this is db search result
		dslink = sug['ds'] ? ' dataset: '+
		'<a class="pop-link pop-dataset" data-id='+sug['ds']['id']+' data-toggle="popover" title="Dataset Profile" data-content="" tabindex="0" rel="clickover">'+sug['ds']['title']+'</a>' : ''	
		// link destination varies
		link_class = sug['ds'] ? 'db-link' : 'place-link'
		// dynamic search result 'card'
		item = '<div class="search-row place-item" data-id="'+identifier+'" data-types="'+sug['types']+'"><a class="'+link_class+'" href="#" data-id="'+identifier+'"><b>'+sug['name']+'</b></a>'+attestations+ccodes+dslink+geo+types+variants+'</div>'		  		
	  } else {
        item = '<div class="sug_row sug-item">'+sug['name']+' '+variants+'</div>'
      }
    } else if (doctype=='trace') {
      let pid = sug['place_id'] != null ? sug['place_id'] : ""
      <!-- make object array from idToFeature{}-->
      if(pid in idToFeature){
        whgid=idToFeature[pid].feature.properties['whg_id']
      } else {
        foo=itf_new.filter(function(f){return f.feature.feature.properties['place_id']==pid})
        whgid = foo.length>0 ? foo[0].id : 'no foo'
        <!--console.log(foo.length>0?'woe'+foo[0].id:'no foo, mofo')-->
      }
      item =  ('<div class="container"><div class="row sug_row trace-item" data-id='+whgid+'>'+
              '<div class="col-sm-12 pl-0"><a href="#" class="trace-link" data-id="'+whgid+'">'+
              sug.title+'</a> ('+parseRels(sug.relations)+')')
      item += '</div>'
      if("depiction" in sug){
        item += '<div class="trace_detail"><img class="trace-img" src="'+sug['depiction']+'"/></div>'
      }
      item += '</div></div>' // trace-item, container
    }
    return item
  }  
  // from sugLister()    
  // TODO: doesn't reach into when.timespans; Indias data malformed
  function parseRels(rels){
    html=''
	timespans=[]; starts=[]; ends=[]
    for(r in rels){
	  html += rels[r].relation
	  for(w in rels[r].when){
	  timespans.push(rels[r].when[w])
	}}
	reg = /(-?\d{1,4})\D?/
	for (t in timespans){
	  // no 'in', 'earliest' or 'latest' here
	  starts.push(Number(timespans[t].start.match(reg)[1]))
	  ends.push(!!timespans[t].end ? Number(timespans[t].end.match(reg)[1]) : -1)
	} 
	<!--console.log('starts',starts,'ends',ends)-->
	minmax=' ['+[starts.length>0?Math.max.apply(null, starts):'-',ends.length>0?Math.max.apply(null, ends):'-']+']'
	if(!starts.length==0 && !ends.length==0){ html += minmax}
    return html
  }   
  // from sugLister()    
  // TODO: doesn't reach into when.timespans; Indias data malformed
  function parseWhen(when){
	console.log('parseWhen()',when)
    html=''
    for (w in when){
      s = 'start' in when[w]?'start: '+when[w]['start']:'earliest: '+when[w]['earliest']
      e = 'end' in when[w]?'end: '+when[w]['end']:'latest: '+when[w]['latest']
      html += s +", " +e
      html+=w==when.length-1?'':'; '
    }
    return html
  }  
  // map feature styles
  styles = {
    'marker_default': {
      fillColor: "#ff0000",
      color:"#666",
      weight:1,
      fillOpacity:0.5,
      opacity:0.5},
    'marker_highlight': {
      radius:10,fillOpacity:1,fillColor:"yellow",color:"#000"
    },
    'line_default':{
      weight:3,
      opacity:1,
      color: "#00ccff"
    },
    'line_highlight':{weight: 4, color:"yellow"},
    'pgon_default':{
      fillColor: "#ff0000",
      color:"#fff",
      weight:2,
      fillOpacity:0.1,
      opacity:1},
    'pgon_highlight':{
      fillOpacity:1,fillColor:"yellow",color:"#000"
    }
  }
  
  // load place portal page from results_list item title links       
  // TODO: links are nested so click produces 2 events
  $("#result_list").on('click', '.trace-link', function(e){
    whgid=$(this).data('id')
    console.log('whgid',whgid)
    location.href = 'places/'+whgid+'/portal'
  });
  $("#result_list").on('click', '.place-link', function(e){
    whgid=$(this).data('id')
    console.log('whgid',whgid)
    window.spinner = new Spin.Spinner().spin();
    $("#map_search").append(spinner.el);
    location.href = '/places/'+whgid+'/portal'
  });
  $("#result_list").on('click', '.db-link', function(e){
    pid=$(this).data('id')
    console.log('pid', pid)
    window.spinner = new Spin.Spinner().spin();
    $("#map_search").append(spinner.el);
    location.href = '/places/'+pid+'/detail'
  });
  
  $('label.btn').click(function(){
    $(".autosuggest").html('')
    $('#search_input').val('')
    $('#search_input').attr("placeholder",this.getAttribute("rel"));
  })
</script>
{% endblock %}

	  {%comment%}
	  <div id="" style="width=100%">
		<div id="search_time" class="mt-1" style="background-color: #ffffcc;">
		  <img src="{% static 'images/hist_static.png' %}" class="" alt=""/>
		</div> <!-- #search_time -->
		<div id="search_info" class="p-2 small" style="background-color: #eeeee0;">
		  <p class="allcap-heading mb-0">SOMETHING HERE</p>
		  {% for g in bboxes %}
			{{ g|safe|json_script:g.properties.id }}
		  {% endfor %}
		  {% for ds in dslist %}
			<a class="bblink" href="#" data-id={{ds.id}}>{{ds.title}}</a>;&nbsp; 
		  {% endfor %}
		</div> <!-- #search_info -->
	  </div> <!-- below map -->
	  {%endcomment%}
