<html>
<div class="container">
  <div class="row">
    <div class="col col-sm-6 small">
			<h4 class="bg-lightyellow">
				<span class="me-2">
					<img src="static/images/008-collect.png" class="" height=28 width=28 alt=""/>
				</span>
				Dataset Collections
			</h4>
	    <div>
		    <div>
			    <p>A WHG <b>dataset collection</b> logically links two or more datasets, in order to visualize and query
			      their combined contents together. The Dataset Collection feature can also be considered a
			      <b>gazetteer builder</b> tool, as explained below.</p>
			    <div>
						<h5>Simple linking
							<span class="fs-6 float-end me-1">
								<a href="">guide</a>
							</span>
						</h5>
				    <p class="mb-2">Declare multiple datasets as linked, and add an explanatory abstract, an essay, an image,
					    and links to related web resources.</p>
			    </div>
			    <div id="">
						<h5>Gazetteer building
							<span class="fs-6 float-end me-1">
								<a class="a-modal" href="">guide</a>
							</span>
						</h5>
				    <p>Often, place references are drawn from multiple sources&mdash;sometimes from multiple projects.
				      In this case, records for the same place must be conflated&mdash;that is, reconciled with each other.
				      Version 3 of the WHG introduces the capability to assemble a <b>dataset collection</b> by reconciling
					    datasets with each other.</p>
			    </div>
		    </div>
	    </div>
    </div>
    <div class="col col-sm-6 small" style="border-left: 1px dotted lightgray;">
	    <h4 class="bg-lightblue">
		    <img src="static/images/008-collect.png" class="" height=28 width=28 alt=""/></span>
		    Place Collections</h4>
	    <p>A <b>place collection</b> in WHG consists of individual place records drawn from multiple public datasets.
		    Each can be annotated to explain its inclusion and to describe its relation to other places in the collection.</p>
			<h5>Connecting places
				<span class="fs-6 float-end me-1">
					<a class="a-modal" href="">guide</a>
				</span>
			</h5>
	    <p>Much to say, para 1	    </p>
			<h5>For teaching
				<span class="fs-6 float-end me-1">
					<a class="a-modal" href="">guide</a>
				</span>
			</h5>
	    <p>More to say, para 1	    </p>
    </div>
  </div>
</div>

	<script>
      $(".a-modal").click(function(){
        $('#exampleModal').modal('toggle');
      })
	</script>
</html>