<!-- areas/area_create.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}

{% load static %}
{% load dataset_extras %}
{% block title %}<title>WHG::Create/Update Collection Group</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="{% static 'js/tags/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'js/tags/bloodhound.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput.css' %}"/>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput-typeahead.css' %}"/>
  <style>
    textarea {width: 100%;}
    #results_text {background-color: #dff0d8;}
    .form-box p {margin: .5rem;}
  </style>{% endblock %}
{% block content %}
<div class="container">
  <h4 class="mt-3">
    {% if action == 'update' %}
        Update Collection Group
        <span class="text-danger">"{{ form.title.value }}"</span>
        <a href="{% url 'collection:collection-group-delete' object.id %}" class="float-end small"
        title="Delete group" rel="tooltip" style="margin-top:-2px;">
        <i class="fas fa-trash linkyred"></i></a>
    {% else %}
        Create Collection Group
    {% endif %}
  </h4>
{#  <div class="flex row">#}
  <div class="d-flex container row">
    <div class="form-box mt-2 col-sm-4">
	    {% if action == 'update' %}
	    <form id="cg_form" method="POST" action="{% url 'collection:collection-group-update' object.id %}" enctype="multipart/form-data">
      {% else %}
      <form id="cg_form" method="POST" action="{% url 'collection:collection-group-create' %}" enctype="multipart/form-data">
      {% endif %}
      {% csrf_token %}
      <input type="hidden" name="owner" value='{{ user.id }}' />
      <input type="hidden" name="action" value='{{ action }}' />
      {% comment %}
      {% if action == 'update' %}
      {% endif %}{% endcomment %}
      <p>Title<br/>{{ form.title }}</p>
      <p><span class="top">Description</span><br/>{{ form.description }}</p>
      <p><span class="top">Type</span><br/>{{ form.type }}</p>
      <p><span class="top">Keywords</span><br/>{{ form.keywords }}</p>
      <p><span class="top">Start date</span> {{ form.start_date }}</p>
      <p><span class="top">Due date</span> {{ form.due_date }}</p>
      <p class="form-group">
				<label for="File">File <i class="small">(PDF format)</i></label><br/>
				{% if action == 'create' %} {# create, no file yet #}
					<span id="file_chooser_create">{{ form.file }}</span>
				{% elif form.file.value %} {# update & there's an file #}
					<i class="far fa-file-pdf linky"></i>
					<a href="/media/{{ form.file.value }}" target="_blank">{{ object.file.url|remove:'/media/groups/' }}</a>
					(<a href="javascript:$('#file_chooser').toggle()">change</a>)
				{% else %} {# update and there's no image yet #}
					<span id="file_chooser_update" >{{ form.file }}</span>
				{% endif %}
        <span id="file_chooser" class="hidden">{{ form.file }}</span>
			</p>
      <p><span class="top">Gallery?</span> {{ form.gallery }}
	      <span class="ms-3">required? {{ form.gallery_required }}</span>
	      <span class="float-end"><a href="#"><i class="fas fa-question-circle linkypop"></i></a></span>
      </p>
      <hr/>
      <input class="btn-sm btn-primary mt-2" type="submit" value="Save" id="b_save"/>
      <span title="back"><a href="{% url 'accounts:profile' %}">Cancel</a></span>
    </form>
    </div>
    <div class="col-sm-4 mt-2">
      <h5 class="sharing-header">Members
	      {% if action == 'update' %}
          <span class="float-end float-end-padded small">
              <a href="#" id="l_addusers">
                  <i class="fas fa-plus-square linky"></i></a>
          </span>
	      {% endif %}
      </h5>
      {% if action == 'update' %}
	      <div id="div_addusers" class="mb-3 hidden">
	        <form id="f_addusers">{% csrf_token %}
	        <input class="form-control form-control-sm" id="userfile" type="file">
	        <div id="addusers_info" class="form-text small mb-2">
	          To add existing WHG users to this group, and/or create new WHG user
		        accounts as group members, upload a .csv file with each line like so:
		        <br/><span class="ms-3 fw-bold fs-6"> email, full name</span>
	        </div>
	        <div id="form_button" class="mt-2 hidden">
		        <button id="b_upload" class="btn btn-sm btn-primary" type="submit">Upload file</button>
		        <span id="s_cancel" class="hidden small float-end pe-3">
			        <a id="a_cancel" class="ps-3" href="">Cancel</a>
		        </span>
	        </div>
	        </form>
	        <hr/>
	      </div>
	      <div id="results_text" class="my-2 small"></div>
	      <div id="members_content">
	          <ul class="small">
	          {% for m in members.all %}
	              <li>{{ m.user.name }} ({{ m.user.id }}) ({{ m.user.email }})</li>
	          {% endfor %}
	          </ul>
	      </div>
      {% else %}
	      <div class="ps-1"><p>New group must be saved before members can be added.</p></div>
      {% endif %}
    </div>
    <div class="col-sm-4 mt-2">
        <h5 class="sharing-header">Submitted Collections</h5>
        <div id="collections_content">
            <ul class="small">
            {% for m in collections.all %}
                <li><a href="{% url 'collection:ds-collection-summary' m.id %}">{{ m.title }}</a> ({{ m.owner.name }})</li>
            {% endfor %}
            </ul>
        </div>
    </div>
  </div> <!-- d-flex -->
</div> <!-- container -->
<script type="text/javascript">
  $(function() {
    localStorage.removeItem("newusers")
    console.log('ls new users', localStorage.getItem("newusers"))
    $("#l_addusers").click(function(e){
      $("#div_addusers").toggle()
    })

    $("input:file").change(function (){
       $("#form_button").show();
     });

		$('#f_addusers').submit(function() {
	    if ($("#userfile").val() === "") {
        alert('no file selected!');
        return false;}
		});

    $("#create_cancel").click(function(){
      $("b_create").toggle()
      {#$("#div_addusers").removeClass('hidden')#}
    })
  })
  // submit file with new users
  //
  $(document).on('submit', '#f_addusers', function(e){
    e.preventDefault()
    var formData = new FormData();
	  if($("#b_upload").text() === 'Upload file'){
      // clear local storage values
      formData.append('action', 'upload')
		  localStorage.removeItem("create_add")
		  localStorage.removeItem("just_add")
	  } else {
      // submitting now, add from local storage
		  formData.append('action', 'addem')
      formData.append('create_add', localStorage.getItem("create_add"));
      formData.append('just_add', localStorage.getItem("just_add"));
	  }
    formData.append('file', $('#userfile')[0].files[0]);
    formData.append('cgid', '{{ object.id }}');
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    console.log('formData', formData)
    {##}
    $.ajax({
      type: 'POST',
      enctype: 'multipart/form-data',
      url: '/accounts/addusers/',
      processData: false,
      contentType: false,
      cache: false,
      data: formData,
      success: function (data) {
        result = data
        console.log('data returned', data)
	      // after validation: status, errors[], already[], just_add[], create_add[]
	      // after adding: status, errors[], msg
        if (data['errors'].length >0) {
          err = data['errors']
	        if(data['status']=='failed'){
            html = data['msg']
	        } else {
            html = 'Problem(s) with file:<br/><ul class="ps-3">'
	        }
          for (i = 0; i < err.length; ++i) {
            html += '<li>' + err[i] + '</li>'
          }
          html += '</ul>'
          $("#results_text").html(html)
        } else {
          // reporting back validation
					if(data['status'] == 'validated'){
	          already = data['already']
	          just_add = data['just_add']
	          create_add = data['create_add']
		        html = ''
	          if (data['create_add'].length > 0) {
	              localStorage.setItem("create_add", JSON.stringify(create_add));
	              html += 'Create WHG user(s) & add to group:<br/><ul class="ps-3">'
	              for (i = 0; i < create_add.length; ++i) {
	                  html += '<li>' + create_add[i][1] + '; ' + create_add[i][0] + '</li>'
	              }
	              html += '</ul>'
	          }
	          if (data['just_add'].length > 0) {
	              localStorage.setItem("just_add", JSON.stringify(just_add));
	              html += 'Add existing user(s) to group:<br/><ul class="ps-3">'
	              for (i = 0; i < just_add.length; ++i) {
	                  html += '<li>' + just_add[i][1] + '; ' + just_add[i][0] + '</li>'
	              }
	              html += '</ul>'
	          }
	          if (data['already'].length > 0) {
	              html += 'Already members:<br/><ul class="ps-3">'
	              for (i = 0; i < already.length; ++i) {
	                  html += '<li>' + already[i][1] + '</li>'
	              }
	              html += '</ul>'
	          }

	          $("#addusers_info").hide()
	          $("#results_text").html(html)
	          $("#b_upload").text('Submit')
	          $("#s_cancel").fadeIn(800)
	        } else if (data['status'] == 'added') {
          // report add results
						html = data['msg']
						$("#div_addusers").hide()
						added = data['newmembers']
						for (i = 0; i < added.length; ++i) {
              $("#members_content ul").append(
                '<li>' + added[i][1] + ' (' + added[i][0] + ')</li>'
              )
            }

					}
				}
        // add new members immediately
        $("#results_text").addClass('p-2')
        $("#results_text").html(html)
      } // success
    }) // ajax
	  {#$("#div_addusers").hide()#}
  }) // on submit

</script>

{% endblock %}

