<!-- collection/collection_detail.html -->
{% extends "main/base.html" %}
{% load dataset_extras %}
{% load fontawesome %}
{% load geojson_tags %}
{% load leaflet_tags %}
{% load static %}
{% block title %}<title>WHG::Collection</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  
  <script src="{% static 'js/tags/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'js/tags/bloodhound.js' %}"></script>
  <script src="{% static 'js/spin.umd.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput.css' %}"/>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput-typeahead.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/spin.css' %}"/>
  
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <script src="{% static 'js/leaflet-mapbox-gl.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h5 class="mt-3">
    <span class="text-secondary">WHG Collection:</span> <b>{{ object.title }}</b>
  </h5>
  <div class="d-flex">
    <div class="form-box col-sm-5 mt-2">
      <div id="coll_meta">
        <table>
        <tr><td><b>Description</b></td><td>{{ object.description|readmore:200|safe }}</td></tr>
        <tr><td><b>Tags</b></td><td>{{ object.tags|join:', ' }}</td></tr>
        <tr><td><b>Created</b></td><td>{{ object.create_date|date:"d M Y" }}</td></tr>
        </table>
      </div>
      <hr/>
      {% for g in bboxes %}
        {{ g|safe|json_script:g.properties.id }}
      {% endfor %}
      <div id="coll_dslist">
        <h5>Datasets<span class="small float-right mr-2">{% fontawesome_icon 'download' color='#336699' %} <a href="" id="a_download_modal" data-dsid = {{ object.id }} data-toggle="modal" data-target="#downloadModal" title="download options"> download options</a></span></h5>
        <!-- fields: id, label, title, description, creator, create_date, webpage, numrows, datatype -->
        <div id="ds_cards">
          {% for d in ds_list %} 
            <div class="ds_card" data-id={{d.id}}>
              <div class="ds_fields">
                <ul class="no-bullets">
                <li class=""><b>Title</b>: 
                  <a class="ds_title" href="{% url 'datasets:ds_meta' d.id %}">{{ d.title }}</a> (id: {{ d.id}})</li>
                <li class=""><b>Description</b>: {{ d.description|readmore:200|safe }}</li>
                <li class=""><b>Created</b>: {{ d.create_date|date:"d M Y" }}</li>
                <li class="">
                  <b>Number of records</b>: {{ d.numrows }}
                  <span class="dl-links float-right mr-2">
                  {%comment%}<select placeholder="Select format">
                    <option disabled selected class="text-secondary"value="">Select format</option>
                    <option value="lpf">Linked Places (LPF)</option>
                    <option value="gis">simplified LPF</option>
                    <option value="tsv">simplified TSV</option>
                  </select> {% fontawesome_icon 'download' color='#336699' %}
                  
                  {% fontawesome_icon 'download' color='#336699' %}&nbsp;&nbsp;<a href="{% url 'datasets:dl-aug' id=d.id format='lpf' %}" data-id={{d.id}} ref="lpf" title="Linked Places format">lp</a>&nbsp;&nbsp;<a href="" data-id={{d.id}} ref="gis" title="tab-delimited text">tsv</a>{%endcomment%}
                  
                  </span>
                </li>
                </ul>
              </div>
            </div>
            <!--{ d.bounds }}-->
          {% endfor %}
        </div> <!-- #ds_cards -->        
      </div> <!-- #coll_dslist -->
    </div>
    <div id="coll_map" class="col-sm-7 mt-2">
      <div id="mapdiv_coll" class="">
        {% leaflet_map "map_coll" callback="map_init" %}
      </div>
      <!--<div>{ bboxes }}</div>-->
    </div> <!-- .row -->
  </div> <!-- d-flex -->
  <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-narrow">
        <div class="modal-header">
          <h5 class="modal-title" id="downloadModalLabel">{% fontawesome_icon 'download' color='#336699' %} Download options for <span class="text-danger">{{ object.title }}</span></h5>
          <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>-->
        </div>
        <div class="modal-body container">
        <form id="download_collection_form" method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row">
            <div class="col-sm-6 modal-col scroll-div">
              <p class="modal-col-head p-1">Datasets</p>
              <ul class="ul-left p-1">
              {% for d in ds_list %} 
                <li class="li-flush"><input type="checkbox" value="{{d.id}}" checked> {{ d.title }} ({{ d.id }}) <span class="float-right">{{d.numrows}} rows</span></li>
              {% endfor %}
              </ul>
            </div>
            <div class="col-sm-6 modal-col">
              <p class="modal-col-head p-1">File Format</p>
              <div class="p-1">
              <p><label><input type="radio" name="dl_format" id="lpf" checked> Linked Places format</label>  
              <p><label><input type="radio" name="dl_format" id="lptsv"> LP-TSV</label>
              <hr/>
              <p><b>Linked Places format</b> is JSON-based, valid GeoJSON with temporal extensions</p>
              <p class="mt-2"><b>LP-TSV downloads</b> are tab-separated text files.</p>
              </div>
            </div>
          </div>
        </form>
        </div> <!-- .modal-body -->
        <div class="modal-footer">
          <button type="button" id="b_download" class="btn btn-sm btn-primary">Download</button>
          <button type="button" class="btn btn-sm btn-secondary btn-cancel" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container -->

<script type="text/javascript">
  $(function(){
    <!--area_type = 'ccodes' // default-->
    $( ".textarea" ).each(function(index) {
      if ( ["None","null"].includes( $(this).val() ) ) {
        $(this).val('')
      }
    });
    $("#id_geojson").attr("placeholder","generated from country codes")

    $(".a_more").click(function(e){
      clicked = $(this)
      clicked.hide()
      clicked.parent().find("#dots").hide()
      clicked.next().show()
      $(".a_less").show()
      console.log('clicked',clicked)  
    })
    $(".a_less").click(function(e){
      clicked = $(this)
      console.log('this clicked',clicked)  
      console.log('parent',parent)  
      clicked.hide() // hide 'less' link
      $(".more").hide() // hide the extra text again
      $("#dots").show() // show dots again
      $(".a_more").show() // show more link again
    })

  })
  $(".ds_card").on('click',function(e){
    // set all layers to default style
    for (i in idToFeature){
      idToFeature[i].setStyle(styles['Polygon']['default'])
    }
    dsid = $(this).data('id')
    l = idToFeature[dsid]
    // raise z-index
    l.bringToFront().setStyle(styles['Polygon']['focus'])
    // get a centroid
    mappy.fitBounds(l.getBounds().pad(0.5))
  })

  $( ".ds_card" ).hover(function() {
      <!--console.log($(this))-->
      let id = $(this).data('id')
      feat = idToFeature[id]
      <!--console.log('feat',feat)-->
      ogfill = "#ff9999"
      feat.setStyle(
        {fillColor: 'yellow', color: 'red', fillOpacity: 0.3}
      )
    },
    function() {
      let id = $(this).data('id')
      feat = idToFeature[id]
      feat.setStyle(
        {fillColor: ogfill, color: '#333', fillOpacity: 0.3 }
      )
    }
  );

  $("#b_download").click(function(){
    var dsids = [];
    $('.modal-body input:checked').each(function() {
      dsids.push($(this).val());
    });
    console.log('download datasets:', dsids)
  })
  
  function startDownloadSpinner(){
    window.spinner_dl = new Spin.Spinner().spin();
    $("#ds_cards").append(spinner_dl.el);   
  }  

  $(".btn-cancel").click(function(){$("#downloadModal").modal('hide') })
  
  function showMore() {
    foo = $(this)
    console.log('foo',foo)
  } 
  
  $(".dl-links a").click(function(e){
    <!--e.preventDefault()-->
    urly='/datasets/'+$(this).data('id')+'/augmented/'+$(this).attr('ref')
    console.log('urly',urly)
    startDownloadSpinner()
    $.ajax({
          type: 'GET',
          url: urly
        }).done(function() {
            spinner_dl.stop();
        })
  })

  // expose leaflet map for events, call it 'mappy'
  window.addEventListener('map:init', function (e) {
    window.mappy = e.detail.map
    mappy.setMaxBounds(null)

    // mapbox tokens 
    var token_kg = '{{ mbtokenkg }}', 
        token_whg = '{{ mbtokenwhg }}', 
        token_mb = '{{ mbtokenmb }}';
    
    // style/tile urls
    var mbstyle_url = 'https://api.mapbox.com/styles/v1/{id}/tiles/256/{z}/{x}/{y}?access_token={token}',
        mbtiles_url = 'https://api.mapbox.com/v3/{id}/{z}/{x}/{y}.png',
        ne_url = 'http://blog.whgazetteer.org/tiles/ne/{z}/{x}/{y}.png';
      
    var satellite  = L.tileLayer(mbstyle_url, {
      id:'mapbox/satellite-streets-v11', 
      token:token_mb}),
    osm  = L.tileLayer(mbstyle_url, {
      id:'mapbox/light-v10', 
      token:token_mb}),
    ne_mb = L.tileLayer(mbtiles_url, {
      id:'kgeographer.ne_global', 
      token:token_kg})

    // GL wrappers to display heatmaps
    mb_terrain = L.mapboxGL({
      style:'mapbox://styles/kgeographer/ckhf6o8yf07fw19qhbrm7f2q7',
      accessToken:token_kg})

    ne_global= L.mapboxGL({
      style:'mapbox://styles/kgeographer/ckidglq8l2nra19nzzbl995ue',
      accessToken:token_kg}).addTo(mappy)


    var baseLayers = {
      "NE global": ne_global,
      "Terrain": mb_terrain,
      <!--"NE self": ne,-->
      "OpenStreetMap": osm,      
      "Satellite": satellite
    };

    layerGroup = L.control.layers(baseLayers).addTo(mappy);
    
    <!--$.get("/api/geoms", {ds: "{{ ds.label }}", f: "{{ filter }}" },-->
      <!--function(data){-->
        <!--<!--console.log('feature count:',data.count)-->-->
        <!--geom = {"type":"FeatureCollection","features":data.results}-->
        <!--if(geom.features.length >= 15000) {-->
          <!--$(".toomany").html('for performance reasons, mapping only the first 15,000 features - sorry!')-->
        <!--}-->
        <!--if(geom.features.length <= 15000) {-->
          <!--renderMap(geom,'browse')-->
        <!--} else {-->
          <!--$(".toomany").html('too many features to map (> '+geom.features.length+'), sorry!')-->
        <!--}-->
    <!--})    -->
    <!--baseLayers['OpenStreetMap'].addTo(mappy)-->
  }, false);


  function zoomTo(id) {
    mappy.setView(idToFeature[id]._latlng, mappy.getZoom() +2 )
  }

  function cleanJson(text) {
    z=text.replace(/'/g,'\\"')
    y=z.replace(/point/,'Point')
    return JSON.parse(JSON.parse(y))
  }

  styles = {
    "MultiPolygon": {
      "default":{fillOpacity: 0.3, opacity: 1, color: "#000", weight: 1, fillColor:"#ff9999"},
      "focus":{fillOpacity: 0.3, opacity: 1, color: "red", weight: 2, fillColor:"#ff9999"}},
    "Polygon": {
      "default":{fillOpacity: 0.3, opacity: .5, color: "#666", weight: 1, fillColor:"#ff9999"},
      "focus":{fillOpacity: 0.3, opacity: .5, color: "red", weight: 2, fillColor:"#ff9999"}}
  }

   // initialize, render map w/settings.LEAFLET_CONFIG
  function map_init(map, options) {
    // console.log('in map_init()')
    <!--window.geom = {"type":"FeatureCollecton","features":[]}-->
    window.geoms = []

    window.gelems = $('script').filter(function() {
      <!--return this.id.match(/[0-9]/) && this.text != '"null"';-->
      return this.id !='' && this.text != '"null"';
    });
    for (i=0;i<gelems.length;i++){
      let t_geom = cleanJson(gelems[i].text)
      <!--t_geom['properties'] = {"id": gelems[i].id,"ds": t_geom.ds!=null?t_geom.ds:ds}-->
      geoms.push(t_geom)
    }

    if (geoms.length > 0) {
      <!--console.log('geom: ',geom)-->
      idToFeature = {} // for feature lookup
      features = L.geoJSON(geoms, {
        onEachFeature: function(feature,layer) {
          f=feature; l=layer;
          identifier = f.properties.id;
          <!--console.log('identifier, type',identifier,f.geometry.type)-->
          if(f.type != 'Point'){
            layer.setStyle(styles[f.geometry.type].default).bindPopup(
              f.properties.title+' ('+identifier+')'
            )
            idToFeature[identifier] = layer
          }
        }
      }).addTo(map);

      <!--mappy.setView(features.getBounds().getCenter(),6)-->
      mappy.fitBounds(features.getBounds())
      mappy.setZoom(mappy.getZoom()-1)
    } else {
      console.log('no geometries, no feature')
    }
  } // end map_init  

  <!--function renderMap(geom, tab){-->
    <!--// call the map being rendered 'mappo'-->
    <!--console.log('geom in renderMap()', geom)-->
    <!--mappo = tab=='browse' ? mappy : mappyr-->
    <!--if (geom.features.length==0) {-->
      <!--console.log('no features in renderMap() call')-->
    <!--} else {-->
      <!--// clear existing if any-->
      <!--if(typeof(features)!=='undefined'){-->
        <!--mappo.removeLayer(features)-->
      <!--}-->
      <!--idToFeature = {}  // for feature lookup-->
      <!--<!--L.geoJson({ object_list|geojsonfeature|safe}}).addTo(map);-->-->
      <!--features = L.geoJSON(geom, {-->
      <!--// feature here is a geometry-->
      <!--// TODO: LPF should allow single geometry, not only GeometryCollection-->
        <!--pointToLayer: function (feature, latlng) {-->
          <!--matchid = feature.place_id-->
          <!--<!--console.log('feature',feature)-->-->
          <!--marker = L.circleMarker(latlng,styles.Point.default).bindPopup(feature.title+-->
            <!--'<br>pid: <a href="'+window.location.origin+'/api/db?id='+matchid+'" target="_blank">'+-->
            <!--matchid+'</a>');-->
          <!--idToFeature[matchid] = marker-->
          <!--return marker-->
        <!--}-->
        <!--,onEachFeature: function(feature,layer) {-->
          <!--f=feature; l=layer;-->
          <!--<!--console.log('f,l',feature,layer)-->-->
          <!--identifier = f.place_id;-->
          <!--if(f.type != 'Point'){-->
            <!--layer.setStyle(styles[f.type].default).bindPopup(-->
              <!--f.title+'<br>pid: <a href="'+-->
              <!--window.location.origin+'/api/db?id='+-->
              <!--identifier+'" target="_blank">'+identifier+'</a>'-->
            <!--)-->
            <!--idToFeature[identifier] = layer-->
          <!--}-->
        <!--}-->
      <!--}).addTo(mappo);-->
    <!--}-->
    <!--<!--highlightFeature(pid)-->-->
    <!--mappo.fitBounds(features.getBounds())-->
    <!--mappo.on('zoomend', function() {-->
      <!--var currentZoom = mappo.getZoom();-->
      <!--<!--console.log('on zoomend', currentZoom)-->-->
      <!--var myRadius = currentZoom*(1); //or whatever ratio you prefer-->
      <!--var myWeight = currentZoom*(1/5); //or whatever ratio you prefer-->
      <!--features.setStyle({radius: myRadius, weight: myWeight});-->
      <!--opt = Object.values(idToFeature)[0].options-->
      <!--foptions = { ...opt };-->
      <!--<!--console.log('zoomend() idToFeature',opt)-->-->
    <!--});-->
    <!--opt = Object.values(idToFeature)[0].options-->
    <!--foptions = { ...opt };-->
  <!--}-->

</script>

{% endblock %}
