<!-- areas/area_create.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}

{% load static %}
{% load dataset_extras %}
{% block title %}<title>WHG::Create/Update Collection Group</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="{% static 'js/tags/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'js/tags/bloodhound.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput.css' %}"/>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput-typeahead.css' %}"/>
  <style>
    textarea {width: 100%;}
    #results_text {background-color: #dff0d8;}
  </style>{% endblock %}
{% block content %}
<div class="container">
  <h4 class="mt-3">
    {% if action == 'update' %}
        Update Collection Group
        <span class="text-danger">"{{ form.title.value }}"</span>
        <a href="{% url 'collection:collection-group-delete' object.id %}" class="float-end small"
        title="Delete group" rel="tooltip" style="margin-top:-2px;">
        <i class="fas fa-trash linkyred"></i></a>
    {% else %}
        Create Collection Group
    {% endif %}
  </h4>
{#  <div class="flex row">#}
  <div class="d-flex container row">
    <div class="form-box mt-2 col-sm-4">
        {% if action == 'update' %}
        <form id="cg_form" method="POST" action="{% url 'collection:collection-group-update' object.id %}" enctype="multipart/form-data">
        {% else %}
        <form id="cg_form" method="POST" action="{% url 'collection:collection-group-create' %}" enctype="multipart/form-data">
        {% endif %}
      {% csrf_token %}
      <input type="hidden" name="owner" value='{{ user.id }}' />
      {% if action == 'update' %}
      {% endif %}
      <p>Title<br/>{{ form.title }}</p>
      <p><span class="top">Description</span><br/>{{ form.description }}</p>
      <p><span class="top">Keywords</span><br/>{{ form.keywords }}</p>
      <p><span class="top">Start date</span><br/>{{ form.start_date }}</p>
      <p><span class="top">Due date</span><br/>{{ form.due_date }}</p>
      <hr/>
      <input class="btn-sm btn-primary mt-2" type="submit" value="Save" id="b_save"/>
      <span title="back"><a href="{% url 'accounts:profile' %}">Cancel</a></span>
    </form>
    </div>
    <div class="col-sm-4 mt-2">
      <h5 class="sharing-header">Members
	      {% if action == 'update' %}
          <span class="float-end float-end-padded small">
              <a href="#" id="l_addusers">
                  <i class="fas fa-plus-square linky"></i></a>
          </span>
	      {% endif %}
      </h5>
      {% if action == 'update' %}
	      <div id="div_addusers" class="mb-3">
	        <form id="f_addusers">{% csrf_token %}
	        <input class="form-control form-control-sm" id="userfile" type="file">
	        <div id="addusers_info" class="form-text small mb-2">
	          To create multiple WHG users as group members,
		        upload a .csv file with two columns: 'email', and 'full_name'.
	        </div>
	        <button id="b_upload" class="btn btn-sm btn-primary" type="submit">Upload file</button>
	        <span id="s_cancel" class="hidden small float-end pe-3">
{#		        <button id="b_create" class="btn btn-sm btn-primary" type="submit">Create users</button>#}
		        <a id="a_cancel" class="ps-3" href="">Cancel</a>
	        </span>
	        </form>
		      <div id="results_text" class="my-2 small"></div><hr/>
	      </div>
	      <div id="members_content">
	          <ul class="small">
	          {% for m in members.all %}
	              <li>{{ m.user.name }} ({{ m.user.email }})</li>
	          {% endfor %}
	          </ul>
	      </div>
      {% else %}
	      <div class="ps-1"><p>New group must be saved before members can be added.</p></div>
      {% endif %}
    </div>
    <div class="col-sm-4 mt-2">
        <h5 class="sharing-header">Submitted Collections</h5>
        <div id="collections_content">
            <ul class="small">
            {% for m in collections.all %}
                <li><a href="{% url 'collection:ds-collection-summary' m.id %}">{{ m.title }}</a> ({{ m.owner.name }})</li>
            {% endfor %}
            </ul>
        </div>
    </div>
  </div> <!-- d-flex -->
</div> <!-- container -->
<script type="text/javascript">
  $(function() {
    console.log('ls new users', !!localStorage.getItem("newusers"))
    $("#l_addusers").click(function(e){
      $("#div_addusers").toggle()
    })

		$('#f_addusers').submit(function() {
	    if ($("#userfile").val() === "") {
        alert('no file selected!');
        return false;}
		});

    $("#create_cancel").click(function(){
      $("b_create").toggle()
      {#$("#div_addusers").removeClass('hidden')#}
    })
  })
  // submit file with new users
  //
  $(document).on('submit', '#f_addusers', function(e){
    e.preventDefault()
    var formData = new FormData();
    formData.append('file', $('#userfile')[0].files[0]);
    formData.append('cgid', '{{ object.id }}');
    formData.append('action', ($("#results_text").text() === '')?'upload':'addem');
    formData.append('newusers', localStorage.getItem("newusers"));
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    console.log('formData', formData)
    {##}
    $.ajax({
      type: 'POST',
      enctype: 'multipart/form-data',
      url: '/accounts/addusers/',
      processData: false,
      contentType: false,
      cache: false,
      data: formData,
      success: function (data) {
        console.log('data returned', data)
        if (data['errors'].length >0) {
          err = data['errors']
          html = 'Problem(s) with file:<br/><ul class="ps-3">'
          for (i = 0; i < err.length; ++i) {
              html += '<li>' + err[i] + '</li>'
          }
          html += '</ul>'
          $("#results_text").html(html)
        } else {
          users = data['add']
	        localStorage.setItem("newusers", users);
          html = 'Accounts to create:<br/><ul class="ps-3">'
          for (i = 0; i < users.length; ++i) {
              html += '<li>' + users[i][0] + '; ' + users[i][1] + '</li>'
          }
          html += '</ul>'
          $("#results_text").html(html)
          $("#b_upload").text('Submit')
          $("#s_cancel").fadeIn(800)
        }
      }
    })
  })

</script>

{% endblock %}

