<!-- areas/area_create.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome %}
{% load static %}
{% load dataset_extras %}
{% block title %}<title>WHG::Collection</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js" integrity="sha256-LOnFraxKlOhESwdU/dX+K0GArwymUDups0czPWLEg4E=" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  
  <script src="{% static 'js/tags/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'js/tags/bloodhound.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput.css' %}"/>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput-typeahead.css' %}"/>
  
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <script src="{% static 'js/leaflet-mapbox-gl.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h4 class="mt-3">
    The <span class="text-danger">{{ object.title }}</span> Collection
  </h4>
  <div class="d-flex">
    <div class="form-box col-sm-5 mt-2">
      <div id="coll_meta">
        <table>
        <tr><td><b>Description</b></td><td>{{ object.description }}<//tr>
        <tr><td><b>Tags</b></td><td>{{ object.tags|join:', ' }}</tr>
        <tr><td><b>Created</b></td><td>{{ object.create_date|date:"d M Y" }}</tr>
        </table>
      </div>
      <hr/>{%comment%}
      {% for g in bboxes %}
        {{ g|safe|json_script:d.id }}
      {% endfor %}{%endcomment%}
      <div id="coll_dslist">
        <h5>Datasets</h5>
        <!-- fields: id, label, title, description, creator, create_date, webpage, numrows, datatype -->
        <div id="ds_cards">
          {% for d in ds_list %} 
            <div class="ds_card">
              <div class="ds_fields">
                <ul class="no-bullets">
                <li class=""><b>Title</b>: 
                  <a class="ds_title" href="{% url 'datasets:ds_meta' d.id %}">{{ d.title }}</a> ({{ d.id}})</li>
                <li class=""><b>Description</b>: {{ d.description }}</li>
                <li class=""><b>Created</b>: {{ d.create_date|date:"d M Y" }}</li>
                <li class=""><b>Number of records</b>: {{ d.numrows }}</li>
                </ul>
              </div>
            </div>
            {{ d.bounds }}
          {% endfor %}
        </div> <!-- #ds_cards -->        
      </div> <!-- #coll_dslist -->
    </div>
    <div id="coll_map" class="col-sm-7 mt-2">
      <div id="mapdiv_coll" class="">
        {% leaflet_map "map_coll" callback="map_init" %}
      </div>
      <!--<div>{ bboxes }}</div>-->
    </div> <!-- .row -->
  </div> <!-- d-flex -->
</div> <!-- container -->

<script type="text/javascript">
  $(function(){
    <!--area_type = 'ccodes' // default-->
    $( ".textarea" ).each(function(index) {
      if ( ["None","null"].includes( $(this).val() ) ) {
        $(this).val('')
      }
    });
    $("#id_geojson").attr("placeholder","generated from country codes")
  })

  // expose leaflet map for events, call it 'mappy'
  window.addEventListener('map:init', function (e) {
    window.mappy = e.detail.map
    mappy.setMaxBounds(null)

    // mapbox tokens 
    var token_kg = '{{ mbtokenkg }}', 
        token_whg = '{{ mbtokenwhg }}', 
        token_mb = '{{ mbtokenmb }}';
    
    // style/tile urls
    var mbstyle_url = 'https://api.mapbox.com/styles/v1/{id}/tiles/256/{z}/{x}/{y}?access_token={token}',
        mbtiles_url = 'https://api.mapbox.com/v3/{id}/{z}/{x}/{y}.png',
        ne_url = 'http://blog.whgazetteer.org/tiles/ne/{z}/{x}/{y}.png';
      
    var satellite  = L.tileLayer(mbstyle_url, {
      id:'mapbox/satellite-streets-v11', 
      token:token_mb}),
    osm  = L.tileLayer(mbstyle_url, {
      id:'mapbox/light-v10', 
      token:token_mb}),
    ne_mb = L.tileLayer(mbtiles_url, {
      id:'kgeographer.ne_global', 
      token:token_kg})

    // GL wrappers to display heatmaps
    mb_terrain = L.mapboxGL({
      style:'mapbox://styles/kgeographer/ckhf6o8yf07fw19qhbrm7f2q7',
      accessToken:token_kg})

    ne_global= L.mapboxGL({
      style:'mapbox://styles/kgeographer/ckidglq8l2nra19nzzbl995ue',
      accessToken:token_kg}).addTo(mappy)


    var baseLayers = {
      "NE global": ne_global,
      "Terrain": mb_terrain,
      <!--"NE self": ne,-->
      "OpenStreetMap": osm,      
      "Satellite": satellite
    };

    layerGroup = L.control.layers(baseLayers).addTo(mappy);
    
    $.get("/api/geoms", {ds: "{{ ds.label }}", f: "{{ filter }}" },
      function(data){
        <!--console.log('feature count:',data.count)-->
        geom = {"type":"FeatureCollection","features":data.results}
        if(geom.features.length >= 15000) {
          $(".toomany").html('for performance reasons, mapping only the first 15,000 features - sorry!')
        }
        if(geom.features.length <= 15000) {
          renderMap(geom,'browse')
        } else {
          $(".toomany").html('too many features to map (> '+geom.features.length+'), sorry!')
        }
    })    
    <!--baseLayers['OpenStreetMap'].addTo(mappy)-->
  }, false);


  function zoomTo(id) {
    mappy.setView(idToFeature[id]._latlng, mappy.getZoom() +2 )
  }

  function cleanJson(text) {
    z=text.replace(/'/g,'\\"')
    y=z.replace(/point/,'Point')
    return JSON.parse(JSON.parse(y))
  }

   // initialize, render map w/settings.LEAFLET_CONFIG
  function map_init (map, options) {
    console.log('in map_init()')  
  }  
  

  function renderMap(geom, tab){
    // call the map being rendered 'mappo'
    console.log('geom in renderMap()', geom)
    mappo = tab=='browse' ? mappy : mappyr
    if (geom.features.length==0) {
      console.log('no features in renderMap() call')
    } else {
      // clear existing if any
      if(typeof(features)!=='undefined'){
        mappo.removeLayer(features)
      }
      idToFeature = {}  // for feature lookup
      features = L.geoJSON(geom, {
      // feature here is a geometry
      // TODO: LPF should allow single geometry, not only GeometryCollection
        pointToLayer: function (feature, latlng) {
          matchid = feature.place_id
          <!--console.log('feature',feature)-->
          marker = L.circleMarker(latlng,styles.Point.default).bindPopup(feature.title+
            '<br>pid: <a href="'+window.location.origin+'/api/db?id='+matchid+'" target="_blank">'+
            matchid+'</a>');
          idToFeature[matchid] = marker
          return marker
        }
        ,onEachFeature: function(feature,layer) {
          f=feature; l=layer;
          <!--console.log('f,l',feature,layer)-->
          identifier = f.place_id;
          if(f.type != 'Point'){
            layer.setStyle(styles[f.type].default).bindPopup(
              f.title+'<br>pid: <a href="'+
              window.location.origin+'/api/db?id='+
              identifier+'" target="_blank">'+identifier+'</a>'
            )
            idToFeature[identifier] = layer
          }
        }
      }).addTo(mappo);
    }
    <!--highlightFeature(pid)-->
    mappo.fitBounds(features.getBounds())
    mappo.on('zoomend', function() {
      var currentZoom = mappo.getZoom();
      <!--console.log('on zoomend', currentZoom)-->
      var myRadius = currentZoom*(1); //or whatever ratio you prefer
      var myWeight = currentZoom*(1/5); //or whatever ratio you prefer
      features.setStyle({radius: myRadius, weight: myWeight});
      opt = Object.values(idToFeature)[0].options
      foptions = { ...opt };
      <!--console.log('zoomend() idToFeature',opt)-->
    });
    opt = Object.values(idToFeature)[0].options
    foptions = { ...opt };
  }

</script>

{% endblock %}
