{% extends "main/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load fontawesome %}
{% load mathfilters %}
{% load dataset_extras %}

{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="{% static 'js/aliases.js' %}"></script>
  <!--<script src="{ static 'js/leaflet-heat.js' %}"></script>-->
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/spin.css' %}"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/cr-1.5.3/fh-3.1.8/sc-2.0.3/sp-1.2.2/sl-1.3.3/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/cr-1.5.3/fh-3.1.8/sc-2.0.3/sp-1.2.2/sl-1.3.3/datatables.min.js"></script>

  <script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>
  <link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />

  <!--<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />-->
  <!--<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>-->
  <script src="{% static 'js/leaflet-mapbox-gl.js' %}"></script>

  <script src="{% static 'js/spin.umd.js' %}"></script>
{% endblock %}

{% block title %}<title>Collection::{{ object.title }}</title>{% endblock %}

{% block content %}
<div id="dataset_content" class="container mt-1 px-1">
  <ul id="dataset_tabs" class="nav nav-tabs" role="tablist">
      <!--<span class="ds-title ml-1 mr-3">{ object.title }}</span>-->
      <li class="nav-item">
          <a class="nav-link" id="summary-tab" data-link="summary" href="{% url 'collection:collection-detail' pk=object.id %}" role="tab">Collection Summary</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" id="browse-tab" href="#" role="tab">Browse Data: <sr>{{object.title}}</sr></a> 
      </li>
  </ul>
  {{ ds_list|json_script:"ds_list" }}
  {{ bboxes|json_script:"bboxes" }}
  <div class="tab-content">
    <div id="browse" class="tab-pane fade show active" role="tabpanel" aria-labelledby="browse-tab">
        <div class="container mt-3 pl-0">
          <div class="row">
            <div id="drftable_detail" class="col-sm-5">
              <div class="toomany hidden text-danger small"></div>
              <div id="#ds_filter"></div>
              <div id="map" style="height:300px;">
                  <!--{ leaflet_map "map_browse" %}-->
              </div>
              <div id="row_detail">
                <div id="detail" class="small"></div>
              </div>
            </div> <!-- drftable_detail -->
            <div id="drftable_list" class="col-sm-7">
              <table id="placetable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th>pid</th>
                    <th>src_id</th>
                    <th>title</th>
                    <th>ccodes</th>
                    <th>geo</th>
                    <th class="hidden">revwd</th>
                    <th class="hidden">revtgn</th>
                    <th class="hidden">revwhg</th>
                    <th>wikidata <a rel="tooltip" data-html="true" title="&#x25a2; not reviewed<br/><i class='fa fa-check-square-o'></i> reviewed" class="pointer text-danger strong">?</a></th>
                    <th>tgn <a rel="tooltip" data-html="true" title="&#x25a2; not reviewed<br/><i class='fa fa-check-square-o'></i> reviewed" class="pointer text-danger strong">?</a></th>
                    <th>whg <a rel="tooltip" data-html="true" title="&#x25a2; not reviewed<br/><i class='fa fa-check-square-o'></i> reviewed )" class="pointer text-danger strong">?</a></th>
                    <th class="hidden">dataset_id</th>
                    <!--<th>ds</th>-->
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      <div id="ext_site" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div id="ext_content" class="modal-body">foo</div>
          </div>
        </div>
      </div> <!-- ext_site -->
    </div> <!-- browse -->
  </div> <!-- .tab-content -->

  <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">
          </h5>
        </div>
        <div class="modal-body">
        </div> <!-- .modal-body -->      
        <div class="modal-footer">
          <div id="buttons_pre">
            <button id="btn_cancel" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
            <button id="btn_update" type="button" data-dsid={{ds.id}} class="btn btn-primary btn-sm hidden">
              Proceed</button>
          </div>
          <button id="btn_done" type="button" class="btn btn-secondary btn-sm hidden" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  function filterColumn (i, v) {
    // clear then search
    console.log('i,v', i,v)
    table
    .search( '' )
    .columns( i )
    .search( v )
    .draw();
    $("#ds_select").val(localStorage.getItem('filter'))
  }    
  function clearFilters() {
    // clear
    table
    .columns([5,6,7,11])
    .search( '' )
    .draw();
    $("#ds_select").val('-1')
  }    
  
  // table events
  // TODO: use datatables methods?
  function setRowEvents(){
    $("#ds_select").change(function(e){
      // filter table
      val = $(this).val()
      localStorage.setItem('filter', val)
      <!--startMapSpinner()-->
      if(val == -1){
        // clear search
        startFilterSpinner()
        clearFilters()
      } else {
        clearFilters()
        filterColumn(11, val)
      }
      // also filter map
      filterMap(val)
    })
    $("#placetable tbody tr").click(function() {
      t=$(this)
      // get id
      pid=$(this)[0].cells[0].textContent
      <!--console.log('clicked row pid', pid)-->
      
      geom = allfeats.find(function(f){return f.properties.pid==pid}).geometry
      coords = geom.coordinates
      console.log('pid, geom, coords', pid,geom, coords)

      // fetch its detail
      getPlace(pid, 'clicked')

      // highlight this row, clear others
      var selected = $(this).hasClass("highlight-row");
      $("#placetable tr").removeClass("highlight-row");
      
      if(!selected)
        $(this).removeClass( "rowhover" );
        $(this).addClass("highlight-row");

      // highlight marker, zoomTo()
      <!--highlightFeatureGL(pid, coords)-->
      highlightFeatureGL(pid, geom, coords)

    }) 
        
    row = $("#drftable_list table tbody")[0].rows[0]
    pid = parseInt(row.cells[0].textContent)
    // highlight first row, fetch detail, but don't zoomTo() it
    $("#placetable tbody").find('tr').eq(0).addClass('highlight-row')
    // fetch place details for 1st row
    getPlace(pid, 'row0')
  }

  function buildSelect(){
    select = '<label>Datasets: <select name="status" aria-controls="placetable" id="ds_select" class="datatables_length">'+
    '<option value="-1" selected="selected">All</option>'
    for(let ds of ds_list){
      <!--select += '<option value="'+ds.id+'" rel="tooltip" title="'+ds.title+'">'+ds.title.substring(0,24)+'...</option>'-->
      select += '<option value="'+ds.label+'" selected="selected">'+
        ds.title+'</option>'
    }
    select +='</select></label>'
    return select
  }
  
  $(function(){
    allfeats = null
    <!--window.layer_list = []-->
    window.layer_list = getLoadedLayers()    
    window.ds_list = JSON.parse(document.getElementById('ds_list').textContent);
    <!--console.log('ds_list', ds_list)-->
    // TODO: remove these artifacts of table used for review
    localStorage.setItem('filter', '-1')
    wdtask = "{{wdtask}}" == "True"?true:false
    tgntask = "{{tgntask}}" == "True"?true:false
    whgtask = "{{whgtask}}" == "True"?true:false

    // start spinners, some collections take time    
    <!--startMapSpinner()-->
    startTableSpinner()
    startDetailSpinner()
    
    window.filter = "{{ filter }}"
    // initialize table
    // task columns are inoperable in this public view
    table = $('#placetable').DataTable({
      dom: "<'row'<'#ds_filter.col-sm-12 col-md-8'>"+
      "<'col-sm-12 col-md-4'f>>" +
      "<'row'<'col-sm-12'tr>>" +
      "<'row mt-1'<'col-sm-12 col-md-3'l><'col-sm-12 col-md-2'i><'col-sm-12 col-md-7'p>>"
      ,serverSide: true
      ,ajax: {
        url: "/api/placetable_coll/?format=datatables&id={{ object.id }}"
      }
      ,scrollY: 350
      ,select: true
      ,LengthMenu: [10, 25, 50, 100]
      ,columns: 
      [
          {"data": "id"},
          {"data": "src_id"},
          {"data": "title"},
          {"data": "ccodes"},
          {"title": "geom", "data": "geo"},
          {"data": "review_wd"},
          {"data": "review_tgn"},
          {"data": "review_whg"},
          {"data": "revwd", "visible": wdtask?true:false, 
            "orderable":false},
          {"data": "revtgn", "visible": tgntask?true:false, 
            "orderable":false},
          {"data": "revwhg", "visible": whgtask?true:false, 
            "orderable":false},
          <!--{"data": "dataset.id", "name":"dataset.id", "searchable":true},-->
          {"data": "dataset.label", "name":"dataset.label"}
      ]
      ,columnDefs:[
        { className: "browse-task-col", "targets": [8,9,10] },
        { orderable: false, "targets": [4,5,6,7]},
        { searchable: false, "targets": [0,1,3,4,8,9,10]}
        ,{ visible: false, "targets": [5,6,7,11]}
      ]
    })

    table.on( 'draw', function () {
      $("#ds_filter").html(buildSelect());
      $("#ds_select").val(localStorage.getItem('filter'))
      spinner_table.stop()
      setRowEvents();
    })
    
    // help popups
    $(".help-matches").click(function(){
      page=$(this).data('id')
      console.log('help:', page)
      $('.selector').dialog('open');
    })
    $(".selector").dialog({
      resizable: false,
      autoOpen: false,
      height: 500,
      width: 700,
      title: "WHG Help",
      modal: true,
      buttons: { 'Close': function() {console.log('close dialog'); $(this).dialog('close');} },
      open: function(event, ui) {
        $('#helpme').load('/media/help/'+page+'.html')
      },
      show: {effect: "fade",duration: 400 },
      hide: {effect: "fade",duration: 400 }
    });
  })  //** end onload()

  // gl map
  mappy = new maplibregl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/light-v10',
    center: [9.2, 33],
    zoom: 0.2, // starting zoom
    minZoom: 0.1,
    maxZoom: 18,
    accessToken: '{{ mbtokenmb }}'
  });

  mappy.on('idle', function() {
    spinner_map.stop()
    $(".toomany").html('').hide()
    dslabels = []
    feats = []
    for(d in ds_list){dslabels.push(ds_list[d]['label'])}
    console.log('dslabels',dslabels)
    //[1, 2, 3].map(function (i) { return i * i });
    for(l in dslabels){
      z = mappy.querySourceFeatures(dslabels[l])
      <!--z = mappy.queryRenderedFeatures(dslabels[l])-->
      <!--console.log('z',z)-->
      feats = feats.concat(z)
    }
    if(!allfeats){
      allfeats = feats
    }
    <!--console.log('feats', feats)-->
    <!--console.log('style.load (on idle)', mappy.querySourceFeatures('croniken_og_json'))-->
  });
  
  mappy.on('load', function(){
    hilited = null
    mappy.addSource('empty', {
      type: 'geojson',
      data: { type: 'FeatureCollection', features: [] }
    });
    
    const zIndex2 = mappy.addLayer({
      id: 'z-index-2',
      type: 'symbol',
      source: 'empty'
    });
    
    const zIndex1 = mappy.addLayer({
      id: 'z-index-1',
      type: 'symbol',
      source: 'empty'
    }, 'z-index-2'); // place this layer below zIndex2

    addSources(ds_list)
    <!--console.log('map loaded, ds_list',ds_list)-->

    layer_list = getLoadedLayers(ds_list)
    
    for (l in layer_list){
      mappy.on('mouseenter', layer_list[l], function () {
        mappy.getCanvas().style.cursor = 'pointer';
      });
       
      // Change it back to a pointer when it leaves.
      mappy.on('mouseleave', layer_list[l], function () {
        mappy.getCanvas().style.cursor = '';
      });

      mappy.on('click', layer_list[l], function (e) {
        <!--console.log('place:', e.features[0])-->
        place=e.features[0]
        var coordinates = e.features[0].geometry.coordinates.slice();
        var pid = e.features[0].properties.pid;
        var title = e.features[0].properties.title;
        var src_id = e.features[0].properties.src_id;
        var minmax = e.features[0].properties.minmax;
        var fc = e.features[0].properties.fclasses;
         
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }
        
        // highlight row
        <!--console.log('highlight row & fetch data', pid, coordinates)-->
          
        // popup
        new maplibregl.Popup()
          .setLngLat(coordinates)
          .setHTML(title+'<br/>(pid: '+pid+'; src_id: ' +src_id+')<br/>'+minmax+'; '+fc+'<br/>'+coordinates)
          .addTo(mappy);
      });
    }
  });

  function getLoadedLayers(ds_list){
    layers=[]
    for(d in ds_list){
      l = ds_list[d]['label']
      layers.push('gl_'+l+'_point')
      layers.push('gl_'+l+'_poly')
    }
    return layers
  }
  
  function addSources(ds_list){
    sources=[]
    for(d in ds_list){
      ds = ds_list[d]
      <!--countpoly=ds.geotypes['poly']-->
      // render regardless of number, but warn
      <!--if( countpoly > 1000){-->
        <!--$(".toomany").html(countpoly+' multipolygon features in '+ds.label+'...please wait').fadeIn()-->
        <!--startMapSpinner()-->
      <!--}-->
      $(".toomany").html('please wait...rendering polygons').show()
      startMapSpinner()
      mappy.addSource(ds.label, {
        'type': 'geojson',
        'data': '/datasets/'+ds.id+'/geojson'
      });
      sources.push(ds.label)
      // different color ramps by index
      <!--heat(ds.label, d)-->
      notHeat(ds.label, d)
      <!--}-->
    }
    spinner_map.stop()
  }
  
  function highlightFeatureGL(pid, geom, coords){
    console.log('highlightFeatureGL()')
    console.log('pid, geom, coords',pid, geom, coords)
      // remove previous
    <!--if(hilited){hilited.remove()}-->
    
    <!--hilited = new maplibregl.Marker().setLngLat(coords).addTo(map);-->
    
    <!--'circle-stroke-color': 'black',-->
    <!--'circle-stroke-width': 1,-->
  
    <!--mappy.setPaintProperty(-->
      <!--'gl_active_point', 'circle-radius', -->
        <!--{ 'property':'pid',-->
          <!--'type':'categorical',-->
          <!--'stops':[[pid, 12]]}-->
    <!--);-->
    <!--mappy.setPaintProperty(-->
      <!--'gl_active_point', 'circle-stroke-color', -->
        <!--{ 'property':'pid',-->
          <!--'type':'categorical',-->
          <!--'stops':[[pid, '#666']]}-->
    <!--);-->
    <!--mappy.setPaintProperty(-->
      <!--'gl_active_point', 'circle-stroke-width', -->
        <!--{ 'property':'pid',-->
          <!--'type':'categorical',-->
          <!--'stops':[[pid, 1]]}-->
    <!--);-->
    <!--mappy.setPaintProperty(-->
      <!--'gl_active_point', 'circle-color', -->
        <!--{ 'property':'pid',-->
          <!--'default':'#ff9900',-->
          <!--'type':'categorical',-->
          <!--'stops':[[pid,'red']]}-->
    <!--);-->
  
    <!--mappy.setPaintProperty(-->
      <!--'gl_active_point', 'circle-opacity', -->
        <!--{ 'property':'pid',-->
          <!--'default': 0.5,-->
          <!--'type':'categorical',-->
          <!--'stops':[[pid,1]]}-->
    <!--);-->
    // also set z-index and zoom
    
    // zoom to feature
    console.log('geom')
    if(geom.type.toLowerCase() == 'point'){
      flycoords = typeof(coords[0]) == 'number'?coords:coords[0]
      mappy.flyTo({'center': flycoords, 'zoom': 9})
    } else {
      bbox=turf.envelope(geom).bbox
      mappy.fitBounds(bbox)      
    }
    <!--flycoords = typeof(coords[0]) == 'number'?coords:coords[0]-->
    <!--flycoords = typeof(coords[0]) == 'number'?coords:coords[0][0]-->
    <!--console.log('flycoords', flycoords)-->
    <!--mappy.flyTo({'center': flycoords, 'zoom': 9})-->
    
  }

  mappy.on('click', 'gl_active_point', function (e) {
    <!--console.log('place:', e.features[0])-->
    place=e.features[0]
    var coordinates = e.features[0].geometry.coordinates.slice();
    var pid = e.features[0].properties.pid;
    var title = e.features[0].properties.title;
    var src_id = e.features[0].properties.src_id;
    var minmax = e.features[0].properties.minmax;
    var fc = e.features[0].properties.fclasses;
     
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
      coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }
    
    // highlight row
    console.log('highlight row & fetch data', pid, coordinates)
      
    // popup
    new maplibregl.Popup()
      .setLngLat(coordinates)
      .setHTML(title+'<br/>(pid: '+pid+'; src_id: ' +src_id+')<br/>'+minmax+'; '+fc)
      .addTo(mappy);
  });

  // activate all tooltips
  $("[rel='tooltip']").tooltip();
  
  colors=['#ff9900','red','green','blue']

  function notHeat(dslabel, i){
    console.log('notHeat() adding for', dslabel)
    startMapSpinner()
    mappy.addLayer({
      'id': 'gl_'+dslabel+'_poly',
      'type': 'fill',
      'source': dslabel,
      'visibility': 'visible',
      'paint': {
        'fill-color': '#ddd',
        'fill-opacity': 0.2,
        'fill-outline-color': 'black'
      },
      'filter': ['==', '$type', 'Polygon']
    }, 'z-index-1');
    
    mappy.addLayer({
      'id': 'gl_'+dslabel+'_point',
      'type': 'circle',
      'source': dslabel,
      'visibility': 'visible',      
      'paint': {
        'circle-color': colors[i],
        'circle-radius': {
          stops: [[1, 2], [3, 3], [16, 20]]
        }        
      },
      'filter': ['==', '$type', 'Point']
    }, 'z-index-2');  
  }

  // render heatmap layer
  function heat(dataset, ramp) {
	  console.log('heat('+dataset+', '+ramp+')')
	  <!--if (!!gl.getLayer('heat_active')){-->
		  <!--gl.removeLayer('heat_active')-->
    <!--}-->
	  <!--ne_global.getMapboxMap().addLayer({-->
	  mappy.addLayer({
      "id": "heat_"+dataset,
      "type": "heatmap",
      "source": dataset,
      "maxzoom": 9,
      "paint": {
          // Increase the heatmap weight based on frequency and property magnitude
        "heatmap-weight": ["interpolate", ["linear"], ["get", "mag"], 0, 0, 6, 1 ],
        // Increase the heatmap color weight weight by zoom level
        // heatmap-intensity is a multiplier on top of heatmap-weight
        "heatmap-intensity": ["interpolate", ["linear"],["zoom"], 0, 1, 9, 3 ],
        // Color ramp for heatmap.  Domain is 0 (low) to 1 (high).
        // Begin color ramp at 0-stop with a 0-transparancy color
        // to create a blur-like effect.
        "heatmap-color": heatramps[ramp],
        // Adjust the heatmap radius by zoom level
        "heatmap-radius": ["interpolate", ["linear"], ["zoom"], 0, 2, 9, 20 ],
        // Transition from heatmap to circle layer by zoom level
        "heatmap-opacity": ["interpolate", ["linear"], ["zoom"], 7, 1, 9, 0 ],
      }
    });    
  }
  
  // add heatmap source for each dataset unless it's a polygon layer
  function addHeatSources(ds_list){
    heatsources=[]
    for(d in ds_list){
      ds = ds_list[d]
      if(ds.geotypes['poly'] < 200){
        gl.addSource(ds.label, {
          'type': 'geojson',
          'data': '/datasets/'+ds.id+'/geojson'
        });
        heatsources.push(ds.label)
        // different color ramps by index
        heat(ds.label, d)
      }
    }
    spinner_map.stop()
  }
  
  // show/hide dataset markers from dropdown
  // TODO: this seems inefficient but works
  function filterMap(key){
    console.log('filter on ds', key)
    if(key == -1){
      for(l in layer_list){
        mappy.setLayoutProperty(layer_list[l],'visibility','visible')
        mappy.flyTo({'center': [9.2, 33], 'zoom':0.2})
      }      
    } else {
      relevant = layer_list.filter(l => l.indexOf(key) !=-1)
      others = layer_list.filter(l => !relevant.includes(l))
      for(l in others){
        mappy.setLayoutProperty(others[l],'visibility','none')
      }
      for(l in relevant){
        mappy.setLayoutProperty(relevant[l],'visibility','visible')
      }
      bounds = ds_list.find((o) => { return o['label'] === key }).bbox
      console.log('bounds',bounds)
      mappy.fitBounds(turf.envelope(bounds).bbox)
    }
  }

  function getPlace(pid, from){
    // from = ['row0'|'clicked'|'popup']
    <!--console.trace('getPlace()')-->
    $.ajax({
      url: "/api/place/"+pid,
      }).done(function( data ) {
        // if geom is polygon, make feature & add to map if not initial table.draw()
        <!--gfoo = data.geoms[0]-->
        <!--polygons.clearLayers() // always clear-->
        <!--if(from != 'row0' && gfoo.type.toLowerCase().search('poly') > 0){-->
          <!--console.log("polygon, add to map")-->
          <!--let feat = L.geoJSON(gfoo);-->
          <!--polygons.addLayer(feat)-->
          <!--mappy.fitBounds(feat.getBounds())-->
        <!--}-->
        $("#detail").html(parsePlace(data))
        spinner_detail.stop()
        // events on detail items
        $('.ext').on('click', function(e) {
          e.preventDefault();
          str=$(this).text()
          <!--console.log('str (identifier)',str)-->
          // URL identifiers can be 'http*' or an authority prefix
          if(str.substring(0,4).toLowerCase() == 'http'){
            url = str
          } else {
            var re = /(http|bnf|cerl|dbp|gn|gnd|gov|loc|pl|tgn|viaf|wd|wdlocal|whg|wp):(.*?)$/;
            url=base_urls[str.match(re)[1]]+str.match(re)[2] 
            console.log('url',url)
          }
          window.open(url, '_blank');
        });
        $('.exttab').on('click', function(e) {
          e.preventDefault();
          id=$(this).data('id')
          console.log('id',id)
          var re = /(http|dbp|gn|tgn|wd|loc|viaf|aat):(.*?)$/;
          url=id.match(re)[1]=='http' ? id : base_urls[id.match(re)[1]]+id.match(re)[2]
          console.log('url',url)
          window.open(url,'_blank')
        });
    });
  }

  // single column
  function parsePlace(data) {
    window.featdata = data
    
    function onlyUnique(array) { 
      const map = new Map();
      const result = [];
      for (const item of array) {
        if(!map.has(item.identifier)){
            map.set(item.identifier, true);
            result.push({
                identifier: item.identifier,
                type: item.type,
                aug: item.aug
            });
        }
      }
      return(result)
    }
    <!--timespan_arr = []-->
    //
    // TITLE 
    descrip = '<p><b>Title</b>: <span id="row_title" class="larger text-danger">'+data.title+'</span>'
    //
    // NAME VARIANTS
    descrip+='<p class="scroll65"><b>Variants</b>: '
    for (n in data.names) {
      let name = data.names[n]
      descrip+= '<p>'+name.toponym !=''?name.toponym+'; ': ''
    }
    //
    // TYPES
    // may include sourceLabel:"" **OR** sourceLabels[{"label":"","lang":""},...]
    // console.log('data.types',data.types)
    //{"label":"","identifier":"aat:___","sourceLabels":[{"label":" ","lang":"en"}]}
    descrip+='</p><p><b>Types</b>: '
    typeids = ''
    for (t in data.types) {
      str = ''
      var type = data.types[t]
      if('sourceLabels' in type){
        srclabels = type.sourceLabels
        for(l in srclabels){
          label = srclabels[l]['label']
          str = label !='' ? label + '; ' : ''
        }
      } else if ('sourceLabel' in type) {
        str = type.sourceLabel !='' ? type.sourceLabel + '; ' : ''
      }
      if(type.label!=''){ str += url_exttype(type) + ' ' }
      typeids+=str
    }
    descrip += typeids.replace(/(; $)/g, "") +'</p>'
    
    //
    // LINKS
    // 
    descrip += '<p class="mb-0"><b>Links</b>: '
    close_count = added_count = related_count = 0
    html = ''
    if (data.links.length > 0) {
      links=data.links
      links_arr = onlyUnique(data.links)
      <!--console.log('distinct data.links',links_arr)-->
      for (l in links_arr) {
        descrip += url_extplace(links_arr[l].identifier)
      }
    } else { descrip += "<i class='small'>no links established yet</i>" }
    descrip += '</p>'

    //
    // RELATED
    <!--right=''-->
    if (data.related.length > 0) {
      parent='<p class="mb-0"><b>Parent(s)</b>: '; 
      related='<p class="mb-0"><b>Related</b>: ';
      for (r in data.related){
        rel = data.related[r]
        <!--console.log('rel',rel)-->
        if (rel.relation_type == 'gvp:broaderPartitive'){
          parent += '<span class="small h1em">'+rel.label
          parent += 'when' in rel && !('timespans' in rel.when) ? 
            ', '+rel.when.start.in+'-'+rel.when.end.in : 
            'when' in rel && ('timespans' in rel.when) ? ', '+
              minmaxer(rel.when.timespans) : ''
              <!--rel.when.timespans : ''-->
          parent += '</span>; '
        } 
        else {
          related += '<p class="small h1em">'+rel.label+ ', '+rel.when.start.in+'-'+rel.when.end.in+'</p>'
        }
      }
      descrip+=parent.length > 39 ? parent :''
      descrip+=related.length > 37 ? related :''
    }
    //
    // DESCRIPTIONS
    // TODO: link description to identifier URI if present
    if (data.descriptions.length > 0) {
      val = data.descriptions[0]['value'].substring(0,300)
      descrip+='<p><b>Description</b>: '+(val.startsWith('http')?'<a href="'+val+'" target="_blank">Link</a>':val)
        +' ... </p>'
        <!--'<br/><span class="small red-bold">('+data.descriptions[0]['identifier']+')</span>-->
    }
    //
    // CCODES
    //
    <!--if (data.ccodes.length > 0) {-->
    if (!!data.countries) {
      <!--console.log('data.countries',data.countries)-->
      descrip+='<p><b>Modern country bounds</b>: '+ data.countries.join(', ')+'</p>'
    }
    //
    // MINMAX
    //
    if(data.minmax && data.minmax.length>0){
      descrip += '<p><b>When</b>: earliest: '+data.minmax[0]+'; latest: '+data.minmax[1]    
    }
    descrip += '</div>'
    return descrip
  }
  // builds link for external place record
  function url_extplace(identifier) {
    // abbreviate links not in aliases.base_urls
    if(identifier.startsWith('http')) {
      let tag = identifier.replace(/.+\/\/|www.|\..+/g, '')
      link = '<a href="'+identifier+'" target="_blank">'+tag+'{% fontawesome_icon 'external-link' color='#336699' %},  </a>'          
    } else {
    link = '<a href="" class="ext" data-target="#ext_site">'+identifier+'&nbsp;{% fontawesome_icon 'external-link' color='#336699' %}</a>, '    
    }
    return link
  }
  
  // builds link for external placetype record
  function url_exttype(type) {
    link = ' <a href="#" class="exttab" data-id='+type.identifier+
      '>('+type.label+' {% fontawesome_icon 'external-link' color='#336699' %})</a>'
    return link
  }

  // [ greenish, redish]
  var heatramps = [
    ["interpolate",["linear"],["heatmap-density"],
    0,"rgba(237,248,251,0)",0.2,"rgb(204,236,230)",0.4,"rgb(153,216,201)",0.6,
    "rgb(102,194,164)",0.8,"rgb(44,162,95)",1,"rgb(0,109,44)"],

    ["interpolate",["linear"],["heatmap-density"],
    0,'rgba(254,240,217,0)',0.2,'rgb(253,212,158)',0.4,'rgb(253,187,132)',0.6,
    'rgb(252,141,89)',0.8,'rgb(227,74,51)',1,'rgb(179,0,0)'],
    
    ["interpolate",["linear"],["heatmap-density"],
    0,'rgba(246,239,247,0)',0.2,'rgb(208,209,230)',0.4,'rgb(166,189,219)',0.6,
    'rgb(103,169,207)',0.8,'rgb(28,144,153)',1,'rgb(1,108,89)'],
    
    ["interpolate",["linear"],["heatmap-density"],
    0,'rgba(237,248,251,0)',0.2,'rgb(191,211,230)',0.4,'rgb(158,188,218)',0.6,
    'rgb(140,150,198)',0.8,'rgb(136,86,167)',1,'rgb(129,15,124)'],    
  ]
    
  styles = {
    "Point": {
      "default": {radius: 2, fillColor:"#ff9900", fillOpacity: 0.8, stroke: false},
      "focus": {radius:8, fillColor:"#ffff00",fillOpacity:1, stroke:true, weight:1,color:"#000"}},
    "MultiPoint": {
      "default": {radius: 1, fillColor:"#ff9900", fillOpacity: 0.8, stroke: false},
      "focus": {radius:8, fillColor:"#ffff00",fillOpacity:1, stroke:true, weight:1,color:"#000"}},
    "LineString": {
      "default":{opacity: 1, weight: 1, color: "#336699"},
      "focus":{opacity: 1, weight: 2, color: "blue"}},
    "MultiLineString": {
      "default":{opacity: 1, weight: 1, color: "#336699"},
      "focus":{opacity: 1, weight: 2, color: "blue"}},
    "MultiPolygon": {
      "default":{fillOpacity: 0.3, opacity: 1, color: "#000", weight: 1, fillColor:"#ff9999"},
      "focus":{fillOpacity: 0.3, opacity: 1, color: "red", weight: 2, fillColor:"#ff9999"}},
    "Polygon": {
      "default":{fillOpacity: 0.3, opacity: .5, color: "#666", weight: 1, fillColor:"#ff9999"},
      "focus":{fillOpacity: 0.3, opacity: .5, color: "red", weight: 2, fillColor:"#ff9999"}}
  }
  
  function minmaxer(timespans){
    <!--console.log('got to minmax()',JSON.stringify(timespans))-->
    starts=[]; ends=[]
    for (t in timespans){
      // gets 'in', 'earliest' or 'latest'
      starts.push(Object.values(timespans[t].start)[0])
      ends.push(!!timespans[t].end ? Object.values(timespans[t].end)[0] : -1)
    } 
    <!--console.log('starts',starts,'ends',ends)-->
    minmax=[Math.max.apply(null, starts),Math.max.apply(null, ends)]
    return minmax
  }

  // spinners
  spin_opts = { scale: .5, top: '60%'}
  function startTableSpinner(){
    window.spinner_table = new Spin.Spinner(spin_opts).spin();
    $("#drftable_list").append(spinner_table.el);   
  }
  function startFilterSpinner(){
    window.spinner_filter = new Spin.Spinner(spin_opts).spin();
    $("#status_filter").append(spinner_filter.el);   
  }
  function startDetailSpinner(){
    window.spinner_detail = new Spin.Spinner(spin_opts).spin();
    $("#row_detail").append(spinner_detail.el);   
  }
  function startMapSpinner(){
    <!--console.log('startMapSpinner()')-->
    window.spinner_map = new Spin.Spinner(spin_opts).spin();
    <!--$("#map").append(spinner_map.el);   -->
    $(".toomany").append(spinner_map.el);   
  }
  //*
  

</script>
{% endblock %}


  <!--// initiate map, fetch data -> renderMap()-->
  <!--addEventListener('map:init', function (e) {-->
    <!--window.mappy = e.detail.map-->
    <!--mappy.options.zoomSnap = 0.3-->
    <!--mappy.options.zoomDelta = 0.3-->
    <!--mappy.options.maxZoom = 12-->
    <!--mappy.options.zoomControl = true-->
    <!--mappy.setView(new L.LatLng(32, 12.6), 1);-->

    <!--<!--console.log('map:init begin')-->-->
    <!--var token_mb = '{ mbtokenmb }}',-->
      <!--token_kg = '{ mbtokenkg }}',-->
      <!--mbstyle_url = 'https://api.mapbox.com/styles/v1/{id}/tiles/256/{z}/{x}/{y}?access_token={token}';-->
      
    <!--// gl base can have heat overlays-->
    <!--ne_global= L.mapboxGL({-->
      <!--style:'mapbox://styles/kgeographer/ckidglq8l2nra19nzzbl995ue',-->
      <!--<!--accessToken:token_kg}).addTo(mappy)-->-->
      <!--accessToken:token_kg})-->

    <!--<!--gl=ne_global.getMapboxMap().on('load',function(){-->-->
      <!--<!--addHeatSources(ds_list)-->-->
    <!--<!--})-->-->

    <!--var satellite  = L.tileLayer(mbstyle_url, {id:'mapbox/satellite-streets-v11', token:token_mb})-->
    <!--var osm  = L.tileLayer(mbstyle_url, {id:'mapbox/light-v10', token:token_mb})-->
    
    <!--baseLayers = {-->
      <!--"OSM": osm,-->
      <!--"NE global": ne_global,-->
      <!--"Satellite": satellite-->
    <!--};-->
    
    <!--mappy.setMaxBounds(null)-->
    <!--L.control.layers(baseLayers).addTo(mappy);-->
    
    <!--<!--baseLayers['NE global'].addTo(mappy)-->-->
    <!--baseLayers['OSM'].addTo(mappy)-->
    
    <!--polygons = L.featureGroup().addTo(mappy)-->
    <!--// fetch collection features -> renderMap() if < 15,000-->
    <!--// getting only points and multipoints here-->
    <!--// polygons will be fetched on click of a table row-->
    <!--var rowcount = "{ object.rowcount }}"-->
    <!--if( rowcount >= 15000) {-->
      <!--$(".toomany").html('for performance reasons, mapping only the first 15,000 features - sorry!').fadeIn(500)-->
    <!--} else if(rowcount > 1000){-->
        <!--console.log('count > 1000, .toomany should appear')-->
        <!--$(".toomany").html('rendering '+rowcount+' features, just a few moments...').fadeIn(500)-->
    <!--}-->
    <!--console.log('toomany html', $(".toomany").html())-->
    <!--$.get("/api/geoms", {coll: "{{ object.id }}"},function(data){-->
        <!--console.log('success: data.count:',data.count)-->
        <!--geom = {"type":"FeatureCollection","features":data.results}-->
        <!--renderMap(geom,'browse')-->
        <!--$(".toomany").fadeOut(1200)-->
      <!--}-->
    <!--)-->
    
    <!--function manualPrint() {-->
        <!--printer.printMap('CurrentSize', 'MyManualPrint')-->
    <!--}-->
  <!--}, false);-->
  
  <!--// -->
  <!--function renderMap(geom){-->
    <!--console.log('renderMap()')-->
    <!--let count = geom.features.length-->
    <!--if (count==0) {-->
      <!--console.log('no features in renderMap() call')-->
    <!--} else {-->
    
      <!--// colors per dataset; 3 max so far-->
      <!--dsids = []-->
      <!--geom.features.forEach(function(f){dsids.push(f.ds)})-->
      <!--dsids = dsids.filter((e, i) => dsids.indexOf(e) === i);-->
      <!--dscolors = {}-->
      <!--colors = ["#f03b20", "#ef8a62", "#762a83", "#1a9850"] // red, orange, purple, green-->
      <!--for(d in dsids){-->
        <!--dscolors[dsids[d]] = colors[d]-->
      <!--}-->
      <!--// clear existing features if any-->
      <!--if(typeof(features)!=='undefined'){-->
        <!--mappy.removeLayer(features)-->
      <!--}-->
      <!--idToFeature = {}  // for feature lookup-->
      <!--mapLayerGroups = []-->
      <!--features = L.geoJSON(geom, {-->
      <!--// feature here is a geometry-->
      <!--// TODO: LPF should allow single geometry, not only GeometryCollection-->
        <!--pointToLayer: function (feature, latlng) {-->
          <!--matchid = feature.place_id-->
          <!--<!--console.log('feature',feature)-->-->
          <!--<!--marker = L.circleMarker(latlng,styles.Point.default).bindPopup(feature.title+-->-->
          <!--marker = L.circleMarker(latlng,{-->
            <!--radius: 2, fillColor:dscolors[feature.ds], -->
            <!--fillOpacity: 0.8, stroke: false}).bindPopup(feature.title+-->
            <!--'<br>pid: <a href="javascript:getPlace('+matchid+')">'+matchid+'</a>'-->
            <!--);-->
          <!--idToFeature[matchid] = marker-->
          <!--return marker-->
        <!--}-->
        <!--,onEachFeature: function(feature, layer) {-->
          <!--f=feature; l=layer;-->
          <!--<!--console.log('f,l',feature,layer)-->-->
          <!--// create and populate layerGroup per dataset-->
          <!--var lg = mapLayerGroups[feature.ds];-->
          <!--if (lg === undefined) {-->
            <!--<!--lg = new L.layerGroup();-->-->
            <!--lg = new L.featureGroup();-->
            <!--lg.addTo(mappy);-->
            <!--mapLayerGroups[feature.ds] = lg;-->
          <!--}-->
          <!--//add the layer to the group-->
          <!--lg.addLayer(layer);-->

          <!--identifier = feature.place_id;-->
          <!--// .toLowerCase().search('poly')-->
          <!--if(f.type.toLowerCase() != 'Point'){-->
            <!--<!--layer.setStyle(styles[f.type].default).bindPopup(f.title+-->-->
            <!--layer.setStyle({radius: 2, fillColor:dscolors[feature.ds], -->
              <!--fillOpacity: 0.6, stroke: false}).bindPopup(f.title+-->
            <!--'<br>pid: <a href="javascript:getPlace('+matchid+')">'+matchid+'</a>'-->
            <!--)-->
            <!--idToFeature[identifier] = layer-->
          <!--}-->
        <!--}-->
      <!--});-->
      <!--// defer adding -->
      <!--<!--}).addTo(mappy);-->-->
      <!--spinner_map.stop()-->
      <!--$(".toomany").fadeOut()-->
    <!--}-->
    <!--<!--highlightFeature(pid)-->-->
    <!--<!--mappy.fitBounds(features.getBounds())-->-->
    <!--mappy.on('zoomend', function() {-->
      <!--var currentZoom = mappy.getZoom();-->
      <!--<!--console.log('on zoomend', currentZoom)-->-->
      <!--var myRadius = currentZoom*(1); //or whatever ratio you prefer-->
      <!--var myWeight = currentZoom*(1/5); //or whatever ratio you prefer-->
      <!--features.setStyle({radius: myRadius, weight: myWeight});-->
      
      <!--<!--opt = Object.values(idToFeature)[0].options-->-->
      <!--<!--foptions = { ...opt };-->-->
      <!--<!--console.log('zoomend() idToFeature',opt)-->-->
    <!--});-->
    <!--// grabs layer options for first feature; used when highlighting selected -->
    <!--opt = Object.values(idToFeature)[0].options-->
    <!--foptions = { ...opt };-->
  <!--}-->
  <!--// generic -->
  <!--function zoomTo(pid) {-->
    <!--console.log('zoomTo()',pid)-->
    <!--l = idToFeature[pid]-->
    <!--ftype=l.feature.geometry.type-->
    <!--<!--console.log('zoomTo() pid, ftype',pid, ftype)-->-->
    <!--if (ftype=='Point'){-->
       <!--mappy.setView(l._latlng, 7 )-->
    <!--} else {-->
      <!--mappy.fitBounds(l.getBounds(), {padding:[100,100]})-->
    <!--}-->
  <!--}-->

  <!--// highlight on select in table-->
  <!--function highlightFeature(pid){-->
    <!--console.log('highlightFeature()', pid)-->
    <!--if(typeof(idToFeature) != 'undefined'){-->
      <!--if(pid in idToFeature){-->
        <!--feat = idToFeature[pid]-->
        <!--ftype = feat.feature.geometry.type-->
        
        <!--// reset style of last if there is a last-->
        <!--if(typeof(last)!='undefined'){-->
          <!--last[0].setStyle(styles[last[1]].default)-->
        <!--}-->

        <!--// highlight this one-->
        <!--feat.setStyle(styles[ftype].focus)-->
        <!--feat.bringToFront()-->
        
        <!--zoomTo(pid)-->
        
        <!--last = [feat, ftype]-->
      <!--} else {-->
        <!--// not in idToFeature means it's a polygon; fetch it-->
        
        <!--features.setStyle(foptions)-->
      <!--}-->
    <!--}    -->
  <!--}-->

  <!--function renderData(dsid){-->
    <!--startMapSpinner()-->
    <!--// clear any data layers and 'places' source-->
    <!--if(!!mappy.getLayer('gl_active_point')){-->
      <!--mappy.removeLayer('gl_active_point')-->
      <!--mappy.removeLayer('gl_active_poly')-->
      <!--mappy.removeSource('places')-->
    <!--}-->
    <!--// fetch data-->
    
    <!--$.get("/api/geoms", {coll: "{{ object.id }}"},function(data){-->
      <!--features = data.features-->
      <!--console.log('data', data)-->
      <!--// get bounds w/turf-->
      <!--<!--envelope = turf.envelope(data)-->-->
      <!--<!--console.log(envelope)-->-->
      
      <!--// add source 'places' w/retrieved data-->
      <!--mappy.addSource('places', {-->
          <!--'type': 'geojson',-->
          <!--'data': data-->
      <!--})-->
      
      <!--// render to map-->
      <!--mappy.addLayer({-->
        <!--'id': 'gl_active_poly',-->
        <!--'type': 'fill',-->
        <!--'source': 'places',-->
        <!--'paint': {-->
          <!--'fill-color': '#ddd',-->
          <!--'fill-opacity': 0.2,-->
          <!--'fill-outline-color': 'black'-->
        <!--},-->
        <!--'filter': ['==', '$type', 'Polygon']-->
      <!--}, 'z-index-1');-->
      
      <!--mappy.addLayer({-->
        <!--'id': 'gl_active_point',-->
        <!--'type': 'circle',-->
        <!--'source': 'places',-->
        <!--'paint': {-->
          <!--'circle-color': '#ff9900',-->
          <!--'circle-radius': {-->
            <!--stops: [[1, 2], [3, 3], [16, 20]]-->
          <!--}        -->
        <!--},-->
        <!--'filter': ['==', '$type', 'Point']-->
      <!--}, 'z-index-2');  -->
        
      <!--<!--mappy.fitBounds(envelope.bbox)-->-->
      <!--spinner_map.stop()-->
      
    <!--})-->
  <!--}-->

