<!-- areas/area_create.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}

{% load static %}
{% load dataset_extras %}
{% block title %}<title>WHG::Create/Update Collection Group</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="{% static 'js/tags/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'js/tags/bloodhound.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput.css' %}"/>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput-typeahead.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  <h4 class="mt-3">
    {% if action == 'update' %}
        Update Collection Group
        <span class="text-danger">"{{ form.title.value }}"</span>
        <a href="{% url 'collection:collection-group-delete' object.id %}" class="float-end small"
        title="Delete group" rel="tooltip" style="margin-top:-2px;">
        <i class="fas fa-trash linkyred"></i></a>
    {% else %}
        Create Collection Group
    {% endif %}
  </h4>
{#  <div class="flex row">#}
  <div class="d-flex container row">
    <div class="form-box mt-2 col-sm-4">
        {% if action == 'update' %}
        <form id="cg_form" method="POST" action="{% url 'collection:collection-group-update' object.id %}" enctype="multipart/form-data">
        {% else %}
        <form id="cg_form" method="POST" action="{% url 'collection:collection-group-create' %}" enctype="multipart/form-data">
        {% endif %}
      {% csrf_token %}
      <input type="hidden" name="owner" value='{{ user.id }}' />
      {% if action == 'update' %}
      {% endif %}
      <p>Title<br/>{{ form.title }}</p>
      <p><span class="top">Description</span><br/>{{ form.description }}</p>
      <p><span class="top">Keywords</span><br/>{{ form.keywords }}</p>
      <p><span class="top">Start date</span><br/>{{ form.start_date }}</p>
      <p><span class="top">Due date</span><br/>{{ form.due_date }}</p>
      <hr/>
      <input class="btn-sm btn-primary mt-2" type="submit" value="Save" id="b_save"/>
      <span title="back"><a href="{% url 'accounts:profile' %}">Cancel</a></span>
    </form>
    </div>
    <div class="col-sm-4 mt-2">
        <h5 class="sharing-header">Members
            <span class="float-end float-end-padded small">
                <a href="#" id="l_addusers">
                    <i class="fas fa-plus-square linky"></i></a>
            </span>
        </h5>
        <div id="div_addusers" class="mb-3">
            <form id="f_addusers">{% csrf_token %}
            <input class="form-control form-control-sm" id="userfile" type="file">
{#            <input class="form-control form-control-sm" id="formFileSm" type="file">#}
            <div id="addusers_info" class="form-text">
              To create multiple WHG users as group members, upload a .csv file with two columns: 'email', and 'full_name'.
            </div>
            <button class="btn btn-sm btn-primary" type="submit">Upload</button>
            </form><hr/>
        </div>
        <div id="results_text"></div>
        <div id="members_content">
            <ul class="small">
            {% for m in members.all %}
                <li>{{ m.user.name }} ({{ m.user.email }})</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-4 mt-2">
        <h5 class="sharing-header">Submitted Collections</h5>
        <div id="collections_content">
            <ul class="small">
            {% for m in collections.all %}
                <li><a href="{% url 'collection:ds-collection-summary' m.id %}">{{ m.title }}</a> ({{ m.owner.name }})</li>
            {% endfor %}
            </ul>
        </div>
    </div>
  </div> <!-- d-flex -->
</div> <!-- container -->

<script type="text/javascript">
  $(function() {
      $("#l_addusers").click(function(){
        $("#div_addusers").toggle()
        {#$("#div_addusers").removeClass('hidden')#}
      })
  })
  // submit file with new users
  //
  $(document).on('submit', '#f_addusers', function(e){
    e.preventDefault()
    var formData = new FormData();
    formData.append('file', $('#userfile')[0].files[0]);
    formData.append('cgid', '{{ object.id }}');
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    console.log('ajax on submit file', $('#userfile')[0].files[0])
    {##}
    $.ajax({
        type: 'POST',
        enctype: 'multipart/form-data',
        url: '/accounts/addusers/',
        processData: false,
        contentType: false,
        cache: false,
        data: formData,
        success: function (data) {
            html = data['new_users']
            console.log('data returned', data)
            $("#results_text").html(html)
        }
    })
        {#if('failed' in data){#}
        {#  errors = data['failed']['errors']#}
        {#  html = '<b class="text-danger">Data validation issue(s):</b> <ul class="ul-flush">'#}
        {#  for(var i=0; i<errors.length; i++){#}
        {#    html += '<li class="li-flush">'+errors[i]+'</li>'#}
        {#  }#}
        {#  html+='</ul><p>Please correct and try again</p>'#}
        {# } else {#}
        {#    html = data#}
          {#html = '<b>Current file</b>: <i>'+data['filename_cur']+'</i><br/>'#}
          {#html += '<b>New file</b>: <i>'+data['filename_new']+'</i><br/>'#}
          {#html += '<b>New temp file</b>: <i>'+data['tempfn']+'</i><br/>'#}
          {#html += '<b>Indexed?</b>: <i>'+(data['count_indexed']>0?"Yes":"No")+'</i><br/>'#}
          {#html += '<b>Validation result</b>: <i>' +#}
          {#  (data['validation_result']['errors'].length <1?'format valid':data['validation_result']['errors'])+'</i><hr/>'#}
          {#html += comparisonText(data)#}
          {#$("#btn_update").removeClass('hidden')#}
        {# } {# success #}
        {#$("#loadfile").addClass('hidden')#}
        {#$("#results_text").html(html)#}
        {#compare_data=data#}
      {# }#}
     {# }) {# ajax #}
  })

</script>

{% endblock %}

