{% extends "main/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load fontawesome %}
{% load mathfilters %}
{% load dataset_extras %}

{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
	<script src="{% static 'js/clipboard.min.js' %}"></script>
  <script src="{% static 'js/aliases.js' %}"></script>
  <!--<script src="{ static 'js/leaflet-heat.js' %}"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/spin.css' %}"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/cr-1.5.3/fh-3.1.8/sc-2.0.3/sp-1.2.2/sl-1.3.3/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/cr-1.5.3/fh-3.1.8/sc-2.0.3/sp-1.2.2/sl-1.3.3/datatables.min.js"></script>

  <script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>
	<script src="{% static 'celery_progress/celery_progress.js' %}"></script>

  <link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />

  <!--<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />-->
  <!--<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>-->
  <script src="{% static 'js/leaflet-mapbox-gl.js' %}"></script>

  <style>
		.red-head-anno {font-size: smaller; color: #993333;}
		.modal-custom {max-width: inherit;}
  </style>
{% endblock %}

{% block title %}<title>Collection::{{ object.title }}</title>{% endblock %}

{% block content %}
<div id="collection_content" class="container mt-1 px-1">
	<div id="collection_title">
		<h5><sr>{{object.title}}</sr>
			<span class="half ital text-secondary"> a place collection by {{ object.owner.first_name }} {{ object.owner.last_name }}</span>
		{% if user.id == object.owner.id or user.is_superuser or user in whgteam %}
			<span class="float-right smallish mr-2 pt-2">
				{% fontawesome_icon 'download' color='#336699' %}
				<a href="" id="a_download_modal" class="mr-2" data-collid = {{ object.id }} data-toggle="modal" data-target="#downloadModal" title="download options"> download options</a>
				<a href="{% url 'collection:place-collection-update' object.id %}" >edit
					{% fontawesome_icon 'gear' color='#336699' %}</a>
			</span>
		{% endif %}
		</h5>
	</div> <!-- #collection_title -->
  {{ ds_list|json_script:"ds_list" }}
  {{ bboxes|json_script:"bboxes" }}
  <div class="container mt-3 pl-0">
    <div class="row">
      <div id="drftable_detail" class="col-sm-8">
        <div class="toomany hidden text-danger small"></div>
	      <div id="coll_meta">
	        <div class="row">
		        <div class="col-sm-8">
		          <p class="mb-1">{{ object.description|readmore:400|safe }}</p>
			        <table>
			        {% if object.keywords %}
			          <tr><td><b>Keywords</b></td><td>{{ object.keywords|join:', ' }}</td></tr>
			        {% endif %}
			        {% if object.file %}
				        <tr>
					        <td><b>Essay</b></td>
					        <td>
						        <a href="/media/{{ object.file }}" target="_blank"> {% fontawesome_icon 'file-pdf-o' %}
						        {{ object.file.name|filename }}</a>
					        </td>
				        </tr>
			        {% endif %}
			        {% if object.webpage %}
				        <tr><td><b>Webpage</b></td><td>
				          <a href="{{object.webpage }}" target="_blank">link {% fontawesome_icon 'external-link' color='#336699' %}</a>
				        </td></tr>
			        {% endif %}
			        {% if object.contact %}
			          <tr><td><b>Contact</b></td><td>{{ object.contact|url_it|safe }}</td></tr>
			        {% endif %}
			          <tr><td><b>Created</b></td><td>{{ object.created|date:"d M Y" }}</td></tr>
		          {% if links|length > 0 %}
			          <tr><td>Links: </td>
			          <td>
				          {% for l in links %}
					          <a href="{{ l.uri }}" target="_blank">{{ l.label }}</a> ( a {{ l.link_type }});
				          {% endfor %}
			          </td>
		            </tr>
		          {% endif %}
			        </table>
		        </div>
		        <div class="col-sm-4" style="max-height: 200px;">
			        {% if object.image_file %}
				        <a href="#" class="pop">
			        <img class="img-responsive thumbnail" src="/media/{{ object.image_file.name }}" width="220px" />
				        </a>
			        {% else %}
			        <span><i>image here</i></span>
			        {% endif %}
		        </div>
	        </div>
	      </div>
        <div class="row pl-4">
          <div class="col-sm-8" style="padding:0 !important;">
            <div id="map" style="height:300px;"></div>
          </div>
          <div id="row_detail" class="col-sm-4">
            <div id="detail" class="small pl-2"></div>
          </div>
        </div>
      </div> <!-- drftable_detail -->
      <div id="drftable_list" class="col-sm-4 pl-0">
        {{ coll_places|slice:":10"}}
        <table id="placetable" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>pid</th>
              <th>title</th>
              <th>country</th>
              <th>dataset</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div id="ext_site" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span></button>
	        </div>
	        <div id="ext_content" class="modal-body">foo</div>
	      </div>
	    </div>
	  </div> <!-- ext_site -->
</div> <!-- .#collection_content -->

<div id="downloadModal" class="modal fade" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-85">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadModalLabel">{% fontawesome_icon 'download' color='#336699' %} Download options for the <span class="text-danger">{{ object.title }}</span> collection</h5>
      </div>
      <div class="modal-body container">
        <div class="dl-blurb">
          <p class="mb-1">Data uploaded as Linked Places format (LPF) are available only in that format. Data uploaded as LP-TSV (delimited text files or spreadsheets) can be downloaded as either <sr>LPF</sr> or <sr>LP-TSV</sr>.
          <!--Downloads totaling more than {n} records will be queued, and a notification email sent when completed.-->
          </p>
          <div id="dl_licensing"><p><sr>IMPORTANT LICENSING INFORMATION</sr>: Data made public in WHG by its creators are available under the Creative Commons Attribution 4.0 International (CC BY 4.0) License. They can be freely shared, re-used, and adapted, but "you <b>must</b> give appropriate credit, provide a link to the license, and indicate if changes were made." Please see <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY-4.0 details</a>; and <a href="{% url 'licensing' %}"target="_blank">WHG policy.</a> Citations are provided below. <b>By clicking download on this form, you are agreeing to those terms</b>.
          </p></div>
        </div>
        <div class="row">
          <div class="col-sm-8 pr-0 scroll-div">
            <p class="modal-col-head p-1 mb-2">Collection <small>({{ object.places_all.count }} total rows)</small></p>
            <p><a href="#" class="a-dl" data-collid={{ object.id }}>
	            <i class="fa fa-download" title="Download"></i> download entire collection</a></p>
            <p class="modal-col-head p-1 mb-2">Datasets represented <small>w/citations</small></p>
	          <p>
		          {% for d in ds_list %}
			          {{ d.title }}&nbsp;
	                <a id="cite_{{d.id}}" class="clippy" aria-label="{% if d.citation %}{{ d.citation }}{% else %}{{d.title}}. [Data file (partial), Retrieved from {{ url_front}}collections/{{object.id}}/browse_pl, {% now 'd M Y' %}{% endif %}" rel="tooltip" title="copy to clipboard"> citation: {% fontawesome_icon 'clipboard' color='#336699' %}</a><br/>
		          {% endfor %}
	          </p>
            <div id=""></div>
            <div id="celery-result"></div>
          </div>
          <div class="col-sm-4">
            <p class="modal-col-head p-1 mb-2">File Formats</p>
            <div class="p-1 small">
            <p class="my-1"><sr>Linked Places format (LPF)</sr> is JSON-based, valid GeoJSON and valid JSON-LD (rdf) with temporal extensions</p>
            <p class="my-1"><sr>LP-TSV downloads</sr> are tab-separated text files.</p>
            </div>
            <div id="progress-bar-message" class="hidden">Waiting for progress to start...</div>
            <span id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%; line-height:.5rem;">&nbsp;</span>
          </div>
        </div>
      <!--</form>-->
      </div> <!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary btn-cancel" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog d-flex modal-custom">
    <div class="modal-content flex-shrink-1 mx-auto h-auto w-auto ">
      <div class="modal-header"><span id="header_text"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img src="" class="imagepreview" style="max-height: 600px;">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	// image modal
  $('.pop').on('click', function() {
    url = $(this).find('img').attr('src')
    txt = $(this).find('img').attr('alt')
    re=/(.png|.jpg|.jpeg|.gif|.tif)/g
    {#ext=url.match(re)[0]#}
    {#url = url.replace(ext,'_full'+ext)#}
	  console.log('url', url)
    $("#header_text").html(txt)
    $('.imagepreview').attr('src', url);
    $('#imageModal').modal('show');
  });

  function showMore(){
    clicked = $(this)
	  $(".more").show()
    console.log('clicked $this',clicked)
    {#clicked.hide()#}
    $(".a_more").hide()
    {#clicked.parent().find("#dots").hide()#}
    $("#dots").hide()
    clicked.next().show()
    $(".a_less").show()
  }
  function showLess(){
    clicked = $(this)
    console.log('clicked less',clicked)
    clicked.hide() // hide 'less' link
    $(".more").hide() // hide the extra text again
    $("#dots").show() // show dots again
    $(".a_more").show() // show more link again
  }

	// TODO: this is a mess, refactor or add 1-to-many annotation link field
  // truncate anno note, looking for embedded links
	function readMore(text, numchars, innerlink='') {
    dots = '<span id="dots">...</span>'
		link = '<a href="#" class="a_more" onclick="showMore()">more</a><span class="more hidden">'
    if(text.length < numchars){
      {#return text + innerlink != ''?innerlink:''#}
      return innerlink != '' ? text + innerlink : text
    } else {
      return text.slice(0,numchars) + dots + link + text.slice(numchars,) + innerlink+
		      ' <a href="#" class="ml-2 a_less hidden" onclick="showLess()">less</a></span>'
    }
	}

  var clip_cite = new ClipboardJS('.clippy', {
    text: function(trigger) {
      return trigger.getAttribute('aria-label');
    },
    container: document.getElementById('downloadModal')
  });

  clip_cite.on('success', function(e) {
    eobj=e
    el=$("#"+e.trigger.getAttribute("id"))
    {#console.log('el',el)#}
    e.clearSelection();
    el.tooltip('hide')
      .attr('data-original-title', 'copied!')
      .tooltip('show');
  });

  // table events
  // TODO: use datatables methods?
  function setRowEvents(){
    $("#placetable tbody tr").click(function() {
      thisy=$(this)
      // get id
      pid=$(this)[0].cells[0].textContent
      ds_src=table.row(thisy.index()).data().dataset.label
      {#console.log('clicked row pid', pid, ds_src)#}
      
      geom = all_feats.find(function(f){return f.properties.pid==pid}).geometry
      coords = geom.coordinates
      {#console.log('pid, geom, coords', pid, geom, coords)#}

      // fetch its detail
      getPlace(pid, 'clicked')

      // highlight this row, clear others
      var selected = $(this).hasClass("highlight-row");
      $("#placetable tr").removeClass("highlight-row");
      
      if(!selected)
        $(this).removeClass( "rowhover" );
        $(this).addClass("highlight-row");

	    // only one source for this map: all collection features
      highlightFeatureGL(pid, geom, coords, 'all')

    }) 
        
    row = $("#drftable_list table tbody")[0].rows[0]
    pid = parseInt(row.cells[0].textContent)
    // highlight first row, fetch detail, but don't zoomTo() it
    $("#placetable tbody").find('tr').eq(0).addClass('highlight-row')
    // fetch place details for 1st row
    getPlace(pid, 'row0')
  }

  function startDownloadSpinner(){
    window.spinner_dl = new Spin.Spinner().spin();
    <!--$("#coll_dslist").append(spinner_dl.el);   -->
    $(".dl-table").append(spinner_dl.el);
  }

  $(function(){
    $(".btn-cancel").click(function(){$("#downloadModal").modal('hide') })

    clearEl = function(el){
      $("#progress-bar").fadeOut()
      el.html('')
    }

    dater = function(){
      const date = new Date(Date.now());
      return date.toISOString().substring(0,10)
    }

		// called from a-dl click()
    function customResult(resultElement, result) {
      {#console.log('celery result',result)#}
      {#console.log('celery resultElement',resultElement)#}
      spinner_dl.stop()
      fn = result.filename
      link = '[ <span class="dl-save"><a href="/'+fn+'" title="downloaded: '+dater()+
                '" download>save</a></span> ]'
      $( resultElement ).append(
        $('<p>').html(link)
      );
      $(".dl-save a")[0].click()
      setTimeout(clearEl($("#celery-result")), 1000)
    }

    // celery task for downloads; helper functions above
	  // TODO: tune this for place collections
	  function toggleNames(){
      $("#more_names").toggle()
	  }

    $(".a-dl").click(function(e){
          e.preventDefault()
          // startDownloadSpinner()
          dsid = $(this).data('id')
          collid = $(this).data('collid')
          {#console.log('collid, dsid', collid, dsid)#}
          urly='/datasets/dlcelery/'
          $.ajax({
              type: 'POST',
              url: urly,
              data: {
                  "format":'lpf',
                  "dsid":dsid,
                  "collid":collid,
                  "csrfmiddlewaretoken":"{{ csrf_token }}"},
              datatype:'json',
              success:function(response){
                  startDownloadSpinner()
                  task_id = response.task_id
                  var progressUrl = "/celery-progress/"+task_id+"/";
                  CeleryProgressBar.initProgressBar(progressUrl,
                      { pollingInterval: 500,
                          onResult: customResult,
                      }
                  )
              }
          })
      })

    var token_whg = '{{ mbtoken }}', token_mb = '{{ mbtoken }}';
    {#window.ds_list = JSON.parse(document.getElementById('ds_list').textContent);#}
    {#source_list = ds_list.map(function(d){ return d.label})#}
    {#window.layer_list = getLoadedLayers()#}

    // start spinners, some collections take time
    startMapSpinner()
    startTableSpinner()
    startDetailSpinner()

    var hideAllPopovers = function() {
       $('.pop-dataset').each(function() {
            $(this).popover('hide');
        });
    };

    var dspop = $(".pop-dataset").popover({
      trigger: 'focus',
      placement: 'right',
      html: true
    }).on('show.bs.popover', function () {
        $.ajax({
          url: '/api/datasets/',
          data: {id:$(this).data('id')},
          dataType: "JSON",
          async: false,
          success: function (data) {
            ds=data.results[0]
            {#console.log('ds',ds)#}
            html='<p class="thin"><b>Title</b>: '+ds.title+'</p>'
            html+='<p class="thin"><b>Description</b>: '+ds.description+'</p>'
            html+='<p class="thin"><b>WHG Owner</b>: '+ds.owner+'</p>'
            html+='<p class="thin"><b>Creator</b>: '+ds.creator+'</p>'
            dspop.attr('data-content', html);
          }
      });
    })

    // window.filter = "{{ filter }}"
    // initialize table
    // task columns are inoperable in this public view
    table = $('#placetable').DataTable({
      dom: "<'row'<'pl-3'f>>" +
      "<'row'<'col-sm-12'tr>>" +
      "<'row mt-1'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>"
      ,serverSide: true
      ,ajax: {
        url: "/api/placetable_coll/?format=datatables&id={{ object.id }}"
      }
      ,scrollY: 430
      ,select: true
      ,order: [[1, 'asc']]
      ,LengthMenu: [10, 25, 50, 100]
      ,columns: 
      [
          {"data": "id"},
          {"data": "title"},
          {"data": "ccodes"},
          {"data": "dataset.title"},
          {#{"data": "dataset.label", "name":"dataset.label"},#}
      ]
      ,columnDefs:[
        {#{ orderable: false, "targets": [4,5,6,7]},#}
        {#,{ visible: false, "targets": [1,4,5,6,7,11]}#}
        { searchable: false, "targets": [2,3]}
      ]
    })

    table.on( 'draw', function () {
      spinner_table.stop()
      setRowEvents();
      {#$("#drftable_list table tbody")[0].rows[0].click()#}
    })
    
    // help popups
    $(".help-matches").click(function(){
      page=$(this).data('id')
      {#console.log('help:', page)#}
      $('.selector').dialog('open');
    })

    $(".selector").dialog({
      resizable: false,
      autoOpen: false,
      height: 500,
      width: 700,
      title: "WHG Help",
      modal: true,
      buttons: { 'Close': function() {console.log('close dialog'); $(this).dialog('close');} },
      open: function(event, ui) {
        $('#helpme').load('/media/help/'+page+'.html')
      },
      show: {effect: "fade",duration: 400 },
      hide: {effect: "fade",duration: 400 }
    });

    // for collection description only
    $(".a_more_descrip").click(function(){
      clicked = $(this)
      clicked.hide()
      clicked.parent().find("#dots_descrip").hide()
      clicked.next().show()
      $(".a_less_descrip").show()
    })
    $(".a_less_descrip").click(function(){
      clicked = $(this)
      clicked.hide() // hide 'less' link
      $(".more_descrip").hide() // hide the extra text again
      $("#dots_descrip").show() // show dots again
      $(".a_more_descrip").show() // show more link again
    })

  })  // jquery onload()

  // gl map
  mappy = new maplibregl.Map({
    container: 'map', // container id
	  style:'mapbox://styles/mapbox/light-v10',
	  {#style:'mapbox://styles/kgeographer/ckidglq8l2nra19nzzbl995ue',#}
	  accessToken: '{{ mbtokenwhg }}',
    center: [9.2, 33],
    zoom: 0.2, // starting zoom
    minZoom: 0.1,
    maxZoom: 11,
  });

  //
  mappy.on('load', function(){
    hilited = null
	  // initiate layers for z-index
    mappy.addSource('empty', {
      type: 'geojson',
      data: { type: 'FeatureCollection', features: [] }
    });

		const zIndex4 = mappy.addLayer({
      id: 'z-index-4',
      type: 'symbol',
      source: 'empty'
    }); //top

    const zIndex3 = mappy.addLayer({
      id: 'z-index-3',
      type: 'symbol',
      source: 'empty'
    }, 'z-index-4'); // below zIndex4

    const zIndex2 = mappy.addLayer({
      id: 'z-index-2',
      type: 'symbol',
      source: 'empty'
    }, 'z-index-3');
    
    const zIndex1 = mappy.addLayer({
      id: 'z-index-1',
      type: 'symbol',
      source: 'empty'
    }, 'z-index-2'); // place this layer below zIndex2

	  // fetch geodata
	  {#renderData("{{ coll.id }}")#}
    addPlaces()
    {#addSources(ds_list)#}

    {#layer_list = getLoadedLayers(ds_list)#}
	  layer_list=['outline','gl_active_point','gl_active_line','gl_active_poly']
    // popup generating events per layer
    for (l in layer_list){
    {#  // TODO: allow clicking on polygons, denied here#}
	  {#  if(layer_list[l].indexOf('point') != -1){#}
        mappy.on('mouseenter', layer_list[l], function () {
          mappy.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        mappy.on('mouseleave', layer_list[l], function () {
          mappy.getCanvas().style.cursor = '';
        });

        mappy.on('click', layer_list[l], function (e) {
          clicked=e.features
	        console.log('e features', clicked)
					ftype = e.features[0].layer.type
	        gtype = e.features[0].geometry.type
          geom = e.features[0].geometry
          coords = e.features[0].geometry.coordinates
          place=e.features[0]
	        {#console.log('geom, coords', geom, coords)#}
	        if(ftype == 'point'){
            var coordinates = geom.coordinates.slice();
	         } else if (ftype == 'line'){
            // could be simple linestring
		        if(gtype=='LineString'){
              len = Math.round(geom.coordinates.length/2)
			        var coordinates = geom.coordinates[len]
		        } else {
              // MultiLineString
	            segment=turf.lineString(coords[Math.round(coords.length/2)])
	            len = turf.length(segment)
							var coordinates = turf.along(segment, len/2).geometry.coordinates
		        }
	         } else {
            var coordinates = turf.centroid(geom).geometry.coordinates
	        }
          var pid = e.features[0].properties.pid;
          var title = e.features[0].properties.title;
          var src_id = e.features[0].properties.src_id;
          var minmax = e.features[0].properties.minmax;
          var fc = e.features[0].properties.fclasses;

          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }
					// highlight
	        highlightFeatureGL(pid, geom, coords, 'places')

          // popup
          new maplibregl.Popup()
            .setLngLat(coordinates)
            .setHTML('<b>'+title+'</b><br/>'+
              '<a href="javascript:getPlace('+pid+',\'popup\')">fetch info</a><br/>'+
              'start, end: '+minmax)
	          .on('close', function(){
              $("#placetable_filter input").val('').keyup()
		          mappy.fitBounds(turf.bbox(fcoll), { padding: 20 });
	          })
            .addTo(mappy);

					// TODO: fit bounds if not point
	        {#bbox=turf.envelope(geom).bbox#}
	        {#mappy.fitBounds(bbox, { padding: 30})#}
          mappy.setCenter(coordinates)
        })
      }

  });

  function addPlaces(){
    startMapSpinner()
    // clear any data layers and 'places' source
    if(!!mappy.getLayer('gl_active_point')){
      mappy.removeLayer('gl_active_point')
      mappy.removeLayer('gl_active_poly')
      mappy.removeSource('places')
    }
		// fetch all places in collection
	  $.getJSON('/collections/'+'{{ object.id }}'+'/geojson')
	  .done(function(colldata) {
      all_feats = colldata.features

			fcoll = colldata

      mappy.addSource('places', {
        'type': 'geojson',
        'data': colldata
      })
      // render to map
      // z-index points:4, poly-outlines:3. poly:2, lines:1
      mappy.addLayer({
        'id': 'gl_active_point',
        'type': 'circle',
        'source': 'places',
        'paint': {
          'circle-opacity': 1,
          'circle-color': '#ff9900',
          'circle-radius': {
            stops: [[1, 3], [3, 5], [16, 10]]
          }
        },
        'filter': ['==', '$type', 'Point']
      }, 'z-index-4');

	    // dashed outline for polygons
      mappy.addLayer({
        'id': 'outline',
        'type': 'line',
        'source': 'places',
        'layout': {},
        'paint': {
          'line-color': '#999',
          'line-width': 1,
          'line-dasharray': [4, 2],
          'line-opacity': 0.5,
        },
        'filter': ['==', '$type', 'Polygon']
      }, 'z-index-3');

      mappy.addLayer({
        'id': 'gl_active_poly',
        'type': 'fill',
        'source': 'places',
        'paint': {
          'fill-color': 'pink',
          'fill-opacity': 0.3,
          'fill-outline-color': '#666'
        },
        'filter': ['==', '$type', 'Polygon']
      }, 'z-index-2');

      mappy.addLayer({
        'id': 'gl_active_line',
        'type': 'line',
        'source': 'places',
        'paint': {
          'line-color': 'blue',
          'line-width': {
            stops: [[1, 1], [4, 2], [16, 4]]
          }
        },
        'filter': ['==', '$type', 'LineString']
      }, 'z-index-1');

		  {#renderSourceLayers('all')#}
		  source_list = ['places']

			cnt=0
			mappy.fitBounds(turf.bbox(colldata), { padding: 20 });
			{#mappy.fitBounds(envelope.bbox, {padding: 30})#}

	  });
  }

  // TODO: better colors
  colors_point=['#ff9900','red','green','blue', 'purple',
    '#ff9900','red','green','blue', 'purple']
  colors_poly=['#eee','aliceblue']
  colors_line=['#eee','blue']

  function layerColors(){
    obj={}
    for(l in layer_list){
      obj[layer_list[l]] = mappy.getLayer(layer_list[l]).getPaintProperty('circle-color')
    }
  }
	// return markers to default
	function unHighlightFeatures(){
      mappy.setPaintProperty('gl_active_point', 'circle-color', '#ff9900');
      mappy.setPaintProperty('gl_active_point', 'circle-radius', 6);
      mappy.setPaintProperty('gl_active_point', 'circle-stroke-width', 0);
	}
  // highlight selected in row
  function highlightFeatureGL(pid, geom, coords, src){
    {#console.log('highlightFeatureGL()')#}
    {#console.log('pid, geom, coords', pid, geom, coords. src)#}
    
    //mappy.getLayer(layer_list[4]).getPaintProperty('circle-color')
    mappy.setPaintProperty(
      'gl_active_point', 'circle-radius',
        { 'property':'pid',
          'type':'categorical',
          {#'default': 6,#}
          'stops':[[Number(pid), 8]]}
    );
    mappy.setPaintProperty(
      'gl_active_point', 'circle-stroke-color',
        { 'property':'pid',
          'type':'categorical',
          'stops':[[Number(pid), '#000']]}
    );
    mappy.setPaintProperty(
      'gl_active_point', 'circle-stroke-width',
        { 'property':'pid',
          'type':'categorical',
          'stops':[[Number(pid), 1]]}
    );
    mappy.setPaintProperty(
      'gl_active_point', 'circle-color',
        { 'property':'pid',
          'default': '#ff9900',
          'type':'categorical',
          'stops':[[Number(pid), 'yellow']]}
    );
    mappy.setPaintProperty(
      'gl_active_point', 'circle-opacity',
        { 'property':'pid',
          'default': 0.5,
          'type':'categorical',
          'stops':[[Number(pid),1]]}
    );
    mappy.setPaintProperty(
      'gl_active_poly', 'fill-outline-color',
        { 'property':'pid',
          'default': 'grey',
          'type':'categorical',
          'stops':[[Number(pid), 'black']]}
    );
    mappy.setPaintProperty(
      'gl_active_poly', 'fill-color',
        { 'property':'pid',
          {#'default': "rgba(255,255,255,0.0)",#}
          'default': "pink",
          'type':'categorical',
          'stops':[[Number(pid), 'pink']]
          //'stops': [[Number(pid), 'rgba(0,128,0,1.0)']]
        }
    );
    mappy.setPaintProperty(
      'gl_active_poly', 'fill-opacity',
        { 'property':'pid',
          'default': 0.3,
          'type':'categorical',
          'stops':[[Number(pid), 0.6]]
        }
    );
    // also set z-index and zoom
    // zoom to feature
    {#console.log('geom')#}
    if(geom.type.toLowerCase() == 'point'){
      flycoords = typeof(coords[0]) == 'number'?coords:coords[0]
      mappy.flyTo({'center': flycoords, 'zoom': 6})
    } else {
      bbox=turf.envelope(geom).bbox
      mappy.fitBounds(bbox, { padding: 30})      
    }    
  }

  // activate all tooltips
  $("[rel='tooltip']").tooltip();

  function getPlace(pid, from){
    // from = ['row0'|'clicked'|'popup']
    {#console.log('getPlace()', pid, from)#}
    $.ajax({
	    // TODO: need to filter for collection
      url: "/api/place/"+pid,
      }).done(function( data ) {
        // if geom is polygon, make feature & add to map if not initial table.draw()
        $("#detail").html(parsePlace(data))
		    // TODO: usability? filter table on 'fetch info' from marker popup but not on initial load
		    if(from=="popup"){
          $("#placetable_filter input").val(data.title).keyup()
		    }
        spinner_detail.stop()
        // events on detail items
        $('.ext').on('click', function(e) {
          e.preventDefault();
          str=$(this).text()
          // console.log('str (identifier)',str)
          // URL identifiers can be 'http*' or an authority prefix
          if(str.substring(0,4).toLowerCase() == 'http'){
            url = str
          } else {
            var re = /(http|bnf|cerl|dbp|gn|gnd|gov|loc|pl|tgn|viaf|wd|wdlocal|whg|wp):(.*?)$/;
            url=base_urls[str.match(re)[1]]+str.match(re)[2] 
            {#console.log('url',url)#}
          }
          window.open(url, '_blank');
        });
        $('.exttab').on('click', function(e) {
          e.preventDefault();
          id=$(this).data('id')
          {#console.log('id',id)#}
          var re = /(http|dbp|gn|tgn|wd|loc|viaf|aat):(.*?)$/;
          url=id.match(re)[1]=='http' ? id : base_urls[id.match(re)[1]]+id.match(re)[2]
          {#console.log('url',url)#}
          window.open(url,'_blank')
        });
    });
  }

  function toggleLinks() {
      label = $("#togglelinks").text()
      $("#togglelinks").text(label == 'Show' ? 'Hide' : 'Show');
      $('#p_links').toggle()
  }
  function toggleNames() {
      label = $("#togglenames").text()
      $("#togglenames").text(label == 'More' ? 'Less' : 'More');
      $('#s_names').toggle()
  }

  // single column
  function parsePlace(data) {
    window.featdata = data
    {#console.log('data', data)#}

    function onlyUnique(array) { 
      const map = new Map();
      const result = [];
      for (const item of array) {
        if(!map.has(item.identifier)){
            map.set(item.identifier, true);
            result.push({
                identifier: item.identifier,
                type: item.type,
                aug: item.aug
            });
        }
      }
      return(result)
    }

    // TITLE
    descrip = '<p><span id="row_title" class="larger text-danger"><b>'+data.title+'</b></span>'

	  //
	  // TRACES
		//
	  descrip += '<div class="red-head-anno">ANNOTATION</div>'
	  if(JSON.parse(data.traces).length > 0) {
      trace = JSON.parse(data.traces).find(function (t) {
        return t.fields.collection == "{{ object.id }}"
      })
		  {#console.log('wtf, trace, object.id', trace,"{{ object.id }}" )#}
      blank = trace.fields.relation == null && trace.fields.note == null && trace.fields.start == null
      if (blank) {
        descrip += '<i>none yet</i>'
      } else {
        if (trace.fields.relation) {
            descrip += "<p><b><u>Relation</u></b>: " + JSON.parse(trace.fields.relation)[0] + "</p>"
        }
        if (trace.fields.note) {
            // find & format embedded markdown link syntax
		        linkish = trace.fields.note.replace(/\[(.*)\]\((.*)\)/gim,'<a href="$2" target="_blank">$1</a>')
		        {#console.log('linkish', linkish)#}
		        // index of link, -1 is none
		        linkindex = linkish.search(/<a href/gim)
		        if(linkindex == -1){
              // no links, truncate if > 250 chars
              descrip += '<p><b><u>Notes</u></b>: ' + readMore(linkish, 250) + '</p>'
		        } else {
              // has a link, get initial text
			        text = linkish.slice(0, linkindex)
			        innerlink = linkish.slice(linkindex,)
			        descrip += '<p><b><u>Notes</u></b>: ' + readMore(text, 250, innerlink) + '</p>'
		        }
        }
        if (trace.fields.start) {
            descrip += '<p><b><u>Start/End</u></b>: ' + (trace.fields.start ?? "") + '/' +
                (trace.fields.end ?? '') + '</p>'
        }
      }
    }
		descrip += '<hr/><div class="red-head-anno">PLACE RECORD</div>'
    //
    // NAME VARIANTS
	  // display first 5
    descrip+='<p class="scroll100"><b><u>Name variants</u></b>: '
    for (n in data.names.slice(0,5)) {
      let name = data.names[n]
      descrip+= name.toponym !=''?name.toponym+'; ': ''
    }
    // if > 5 add link and toggle-able span
    if(data.names.length > 5) {
			descrip += ' <a href="#" onclick="toggleNames()" id="togglenames">More</a> <span id="s_names" class="mb-0 hidden">'
	    for(n in data.names.slice(6,)){
				let name = data.names[n]
        descrip += name.toponym !=''?name.toponym+'; ': ''
	    }
      descrip += '</span>'
    }
    descrip += '</p>'
    //
    // TYPES
    // may include sourceLabel:"" **OR** sourceLabels[{"label":"","lang":""},...]
    // console.log('data.types',data.types)
    //{"label":"","identifier":"aat:___","sourceLabels":[{"label":" ","lang":"en"}]}
	  if(data.types && data.types.length>0) {
      descrip += '</p><p><b><u>Place type</u></b>: '
      typeids = ''
      for (t in data.types) {
          str = ''
          var type = data.types[t]
          {#console.log('types', type)#}
          if ('sourceLabels' in type) {
              srclabels = type.sourceLabels
              for (l in srclabels) {
                  label = srclabels[l]['label']
                  str = label != '' ? label + '; ' : ''
              }
          } else if ('sourceLabel' in type) {
              str = type.sourceLabel != '' ? type.sourceLabel + '; ' : ''
          }
          {#if(type.label!=''){ str += url_exttype(type) + ' ' }#}
          typeids += str
      }
      descrip += typeids.replace(/(; $)/g, "") + '</p>'
    }
    //
    // MINMAX
    //
    if(data.minmax && data.minmax.length>0){
      descrip += '<p><b><u>When</u></b>: earliest: '+data.minmax[0]+'; latest: '+data.minmax[1]
    }

    //
    // LINKS
    //
	  if (data.links.length > 0) {
	    {#descrip += '<p class="mb-0"><b>External links ('+data.links.length+') </b><a href="javascript:{toggle_links()}">show</a> '#}
	    descrip += '<p class="mb-0"><b><u>External links</u> ('+data.links.length+') </b><a href="#" onclick="toggleLinks()" id="togglelinks">Show</a>'
		  descrip += '<br/><span id="p_links" class="hidden">'
	    close_count = added_count = related_count = 0
	    html = ''
      links=data.links
      links_arr = onlyUnique(data.links)
      for (l in links_arr) {
        descrip += url_extplace(links_arr[l].identifier)
      }
      descrip += '</span>'
    }
    descrip += '</p>'

    //
    // RELATED
    if (data.related.length > 0) {
      // TODO: this needs better logic; so far only relations are parents but LPF allows for others
      parent='<p class="mb-0"><b><u>Parent(s)</u></b>: ';
      {#related='<p class="mb-0"><b><u>Related</u></b>: ';#}
      //
      for (r in data.related){
        rel = data.related[r]
        if (rel.relation_type == 'gvp:broaderPartitive'){
          parent += '<span class="small h1em">'+rel.label
          parent += 'when' in rel && !('timespans' in rel.when) ? 
            ', '+rel.when.start.in+'-'+rel.when.end.in : 
            'when' in rel && ('timespans' in rel.when) ? ', '+
              minmaxer(rel.when.timespans) : ''
          parent += '</span>; '
        } 
        else {
          related += '<p class="small h1em">'+rel.label+ ', '+rel.when.start.in+'-'+rel.when.end.in+'</p>'
        }
      }

      descrip+=parent.length > 39 ? parent :''
      {#descrip+=related.length > 37 ? related :''#}
    }

    //
    // DESCRIPTIONS
    // TODO: link description to identifier URI if present
    if (data.descriptions.length > 0) {
      val = data.descriptions[0]['value'].substring(0,300)
      descrip+='<p><b><u>Description</u></b>: '+(val.startsWith('http')?'<a href="'+val+'" target="_blank">Link</a>':val)
        +' ... </p>'
    }
    //
    // CCODES
    //
    <!--if (data.ccodes.length > 0) {-->
    if (!!data.countries) {
      <!--console.log('data.countries',data.countries)-->
      descrip+='<p><b><u>Modern country</u></b>: '+ data.countries.join(', ')+'</p>'
    }
    descrip += '</div>'
		//

    return descrip
  }

  // builds link for external place record
  function url_extplace(identifier) {
    // abbreviate links not in aliases.base_urls
    if(identifier.startsWith('http')) {
      let tag = identifier.replace(/.+\/\/|www.|\..+/g, '')
      link = '<a href="'+identifier+'" target="_blank">'+tag+'{% fontawesome_icon 'external-link' color='#336699' %},  </a>'          
    } else {
    link = '<a href="" class="ext" data-target="#ext_site">'+identifier+'&nbsp;{% fontawesome_icon 'external-link' color='#336699' %}</a>, '    
    }
    return link
  }
  
  // builds link for external placetype record
  function url_exttype(type) {
    link = ' <a href="#" class="exttab" data-id='+type.identifier+
      '>('+type.label+' {% fontawesome_icon 'external-link' color='#336699' %})</a>'
    return link
  }

  // render heatmap layer
  function heat(dataset, ramp) {
	  {#console.log('heat('+dataset+', '+ramp+')')#}
	  <!--if (!!gl.getLayer('heat_active')){-->
		  <!--gl.removeLayer('heat_active')-->
    <!--}-->
	  <!--ne_global.getMapboxMap().addLayer({-->
	  mappy.addLayer({
      "id": "heat_"+dataset,
      "type": "heatmap",
      "source": dataset,
      "maxzoom": 9,
      "paint": {
          // Increase the heatmap weight based on frequency and property magnitude
        "heatmap-weight": ["interpolate", ["linear"], ["get", "mag"], 0, 0, 6, 1 ],
        // Increase the heatmap color weight weight by zoom level
        // heatmap-intensity is a multiplier on top of heatmap-weight
        "heatmap-intensity": ["interpolate", ["linear"],["zoom"], 0, 1, 9, 3 ],
        // Color ramp for heatmap.  Domain is 0 (low) to 1 (high).
        // Begin color ramp at 0-stop with a 0-transparancy color
        // to create a blur-like effect.
        "heatmap-color": heatramps[ramp],
        // Adjust the heatmap radius by zoom level
        "heatmap-radius": ["interpolate", ["linear"], ["zoom"], 0, 2, 9, 20 ],
        // Transition from heatmap to circle layer by zoom level
        "heatmap-opacity": ["interpolate", ["linear"], ["zoom"], 7, 1, 9, 0 ],
      }
    });    
  }
  
  // add heatmap source for each dataset unless it's a polygon layer
  function addHeatSources(ds_list){
    heatsources=[]
    for(d in ds_list){
      ds = ds_list[d]
      if(ds.geotypes['poly'] < 200){
        gl.addSource(ds.label, {
          'type': 'geojson',
          'data': '/datasets/'+ds.id+'/geojson'
        });
        heatsources.push(ds.label)
        // different color ramps by index
        heat(ds.label, d)
      }
    }
    spinner_map.stop()
  }
  
  // [ greenish, redish]
  var heatramps = [
    ["interpolate",["linear"],["heatmap-density"],
    0,"rgba(237,248,251,0)",0.2,"rgb(204,236,230)",0.4,"rgb(153,216,201)",0.6,
    "rgb(102,194,164)",0.8,"rgb(44,162,95)",1,"rgb(0,109,44)"],

    ["interpolate",["linear"],["heatmap-density"],
    0,'rgba(254,240,217,0)',0.2,'rgb(253,212,158)',0.4,'rgb(253,187,132)',0.6,
    'rgb(252,141,89)',0.8,'rgb(227,74,51)',1,'rgb(179,0,0)'],
    
    ["interpolate",["linear"],["heatmap-density"],
    0,'rgba(246,239,247,0)',0.2,'rgb(208,209,230)',0.4,'rgb(166,189,219)',0.6,
    'rgb(103,169,207)',0.8,'rgb(28,144,153)',1,'rgb(1,108,89)'],
    
    ["interpolate",["linear"],["heatmap-density"],
    0,'rgba(237,248,251,0)',0.2,'rgb(191,211,230)',0.4,'rgb(158,188,218)',0.6,
    'rgb(140,150,198)',0.8,'rgb(136,86,167)',1,'rgb(129,15,124)'],    
  ]
    
  styles = {
    "Point": {
      "default": {radius: 2, fillColor:"#ff9900", fillOpacity: 0.8, stroke: false},
      "focus": {radius:8, fillColor:"#ffff00",fillOpacity:1, stroke:true, weight:1,color:"#000"}},
    "MultiPoint": {
      "default": {radius: 1, fillColor:"#ff9900", fillOpacity: 0.8, stroke: false},
      "focus": {radius:8, fillColor:"#ffff00",fillOpacity:1, stroke:true, weight:1,color:"#000"}},
    "LineString": {
      "default":{opacity: 1, weight: 1, color: "#336699"},
      "focus":{opacity: 1, weight: 2, color: "blue"}},
    "MultiLineString": {
      "default":{opacity: 1, weight: 1, color: "#336699"},
      "focus":{opacity: 1, weight: 2, color: "blue"}},
    "MultiPolygon": {
      "default":{fillOpacity: 0.3, opacity: 1, color: "#000", weight: 1, fillColor:"#ff9999"},
      "focus":{fillOpacity: 0.3, opacity: 1, color: "red", weight: 2, fillColor:"#ff9999"}},
    "Polygon": {
      "default":{fillOpacity: 0.3, opacity: .5, color: "#666", weight: 1, fillColor:"#ff9999"},
      "focus":{fillOpacity: 0.3, opacity: .5, color: "red", weight: 2, fillColor:"#ff9999"}}
  }
  
  function minmaxer(timespans){
    <!--console.log('got to minmax()',JSON.stringify(timespans))-->
    starts=[]; ends=[]
    for (t in timespans){
      // gets 'in', 'earliest' or 'latest'
      starts.push(Object.values(timespans[t].start)[0])
      ends.push(!!timespans[t].end ? Object.values(timespans[t].end)[0] : -1)
    } 
    <!--console.log('starts',starts,'ends',ends)-->
    minmax=[Math.max.apply(null, starts),Math.max.apply(null, ends)]
    return minmax
  }

  // spinners
  spin_opts = { scale: .5, top: '60%'}
  function startTableSpinner(){
    window.spinner_table = new Spin.Spinner(spin_opts).spin();
    $("#drftable_list").append(spinner_table.el);   
  }
  function startFilterSpinner(){
    window.spinner_filter = new Spin.Spinner(spin_opts).spin();
    $("#status_filter").append(spinner_filter.el);   
  }
  function startDetailSpinner(){
    window.spinner_detail = new Spin.Spinner(spin_opts).spin();
    $("#row_detail").append(spinner_detail.el);   
  }
  function startMapSpinner(){
    <!--console.log('startMapSpinner()')-->
    window.spinner_map = new Spin.Spinner(spin_opts).spin();
    <!--$("#map").append(spinner_map.el);   -->
    $(".toomany").append(spinner_map.el);   
  }
 </script>
{% endblock %}
