<!-- collection/collection_detail.html -->
{% extends "main/base.html" %}
{% load dataset_extras %}
{% load fontawesome %}
{% load geojson_tags %}
{% load leaflet_tags %}
{% load mathfilters %}
{% load static %}
{% block title %}<title>WHG::Collection</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  
  <script src="{% static 'js/clipboard.min.js' %}"></script>
  <script src="{% static 'js/tags/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'js/tags/bloodhound.js' %}"></script>
  
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput.css' %}"/>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput-typeahead.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/spin.css' %}"/>
  
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>

{#	<script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>#}
{#  <link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />#}

	<script src="{% static 'js/leaflet-mapbox-gl.js' %}"></script>
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

{% endblock %}

{% block content %}
<div class="container mt-1">
	{% if user.is_superuser or user in whgteam %}
	<div>
		<span class="float-right mr-2 pt-2">
      {% fontawesome_icon 'download' color='#336699' %} <a href="" id="a_download_modal" data-dsid = {{ object.id }} data-toggle="modal" data-target="#downloadModal" title="download options"> download options</a>
			<span class="ml-4">
			<a href="{% url 'collection:place-collection-update' object.id %}" >{% fontawesome_icon 'gear' color='#336699' %}</a>
			</span>
		</span>
	</div>
	{% endif %}
  {% csrf_token %} <!-- for download function -->
  <ul id="collection_tabs" class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="browse-tab" href="{% url 'collection:place-collection-browse' id=object.id %}" role="tab"><sr>{{object.title}}</sr></a>
    </li>
    {% comment %}<li class="nav-item">
        <a class="nav-link active" id="summary-tab" data-link="summary" href="" role="tab">summary</a>
    </li>{% endcomment %}
  </ul>
  <!--<div class="d-flex tab-content">-->
  <div class="tab-content">
    <div id="summary" class="tab-pane fade show active" role="tabpanel" aria-labelledby="summary-tab">
    <div class="row">
    <div id="coll_map" class="col-sm-6 mt-2 pl-0">
      <div id="coll_meta">
        <div class="row">
	        <div class="col-sm-7">
		        <table>
		        <tr><td><b>Title</b></td><td class="larger strong">{{ object.title }}</td></tr>
		        <tr><td><b>Description</b></td><td>{{ object.description|readmore:200|safe }}</td></tr>
		        <tr><td><b>Keywords</b></td><td>{{ object.keywords|join:', ' }}</td></tr>
		        {% if object.webpage %}
		        <tr><td><b>Webpage</b></td><td>
		          <a href="{{object.webpage }}" target="_blank">link {% fontawesome_icon 'external-link' color='#336699' %}</a>
		        </td></tr>
		        {% endif %}
		        {% if object.creator %}
		          <tr><td><b>Creator(s)</b></td><td>{{ object.creator }}</td></tr>
		        {% endif %}
		        {% if object.contact %}
		          <tr><td><b>Contact</b></td><td>{{ object.contact|url_it|safe }}</td></tr>
		        {% endif %}
		        </table>
	        </div>
	        <div class="col-sm-5">
		        <img src="/media/{{ object.image_file.name }}" width="200"/>
	        </div>
        </div>
      </div>      
      <div id="mapdiv_coll" class="">
        {% leaflet_map "map_coll" callback="map_init" %}
      </div>
    </div> <!-- .row -->
    <div  id="coll_dslist" class="col-sm-6 mt-2 h-100" style="overflow-y: scroll; ">
      <!-- dataset bboxes to js ('gelems') -->
      {% for g in bboxes %}
        {{ g|safe|json_script:g.properties.id }}
      {% endfor %}
      <div>
        <h5>Places ({{place_list|length}})
        </h5>
	      <div id="coll_places" class="">
	        {% for p in place_list %}
            <div class="place-card" data-id={{p.id}}>
	            <p><span class="larger">{{ p.title }}</span>: (<i>from:</i> {{ p.dataset.title }})<br/>
	            <i>variants</i>: [{% for n in p.names.all %}{{ n.toponym }}; {% endfor %}]</p>
            </div>
          {% endfor %}
        </div>
        <!-- fields: id, label, title, description, creator, created, webpage, numrows, datatype -->
      </div> 
    </div><!-- #coll_dslist -->
    </div> <!-- .row -->
    </div> <!-- #summary -->
  </div> <!-- d-flex -->
  <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-85">
        <div class="modal-header">
          <h5 class="modal-title" id="downloadModalLabel">{% fontawesome_icon 'download' color='#336699' %} Download options for the <span class="text-danger">{{ object.title }}</span> collection</h5>
        </div>
        <div class="modal-body container">
          <div class="dl-blurb">
            <p class="mb-1">Data uploaded as Linked Places format (LPF) are available only in that format. Data uploaded as LP-TSV (delimited text files or spreadsheets) can be downloaded as either <sr>LPF</sr> or <sr>LP-TSV</sr>. 
            <!--Downloads totaling more than {n} records will be queued, and a notification email sent when completed.-->
            </p>
            <div id="dl_licensing"><p><sr>IMPORTANT LICENSING INFORMATION</sr>: Data made public in WHG by its creators are available under the Creative Commons Attribution 4.0 International (CC BY 4.0) License. They can be freely shared, re-used, and adapted, but "you <b>must</b> give appropriate credit, provide a link to the license, and indicate if changes were made." Please see <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY-4.0 details</a>; and <a href="{% url 'licensing' %}"target="_blank">WHG policy.</a> Citations are provided below. <b>By clicking download on this form, you are agreeing to those terms</b>.
            </p></div>
          </div>
          <div class="row">
            <div class="col-sm-8 pr-0 scroll-div">
              <p class="modal-col-head p-1 mb-2">Datasets <small>({{ object.rowcount }} total rows)</small></p>
              <table class="dl-table small">
              <thead><tr><th>Title</th><th>Rows</th><th>Formats</th><th></th></tr></thead>
              <tbody>
              {% for d in ds_list %}
                <tr class="align-top">
                <td>{{ d.title }}&nbsp;
                  <a id="cite_{{d.id}}" class="clippy" aria-label="{% if d.citation %}{{ d.citation }}{% else %}{{d.title}}. [Data file, last modified {{ d.last_modified_text}}]. Retrieved from http://whgazetteer.org/datasets/{{d.id}}, {% now 'd M Y' %}{% endif %}" rel="tooltip" title="copy to clipboard">{% fontawesome_icon 'clipboard' color='#336699' %}</a><br/>
                  <span class="ml-2 small" style="disply:block"><i>est. download time: {{d.dl_est}}</i></span>
                </td>
                <td>{{d.numrows}}</td>
                <td> <!-- always offer lpf -->
                  <div class="form-check form-check-inline">
                    <input class="form-check-input hover" type="radio" name="format" value="lpf">
                    <label class="form-check-label" for="r_lpf">LPF</label>
                  </div>
                  {% if d.format == 'delimited' %}
                  <div class="form-check form-check-inline ml-1">
                    <input class="form-check-input hover" type="radio" name="format" value="tsv">
                    <label class="form-check-label" for="r_lp-tsv">LP-TSV</label>
                  </div>
                  {% endif %}
                </td>
                <td class="px-1">
                  <a class="a-dl" data-id={{d.id}}>
                  <i class="fa fa-download" title="Download"></i></a>
                </td>
                </tr>
              {% endfor %}
              </tbody>
              </table>
              <div id="celery-result"></div>
            </div>
            <div class="col-sm-4">
              <p class="modal-col-head p-1 mb-2">File Formats</p>
              <div class="p-1 small">
              <p class="my-1"><sr>Linked Places format (LPF)</sr> is JSON-based, valid GeoJSON and valid JSON-LD (rdf) with temporal extensions</p>
              <p class="my-1"><sr>LP-TSV downloads</sr> are tab-separated text files.</p>
              </div>
              <div id="progress-bar-message" class="hidden">Waiting for progress to start...</div>
              <span id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%; line-height:.5rem;">&nbsp;</span>
            </div>
          </div>
        <!--</form>-->
        </div> <!-- .modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary btn-cancel" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container -->

<script type="text/javascript">
  var clip_cite = new ClipboardJS('.clippy', {
    text: function(trigger) {
      return trigger.getAttribute('aria-label');
    },
    container: document.getElementById('downloadModal')
  });
  
  clip_cite.on('success', function(e) {
    eobj=e
    el=$("#"+e.trigger.getAttribute("id"))
    console.log('el',el)
    e.clearSelection();
    el.tooltip('hide')
      .attr('data-original-title', 'copied!')
      .tooltip('show');
  });

  
  function startDownloadSpinner(){
    window.spinner_dl = new Spin.Spinner().spin();
    <!--$("#coll_dslist").append(spinner_dl.el);   -->
    $(".dl-table").append(spinner_dl.el);   
  }  

  $(function(){

    $("[rel='tooltip']").tooltip();
  

    clearEl = function(el){
      $("#progress-bar").fadeOut()
      el.html('')
    }
    
    dater = function(){
      const date = new Date(Date.now());
      return date.toISOString().substring(0,10)
    }

    // post-download actions
    function customResult(resultElement, result) {
      console.log('celery result',result)
      console.log('celery resultElement',resultElement)
      spinner_dl.stop()
      fn = result.filename
      link = '[ <span class="dl-save"><a href="/'+fn+'" title="downloaded: '+dater()+
                '" download>save</a></span> ]'
      $( resultElement ).append(
        $('<p>').html(link)
      );
      $(".dl-save a")[0].click()
      setTimeout(clearEl($("#celery-result")), 1000)
    }

    // celery task for downloads; helper functions above
    $(".a-dl").click(function(e){
      e.preventDefault()
      cell = $(this).closest('tr').find('td').eq(2)
      format = cell.find('input[name="format"]:checked').val()
      dsid = $(this).data('id')
      urly='/datasets/dlcelery/'
      $.ajax({
          type: 'POST',
          url: urly,
          data: {
            "format":format,
            "dsid":dsid,
            "csrfmiddlewaretoken":"{{ csrf_token }}"},
          datatype:'json',
          success:function(response){
            startDownloadSpinner()
            task_id = response.task_id
            var progressUrl = "/celery-progress/"+task_id+"/";
            CeleryProgressBar.initProgressBar(progressUrl,
              { pollingInterval: 500,
                onResult: customResult,
              }
            )
          }
        })
    })
    
    $( ".textarea" ).each(function(index) {
      if ( ["None","null"].includes( $(this).val() ) ) {
        $(this).val('')
      }
    });
    $("#id_geojson").attr("placeholder","generated from country codes")

    $(".a_more").click(function(e){
      clicked = $(this)
      clicked.hide()
      clicked.parent().find("#dots").hide()
      clicked.next().show()
      $(".a_less").show()
      console.log('clicked',clicked)  
    })
    $(".a_less").click(function(e){
      clicked = $(this)
      console.log('this clicked',clicked)  
      console.log('parent',parent)  
      clicked.hide() // hide 'less' link
      $(".more").hide() // hide the extra text again
      $("#dots").show() // show dots again
      $(".a_more").show() // show more link again
    })

  })
  $(".ds_card").on('click',function(e){
    // set all layers to default style
    for (i in idToFeature){
      idToFeature[i].setStyle(styles['Polygon']['default'])
    }
    dsid = $(this).data('id')
    l = idToFeature[dsid]
    // raise z-index
    l.bringToFront().setStyle(styles['Polygon']['focus'])
    // get a centroid
    mappy.fitBounds(l.getBounds().pad(0.5))
  })

  $( ".ds_card" ).hover(function() {
      <!--console.log($(this))-->
      let id = $(this).data('id')
      feat = idToFeature[id]
      <!--console.log('feat',feat)-->
      ogfill = "#ff9999"
      feat.setStyle(
        {fillColor: 'yellow', color: 'red', fillOpacity: 0.3}
      )
    },
    function() {
      let id = $(this).data('id')
      feat = idToFeature[id]
      ogfill = "#ff9999"
      feat.setStyle(
        {fillColor: ogfill, color: '#333', fillOpacity: 0.3 }
      )
    }
  );
  
  $(".btn-cancel").click(function(){$("#downloadModal").modal('hide') })
  
  function showMore() {
    foo = $(this)
    console.log('foo',foo)
  } 
  
  $(".dl-links a").click(function(e){
    urly='/datasets/'+$(this).data('id')+'/augmented/'+$(this).attr('ref')
    console.log('urly',urly)
    console.time('dl')
    startDownloadSpinner()
    $.ajax({
          type: 'GET',
          url: urly
        }).done(function() {
            spinner_dl.stop();
        })
  })

  // expose leaflet map for events, call it 'mappy'
  window.addEventListener('map:init', function (e) {
    window.mappy = e.detail.map
    mappy.setMaxBounds(null)

    // mapbox tokens 
    var token_whg = '{{ mbtoken }}',
        token_mb = '{{ mbtoken }}';
    
    // style/tile urls
    var mbstyle_url = 'https://api.mapbox.com/styles/v1/{id}/tiles/256/{z}/{x}/{y}?access_token={token}',
        mbtiles_url = 'https://api.mapbox.com/v3/{id}/{z}/{x}/{y}.png',
        ne_url = 'http://blog.whgazetteer.org/tiles/ne/{z}/{x}/{y}.png';
      
    var satellite  = L.tileLayer(mbstyle_url, {
      id:'mapbox/satellite-streets-v11', token:token_mb}),
    osm  = L.tileLayer(mbstyle_url, {
      id:'mapbox/light-v10', token:token_mb}),
    ne_mb = L.tileLayer(mbtiles_url, {
      id:'kgeographer.ne_global', token:token_whg})

    // GL wrappers can display heatmaps
    mb_terrain = L.mapboxGL({
      style:'mapbox://styles/kgeographer/ckhf6o8yf07fw19qhbrm7f2q7',
      accessToken:token_whg})

    ne_global= L.mapboxGL({
      style:'mapbox://styles/kgeographer/ckidglq8l2nra19nzzbl995ue',
      accessToken:token_whg}).addTo(mappy)


    var baseLayers = {
      "NE global": ne_global,
      "Terrain": mb_terrain,
      "OpenStreetMap": osm,      
      "Satellite": satellite
    };

    layerGroup = L.control.layers(baseLayers).addTo(mappy);    
  }, false);


  function zoomTo(id) {
    mappy.setView(idToFeature[id]._latlng, mappy.getZoom() +2 )
  }

  function cleanJson(text) {
    z=text.replace(/'/g,'\\"')
    y=z.replace(/point/,'Point')
    return JSON.parse(JSON.parse(y))
  }

  styles = {
    "MultiPolygon": {
      "default":{fillOpacity: 0.3, opacity: 1, color: "#000", weight: 1, fillColor:"#ff9999"},
      "focus":{fillOpacity: 0.3, opacity: 1, color: "red", weight: 2, fillColor:"#ff9999"}},
    "Polygon": {
      "default":{fillOpacity: 0.3, opacity: .5, color: "#666", weight: 1, fillColor:"#ff9999"},
      "focus":{fillOpacity: 0.3, opacity: .5, color: "red", weight: 2, fillColor:"#ff9999"}}
  }

   // initialize, render map w/settings.LEAFLET_CONFIG
  function map_init(map, options) {
    // console.log('in map_init()')
    window.geoms = []

    // geometry pushed from template
    // dataset bounding boxes in this case
    window.gelems = $('script').filter(function() {
      return this.id !='' && this.text != '"null"';
    });
    for (i=0;i<gelems.length;i++){
      t_geom = cleanJson(gelems[i].text)
	    console.dir('gelem text', gelems[i])
      geoms.push(t_geom)
    }

    if (geoms.length > 0) {
      idToFeature = {} // for feature lookup
      features = L.geoJSON(geoms, {
        onEachFeature: function(feature,layer) {
          f=feature; l=layer;
          identifier = f.properties.id;
          if(f.type != 'Point'){
            layer.setStyle(styles[f.geometry.type].default).bindPopup(
              f.properties.title+' ('+identifier+')'
            )
            idToFeature[identifier] = layer
          }
        }
      }).addTo(map);

      mappy.fitBounds(features.getBounds())
      mappy.setZoom(mappy.getZoom()-1)
    } else {
      console.log('no geometries, no feature')
    }
  } // end map_init  

</script>

{% endblock %}
