{% extends "main/base.html" %}
{% block title %}<title>WHG::Teaching</title>{% endblock %}

{% block content %}
	{% load fontawesome %}
	{% load static %}
	{% load dataset_extras %}
	{% block extra_head %}
	<style>
			#teaching_essay {height: 85%; overflow: auto; }
			#essay_modal {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				font-size: 1.2rem;}
			.fill-grey {background-color:gainsboro; }
			.resource-gallery {background-color:rgb(238, 238, 238); overflow:auto;}
			.fill-blue {background-color:rgb(60, 136, 148); }
			.teaching-essay {outline: rgb(60, 136, 148) 1px solid; box-shadow: 4px 4px rgb(221, 221, 221);
				border-radius: 4px; background-color: ivory; overflow-y: auto;}
			.resource-card {float:left; margin-right:.1rem; 
				width: 33%; height: 180px; overflow-y:auto; background-color: white;}
			.resource-card:hover {cursor: pointer; opacity:0.8;}
			.resource-card-header {width:100%; background-color: honeydew;}
			.resource-card-content h6 {font-size: .9rem;}
			.resource-card-blurb {line-height: 1rem; font-size: small;}
	</style>
	{% endblock %}
	<!-- <div class="container-fluid pt-2 container-md" style="height: 100vh"> -->
	<div class="container-fluid pt-2 container-md" style="height: calc(100vh - 90px); ">
		<section class="text-center">
			<div class="container mb-1">
				<h3>Teaching with World Historical Gazetteer</h3>
			</div>
		</section>
		<div id="teaching_top" class="row" style="height: fit-content;">
			<div class="col-sm-8 h-100" style="overflow:auto">
				<div>
					<p>{% lorem 85 w random %}</p>
				</div>
			</div>
			<div class="col-sm-4 h-100 pr-0">
				<div class="float-right" style="height: fit-content;">
					<img src="{% static 'images/owt200.png' %}" height=200px; />
				</div>
			</div>
		</div> <!-- .row -->
		<div id="teaching_bottom" class="row h-75 mt-2">
			<div class="col-sm-4" style="height: 80%;">
				<div class="teaching-essay p-2" style="height:fit-content;">
					<div id="">
					<h5 class="mb-0">Place in World History</h5>
					<p class="font-italic my-1">Ruth Mostern</p>
					<p>Spatial humanists and others have long recognized the enormous integrative potential of using place as common point of
					reference for heterogeneous information. Given that the names and attributes of places vary over time and between
					communities, and often in the context of conquest and oppression, ambitious development of linked, diverse, and
					multilingual gazetteers is absolutely vital. 
					<span class="modal-link" data-id="essay_rm"><a href="#" >more...</a></span></p>
					</div>
				</div>
			</div>
			<div class="col-sm-8 pr-0" style="height: 80%;">
				<div class="resource-gallery h-100">
					<div class="pl-2 small w-100 fill-blue text-white"; style="border-bottom: 1px solid lightgray;">
						TEACHING RESOURCES regions: {{ regions }}</div>
					<div class="pl-1">
						{% for r in resource_list %}
						<div class="resource-card mt-1">
							<div class="resource-card-header pl-2 small ">{{ r.type }}</div>
							<div class="resource-card-content px-2 pt-1" data-id={{r.id}}>
								{% with remainder=190|add:r.title_length %}
								<h6><a href="{% url 'resources:resource-detail' r.id %}">{{ r.title }}</a></h6>
								<p class="resource-card-blurb my-1">{{ r.description|trunc_it:remainder }} </p>
								<!-- <i>{{r.description|length}} chars </i> -->
								{%endwith%}
							</div>
						</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div id="essay_modal" class="selector py-3" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"></div>
	</div>
	<script type="text/javascript">
		$(".resource-card-content").click(function(){
			rid = $(this).data('id')
			window.location.href = "/resources/"+rid+"/detail"
		})
		$(".modal-link").click(function () {
			page = $(this).data('id')
			$('.selector').dialog('open');
		})
		$(".selector").dialog({
			resizable: true,
			autoOpen: false,
			width: $(window).width() * 0.5,
			height: $(window).height() * 0.9,
			title: "Teaching with World Historical Gazetteer",
			modal: true,
			buttons: {
				'Close': function () {
					$(this).dialog('close');
				}
			},
			open: function (event, ui) {
				$('.selector').load('/media/resources/'+page+'.html');
			},
			show: { effect: "fade", duration: 400 },
			hide: { effect: "fade", duration: 400 }
		});

		fetch_regions = function () {
			$.ajax({
				url: '/api/area_features/'
			}).done(function (data) {
				// console.log('region data', data)
				geom = { "type": "FeatureCollecton", "features": data }
				// geom['features'].push(data.geojson)
				console.log(geom)
			});
		}
	</script>
{% endblock %}

