{% extends "main/base.html" %}
{% block title %}<title>WHG::Teaching</title>{% endblock %}

{% block content %}

	{% load geojson_tags %}
	{% load leaflet_tags %}
	{% load static %}
	{% load dataset_extras %}
	{% block extra_head %}
	<style>
		#teaching_essay {height: 85%; overflow: auto; }
		#essay_modal {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-size: 1.2rem;}
		#main {
      position: relative;
      border: 1px solid black;
      border-radius: 8px;
      /* height: 100%; */
      width: 100%;
			overflow:hidden;
    }
		/* .leaflet-container-default {height: 250px !important;} */
		.resource-gallery {background-color:rgb(238, 238, 238); overflow:auto; border-bottom: 1px solid gainsboro;}
		.gallery-banner {border-bottom: 1px solid lightgray;
			background-color:rgb(60, 136, 148); color: white;}
		.regions-ttlink {color:grey; font-size:.75rem; float:right; text-decoration-line: underline;}
		.reset-link {float:right; display:none; color:white; text-decoration-line: underline;}
		#teaching_bottom {height:65%;}
		#teaching_top {height:230px;}
		.teaching-essay {outline: rgb(60, 136, 148) 1px solid; box-shadow: 4px 4px rgb(221, 221, 221);
			border-radius: 4px; background-color: ivory; min-height:auto; overflow-y: auto;}
		.resource-card {float:left; margin-right:.1rem; 
			width: 33%; height: 175px; overflow-y:auto; background-color: white;}
		.resource-card:hover {cursor: pointer; opacity:0.8;}
		.resource-card-header {width:100%; background-color: honeydew;}
		.resource-card-content h6 {font-size: .9rem;}
		.resource-card-blurb {line-height: 1rem; font-size: small;}
		#badge_link { font-size:1rem; position:absolute; right:10px; z-index:100;}
		.fill-grey {background-color:gainsboro; }
		.fill-blue {background-color:rgb(60, 136, 148); }
		#region_label {font-family: 'Raleway', sans-serif !important; font-size:1rem; color: tomato;}
		.leaflet-container, .leaflet-container-default {min-height: 220px !important; max-height: 230px !important;}
	</style>
	{% leaflet_js %}
	{% leaflet_css %}
	{% endblock %}

	<div class="container pt-2 container-md" style="height: calc(100vh - 65px); position:relative;">
		<!-- <a id="badge_link" href="{ url 'main:tute-place_collections' %}">
				<span id="badgenew" class="badge badge-warning p-2"><b>NEW! Place Collections</b></span>
		</a> -->
		<section class="text-center">
			<div class="container mb-1" style="position:relative">
				<h3>Teaching with World Historical Gazetteer
				</h3>
			</div>
		</section>
		<div id="teaching_top" class="row">
			<div class="row">
				<div class="col-md-7" style="font-size: 1.3rem;">
					<p>Place names&mdash;their origins, change over time, and reflections of identity&mdash;can provide a fascinating and revealing lens through which to explore history. Used with the interactive tools of digital history, the study of place names brings
				new, deeper, and broader connections to our understanding of patterns of historical change.</p>
				</div>
				<div class="col-md-5">{% leaflet_map "main" %}</div>
			</div>
		</div> <!-- .row -->
		<div id="teaching_bottom" class="row mt-2">
			<div class="col-sm-4 px-0" style="height: 80%;">
				<div class="teaching-essay p-2">
					<div id="">
					<h5 class="mb-0 strong">Place in World History</h5>
					<p class="my-1"><a href="https://www.worldhistory.pitt.edu/people/ruth-mostern" target="_blank">Ruth Mostern</a> <span class="font-italic small ms-2">WHG Project Director</span></p>
					<p class="mb-0" style="font-size:.85rem;">Most of us use the word place without thinking too much about what it means, but for historians, place can be a powerful concept. According to the geographer John Agnew, when we say that something is a place, we are invoking three ideas.  First, we are talking about something that has a <u>location</u>. A place exists somewhere on the surface of the earth. Second, we mean that it has a <u>locale</u>. A place is a location that is a setting for social relations. Third, we are referring to a <u>sense of place</u>, which means that some  people have had experiences that they associate with that location.  In other words, a place is a location in which memorable events have transpired. <span class="modal-link float-end me-1" data-id="essay_rm"><a href="#" >more...</a></span></p>
					</div>
				</div>
			</div>
			<div class="col-sm-8 pr-0" style="height: 85%;">
				<div class="resource-gallery h-100">
					<div class="gallery-banner pl-2 small w-100";>
						TEACHING RESOURCES ({{ resource_list|length }})
						<span id="regions_reset" class="reset-link me-2" style="cursor:pointer;">reset filter</span>
					</div>
					<div class="pl-1">
						{# this pins featured cards #}
						{% for r in featured %}
							<div class="resource-card mt-1" data-regions="{{r.regions}}">
								<div class="resource-card-header pl-2 small ">{{ r.type }}
									<span class="regions-ttlink me-1" data-toggle="tooltip" data-html="true" title="{{r.regions}}">
										<i class="fas fa-globe linky"></i> regions</span>
								</div>
								<div class="resource-card-content px-2 pt-1" data-id={{r.id}}>
									{% with remainder=190|add:r.title_length %}
									<h6><a href="{% url 'resources:resource-detail' r.id %}">{{ r.title }}</a></h6>
									<p class="resource-card-blurb my-1">{{ r.description|trunc_it:remainder }} </p>
									{%endwith%}
								</div>
							</div>
						{% endfor %}
						{# the rest #}
						{% for r in resource_list %}
							<div class="resource-card mt-1" data-regions="{{r.regions}}">
								<div class="resource-card-header pl-2 small ">{{ r.type }}
									<span class="regions-ttlink me-1" data-toggle="tooltip" data-html="true" title="{{r.regions}}">
										<i class="fas fa-globe linky"></i> regions</span>
								</div>
								<div class="resource-card-content px-2 pt-1" data-id={{r.id}}>
									{% with remainder=190|add:r.title_length %}
									<h6><a href="{% url 'resources:resource-detail' r.id %}">{{ r.title }}</a></h6>
									<p class="resource-card-blurb my-1">{{ r.description|trunc_it:remainder }} </p>
									{%endwith%}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div id="essay_modal" class="selector py-3" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"></div>
	</div>
	<script type="text/javascript">
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
			$("#regions_reset").click(function(){
				resetRegions()
			})
		})

		function resetRegions(){
			regions.setStyle({ fillColor: "#ff9999", color: "black" })
			$('.resource-card').css('display', 'block')
			$("#regions_reset").hide();
		}
		function filterResources(region){
			var $el = $('.resource-card').filter(function () {
				// console.log('this', $(this).data("regions"))
				return (!$(this).data("regions").includes(region))
			}).css('display','none')
			shown = $('.resource-card').filter(function(){
				return $(this).is(":visible");
			}) 
			regiones = []
			shown.each(function(){
				regarr = $(this).attr('data-regions').split(', ')
				// console.log('regset',regarr, typeof(regarr))
				regiones.push(regarr)
			})
			merged = [].concat.apply([], regiones);
			unique = [...new Set(merged.map(item => item))];
			$("#regions_reset").show();
		}

		// var dataurl = '{% url "area-features" %}';
		var dataurl = 'https://whgazetteer.org/api/area_features?filter=un';

		styles = {
				"MultiPolygon": {
					"default": { fillOpacity: 0.3, opacity: 1, color: "#000", weight: 1, fillColor: "#ff9999" },
					"focus": { fillOpacity: 0.3, opacity: 1, color: "red", weight: 2, fillColor: "#ff9999" }
				},
				"Polygon": {
					"default": { fillOpacity: 0.3, opacity: .5, color: "#666", weight: 1, fillColor: "#ff9999" },
					"focus": { fillOpacity: 0.3, opacity: .5, color: "red", weight: 2, fillColor: "#ff9999" }
				}
			}

		window.addEventListener("map:init", function (event) {
			map = event.detail.map;
			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);

			
			fetch(dataurl)
				.then(function (resp) {
					return resp.json();
				})
				.then(function (data) {
					// console.log(data)
					idToFeature = {}
					regions = L.geoJson(data, {
						filter: function (feature, layer) {
							return "{{ regions }}".includes(feature.properties.id);
						},
						onEachFeature: function onEachFeature(feature, layer) {
							// console.log('feature:', feature)
							identifier = feature.properties.id;
							layer.setStyle({ fillOpacity: .1, opacity: .5, color: "#000", weight: 1, fillColor: "#ff9999" })
							var props = feature.properties;
							// var content = `<b>${props.title}</b><p>${props.description}</p>`;
							var content = `<b>${props.title}</b>`;
							idToFeature[identifier] = layer
							// layer.bindPopup(content);
							layer.on('mouseover', function (e) {
								$("#region_label").html(content);
							});
							layer.on('mouseout', function (e) {
								$("#region_label").html("select region to filter")
							});							
							// layer.bindPopup(content);
						}
					}).addTo(map);
					
					L.Control.textbox = L.Control.extend({
						onAdd: function (map) {

							var textdiv = L.DomUtil.create('div');
							textdiv.id = "region_label";
							textdiv.innerHTML = "select region to filter"
							return textdiv;
						},

						onRemove: function (map) {
							// Nothing to do here
						}
					});
					L.control.textbox = function (opts) { return new L.Control.textbox(opts); }
					L.control.textbox({ position: 'topright' }).addTo(map);

					regions.on('click', function(e){
						// console.log('layer', e.layer)
						// show title in upper right
						$("#region_label").html(e.layer.feature.properties.title)
						// display all cards
						$('.resource-card').css('display', 'block')
						// default fill and outline for all regions
						regions.setStyle({fillColor:"#ff9999", color:"black"})
						// set fill for this to yellow
						e.layer.setStyle({fillColor:'yellow', color:"red"})
						// filter cards on region
						filterResources(e.layer.feature.properties.title)
						// title=e.layer.feature.properties.title
						// console.log('clicked region:',title)
					})
				});
		});
		$(function () {})
		// resources
		$(".resource-card-content").click(function(){
			rid = $(this).data('id');
			window.location.href = "/resources/"+rid+"/detail";
		})
		$(".modal-link").click(function () {
			page = $(this).data('id')
			$('.selector').dialog('open');
		})
		$(".selector").dialog({
				resizable: true,
				autoOpen: false,
				width: $(window).width() * 0.5,
				height: $(window).height() * 0.9,
				title: "Teaching with World Historical Gazetteer",
				modal: true,
				buttons: {
					'Close': function () {
						$(this).dialog('close');
					}
				},
				open: function (event, ui) {
					$('.selector').load('/media/resources/'+page+'.html');
				},
				show: { effect: "fade", duration: 400 },
				hide: { effect: "fade", duration: 400 }
			});

	</script>
{% endblock %}

