{% extends "main/base.html" %}
{% block title %}<title>WHG::Teaching</title>{% endblock %}

{% block content %}
    {% load fontawesome %}
    {% load static %}
    {% block extra_head %}
    <style>
        .fill-tan {background-color: blanchedalmond; }
        .fill-grey {background-color:gainsboro; }
        .bordered {outline: gainsboro 2px dashed; border-radius: 5%;}
        .card {float:left; margin-right:.5rem; margin-bottom:.5rem; width: 32%;}
    </style>
    {% endblock %}

    <div class="container-fluid pt-2 container-md">
			<div class="">
					<h1>My First Bootstrap Page</h1>
					<p>This is some text.</p>
			</div>
			<div class="card">
				<div style="background-color:antiquewhite; height:10px;"></div>
				<img src="" width="100%" height="50px" style="background-color: honeydew;" />
				<div class="px-2 pt-1">
					<h5>title</h5>
					<p class="small">Short summary...Phasellus convallis aliquam venenatis. Quisque nec lacus pulvinar odio semper varius quis vel dui. Etiam volutpat
					iaculis magna, a accumsan erat gravida sit amet. Ut tincidunt libero sit amet convallis egestas. </p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
								<a href="{% url 'main:tute-guide' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div style="background-color:antiquewhite; height:10px;"></div>
				<img src="" width="100%" height="50px" style="background-color: honeydew;" />
				<div class="px-2 pt-1">
					<h5>title</h5>
					<p class="small">Short summary...Phasellus convallis aliquam venenatis. Quisque nec lacus pulvinar odio semper varius quis vel dui. Etiam volutpat
					iaculis magna, a accumsan erat gravida sit amet. Ut tincidunt libero sit amet convallis egestas. </p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
								<a href="{% url 'main:tute-guide' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div style="background-color:antiquewhite; height:10px;"></div>
				<img src="" width="100%" height="50px" style="background-color: honeydew;" />
				<div class="px-2 pt-1">
					<h5>title</h5>
					<p class="small">Short summary...Phasellus convallis aliquam venenatis. Quisque nec lacus pulvinar odio semper varius quis vel dui. Etiam volutpat
					iaculis magna, a accumsan erat gravida sit amet. Ut tincidunt libero sit amet convallis egestas. </p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
								<a href="{% url 'main:tute-guide' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div style="background-color:antiquewhite; height:10px;"></div>
				<img src="" width="100%" height="50px" style="background-color: honeydew;" />
				<div class="px-2 pt-1">
					<h5>title</h5>
					<p class="small">Short summary...Phasellus convallis aliquam venenatis. Quisque nec lacus pulvinar odio semper varius quis vel dui. Etiam volutpat
					iaculis magna, a accumsan erat gravida sit amet. Ut tincidunt libero sit amet convallis egestas. </p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
								<a href="{% url 'main:tute-guide' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div style="background-color:antiquewhite; height:10px;"></div>
				<img src="" width="100%" height="50px" style="background-color: honeydew;" />
				<div class="px-2 pt-1">
					<h5>title</h5>
					<p class="small">Short summary...Phasellus convallis aliquam venenatis. Quisque nec lacus pulvinar odio semper varius quis vel dui. Etiam volutpat
					iaculis magna, a accumsan erat gravida sit amet. Ut tincidunt libero sit amet convallis egestas. </p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
								<a href="{% url 'main:tute-guide' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
						</div>
					</div>
				</div>
			</div>

    </div>
{% endblock %}

