<!-- areas/area_create.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome %}
{% load static %}
{% load dataset_extras %}
{% block title %}<title>WHG::Create/Update Area</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
    {# original #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js" integrity="sha256-LOnFraxKlOhESwdU/dX+K0GArwymUDups0czPWLEg4E=" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <script src="{% static 'js/tags/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'js/tags/bloodhound.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput.css' %}"/>
  <link rel="stylesheet" href="{% static 'js/tags/bootstrap-tagsinput-typeahead.css' %}"/>
  {# end original #}

  <script src="{% static 'js/leaflet-draw/Leaflet.draw.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Leaflet.Draw.Event.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/leaflet-draw/leaflet.draw.css' %}"/>

  <script src="{% static 'js/leaflet-draw/Toolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Tooltip.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/ext/GeometryUtil.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/LatLngUtil.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/LineUtil.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/Polygon.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/Polyline.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/TouchEvents.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/draw/DrawToolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Feature.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.SimpleShape.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Polyline.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Marker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Circle.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.CircleMarker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Polygon.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Rectangle.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/edit/EditToolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/EditToolbar.Edit.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/EditToolbar.Delete.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/Control.Draw.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Poly.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.SimpleShape.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Rectangle.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Marker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.CircleMarker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Circle.js' %}"></script>
  
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <script src="{% static 'js/leaflet-mapbox-gl.js' %}"></script>

{% endblock %}

{% block content %}
<div class="container">
  <h4 class="mt-3">
    {% if action == 'update' %}Update Study Area <span class="text-danger">"{{ form.title.value }}"</span>
    <a href="{% url 'areas:area-delete' object.id %}" class="float-right"
      title="Delete area feature" rel="tooltip" style="margin-top:-2px;">
      {% fontawesome_icon 'trash' color='#336699' %}</a>
    {% else %}Create Study Area{% endif %}
  </h4>
  <div class="d-flex">
    <div class="form-box mt-2 col-sm-4">
    <form id="area_form" method="POST" action="#" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="owner" value='{{ user.id }}'></input>
      {% if action == 'update' %}
        <input type="hidden" name="type" value='{{ form.type.value }}' />
      {% else %}
        <input type="hidden" name="type" value='ccodes' />
      {% endif %}
      <p>Title<br/>{{ form.title }}</p>
      <p><span class="top">Description</span><br/>{{ form.description }}</p>
      <hr/>
      <div id="area_options">
        <ul id="area_tabs_ul" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" role="tab" data-toggle="tab" ref="ccodes" href="#areas_codes">Countries</a></li>
          <li class="nav-item">
            <a class="nav-link" role="tab" data-toggle="tab" ref="drawn" href="#areas_draw">Draw</a></li>
        </ul>
        <div class="tab-content">
          <div id="areas_codes" class="tab-pane fade show active">
            <p id="p_ccodes">Country codes (ISO 3166 alpha2) &nbsp;<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">{% fontawesome_icon 'external-link' color='#336699' %}</a><br/>{{ form.ccodes }}
              <span class="float-right ml-1">
                <a href="javascript:{ map_clear() }">clear</a></span>
              <span class="float-right">
                <a href="javascript:{ map_render() }">preview |</a></span>
            </p>
            <p>Buffer (optional, km)<br/>
              <input type="text" id="buffer_km" name="buffer_km" value=""/></p>
          </div>
          <div id="areas_draw" class="tab-pane fade in">
            <p>Use map controls to draw/edit bounding box or polygon</p></div>
        </div>
        <p class="mt-2">GeoJSON<br/>{{ form.geojson }}</p>
      </div> <!-- area_options -->
      <p id="referrer"></p>
      <input class="btn-sm btn-primary mt-2" type="submit" value="Save" />
      <span title="back"><a href="{% url 'data-areas' %}">Cancel</a></span>
    </form>
    </div>
    <div id="map_container" class="col-sm-8">
      {% leaflet_map "map_area" callback="map_init" %}
    </div>
  </div> <!-- d-flex -->
</div> <!-- container -->

<script type="text/javascript">
  $(function(){
    // area_type = 'ccodes' // default
    $( ".textarea" ).each(function(index) {
      if ( ["None","null"].includes( $(this).val() ) ) {
        $(this).val('')
      }
    });
    $("#id_geojson").attr("placeholder","generated from country codes")
  })

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var target = $(e.target).attr("href") // activated tab
    area_type = $(e.target).attr("ref") // activated tab
    map_clear() // switch create modes? clear the deck
    // feed area type to hidden input
    $("input[name='type']").val(area_type)
    // console.log('tab id:',target);
    active = $("ul#area_tabs_ul a.active").attr("href")
    // TODO: better refactor 
    if (target == '#areas_codes') {
      $("#id_geojson").attr("placeholder","generated from country codes")
      if ($(".leaflet-draw-toolbar").length > 0) {
          // console.log('remove drawControl')
          $(".leaflet-draw").remove()
      }
    } else if (target == '#areas_draw') {
      $("#id_geojson").attr("placeholder","generated from drawn shapes")
      if ($(".leaflet-draw").length == 0) {
        drawnItems = L.featureGroup().addTo(mappy)
        drawControls(drawnItems)
        mappy.on(L.Draw.Event.CREATED, function (event) {
          window.drawnlayer = event.layer;
          console.log('drawnlayer',drawnlayer)
          drawnItems.addLayer(drawnlayer);
          drawnItems.addTo(mappy)
          // $("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON()))
          $("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON().features[0].geometry))
        });
        mappy.on(L.Draw.Event.EDITED, function (event) {
          // $("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON()))
          $("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON().features[0].geometry))
          console.log('you changed it')
        });
        mappy.on(L.Draw.Event.DELETED, function (event) {
          $("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON()))
          $("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON().features[0].geometry))
          //drawnItems.addTo(mappy)
          console.log('you deleted something')
        })
      }
    }
  });
  //
  // add draw controls to map
  // on tab switch && on update Area if type == 'drawn'
  function drawControls(mode){
    var drawControl = new L.Control.Draw({
      draw: {
         marker: false,
         polyline: false,
         circle: false,
         circlemarker: false,
     },
      edit: {
         featureGroup: mode
      }
    });
    mappy.addControl(drawControl);  
  }
  //
  // expose leaflet map for events, call it 'mappy'
  window.addEventListener('map:init', function (e) {
    console.log('map:init, w.action', '{{ action }}')
    window.mappy = e.detail.map
    var attrib_mb = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      token_mb = '{{ mbtokenmb }}',
      mbstyle_url = 'https://api.mapbox.com/styles/v1/{id}/tiles/256/{z}/{x}/{y}?access_token={token}';
      

    var satellite  = L.tileLayer(mbstyle_url, {id:'mapbox/satellite-streets-v11', token:token_mb, attribution:attrib_mb});
    var osm  = L.tileLayer(mbstyle_url, {id:'mapbox/light-v10', token:token_mb, attribution:attrib_mb});
  
    drawnItems = L.featureGroup().addTo(mappy)

    var baseLayers = {
      "OSM": osm,
      "Satellite": satellite
    };
    var overlays = {"Drawn features": drawnItems}

    layerGroup = L.control.layers(baseLayers,overlays).addTo(mappy);
    baseLayers['OSM'].addTo(mappy)
  }, false);


  function zoomTo(id) {
    mappy.setView(idToFeature[id]._latlng, mappy.getZoom() +2 )
  }

  function cleanJson(text) {
    z=text.replace(/'/g,'\\"')
    y=z.replace(/point/,'Point')
    return JSON.parse(JSON.parse(y))
  }

   // initialize, render map w/settings.LEAFLET_CONFIG
  function map_init (map, options) {
    // edit/update drawn area
    if('{{ action }}' == 'update' && '{{ form.type.value }}' == 'drawn'){
      $('a[href="#areas_draw"]').tab('show');
      $('a[href="#areas_codes"]').addClass('disabled').css("cursor","default")
      // load existing data for editing
      lgeojson = L.geoJson(JSON.parse($("textarea#id_geojson").val()), {
        onEachFeature: function (feature, layer) {
          drawnItems.addLayer(layer);
        }
      }).addTo(mappy)
      mappy.fitBounds(lgeojson.getBounds())

      drawControls(drawnItems)
    } else if('{{ action }}' == 'update' && '{{ form.type.value }}' == 'ccodes') {
      $('a[href="#areas_draw"]').addClass('disabled').css("cursor","default")
      map_render()
    }
  }  
  function map_render() {
    console.log('in map_render()')
    ccodes = $("input#id_ccodes").val()
    window.geoj = $("textarea#id_geojson")
    window.geom = {"type":"FeatureCollection","features":[]}
    window.buffer = $("input#buffer_km").val()
    // console.clear()

    var country_url = "/media/data/countries_simplified.json"
    // clear geoJSON
    if (Object.keys(mappy._layers).length > 2 ) {
      cc_layer.clearLayers()
      hull_layer.clearLayers()
    }
    if (ccodes != '') {
      // TODO: test csv format
      ccode_arr = ccodes.toUpperCase().split(",")
      // console.log(ccode_arr)
      fetch(country_url)
        .then(function(resp) {
          return resp.json();
        })
        .then(function(data) {
          // console.log('fetched data', data)
          window.cc_layer = L.geoJson(data, {
            filter: function(feature, layer) {
              return ccode_arr.includes(feature.properties.iso) ;
            },
            onEachFeature: function onEachFeature(feature, layer) {
              // console.log('feature:', JSON.stringify(feature))
              geom['features'].push(feature)
              var props = feature.properties;
              var content = `<p>${props.iso}</p><p>${props.gnlabel}</p>`;
              layer.bindPopup(content);
          }}).addTo(mappy);
        })
        .then(function(){
          hull = turf.buffer(turf.convex(geom),buffer,{units:'kilometers'})
          // hull_mp = turf.multiPolygon(hull.geometry.coordinates)
          // geoj.val(JSON.stringify(hull_mp.geometry))
          geoj.val(JSON.stringify(hull.geometry))
          hull_layer = L.geoJSON(hull, {
            style: function (feature) {
              return {color: '#ff8c00'}; }
          }).addTo(mappy);
          mappy.fitBounds(hull_layer.getBounds())
        })
    } else {
      // alert('Need some comma-delimited 2-letter country codes')
    }
  }

  function map_clear() {
    if(typeof cc_layer != "undefined"){cc_layer.remove()}
    if(typeof hull_layer != "undefined"){hull_layer.remove()}
    $("input#id_ccodes").val(null)
    if('{{ action }}' == "create"){
      $("textarea#id_geojson").val(null)
    }
    $("#buffer_km").val(null)
  }
</script>

{% endblock %}

      <!--drawnItems.addTo(mappy)-->
      <!--mappy.on(L.Draw.Event.CREATED, function (event) {-->
        <!--window.drawnlayer = event.layer;-->
        <!--<!--console.log('drawnlayer',drawnlayer)-->-->
        <!--drawnItems.addLayer(drawnlayer);-->
        <!--console.log('drawn',JSON.stringify(drawnItems.toGeoJSON().features[0].geometry))-->
        <!--drawnItems.addTo(mappy)-->
        <!--<!--$("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON()))-->-->
        <!--<!--$("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON().features[0].geometry))-->-->
      <!--});-->
      <!--mappy.on(L.Draw.Event.EDITED, function (event) {-->
        <!--$("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON()))-->
        <!--console.log('you changed it')-->
      <!--});-->
      <!--mappy.on(L.Draw.Event.DELETED, function (event) {-->
        <!--$("textarea#id_geojson").val(JSON.stringify(drawnItems.toGeoJSON()))-->
        <!--<!--drawnItems.addTo(mappy)-->-->
        <!--console.log('you deleted something')-->
      <!--});-->
