{% extends "main/base.html" %}
{% block title %}<title>WHG::About</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Introducing World-Historical Gazetteer</h3>
    </div>
    <div id="contrib_content" class="px-5">
      <h6 class="px-5">The vision of World-Historical Gazetteer is to provide a collection of content and services that permit world historians and their students to do spatial and temporal reasoning and visualization in a data rich environment at global and trans-regional scales.</h6>
    </div>
  </div>
{% endblock %}
