{% extends "main/base.html" %}
{% block title %}<title>WHG::About</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Introducing the World Historical Gazetteer</h3>
    </div>
    <div id="contrib_content" class="px-5">
      <h5>Project Vision</h5>
      <p>World Historical Gazetteer (WHG) will provide a collection of content and services that permit world historians, their students, and the general public to do spatial and temporal reasoning and visualization in a data rich environment at global and trans-regional scales.</p>
      <h5>Status</h5>
      <p>Version 1 of WHG launched in July 2020. For an overview of what is here, what you can do, and what is in the works, please see the <a href="{% url 'main:tute-guide' %}">Site Guide</a> and <a href="{% url 'main:tutorials' %}">the Tutorials</a> section.</p>
      <p>However, The platform is far from complete. We are actively soliciting contributions of place data, large and small, and we expect to add new features and refine existing ones over time. Please <a href="{% url 'contact' %}">get in touch</a> to discuss prospective data contributions, and with feedback about any aspect of the project.</p>
      <h5>Content</h5>
      <p>The World Historical Gazetteer index has been seeded with core data from several essentially modern sources, to which we have added our first several historical contributions. Our strategy is to provide initial broad coverage of modern places, then add historical depth over time via contributions of attestations from historical sources. In time, contributions of <a href="{% url 'main:tute-traces' %}">"trace" data</a> will reveal a variety of connections between places, illustrated in the simplified figure below by red lines.</p>
      <img src="{% static 'images/temporal-depth.jpg'%}" align="center"/>
      <p>We anticipate contributed historical content will reflect period/region domains of interest to particular research communities. The first such emergng domain is for colonial era Latin America. Others likely to form soon include for the Islamic World, Central Asia, and the Ottoman Era. </p>
      
    </div>
  </div>
{% endblock %}
