{% extends "main/base.html" %}
{% block title %}<title>WHG::About</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Introducing the World Historical Gazetteer</h3>
    </div>
    <div id="contrib_content" class="px-5">
      <h5>Project Vision</h5>
      <p>World Historical Gazetteer will provide a collection of content and services that permit world historians, their students, and the general public to do spatial and temporal reasoning and visualization in a data rich environment at global and trans-regional scales.</p>
      <h5>Status</h5>
      <p>The Version 1 launch is planned for Spring 2020. In the meantime we will be make a series of beta releases to give early adopters and contributors a preview of the capabilities of this platform and a chance to experiment. This site constitutes the initial Beta v0.2, released for comment in October, 2019. For an overview of what is here, what you can do, and what is in the works, please see the <a href="{% url 'main:tute-guide' %}">"<b>WHG Beta Release: A tour</b>" tutorial</a>. <mark><b>Note: Work done in this beta release will not be preserved!</b></mark> </p>
      <h5>Content</h5>
      <p>The World Historical Gazetteer index has been seeded with core data from several essentially modern sources, to which we have added our first historical contribution, ~15,000 places in the Spanish colonial Americas from <a href="http://www.hgis-indias.net/" target="_blank">HGIS de las Indias</a>. Our strategy is to provide broad coverage of modern places, adding historical depth over time via contributions of attestations from historical sources. In time, contributions of "trace" data will reveal a variety of connections between places, illustrated in the simplified figure below by red lines.</p>
      <img src="{% static 'images/temporal-depth.jpg'%}" align="center"/>
      <p>We believe contributed historical content will constitute and reflect period/region domains of interest to particular research communities. The first such emergent domain is turning out to be <b>LatAm</b> &ndash; Latin America of the colonial period.</p>
      <p><i>Core data</i></p>
      <ul>
        <li>942 records from <a href="http://geonames.org" target="_blank">GeoNames</a>, including cities with population > 500,000 and world capitals</li>
        <li>Approximately 1.8 million records from a January 2017 download from <a href="" target="_blank">Getty Thesaurus of Geographic Names (TGN)</a>.</li>
        <li>Countries (252), rivers (982), and mountain ranges (217) from <a href="" target="_blank">Natural Earth</a>.</li>
        <li>Lakes (1491) from the <a href="" target="_blank">Wildlife Research Institute</a></li>
        <li>1482 societies (peoples, cultural groups) from <a href="http://d-place.org" target="_blank">D-Place</a> a "Database of Places, Language, Culture and Environment."</li>
      </ul>
      <p><i>Historical data</i></p>
      <ul>
        <li>10,643 records from the DK Atlas of World History (Jeremy Black (ed.), 1999)</li>
        <li>13,258 <i>lugares</i> and 892 <i> territorios</i> from the aforementioned <a href="http://www.hgis-indias.net/" target="_blank">HGIS de las Indias</a> (Werner Stangl)</li>
        <li>Approximately 20 additional historical datasets are in queue for accessioning at this time. We will publicize these additions as they occur via <a href="http://whgazetteer.org" target="_blank">our blog</a> and our Twitter account (<a href="https://twitter.com/WHGazetteer" target="_blank">@WHGazetteer</a>)</li>
      </ul>
    </div>
  </div>
{% endblock %}
