<!-- base_modal: used for dynamic page loads in modals -->
<!-- identical to base.html EXCEPT menu header -->
{% load i18n %}
<!DOCTYPE html>

<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147954240-1"></script>
  <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
  
	gtag('config', 'UA-147954240-1');
  </script>

  {% block title %}<title>WHG</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- local jquery -->
  <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'jquery-ui-1.13.2/jquery-ui.min.css' %}"/>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="{% static 'js/spin.umd.js' %}"></script>

  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Raleway&display=swap" rel="stylesheet">
  
  <!-- Add additional CSS in static -->
  {% load static %}
  {% fontawesome_stylesheet %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/spin.css' %}" />
  <!-- some pages will want more -->
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}
  <!-- page content -->
  {% endblock %}
  
  <script type="text/javascript">
    // some global stuff
	  $(function(){
      language = window.navigator.language.substr(0,2)
      <!--abouts = ['/about/','/community/','/system/','/licensing/','/credits/']-->
      abouts = ['/about/','/system/','/licensing/','/credits/']
      clicked = window.location.pathname
    
      if($.inArray(clicked, abouts) > -1) {
        console.log('in abouts')
        $("#aboutDropdown").addClass('navactive')
      } else {
        $("[href='"+clicked+"']").addClass('navactive')
      }
      
      <!--$('[data-toggle="popover"]').popover(-->
        <!--{ template:'<div class="popover" role="tooltip"><div class="arrow"></div><h1 class="popover-header"></h1><div class="popover-body"></div></div>',-->
        <!--html: true-->
        <!--}-->
      <!--)-->
	  });
    
	  $(".feedback").click(function(){
      console.log(clicked)
      url=window.location.href="/contact?from="+clicked
      window.location.href=url
      console.log('gwine to contact form, from clicked',url)
	  })
  </script>
  
</body>
</html>