{% load i18n staticfiles %}
<!DOCTYPE html>
{% load fontawesome %}
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147954240-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'UA-147954240-1');
  </script>
  
  {% block title %}<title>WHG</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- local jquery? -->
  <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}"/>  
	
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="{% static 'js/spin.umd.js' %}"></script>
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Raleway&display=swap" rel="stylesheet">
  
  <!-- Add additional CSS in static -->
  {% load static %}
  {% fontawesome_stylesheet %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/spin.css' %}" />
  <!-- some pages will want more -->
  {% block extra_head %}{% endblock %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand mr-0" href="{% url 'home' %}">
          <img src="{% static 'images/whg_logo_38h.png'%}" class="d-inline-block align-bottom" height=38 width=50 alt=""/>&nbsp;World Historical Gazetteer
		</a>
		<div class="smallish d-none d-lg-block pt-2">
		  <span id="beta_links">
			{%comment%}<a href="{% url 'main:tute-guide' %}">guide</a> | {%endcomment%}
      <a href="#" class="feedback">contact us</a> |
			<a href="https://twitter.com/whgazetteer" target="_blank"><img src="{% static 'images/twitter30h.png'%}" height=14></a>
		  </span>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>		
        <div class="collapse navbar-collapse pt-1" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto pt-2 smallish">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'search-page' %}">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'teaching-page' %}">Teaching</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:tutorials' %}">Guides</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'usingapi' %}">API</a>
            </li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				About
			  </a>
			  <div class="dropdown-menu smallish" aria-labelledby="aboutDropdown">
				<a class="dropdown-item" href="{% url 'about' %}">Introduction</a>
				<a class="dropdown-item" href="{% url 'system' %}">System details</a>
				<a class="dropdown-item" href="{% url 'licensing' %}">Licensing, Terms</a>
				<a class="dropdown-item" href="{% url 'credits' %}">Credits & Contacts</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="http://blog.whgazetteer.org" target="_blank">
				  News {% fontawesome_icon 'external-link' %}</a>
			  </div>
			</li>
			{% if user.is_authenticated %}
			  <li class="nav-item">
					<a class="nav-link" href="{% url 'data-datasets' %}">Data</a>
			  </li>
  
			  <li class="nav-item larger">
				<a class="nav-link" rel="tooltip" title="{{ user }} profile" href="{% url 'account_profile' %}">{% fontawesome_icon 'user-circle' color='#336699' %}</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link `ml-5" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
				<form id="logout" method="post" action="{% url 'account_logout' %}">
				  {% csrf_token %}</form>
			  </li>
            {% else %}
			  <li class="nav-item">
				<a class="nav-link ml-5" href="{% url 'account_signup' %}">Register</a>
				<!--<a class="nav-link ml-5" href="{ url 'register' %}">Register</a>-->
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'account_login' %}">Login</a>
			  </li>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  {% block content %}
  {% endblock %}
  <script type="text/javascript">
    // some global stuff
	  $(function(){
      language = window.navigator.language.substr(0,2)
      <!--abouts = ['/about/','/community/','/system/','/licensing/','/credits/']-->
      abouts = ['/about/','/system/','/licensing/','/credits/']
      clicked = window.location.pathname
    
      if($.inArray(clicked, abouts) > -1) {
        console.log('in abouts')
        $("#aboutDropdown").addClass('navactive')
      } else {
        $("[href='"+clicked+"']").addClass('navactive')
      }
      
      <!--$('[data-toggle="popover"]').popover(-->
        <!--{ template:'<div class="popover" role="tooltip"><div class="arrow"></div><h1 class="popover-header"></h1><div class="popover-body"></div></div>',-->
        <!--html: true-->
        <!--}-->
      <!--)-->
	  });
	  $(".feedback").click(function(){
      console.log(clicked)
      url=window.location.href="/contact?from="+clicked
      window.location.href=url
	  })
  </script>
  
</body>
</html>
