{% load i18n staticfiles %}
<!DOCTYPE html>
{% load fontawesome %}
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147954240-1"></script>
  <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
  
	gtag('config', 'UA-147954240-1');
  </script>

  {% block title %}<title>WHG</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- JQuery -->
  <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
  <!-- Bootstrap -->
  <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Add additional CSS in static -->
  {% load static %}
  {% fontawesome_stylesheet %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  <!-- some pages will want more -->
  {% block extra_head %}{% endblock %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/whg_logo_38h.png'%}" class="d-inline-block align-bottom" height=38 width=50 alt=""/>&nbsp;World Historical Gazetteer</a>
		  <span id="beta_badge" class="badge badge-warning">BETA 0.2</span>
		  <span id="beta_links"><a href="{% url 'main:tute-beta' %}">site tour</a> | <a href="{% url 'feedback' %}">feedback</a></span>
		  
        <div class="collapse navbar-collapse pt-1" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto pt-2">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'maps_home' %}">Maps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'usingapi' %}">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:tutorials' %}">Tutorials</a>
            </li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				About WHG
			  </a>
			  <div class="dropdown-menu" aria-labelledby="aboutDropdown">
				<a class="dropdown-item" href="{% url 'about' %}">Introduction</a>
				<a class="dropdown-item" href="{% url 'community' %}">Communities</a>
				<a class="dropdown-item" href="{% url 'system' %}">System details</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'credits' %}">Credits & Contacts</a>
			  </div>
			</li>
			{% if user.is_authenticated %}
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'dashboard' %}">My Data</a>
			  </li>
  
			  <li class="nav-item larger">
				<a class="nav-link" rel="tooltip" title="{{ user }} profile" href="{% url 'profile' %}">{% fontawesome_icon 'user-circle' color='#336699' %}</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link `ml-5" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
				<form id="logout" method="post" action="{% url 'logout' %}">
				  {% csrf_token %}</form>
			  </li>
            {% else %}
			  <li class="nav-item">
				<a class="nav-link ml-5" href="{% url 'register' %}">Register</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Login</a>
			  </li>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  {% block content %}
  {% endblock %}

  
</body>
</html>
