{% extends "main/base.html" %}
{% block title %}<title>WHG::About</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>WHG Beta v0.1</h3>
    </div>
    <div id="contrib_content" class="px-5">
      <p class="px-5">Welcome to our first public beta release. The Version 1 launch is planned for Spring 2020 and in the meantime we will be making a series of beta releases to give early adopters and contributors an early view of the capabilities of this platform. </p>
    </div>
  </div>
{% endblock %}
