{% extends "main/base.html" %}
{% block title %}<title>WHG::Community</title>{% endblock %}

{% block content %}

{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Linked Communities</h3>
    </div>
    <div class="px-5">
    <p>World Historical Gazetteer (WHG) belongs to a growing community of project teams and individuals working to link data about the past, principally by linking data about historical places. We seek in turn to encourage communities of interest for particular regions, periods, and themes to establish specialized "domains" within WHG, linking data from their own data partners. This approach has worked so effectively for scholars of the Ancient Mediterranean and the Pleiades and Pelagios projects, it should stand as best practice. We our partners in the <a href="https://pelagios.org/" target="_blank">Pelagios Network</a>.</b>
    <p>Our first such domain within WHG is <b>LatAm</b>, which has been seeded by 14,150 records from Werner Stangl's <a href="https://www.hgis-indias.net/" target = "_blank"><i>HGIS de las Indias</i></a> project. These include 13,258 <i>lugares</i> and 892 <i>territorios</i> covering Hispanic America from 1701-1808.
    
    <h5>Contributors</h5>
    <div class="small">
      <i>Active</i>
      <ul>
        <li><p><b>HGIS de las Indias</b> <a href="https://www.hgis-indias.net/" target="_blank"><i class="fas fa-external-link-alt linky"></i></a>, a historical geographic information system of Hispanoamérica for the years 1701-1808</p></li>
      </ul>
      <i>Pending</i>
      <ul>
        <li><p><b>al-Ṯhurayyā Project</b> <a href="https://althurayya.github.io/" target="_blank"><i class="fas fa-external-link-alt linky"></i></a>, a gazetteer and geospatial model of the early Islamic world</p></li>
        <li><p><b>Digging into Early Colonial Mexico</b> <a href="https://www.lancaster.ac.uk/digging-ecm/" target="_blank"><i class="fas fa-external-link-alt linky"></i></a> Identifying, mapping, and analysing the geographies associated with the colonial period of Mexico</p></li>
        <li><p><b>Pleiades</b> <a href="https://pleiades.stoa.org/" target="_blank"><i class="fas fa-external-link-alt linky"></i></a>, a community-built gazetteer and graph of ancient places</p></li>
        <li><p><b>China Historical GIS</b> <a href="https://sites.fas.harvard.edu/~chgis/" target="_blank"><i class="fas fa-external-link-alt linky"></i></a>, a free database of placenames and historical administrative units for the Chinese Dynasties</p></li>
        <li><p><b>Early Modern Places</b> (EMPlaces) <a href="https://github.com/culturesofknowledge/emplaces" target="_blank"><i class="fas fa-external-link-alt linky"></i></a>, a collaboratively curated historical geo-gazetteer for the 16th to 18th centuries; part of Cultures of Knowledge at Oxford</p></li>
        <li><p>and many more...</p></li>
      </ul>
    </div>
  </div>
  </div>
{% endblock %}
