{% extends "main/base.html" %}
{% block title %}<title>WHG::Credits</title>{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <div class="row">
      <div id="credits_left" class="col-sm-9">
        <div><h3>Credits and Acknowledgments</h3></div>
        <h4>Funding</h4>
        <p>The World Historical Gazetteer project has been made possible by a 3-year Preservation and Access grant from the US National Endowment for the Humanities (2017-2020, <a href="https://securegrants.neh.gov/publicquery/main.aspx?f=1&amp;gn=PW-253719-17" target="_blank">PW‑253719‑17</a>).</p>
        <p>It is also supported by in-kind contributions from the <a href="https://www.worldhistory.pitt.edu" target="_blank">University of Pittsburgh World History Center</a></p>
        <p>Development of Version 2 in 2021 has been generously supported by the <a href="https://huc.knaw.nl/" target="_blank">KNAW Humanities Cluster</a> in the Netherlands, and we are grateful to our collaborators there: Thomas Vermaut, Rombert Stapel, and Arno Bosse.</p>

        <h4>Current Project Team</h4>
        <p class="mb-0"><a href="http://www.history.pitt.edu/people/ruth-mostern" target="_blank" rel="noopener"><strong>Ruth Mostern</strong></a>, Principal Investigator and Director of World History Center</p>
        <p class="mb-0"><a href="http://kgeographer.org" target="_blank" rel="noopener"><strong>Karl Grossner</strong></a>, Technical Director and Platform Developer</p>
        <p class="mb-0"><a href="https://susangrunewald.com" target="_blank" rel="noopener"><strong>Susan Grunewald</strong></a>, WHC Postdoctoral Fellow</p>
        <p class="mb-0"><a href="https://www.worldhistory.pitt.edu/people/ant-3" target="_blank" rel="noopener"><strong>Alexandra Straub</strong></a>, WHC Research Associate</p>
        <p class=""><a href="http://www.manning.pitt.edu/" target="_blank" rel="noopener"><strong>Patrick Manning</strong></a>, Project Consultant</p>

        <h4>Former Team Members</h4>
        <p class="mb-0"><a href="http://rmhorne.org/" target="_blank" rel="noopener"><strong>Ryan Horne</strong></a>, Associate, former Postdoctoral Fellow</p>
        <p class="mb-0"><strong>David Ruvolo</strong>, Project Manager</p>
        <p class="mb-0"><strong>Alec Story</strong>, Student Research Assistant</p>
        <p class="mb-0"><strong>Owen Knight</strong>, Student Research Assistant</p>
        <p><strong>James Sauls</strong>, Graduate Student Research Assistant</p>

        <div>
        <h4>Advisory Board</h4>
        <p class="mb-0"><strong>Clifford Anderson</strong>, Vanderbilt University</p>
        <p class="mb-0"><strong>Robert Batchelor</strong>, Georgia Southern University</p>
        <p class="mb-0"><strong>Merrick Lex Berman</strong>, Independent Scholar</p>
        <p class="mb-0"><strong>Christopher Chase-Dunn</strong>, University of California, Riverside</p>
        <p class="mb-0"><strong>Tom Elliot</strong>, Institute for Study of the Ancient World, NYU</p>
        <p class="mb-0"><strong>Ethan Gruber</strong>, American Numismatic Society</p>
        <p class="mb-0"><strong>Leif Isacksen</strong>, University of Exeter</p>
        <p class="mb-0"><strong>Katherine Hart</strong>, University of Pittsburgh, World History Center</p>
        <p class="mb-0"><strong>Jane Landers</strong>, Vanderbilt University</p>
        <p class="mb-0"><strong>Leo Lucassen</strong>, International Institute of Social History (IISG), NL</p>
        <p class="mb-0"><strong>Patrick Manning</strong>, University of Pittsburgh</p>
        <p class="mb-0"><strong>Adam Rabinowitz</strong>, University of Texas, Austin</p>
        <p class="mb-0"><strong>Patricia Seed</strong>, University of California, Irvine</p>
        <p class="mb-0"><strong>Ryan Shaw</strong>, Univerity of North Carolina Chapel Hill</p>
        <p class="mb-0"><strong>Rainer Simon</strong>, Austrian Institute of Technology</p>
        <p class="mb-0"><strong>Rombert Stapel</strong>, International Institute of Social History (IISG), NL</p>
        <p><strong>Richard Zijdeman</strong>, International Institute of Social History (IISG), NL</p>
        </div>
        <h4>Technical Collabortors</h4>
        <p class="mb-0"><strong>Rainer Simon</strong>, Austrian Institute of Technology</p>
        <p class="mb-0"><strong>Graham Klyne</strong>, University of Oxford</p>
        <p class="mb-0"><strong>Richard Light</strong>, Free UK Genealogy</p>
        <p class="mb-0"><strong>Arno Bosse</strong>, KNAW Humanities Cluster, NL</p>
        <p class="mb-0"><strong>Merrick Lex Berman</strong>, Independent Scholar</p>
        <p><strong>Johannes Scholz</strong>, University of Graz</p>
        <h4>Content Community</h4>
        <p><i>The following people made important early data contributions to WHG. Discussions are ongoing with many, many others...</i></p>
        <p class="mb-0"><strong>Werner Stangl</strong>, University of Graz (Latin America)</p>
        <p class="mb-0"><strong>Tom Elliot</strong>, Institute for Study of the Ancient World, NYU</p>
        <p class="mb-0"><strong>Patricia Seed</strong>, University of California, Irvine (Africa)</p>
        <p class="mb-0"><strong>Gimena del Rio Riande</strong>, University of Buenos Aires (Latin America)</p>
        <p class="mb-0"><strong>Maxim Romanov</strong>, University of Vienna (Islamic World)</p>
        <p class="mb-0"><strong>Masoumeh Seydi</strong>, KITAB (Islamic World)</p>

        <p class="mt-2">The World Historical Gazetteer index contains information from <a href="http://www.getty.edu/research/tools/vocabularies/tgn/" target="_blank">Thesaurus of Geographic Names (TGN)®</a> which is made available under the ODC Attribution License.</p>

        <div>Icons used on this site include ones made by
        <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a>,
        <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a>,
        <a href="https://www.freepik.com" title="Freepik">Freepik</a>,
        <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>,
        <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a>,
        <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> 
        <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a>,
        <a href="https://www.flaticon.com/authors/phatplus" title="phatplus">phatplus</a>,
        <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>, and 
        <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div> <!-- credits_left -->
      <div id="credits_right" class="col-sm-3 pt-4">
        <p></p>
        <img src="{% static 'images/neh_logo_horizontal_rgb.jpg'%}" class="my-3"/>
        <img src="{% static 'images/whc_logo250.png'%}" class="mb-4"/>
        <img src="{% static 'images/logo-knaw-humanities-cluster.png'%}" height=80/>
        <img src="{% static 'images/pelagioslogo_partner.svg'%}" height=80 class="mt-3"/>
      </div>
    </div> <!-- .row -->
  </div>
      <p style="min-height:30px;">&nbsp;</p>
</div> <!-- .container -->
{% endblock %}
