{% extends "main/base.html" %}
{% block title %}<title>WHG::Credits</title>{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <h3>Credits and Acknowledgments</h3>
  </div>
  <div id="credits" class="px-5">
    <h4>Funding</h4>
    <p><img src="{% static 'images/neh_logo_horizontal_rgb.jpg'%}" align="right">
    The World Historical Gazetteer project has been made possible by a 3-year Preservation Access grant from the US National Endowment for the Humanities (2017-2020, <a href="https://securegrants.neh.gov/publicquery/main.aspx?f=1&amp;gn=PW-253719-17" target="_blank">PW‑253719‑17</a>).</p> 
    <p><img src="{% static 'images/whc_logo250.png'%}" align="right">It is also supported by in-kind contributions from the <a href="https://www.worldhistory.pitt.edu" target="_blank">University of Pittsburgh World History Center</a></p>
    
    <h4>Current Project Team</h4>
    <p class="mb-0"><a href="http://www.history.pitt.edu/people/ruth-mostern" target="_blank" rel="noopener"><strong>Ruth Mostern</strong></a>, Principal Investigator and Director of World History Center</p>
    <p class="mb-0"><a href="http://kgeographer.org" target="_blank" rel="noopener"><strong>Karl Grossner</strong></a>, Technical Director and Platform Developer</p>
    <p class="mb-0"><a href="https://susangrunewald.com" target="_blank" rel="noopener"><strong>Susan Grunewald</strong></a>, Postdoctoral Fellow</p>
    <p class="mb-0"><a href="http://www.manning.pitt.edu/" target="_blank" rel="noopener"><strong>Patrick Manning</strong></a>, Project Consultant</p>
    <p class="mb-0"><strong>Owen Knight</strong>, Student Research Assistant</p>
    <p><strong>James Sauls</strong>, Student Research Assistant</p>

    <h4>Former Team Members</h4>
    <p class="mb-0"><a href="http://rmhorne.org/" target="_blank" rel="noopener"><strong>Ryan Horne</strong></a>, Associate, former Postdoctoral Fellow</p>
    <p class="mb-0"><strong>David Ruvolo</strong>, Project Manager</p>
    <p><strong>Alec Story</strong>, Student Research Assistant</p>
    <div id="advisory">
    <h4>Advisory Board</h4>
    <p class="mb-0"><strong>Clifford Anderson</strong>, Vanderbilt University</p>
    <p class="mb-0"><strong>Robert Batchelor</strong>, Georgia Southern University</p>
    <p class="mb-0"><strong>Merrick Lex Berman</strong>, Independent Scholar</p>
    <p class="mb-0"><strong>Christopher Chase-Dunn</strong>, University of California, Riverside</p>
    <p class="mb-0"><strong>Tom Elliot</strong>, Institute for Study of the Ancient World, NYU</p>
    <p class="mb-0"><strong>Ethan Gruber</strong>, American Numismatic Society</p>
    <p class="mb-0"><strong>Leif Isacksen</strong>, University of Exeter</p>
    <p class="mb-0"><strong>Jane Landers</strong>, Vanderbilt University</p>
    <p class="mb-0"><strong>Leo Luccasen</strong>, International Institute of Social History (IISG)</p>
    <p class="mb-0"><strong>Adam Rabinowitz</strong>, University of Texas, Austin</p>
    <p class="mb-0"><strong>Patricia Seed</strong>, University of California, Irvine</p>
    <p class="mb-0"><strong>Ryan Shaw</strong>, Univerity of North Carolina Chapel Hill</p>
    <p class="mb-0"><strong>Rainer Simon</strong>, Austrian Institute of Technology</p>
    <p class="mb-0"><strong>Rombert Stapel</strong>, International Institute of Social History (IISG)</p>
    <p><strong>Richard Zijdeman</strong>, International Institute of Social History (IISG)</p>
    </div>
    <h4>Technical Community</h4>
    <p class="mb-0"><strong>Rainer Simon</strong>, Austrian Institute of Technology</p>
    <p class="mb-0 ml-2">We especially acknowledge Rainer, for his technical advice and unflagging support throughout the development of WHG and the Linked Place format.</p>
    <p class="mb-0"><strong>Graham Klyne</strong>, University of Oxford</p>
    <p class="mb-0"><strong>Richard Light</strong>, Free UK Genealogy</p>
    <p class="mb-0"><strong>Arno Bosse</strong>, KNAW Humanities Cluster</p>
    <p><strong>Johannes Scholz</strong>, University of Graz</p>
    <h4>Content Community</h4>
    <p class="mb-0"><strong>Werner Stangl</strong>, University of Graz (Latin America)</p>
    <p class="mb-0"><strong>Gimena del Rio Riande</strong>, University of Buenos Aires (Latin America)</p>
    <p class="mb-0"><strong>Merrick Lex Berman</strong>, Independent Scholar (China)</p>
    <p class="mb-0"><strong>Patricia Seed</strong>, University of California, Irvine (Africa)</p>
    <p class="mb-0"><strong>Maxim Romanov</strong>, University of Vienna (Islamic World)</p>
    <p class="mb-0"><strong>Masoumeh Seydi</strong>, KITAB (Islamic World)</p>
    <p class="mb-0"><strong>James Pickett</strong>, University of Pittsburgh (Central Asia)</p>
    <p><i>Discussions are ongoing with many others...</i></p>
  
</div>
{% endblock %}
    <p<img src="{% static 'images/whc_logo250.png'%}" align="right">It is also supported by in-kind contributions from the <a href="https://www.worldhistory.pitt.edu/>" target="_blank">University of Pittsburgh World History Center</a>.</p>
