<!-- datasets/home.html -->
{% extends "main/base.html" %}
{% block title %}<title>WHG::Contributing</title>{% endblock %}
{% load static %}

{% block content %}
<!-- <div class="container h-100"> -->
  <!-- <div class=""><h3>The Road to Bootstrap Mastery</h3></div> -->
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-4" style="background-color:#eee;">
        <h4 class="mt-1">A Title</h4>
        <p>Sometimes lists will be paged, others need to scroll.</p>
      </div>
      <div class="col-md-8" >
        <table class="table table-striped">
          <thead>
              <th></th>
              <th>name</th>
              <th>place_id</th>
              <th>src_id</th>
              <!-- <th>parent</th> -->
              <th>ccode(s)</th>
              <!-- <th>lon, lat</th> -->
          </thead>
          <tbody>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{EG}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{TR}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
            <tr class="place-row">
              <td><span class="edit-row" style="cursor:pointer;">
              <td>Abydos</td>
              <td>1234501</td>
              <td>foo_394506</td>
              <td>{IT}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- </div> -->
{% endblock %}
