<!-- datasets/home.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome %}
{% load static %}

{% block title %}<title>WHGazetteer</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <div class="justify-content-center mt-3">
    <div id="home_map">
      {% leaflet_map "map_home" callback="map_init" %}
      <div id="home_search" class="justify-content-center">
        <form id="search_form" class="mt-1" onsubmit="return false;" autocomplete="off" >
          <div class="form-group d-flex justify-content-center"> 
            <div id="search_type" class="mx-auto btn-group" data-toggle="buttons">
              <h5 class="pt-1">Search</h5>
              <label class="btn btn-default" rel="Enter place name">
                  <input type="radio" id="r_place" name="class" value="place" checked="checked">
                  Places</label>
              <label class="btn btn-default" rel="Enter term or name" >
                  <input type="radio" id="r_trace" name="class" value="trace" > Traces
                  <span class="ml-1"><a href="" title="historical entities having spatial-temporal 'footprints'" rel="tooltip">
                    {% fontawesome_icon 'question-circle' color='#336699' %}</a></span>
              </label>
            </div>
          </div>
          <div id="search_input" class="form-group d-flex justify-content-center">
            <div class="input-group">
              <input type="text" class="form-control w-50" id="searchbox" name="q" 
                placeholder="Enter place name" aria-label="Search term" aria-describedby="search-type" />
            </div>
          </div>
          <span id="options_link" class="ml-3 small"><a href="">Options</a></span>
          <div id="options" class="small">
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Display dataset
              </button>
              <div class="dropdown-menu small" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">selections</a>
                <a class="dropdown-item" href="#">coming</a>
                <a class="dropdown-item" href="#">soon</a>
              </div>
            </div>
          </div>
          <div class="nameautosuggest mt-1"></div>
        </form>
      </div> <!-- home_search -->

    </div>
  </div>
</div>

<div id="ext_site" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div id="ext_content" class="modal-body">foo</div>
    </div>
  </div>
</div> <!-- ext_site -->
      

<script type="text/javascript">
  $(function(){
    $("#options").hide();
    var idToFeature = {} // for feature lookup
    var titles = {}
    var searchoption = null;
    var doctype = $("input[name='class']:checked").val();
  })
  $("#search_options.li")
  $("#options_link").on("click", function(e){
    e.preventDefault()
    $("#options").toggle()
    $("#options_link").toggle()
  })
  $('input[type=radio][name=class]').change(function() {
    $("#options_link").show()
    $("#options").hide()
  });
  function stopVideo() {
    var $frame = $('iframe');
  
    // saves the current iframe source
    var pagesrc = $frame.attr('src');
  
    // sets the source to nothing, stopping the video
    $frame.attr('src', '');
  
    // sets it back to the correct link so that it reloads immediately on the next window open
    $frame.attr('src', pagesrc);
  }
  
  $('#ext_site').on('hidden.bs.modal', function(e) {
    stopVideo();
  })
  
  // initiates map
  window.addEventListener('map:init', function (e) {
    window.mappy = e.detail.map
    var attrib_mb = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      attrib_awmc = 'Tiles and Data &copy; 2013 <a href="http://www.awmc.unc.edu" target="_blank">AWMC</a>',
      token_mb = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
      token_kg = 'pk.eyJ1Ijoia2dlb2dyYXBoZXIiLCJhIjoiUmVralBPcyJ9.mJegAI1R6KR21x_CVVTlqw',
      token_awmc = 'pk.eyJ1Ijoia2dlb2dyYXBoZXIiLCJhIjoiY2prcmgwc2cwMjRuZzNsdGhzZmVuMDRqbCJ9.MeLsyeOqwhTRdvt_Hgo7kg',
      token_whg = '',
      mbtiles_url = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={token}';
      mbstyle_url = 'https://api.mapbox.com/styles/v1/{id}/tiles/256/{z}/{x}/{y}?access_token={token}';
      
    var awmc = L.tileLayer(mbtiles_url, {id:'isawnyu.map-knmctlkh', token:token_awmc, attribution:attrib_awmc}),
      grayscale = L.tileLayer(mbstyle_url, {id:'kgeographer/cjstfpenh6o1e1fldz95w8m6p', token:token_kg, attribution:attrib_mb}),
      satellite  = L.tileLayer(mbtiles_url, {id:'mapbox.satellite', token:token_mb, attribution:attrib_mb});
      osm  = L.tileLayer(mbtiles_url, {id:'mapbox.light', token:token_mb, attribution:attrib_mb});

    var countryStyle = {
      "color": "#eee",
      "weight": 1,
      "opacity": 0.5,
      "fillOpacity": 0
    };

    var countries = new L.GeoJSON.AJAX("/media/data/countries_simplified.json",
      {style:countryStyle,
        onEachFeature: function (feature, layer) {
          popupOptions = {maxWidth: 200};
            layer.bindPopup(feature.properties.gnlabel, popupOptions);
          }
    });

    var baseLayers = {
      "AWMC Terrain": awmc,
      "OSM": osm,      
      "Spine Data": grayscale,
      "Satellite": satellite
    };
    var dataLayers = {
      "Countries": countries
    }
    mappy.zoomControl.setPosition('topright')
    L.control.layers(baseLayers,dataLayers).addTo(mappy);
    baseLayers["AWMC Terrain"].addTo(mappy)
    dataLayers["Countries"].addTo(mappy)
  }, false);

  function map_init (home_map, options) {
    <!--console.log(options)-->
    mappy.setView([38, 10], 2.4)
    <!--mappy.zoomControl.setPosition('topright')-->
    <!--new L.Control.Zoom({ position: 'topleft' }).addTo(map);-->
    // empty features[]
    geom = {"type":"FeatureCollecton","features":[]}

  } // end map_init


  
  
  function filly(counter) {
    if (counter == 0)
      return "blue"
    else if (counter == 1)
      return "orange"
    else if (counter == 2)
      return "purple"
    else if (counter == 3)
      return "greenyellow"
    else 
      return "yellow"
  }

  function fetchTraceGeom(trace_id,counter) {
    console.log('fetchTraceGeom():',trace_id)
    if(typeof(traces) !== "undefined") {traces.clearLayers();}
    $.get("/search/tracegeom",{idx: 'traces', search: trace_id, doc_type: 'trace'},
      function(data){
        console.log(data.features.length, ' mappable geoms in this trace')
        <!--console.log('bodies in this trace',data.bodies)-->
        var count_features = 0
        idToFeature = {}
        mappy.createPane('tracePane');
        mappy.getPane('tracePane').style.zIndex = 200;
        traces = L.geoJSON(data, {
          pane: 'tracePane',
          pointToLayer: function (feature, latlng) {
            count_features +=1;
            identifier = feature.properties.whg_id;
            <!--console.log(feature,identifier)-->
            marker = L.circleMarker(latlng,
              {
                radius: 5, fillOpacity: 0.8, opacity: 1, weight: 1,
                color: "#fff", fillColor: filly(counter)
              }
            ).bindPopup('whg:'+identifier+'<br/><b>'+
              '<a href="/places/'+identifier+'/portal">'+feature.properties.title+"</b></a>");
            
            <!--marker.on('mouseover', function (e) {-->
                <!--this.openPopup();-->
            <!--});-->
            <!--marker.on('mouseout', function (e) {-->
                <!--this.closePopup();-->
            <!--});-->
            
            idToFeature[identifier] = marker
            return marker
          }
        }).addTo(mappy);
        bounds = traces.getBounds()
        if (bounds.getSouthWest().equals(bounds.getNorthEast())) {
          // single point
          mappy.setView(bounds.getCenter(),5)
        } else {
          mappy.fitBounds(bounds)
        }
    });
  }
  // creates suggestion dropdown
  // queries at each character
  // TODO: wait for 3rd character?
  $("#searchbox").on('input', function(){
    if($("#searchbox").val() =="") {
      $("#options_link").show()
    } else {
      $("#options_link").hide()
    }
    $("#options").hide()
    doctype = $("input[name='class']:checked").val();
    console.log(doctype)
    $.get("/search/suggest",{
        search: $(this).val(), 
        doc_type: doctype
      }, 
      function(data){
        // render to html
        showSuggestions(data,doctype);
      });
  })
  
  $('.nameautosuggest').on('click', '.suggest-place', function(){
    pid=$(this).attr('ref')
    // clear the dropdown
    $(".nameautosuggest").html('')
    // go
    location.href = 'places/'+pid+'/portal'
  });
  

  function showSuggestions(data,doctype){
    <!--console.log('showSuggestions',data)-->
    var div = '';
    data.forEach(function(sug){
      // load suggestion div
      div += sugLister(sug,doctype)
    });
    $('.nameautosuggest').show()
    $('.nameautosuggest').html(div);

    // highlight map marker from list
    $("li.body-place").on('click',function(e){
      // reset all markers to default
      traces.setStyle({"fillColor":"blue","radius":5})
      whgid = $(this).attr('data-id')
      idToFeature[whgid].setStyle({"fillColor":"#ff3333","radius":10})
      mappy.panTo(idToFeature[whgid]._latlng)
    })
    
    // open a modal for external page
    $('.ext').on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      console.log('url',url)
      $(".modal-body").html('<iframe width="100%" height="100%" frameborder="0" scrolling="yes" '+
        'allowtransparency="true" src="'+url+'"></iframe>');
    });

    // fetch geometry for a place record
    $(".flash-geom").hover(function(){
      <!--e.preventDefault()-->
      console.log('getting geom for ',$(this).data('id'))
    })
    
    // fetch geometry for a trace record
    $(".trace-item").on('click', function(e){
      $(".trace-item").removeClass('active-card')
      $(".trace-item").next().css( "display", "none" )
      <!--e.preventDefault()-->
      window.card= $(this)
      $(this).toggleClass("active-card")
      $(this).next().css( "display", "block" )
      fetchTraceGeom($(this).data('id'),0)
    })
  }

  function placeList(bods) {
    html='<ul class="small">'
    for (b in bods){
      if(bods[b]['whg_id'] !=null){
        <!--console.log(bods[b])-->
        html+='<li class="body-place" data-id="'+bods[b]['whg_id']+'">'+bods[b]['title']+' ('+bods[b]['relation']+')'
        html+='when' in bods[b] ? ' <i>'+bods[b]['when'][0]['start']+'>'+bods[b]['when'][0]['end']+'</i>' : ''
        html+='</li>'
      }
    }
    html += '</ul>'
    return html
  }
  function sugLister(sug,doctype) {
    <!--console.log(sug)-->
    if (doctype=='place') {
      variants = sug['variants'].length > 0 ? '<i class="text-secondary">'+sug['variants']+'</i>' : ''
      item = ('<li ref="'+sug['whg_id']+
              '" children="'+sug['children']+
              '" class="suggest-place" ">'+
              '<b>'+sug['name']+'</b> ('+sug['ccodes']+') '+ sug['type']+
              '<span class="float-right small flash-geom" data-id='+sug['whg_id']+'>'+'(whg:'+sug['whg_id']+')'+
              '</span><br/>'+
              variants.substring(0,100)+'</li>')  
    } else if (doctype=='trace') {
      item =  ('<div class="container"><div class="row trace-item" data-id='+sug['_id']+'>'+
              '<div class="col-sm-9">'+sug['title']+' ('+sug['type']+')</div>'+
              '<div class="col-sm-3"><span class="float-right">'+
              '<a class="mr-2 ext" data-toggle="modal" data-target="#ext_site" href="'+sug['id']+
              '">{% fontawesome_icon 'external-link' color='#336699' %}</a>'+
              '</span></div></div><div id="trace_detail">'+placeList(sug['bodies'])
              )
      if(sug['depiction'] !== ""){
        item += '<img class="trace-img" src="'+sug['depiction']+'"/>'
      }
      item += '</div></div>' // trace_detail, container
    }
    return item
  }

  function renderFeatures(geom){
    features = L.geoJSON(geom, {
      pointToLayer: function (feature, latlng) {
        matchid = feature.properties.dataset+':'+feature.properties.id
        marker = L.circleMarker(latlng,
          {
            radius: 8, fillOpacity: 0.8, opacity: 1, weight: 1,
            color: "#000", fillColor: fill(feature.properties.dataset)
          }
        ).bindPopup(feature.properties.dataset+':'+feature.properties.id);

        idToFeature[matchid] = marker
        return marker
      }
    }).addTo(mappy);    
  }

  $("[rel='tooltip']").tooltip();
  $('label.btn').click(function(){
    $(".nameautosuggest").html('')
    $('#searchbox').val('')
    $('#searchbox').attr("placeholder",this.getAttribute("rel"));
  })
</script>
{% endblock %}
