{% extends "main/base.html" %}

{% load static %}

{% block title %}<title>WHG v3.0a</title>{% endblock %}
{% block extra_head %}
  <script src="{% static 'js/spin.umd.js' %}"></script>  
  <link rel="stylesheet" href="{% static 'css/spin.css' %}"/>
{% endblock %}

{% block content %}

<div class="container mt-1" style="height: calc(100vh - 210px);">
	<div id="banner" class="banner-bare w-100 my-1 p-2">
		<div class="centered w-100">
		  <span class="title mb-0"><img src="{% static 'images/whg_logo.svg'%}"
          class="d-inline-block align-bottom me-2" height=80 width=80 alt=""/>World Historical Gazetteer</span>
		  <span id="tagline" class="mx-auto" style="display:block">linking knowledge about the past via place</span>
		</div>
	</div>

	<div id="content_top" class="row gx-2 gy-2 mx-0 h-75">
		<div class="col-sm-3">
			<div class="p-2 border h-100">left</div>
		</div>
		<div class="col-sm-6">
			<div class="p-2 border h-100 bg-light">map in the middle</div>
		</div>
		<div class="col-sm-3">
			<div class="p-1 border gy-2 h-100 bg-light">
				<div class="h-50 border mb-1 p-1">right top</div>
				<div class="h-50 border p-1">right bottom</div>
			</div>
		</div>
	</div> <!-- content_top -->

	<div id="content_bottom" class="row gx-2 gy-2 mx-0 h-25">
		<div class="col-sm-3 p-1">
			<div class="h-100 border p-1">search and browse</div>
		</div>
		<div class="col-sm-3 p-1">
			<div class="h-100 border p-1">upload and enhance</div>
		</div>
		<div class="col-sm-3 p-1">
			<div class="h-100 border p-1">build</div>
		</div>
		<div class="col-sm-3 p-1">
			<div class="h-100 border p-1">use</div>
		</div>
	</div> <!-- content_bottom-->
  <div class="modal fade" id="image_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><span id="header_text"></span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        </div>      
        <div class="modal-body">{% comment %}
          <button type="button" class="close" data-dismiss="modal">
	          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <img src="" class="imagepreview" style="width:100%; height:100%;" >{% endcomment %}
        </div>
      </div>
    </div>
  </div> 
</div>

<script type="text/javascript">
$(function(){
  $("[rel='tooltip']").tooltip();
  // modal for images
  $('.pop').on('click', function() {
    url = $(this).find('img').attr('src')
    txt = $(this).find('img').attr('alt')
    re=/(.png|.jpg|.jpeg|.gif|.tif)/g
    ext=url.match(re)[0]
    url = url.replace(ext,'_full'+ext)
    $("#header_text").html(txt)
    $('.imagepreview').attr('src', url);
    $('#image_modal').modal('show');   
  });	
})
</script>
{% endblock %}
