{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load static %}

{% block title %}<title>WHG v3.0a</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="{% static 'js/aliases.js' %}"></script>
  <script src="{% static 'js/parents.js' %}"></script>
  <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

  <script src="{% static 'js/spin.umd.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/spin.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">

	<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
{#	<script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>#}
{#	<link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />#}

	<style>
		#intro {font-size: .9rem;}
		.home-button {position: relative; font-family: "Archivo Black";}
		{#.home-icon-row {text-align: center;} #AAC7A4 54A1DA #}
		.button-hilite {color: rebeccapurple;}
		{#.button-hilite {color: #95C096;}#}
		.ds-header { background-color: #3979B1; color: #fff; }
		.coll-header { background-color: #54A1DA; color: #fff; }
		img {image-orientation: none;}
		#map { position: absolute; top: 0; bottom: 0; width: 100%; }
		#search_map {position: absolute; top: 5px; left: 5px}
		.advanced-search-link {
				font-size: .8rem;
				{#color: yellow !important;#}
				position: absolute;
				bottom:8px;
				left: 5px;
				background-color: #fff;
				z-index: 1000;
		}
		.advanced-search-link a { color: #336699 !important;}
	</style>
{% endblock %}

{% block content %}

<div class="container mt-1" style="height: calc(100vh - 210px);">
	<div id="banner" class="banner-bare w-100 my-1 p-2">
		{% if request.user_agent.is_mobile %}
			<div class="centered ">
			  <span class="title-mobile mb-0">
				  World Historical Gazetteer
			  </span>
			  <span id="tagline_mobile" class="mx-auto" style="display:block">linking knowledge about the past via place</span>
			</div>
		{% else %}
			<div class="centered w-100">
			  <span class="title mb-2">
				  <img src="{% static 'images/whg_logo.svg'%}" class="d-inline-block align-bottom me-2" height=80 width=80 alt=""/>
				  World Historical Gazetteer
			  </span>
			  <span id="tagline" class="mx-auto" style="display:block">linking knowledge about the past via place</span>
			</div>
		{% endif %}
	</div>
	<div id="content_top" class="row gx-2 gy-2 mx-0 h-75">
		<div class="col-sm-3" id="intro">
			<div class="p-2 border h-100">
				<p>Sed aliquam, metus ultricies varius auctor, eros neque iaculis est, ullamcorper cursus turpis purus non tellus.
					Nunc non velit quis est molestie tempor id eu tellus. Donec elementum, purus in ornare vehicula,
					lectus nulla molestie diam, vitae lacinia felis augue id leo. Praesent ac vehicula nulla. Sed sit amet lacinia arcu.
					Praesent suscipit a justo non ornare. Nulla a ligula commodo, laoreet risus a, cursus neque.
					Vestibulum ut orci ultricies, lacinia sapien ac, mollis justo.
				</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="border mb-1 h-75 bg-white" style="position: relative;">
				<div id="map"></div>
				<div id="search_map" class="input-group input-group-sm mb-3 shadow-sm" style="width: 40%">
				  <input type="text" class="form-control" placeholder="Enter place name"
				         aria-label="Username" aria-describedby="addon-wrapping">
				  <span class="input-group-text" id="addon-wrapping">
					  <a href="#" onclick="JavaScript:alert('Results on new results page')"><i class="fas fa-search"></i></a>
				  </span>
				</div>
				<div class="advanced-search-link px-1 py-0">
					<a href="{% url 'search-page' %}"#>advanced search</a>
				</div>
			</div>
			<div class=" p-1 border bg-white" style="height: 24%;">
				<p>Praesent ac vehicula nulla. Sed sit amet lacinia arcu.
					Praesent suscipit a justo non ornare. Nulla a ligula commodo, laoreet risus a, cursus neque.
					</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="gy-2 h-100 bg-white pb-1">
				<div class="h-50 border mb-1 p-1"> {# #3979B1 #} {# #54A1DA #}
					<h6 class="ds-header p-1 strong">Datasets
						<span class="float-end small">
							<a class="linkylite" href="">Gallery</a>
						</span></h6>
					<div><p>carousel</p></div>
				</div>
				<div class="h-50 border p-1">
					<h6 class="coll-header p-1 strong">Collections
						<span class="float-end small">
							<a class="linkylite" href="{% url 'collection:collection-gallery' %}">Gallery</a>
						</span></h6>
					<div><p>carousel</p></div>
				</div>
			</div>
		</div>
	</div> <!-- content_top -->

	<div id="content_bottom" class="row gx-2 gy-2 mx-0 h-25">
		<div class="col-sm-3 p-1 home-button">
			<div class="h-100 border p-1">
				<div class="home-icon-row">
					<img src="{% static 'images/001-binoculars.png'%}" class="" height=40 width=40 alt=""/>
				</div>
				<h5><span class="button-hilite">Search and browse</span> <span class="red-head">
					{{ count}}</span> published place attestations</h5>
			</div>
			<a href="{% url 'search-page' %}">
				<span class="link-spanner"></span>
			</a>
		</div>
		<div class="col-sm-3 p-1 home-button">
			<div class="h-100 border p-1">
				<div class="home-icon-row">
					<img src="{% static 'images/001-up-arrow.png'%}" class="" height=40 width=40 alt=""/>
					<img src="{% static 'images/003-browser.png' %}" class="ms-3" height=40 width=40 alt=""/>
				</div>
				<h5><span class="button-hilite">Upload, enhance, publish, and link</span> your place data</h5>
			</div>
			<span class="link-spanner btn" data-bs-toggle="modal"
			      data-bs-target="#homeModal"
			      data-bs-page="contribute"
			      data-bs-title="Upload, enhance, publish and link place data">
			</span>
		</div>
		<div class="col-sm-3 p-1 home-button">
			<div class="h-100 border p-1">
				<div class="home-icon-row"><img src="{% static 'images/008-collect.png'%}" class="" height=42 width=42 alt=""/></div>
				<h5><span class="button-hilite">Build</span>, annotate, and publish custom collections</h5>
			</div>
			<span class="link-spanner btn" data-bs-toggle="modal"
			      data-bs-target="#homeModal"
			      data-bs-page="build"
			      data-bs-title="Build custom collections"></span>
{#			<a href="{% url 'main:tute-collections' %}"><span class="link-spanner"></span></a>#}
		</div>
		<div class="col-sm-3 p-1 home-button">
			<div class="h-100 border p-1">
				<div class="home-icon-row">
					<img src="{% static 'images/011-teaching.png'%}" class="" height=42 width=42 alt=""/>
					<img src="{% static 'images/006-api-2.png'%}" class="ms-3" height=42 width=42 alt=""/>
				</div>
				<h5><span class="button-hilite">Use WHG data</span> in teaching and software</h5>
			</div>
			<span class="link-spanner btn" data-bs-toggle="modal"
			      data-bs-target="#homeModal"
			      data-bs-page="teaching_api"
						data-bs-title="Use World Historical Gazetteer data"></span>
		</div>
	</div> <!-- content_bottom-->
	<!-- Modal -->
	<div class="modal fade" id="homeModal" tabindex="-1"
	     aria-labelledby="homeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="homeModalLabel">{ per-button title }</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" style="overflow-y: scroll;"></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
$(function(){
  $("[rel='tooltip']").tooltip();
  // modal for images
  $('.pop').on('click', function() {
    url = $(this).find('img').attr('src')
    txt = $(this).find('img').attr('alt')
    re=/(.png|.jpg|.jpeg|.gif|.tif)/g
    ext=url.match(re)[0]
    url = url.replace(ext,'_full'+ext)
    $("#header_text").html(txt)
    $('.imagepreview').attr('src', url);
    $('#image_modal').modal('show');   
  });	
})

homeModal = document.getElementById('homeModal')
homeModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var title = button.getAttribute('data-bs-title')
	var page = button.getAttribute('data-bs-page')
	console.log('button_id', page)

  // update the modal title
  var modalTitle = homeModal.querySelector('.modal-title')
  modalTitle.textContent = title

	// get modal body as django template
	$.ajax({
    url: "{% url 'modal-home' %}",
		data: {'page': page,},
    type: 'POST',
    success: function(response) {
        $('.modal-body').html(response);
    },
    error: function(xhr, status, error) {
	    console.log('status, error', status, error)
	  }
	});
})

mapboxgl.accessToken = '{{ mbtokenwhg }}';
const map = new mapboxgl.Map({
	container: 'map',
	style: 'mapbox://styles/kgeographer/ckidglq8l2nra19nzzbl995ue',
	center: [10.2385, 29.8626], // starting position [lng, lat]
	zoom: 0.1 // starting zoom
});

</script>
{% endblock %}
