<!-- datasets/home.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome %}
{% load static %}

{% block title %}<title>WHGazetteer 0.3</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <div class="justify-content-center mt-3">
    <div id="home_map">
      {% leaflet_map "map_home" callback="map_init" %}
    </div> <!-- map -->
    <div id="home_search">
      <div id="search_panel">
        <div id="search_input">
          <div id="search_type" class="form-group d-flex justify-content-center"> 
            <div class="form-check form-check-inline">
              <input class="form-check-input hover" type="radio" name="class" id="r_place" value="place" rel="Enter place name" checked="checked">
              <label class="form-check-label" for="r_place">Places</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input hover" type="radio" name="class" id="r_trace" value="trace" rel="Enter term or name">
              <label class="form-check-label" for="r_trace">Traces
                  <span class="ml-1"><a href="" title="historical entities having spatial-temporal 'footprints'" rel="tooltip">{% fontawesome_icon 'question-circle' color='#336699' %}</a></span>                
              </label>
            </div>
          </div>          
          <div class="input-group input-group-sm mb-3">
            <input id="searchbox" type="text" class="form-control" placeholder="Enter place name" aria-label="Place name" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text search-button fa fa-search">
                {# fontawesome_icon 'search' color='#999' #}</span>
            </div>
          </div>
        </div>
        <div id="search_filters" class="hidden">searchfilters</div>
        <div class="autosuggest"></div>
      </div>
      <!-- separate div for full search results -->
      <div id="result_list" class="hidden"></div>
    </div>
  </div>
</div>

<div id="ext_site" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div id="ext_content" class="modal-body">foo</div>
    </div>
  </div>
</div> <!-- ext_site -->
      

<script type="text/javascript">
  $(function(){
    $("#options").hide();
    var idToFeature = {} // for feature lookup
    var titles = {}
    var searchoption = null;
    var doctype = $("input[name='class']:checked").val();
    clearit()
  })
  // future advanced options
  $("#options_link").on("click", function(e){
    e.preventDefault()
    $("#options").toggle()
    $("#options_link").toggle()
  })
  $('input[type=radio][name=class]').change(function() {
    $("#options_link").show()
    $("#options").hide()
    $(".autosuggest").html('')
    $('#searchbox').val('')
    $('#searchbox').attr("placeholder",this.getAttribute("rel"));
  });
  // initiates map
  window.addEventListener('map:init', function (e) {
    window.mappy = e.detail.map
    var attrib_mb = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      attrib_awmc = 'Tiles and Data &copy; 2013 <a href="http://www.awmc.unc.edu" target="_blank">AWMC</a>',
      token_mb = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
      token_kg = 'pk.eyJ1Ijoia2dlb2dyYXBoZXIiLCJhIjoiUmVralBPcyJ9.mJegAI1R6KR21x_CVVTlqw',
      token_awmc = 'pk.eyJ1Ijoia2dlb2dyYXBoZXIiLCJhIjoiY2prcmgwc2cwMjRuZzNsdGhzZmVuMDRqbCJ9.MeLsyeOqwhTRdvt_Hgo7kg',
      token_whg = '',
      mbtiles_url = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={token}';
      mbstyle_url = 'https://api.mapbox.com/styles/v1/{id}/tiles/256/{z}/{x}/{y}?access_token={token}';
      
    var awmc = L.tileLayer(mbtiles_url, {id:'isawnyu.map-knmctlkh', token:token_awmc, attribution:attrib_awmc}),
      grayscale = L.tileLayer(mbstyle_url, {id:'kgeographer/cjstfpenh6o1e1fldz95w8m6p', token:token_kg, attribution:attrib_mb}),
      satellite  = L.tileLayer(mbtiles_url, {id:'mapbox.satellite', token:token_mb, attribution:attrib_mb});
      osm  = L.tileLayer(mbtiles_url, {id:'mapbox.light', token:token_mb, attribution:attrib_mb});

    var countryStyle = {
      "color": "#ddd",
      "weight": 1,
      "opacity": 0.5,
      "fillOpacity": 0
    };

    var countries = new L.GeoJSON.AJAX("/media/data/countries_simplified.json",
      {style:countryStyle,
        onEachFeature: function (feature, layer) {
          popupOptions = {maxWidth: 200};
            layer.bindPopup(feature.properties.gnlabel, popupOptions);
          }
    });

    var baseLayers = {
      "AWMC Terrain": awmc,
      "OSM": osm,      
      "Spine Data": grayscale,
      "Satellite": satellite
    };
    var dataLayers = {
      "Countries": countries
    }
    mappy.zoomControl.setPosition('topright')
    L.control.layers(baseLayers,dataLayers).addTo(mappy);
    baseLayers["AWMC Terrain"].addTo(mappy)
    dataLayers["Countries"].addTo(mappy)
  }, false);

  function map_init (home_map, options) {
    <!--console.log(options)-->
    mappy.setView([38, 10], 2.4)
    <!--mappy.zoomControl.setPosition('topright')-->
    <!--new L.Control.Zoom({ position: 'topleft' }).addTo(map);-->
    // empty features[]
    geom = {"type":"FeatureCollecton","features":[]}

  } // end map_init
  
  function filly(counter) {
    if (counter == 0)
      return "blue"
    else if (counter == 1)
      return "orange"
    else if (counter == 2)
      return "purple"
    else if (counter == 3)
      return "greenyellow"
    else 
      return "yellow"
  }

  function fetchTraceGeom(trace_id,counter) {
    <!--console.log('fetchTraceGeom():',trace_id)-->
    if(typeof(traces) !== "undefined") {traces.clearLayers();}
    $.get("/search/tracegeom",{idx: 'traces', search: trace_id, doc_type: 'trace'},
      function(data){
        <!--console.log(data.features.length, ' mappable geoms in this trace')-->
        <!--console.log('bodies in this trace',data.bodies)-->
        var count_features = 0
        idToFeature = {}
        mappy.createPane('tracePane');
        mappy.getPane('tracePane').style.zIndex = 200;
        traces = L.geoJSON(data, {
          pane: 'tracePane',
          pointToLayer: function (feature, latlng) {
            count_features +=1;
            identifier = feature.properties.whg_id;
            <!--console.log(feature,identifier)-->
            marker = L.circleMarker(latlng,
              {
                radius: 5, fillOpacity: 0.8, opacity: 1, weight: 1,
                color: "#fff", fillColor: filly(counter)
              }
            ).bindPopup('whg:'+identifier+'<br/><b>'+
              '<a href="/places/'+identifier+'/portal">'+feature.properties.title+"</b></a>");
            
            <!--marker.on('mouseover', function (e) {-->
                <!--this.openPopup();-->
            <!--});-->
            <!--marker.on('mouseout', function (e) {-->
                <!--this.closePopup();-->
            <!--});-->
            
            idToFeature[identifier] = marker
            return marker
          }
        }).addTo(mappy);
        bounds = traces.getBounds()
        if (bounds.getSouthWest().equals(bounds.getNorthEast())) {
          // single point
          mappy.setView(bounds.getCenter(),5)
        } else {
          mappy.fitBounds(bounds)
        }
    });
  }
  // create suggestion dropdown
  // query at each character
  // TODO: wait for 3rd character?
  $("#searchbox").on('input', function(){
    if($("#searchbox").val() =="") {
      $("#options_link").show()
    } else {
      $("#options_link").hide()
    }
    $("#options").hide()
    window.doctype = $("input[name='class']:checked").val();
    <!--$.get("/search/suggest",{-->
    $.get("/search/search",{
        qstr: $(this).val(), 
        doc_type: doctype,
        scope: 'suggest'
      }, 
      function(data){
        // render to html
        showSuggestions(data,doctype);
      });
  })
  // catch Enter key press, trigger button
  $("#searchbox").on('keyup', function(e){
    if (e.keyCode === 13) {
      $(".search-button").click()
    }
  })
  clearit = function(){
    $("#searchbox").val('')
    $("#result_list").html('')
    $("#result_list").hide()
  }
  // perform search, not autocomplete
  $(".input-group-text").on('click', function(){
    scope = 'search'
    window.doctype = $("input[name='class']:checked").val();
    if ($(".input-group-text").hasClass('fa-times')) {
      clearit()
    } else {
      $.get("/search/search",{
        qstr: $("#searchbox")[0].value, 
        doc_type: doctype,
        scope: scope
      }, 
     function(data){
       // render to html
       console.log('data?',data)
       showSuggestions(data,doctype,scope);
     });
    }
    $(".input-group-text").toggleClass('fa-search fa-times')
    <!--console.log('button clicked; this: '+$("#searchbox")[0].value+'; type: '+doctype)-->
    $('.autosuggest').hide()
  })
  // load place portal page
  $('.autosuggest').on('click', '.place-item', function(){
    whgid=$(this).data('id')
    // clear the dropdown
    $(".autosuggest").html('')
    // go
    location.href = 'places/'+whgid+'/portal'
  });
  

  function showSuggestions(data,doctype,scope='suggest'){
    var div = '';
    data.forEach(function(sug){
      <!--console.log('suggestion',sug)-->
      <!--supply name for popup, places only-->
      if(!!sug.geom) {
        sug.geom.forEach(function(g){g['properties']['title']=sug.name})
      }
      // load suggestion div
      div += sugLister(sug,doctype)
    });
    if(scope == 'suggest'){
      $('.autosuggest').show()
      $('.autosuggest').html(div);
    } else {
      $('#result_list').show()
      $('#result_list').html('<p class="half allcap-heading mb-0 pl-1">SEARCH RESULTS</p>'+div);    
    }

    // highlight map marker from list
    $("li.body-place").on('click',function(e){
      // reset all markers to default
      traces.setStyle({"fillColor":"blue","radius":5})
      whgid = $(this).attr('data-id')
      console.log(whgid,'from body-place click')
      idToFeature[whgid].setStyle({"fillColor":"#ff3333","radius":10})
      mappy.panTo(idToFeature[whgid]._latlng)
    })
    
    // open a modal for external page
    $('.ext').on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      console.log('url',url)
      $(".modal-body").html('<iframe width="100%" height="100%" frameborder="0" scrolling="yes" '+
        'allowtransparency="true" src="'+url+'"></iframe>');
    });

    // fetch geometry for a place record
    <!--$(".flash-geom").on('hover', function(e){-->
    $(".flash-geom").click(function(e){
      e.preventDefault()
      var features = $(this).data('geom')
      data = {"type":"FeatureCollection","features":features}
      console.log(data)
      <!--console.log('id for',$(this).data('id'))-->
      <!--console.log('features for',$(this).data('geom'))-->
      var count_features = 0
      idToFeature = {}
      mappy.createPane('placePane');
      mappy.getPane('placePane').style.zIndex = 200;
      places = L.geoJSON(data, {
        pane: 'placePane',
        pointToLayer: function (feature, latlng) {
          count_features +=1;
          identifier = feature.properties.pid;
          marker = L.circleMarker(latlng,
            {
              radius: 8, fillOpacity: 0.8, opacity: 1, weight: 1,
              color: "#fff", fillColor: "red"
            }
          ).bindPopup(feature.properties.title+' (whg id:'+identifier+')');
                      
          idToFeature[identifier] = marker
          return marker
        }
      }).addTo(mappy);
      bounds = places.getBounds()
      mappy.setView(bounds.getCenter(),5)          
    })
    
    // fetch geometry for a trace record
    $(".trace-item").on('click', function(e){
      $(".trace-item").removeClass('active-card')
      $(".trace-item").next().css( "display", "none" )
      <!--e.preventDefault()-->
      window.card= $(this)
      $(this).toggleClass("active-card")
      $(this).next().css( "display", "block" )
      fetchTraceGeom($(this).data('id'),0)
    })
  }
  // TODO: this doesn't reach into when.timespans; Indias data malformed
  function parseWhen(when){
    html=''
    for (w in when){
      s = 'start' in when[w]?'start: '+when[w]['start']:'earliest: '+when[w]['earliest']
      e = 'end' in when[w]?'end: '+when[w]['end']:'latest: '+when[w]['latest']
      html += s +", " +e
      html+=w==when.length-1?'':'; '
    }
    return html
  }
  function placeList(bods) {
    html='<ul class="small">'
    for (b in bods){
      if(bods[b]['whg_id'] !=null){
        <!--console.log(bods[b])-->
        html+='<li class="body-place" data-id="'+bods[b]['whg_id']+'">'+bods[b]['title']+' ('+bods[b]['relation']+')<br/>'
        html+='when' in bods[b] ? '<span class="mt-0"><i>'+parseWhen(bods[b]['when'])+'</i></span>' : ''
        html+='</li>'
      }
    }
    html += '</ul>'
    return html
  }
  function sugLister(sug,doctype) {
    <!--console.log(sug)-->
    if (doctype=='place') {
      variants = sug['variants'].length > 0 ? '<i class="text-secondary">'+sug['variants']+'</i>' : ''
      item = '<div class="sug_row"><b>'+sug['name']+'</b>; '+variants+'</div>'
    } else if (doctype=='trace') {
      item =  ('<div class="container"><div class="row sug_row trace-item" data-id='+sug['_id']+'>'+
              '<div class="col-sm-9">'+sug['title']+' ('+sug['type']+')</div>'+
              '<div class="col-sm-3"><span class="float-right">'+
                '<a class="mr-2 ext" data-toggle="modal" data-target="#ext_site" href="'+sug['id']+
                '">{% fontawesome_icon 'external-link' color='#336699' %}</a>'+
              '</span></div>'
              +'</div><div id="trace_detail">'+placeList(sug['bodies'])
              )
      if(sug['depiction'] !== ""){
        item += '<img class="trace-img" src="'+sug['depiction']+'"/>'
      }
      item += '</div></div>' // trace_detail, container
    }
    return item
  }

  $("[rel='tooltip']").tooltip();
  $('label.btn').click(function(){
    $(".autosuggest").html('')
    $('#searchbox').val('')
    $('#searchbox').attr("placeholder",this.getAttribute("rel"));
  })
</script>
{% endblock %}


  <!--function stopVideo() {-->
    <!--var $frame = $('iframe');-->
  
    <!--// saves the current iframe source-->
    <!--var pagesrc = $frame.attr('src');-->
  
    <!--// sets the source to nothing, stopping the video-->
    <!--$frame.attr('src', '');-->
  
    <!--// sets it back to the correct link so that it reloads immediately on the next window open-->
    <!--$frame.attr('src', pagesrc);-->
  <!--}-->
  
  <!--$('#ext_site').on('hidden.bs.modal', function(e) {-->
    <!--stopVideo();-->
  <!--})-->
  
