<!-- datasets/home.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome %}
{% load static %}

{% block title %}<title>WHG v1.3</title>{% endblock %}
{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="{% static 'css/typeahead.css' %}">
  <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
  <script src="{% static 'js/typeahead.bundle.js' %}"></script>
  <script src="{% static 'js/spin.umd.js' %}"></script>
  
  <!--<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />-->
  <!--<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>-->
  <!--<script src="{ static 'js/leaflet-mapbox-gl.js' %}"></script>-->

  <script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>
  <link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />

  <style>
    <!--body { margin: 0; padding: 0; }-->
    #map { position: absolute; top: 35px; bottom: 20px; width: 90%; }
    #map_select { position:absolute; top: 0;}
  </style>
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <div class="justify-content-center mt-2">
      <div id="map_select"><span  style="display:inline-block">
      <select id="map_dataset" name="region" class="custom-select-sm">
        <option value="0">Display dataset</option>
        <!--<option value='croniken_og_json'>Croniken</option>-->
        <option value=985>Croniken</option>
        <option value=8>HGIS de las Indias (territorios)</option>
        <option value=9>HGIS de las Indias (lugares)</option>
        <option value=637>Old World Trade (OWTRAD)</option>
        <option value=636>Euratlas Cities</option>
        <option value=635>al-Thurayya (11c Islam)</option>
        <option value=652>Pleiades </option>
        <option value=1035>Atlas of Mutual Heritage</option>
        <option value=986>Curacao</option>
      </select></span>
      <span style="display:inline-block">
      <ul>
        <li style="display:inline"><a class="f" href="#" data-pid=6595921 data-coords=[22.0331,55.0335]>feature 1</a></li>
        <li style="display:inline"><a class="f" href="#" data-pid=6595945 data-coords=[24.1878,56.4063]>feature 2</a></li>
      </ul>
      <!-- hightlightFeature(6595921,[ 22.0330810546875,55.03353169388018]) -->
      </span>
      <!--<p class="v2hideme"><a href="{ url 'home2beta' %}">v2beta1</a></p>-->
      </div>
    <div id="map"></div>
  </div>
</div>

<script type="text/javascript">

$(".f").click(function(){
  pid=$(this).data('pid')
  coords=$(this).data('coords')
  console.log('pid, coords',pid, coords)
  highlightFeature(pid, coords)
})

var token_whg = '{{ mbtokenwhg }}', 
  token_mb = '{{ mbtokenmb }}';

$( "#map_dataset" ).change(function() {
  renderData($(this).val())
});	

var map = new maplibregl.Map({
  container: 'map', // container id
  style: 'mapbox://styles/mapbox/light-v10',
  <!--style: 'mapbox://styles/kgeographer/ckidglq8l2nra19nzzbl995ue',-->
  <!--center: [15, 35], // starting position [lng, lat]-->
  zoom: 1.1, // starting zoom
  minZoom: 1.0,
  maxZoom: 18,
  accessToken: token_whg
});

map.on('load', function() {
  hilited = null
  
  map.addSource('empty', {
    type: 'geojson',
    data: { type: 'FeatureCollection', features: [] }
  });
  
  const zIndex2 = map.addLayer({
    id: 'z-index-2',
    type: 'symbol',
    source: 'empty'
  });
  
  const zIndex1 = map.addLayer({
    id: 'z-index-1',
    type: 'symbol',
    source: 'empty'
  }, 'z-index-2'); // place this layer below zIndex2
  
  renderData(636)
  <!--renderData(8)-->
})
<!--const polygons = map.addLayer({-->
  <!--id: 'my-polygons',-->
  <!--type: 'symbol',-->
  <!--source: myPolygons-->
<!--}, 'z-index-1'); // place the polygons on the bottom-->

<!--const points = map.addLayer({-->
  <!--id: 'my-real-points',-->
  <!--type: 'symbol',-->
  <!--source: myPoints-->
<!--}, 'z-index-2'); // place the points above the polygons-->

function highlightFeature(pid, coords){
  console.log('pid, coords',pid, coords)
  // remove previous
  <!--if(hilited){hilited.remove()}-->
  
  <!--hilited = new maplibregl.Marker().setLngLat(coords).addTo(map);-->
  
  <!--'circle-stroke-color': 'black',-->
  <!--'circle-stroke-width': 1,-->

  map.setPaintProperty(
    'gl_active_point', 'circle-radius', 
      { 'property':'pid',
        'type':'categorical',
        'stops':[[pid, 12]]}
  );
  map.setPaintProperty(
    'gl_active_point', 'circle-stroke-color', 
      { 'property':'pid',
        'type':'categorical',
        'stops':[[pid, '#666']]}
  );
  map.setPaintProperty(
    'gl_active_point', 'circle-stroke-width', 
      { 'property':'pid',
        'type':'categorical',
        'stops':[[pid, 1]]}
  );
  map.setPaintProperty(
    'gl_active_point', 'circle-color', 
      { 'property':'pid',
        'default':'#ff9900',
        'type':'categorical',
        'stops':[[pid,'red']]}
  );

  <!--map.setPaintProperty(-->
    <!--'gl_active_point', 'circle-opacity', -->
      <!--{ 'property':'pid',-->
        <!--'default': 0.5,-->
        <!--'type':'categorical',-->
        <!--'stops':[[pid,1]]}-->
  <!--);-->
  // also set z-index and zoom
    // zoom to feature
  map.flyTo({'center': coords, 'zoom': 10})
  
}
<!--paint: {-->
    <!--'circle-radius': 3,-->
    <!--'circle-color': '#223b53',-->
    <!--'circle-stroke-color': 'white',-->
    <!--'circle-stroke-width': 1,-->
    <!--'circle-opacity': 0.5-->
  <!--}-->
function renderData(dsid){
<!--function renderData(dslabel){-->
  startMapSpinner()
  // clear any data layers and 'places' source
  if(!!map.getLayer('gl_active_point')){
    map.removeLayer('gl_active_point')
    map.removeLayer('gl_active_poly')
    map.removeSource('places')
  }
  // fetch data
  
  <!--$.get('/api/geojson/', {id: dsid}, function(data){ // much slower-->
  $.get('/datasets/'+dsid+'/geojson', function(data){
    console.log('data', data)
    // get bounds w/turf
    envelope = turf.envelope(data)
    console.log(envelope)
    
    // add source 'places' w/retrieved data
    map.addSource('places', {
        'type': 'geojson',
        <!--'data': data-->
        'data': '/Users/karlg/Documents/Repos/_whgazetteer/_scratch/territorios.json'
    })
    
    // render to map
     
    map.addLayer({
      'id': 'gl_active_poly',
      'type': 'fill',
      'source': 'places',
      'paint': {
        'fill-color': '#ddd',
        'fill-opacity': 0.2,
        'fill-outline-color': 'black'
      },
      'filter': ['==', '$type', 'Polygon']
    }, 'z-index-1');
    
    map.addLayer({
      'id': 'gl_active_point',
      'type': 'circle',
      'source': 'places',
      'paint': {
        'circle-color': '#ff9900',
        'circle-radius': {
          stops: [[1, 2], [3, 3], [16, 10]]
        }        
        <!--"circle-radius": [-->
        <!--<!--"interpolate", ["linear"],-->-->
          <!--"interpolate", ['exponential', 0.5],-->
            <!--["zoom"], 1, 1, 12, 8 -->
        <!--]-->
      },
      'filter': ['==', '$type', 'Point']
    }, 'z-index-2');  

    
    map.fitBounds(envelope.bbox)
    spinner_map.stop()
    
  })  // get
}

map.on('click', 'gl_active_point', function (e) {
  <!--console.log('place:', e.features[0])-->
  place=e.features[0]
  var coordinates = e.features[0].geometry.coordinates.slice();
  var pid = e.features[0].properties.pid;
  var title = e.features[0].properties.title;
  var src_id = e.features[0].properties.src_id;
  var minmax = e.features[0].properties.minmax;
  var fc = e.features[0].properties.fclasses;
   
  <!--// Ensure that if the map is zoomed out such that multiple-->
  <!--// copies of the feature are visible, the popup appears-->
  <!--// over the copy being pointed to.-->
  while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
  }
  
  // highlight row
  console.log('highlight row & fetch data', pid, coordinates)
    
  // popup
  new maplibregl.Popup()
  .setLngLat(coordinates)
  .setHTML('<b>'+title+'</b><br/>'+
              '<a href="javascript:getPlace('+pid+')">fetch info</a><br/>'+
              'start, end: '+minmax)
  .addTo(map);
});

// Change the cursor to a pointer when the mouse is over the places layer.
map.on('mouseenter', 'gl_active_point', function () {
  map.getCanvas().style.cursor = 'pointer';
});
 
// Change it back to a pointer when it leaves.
map.on('mouseleave', 'gl_active_point', function () {
  map.getCanvas().style.cursor = '';
});

map.on('zoomend', function(){
  console.log('zoomend')
})

spin_opts = { scale: .5, top: '50%'}
function startMapSpinner(){
  console.log('startMapSpinner()')
  window.spinner_map = new Spin.Spinner(spin_opts).spin();
  $("#map_select").append(spinner_map.el);   
}

$(function(){
  $(".navbar").hide()
  var idToFeature = {} // for feature lookup
}) // end onLoad()
  
 /*
	*** render_area() ***
	fetch and display an area (region/area/country)
  */
  function render_area(areaid) {
    $.ajax({
      url: '/api/area/'+areaid
      }).done(function(data){
        console.log('render_area()',data)
        geom = {"type":"FeatureCollecton","features":[]}
        geom['features'].push(data.geojson)
    
        // clear existing
        if(typeof arealayer !== 'undefined'){arealayer.removeFrom(mappy)}
    
        // render new
        arealayer = L.geoJSON(geom, {
          onEachFeature: function(feature,layer) {
          f=feature; l=layer;
          console.log('render_area() f,l',f,l)
          l.setStyle({"color":"orange","weight":2,"fillOpacity":0})
          idToArea[areaid] = l
          <!--identifier = f.place_id;-->
          popupOptions = {maxWidth: 200};
          l.bindPopup(data.title, popupOptions);
          }
        }).addTo(mappy)
        mappy.fitBounds(arealayer.getBounds())
      })
  }  
 
  /*
    *** renderPlaces() *** from showResults()
    render geometries from search results to map
  */
  renderPlaces = function(geoms) {
    if(typeof(features)!=='undefined'){ features.clearLayers() }
    if(typeof(traces)!=='undefined'){ traces.clearLayers() }
    
    data = {"type":"FeatureCollection","features":geoms}
    <!--console.log('geodata prior to render',data)-->
    var count_features = 0
    idToFeature = {}
    idToArea = {}
    mappy.createPane('placePane');
    mappy.getPane('placePane').style.zIndex = 200;
    stuff=L.layerGroup()
    features = L.geoJSON(data, {
      pointToLayer: function (feature, latlng) {
        count_features +=1;
        identifier = feature.properties.whgid;
        if(feature.type=='Point'){
          marker = L.circleMarker(latlng, styles.marker_default)
          <!--.bindPopup(feature.properties.title+' (whg id:<a href="/places/'+identifier+'/portal">+identifier+</a>)');-->
          // add to array for selection
          idToFeature[identifier] = marker
          return marker
        }
      },
      onEachFeature: function(feature,layer) {
        f=feature; l=layer;
        identifier = feature.properties.whgid;
        if(feature.type != 'Point'){
          layer.setStyle(['LineString','MultiLineString'].indexOf(feature.type)>-1 ? styles.line_default:styles.pgon_default)
          idToFeature[identifier] = layer
        }
        layer.bindPopup(feature.properties.title+' (whg id:<a href="/places/'+identifier+'/portal">'+identifier+'</a>)');
        <!--layer.bindTooltip(feature.properties.title,{"permanent":true});-->
        layer.on('click',function(e){
          scroll = 20
          ele = $("#result_list")
          $(".search-row").css('background-color','#fff')
          <!--divtop = $('#result_list').offset().top-->
          fid = this.feature.geometry.properties.whgid
          foo=$("div.place-item").find('[data-id="'+fid+'"]').closest('.search-row')
          foo.css('background-color','#f4f4d7')
          <!--foo[0].scrollIntoView({behavior:'smooth'})-->
          foo[0].scrollIntoView()
          ele.scrollTop(ele.scrollTop() - scroll);
        })
      }
    }).addTo(mappy);
    bounds = features.getBounds()
    <!--mappy.setView(bounds.getCenter(),5) -->
    if(geoms.length > 0 ){
      mappy.fitBounds(bounds)
      if(mappy.getZoom() > 5){ mappy.setZoom(5)}
      <!--mappy.setView(bounds.getCenter(),)-->
    }
    
  }
  // map feature styles
  styles = {
    'marker_default': {
      fillColor: "#ff0000",
      color:"#666",
      weight:1,
      fillOpacity:0.5,
      opacity:0.5},
    'marker_highlight': {
      radius:10,fillOpacity:1,fillColor:"yellow",color:"#000"
    },
    'line_default':{
      weight:3,
      opacity:1,
      color: "#00ccff"
    },
    'line_highlight':{weight: 4, color:"yellow"},
    'pgon_default':{
      fillColor: "#ff0000",
      color:"#fff",
      weight:2,
      fillOpacity:0.1,
      opacity:1},
    'pgon_highlight':{
      fillOpacity:1,fillColor:"yellow",color:"#000"
    }
  }
 
</script>
{% endblock %}
