<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHG Site Under Maintenance</title>
</head>
<body>
    <div style="text-align: center; margin-top: 10%;">
        <h1>We are currently doing some server maintenance.</h1>
        <p>Please check back a little later, after</p>
        <ul>
            <li>19.00 CEST</li>
            <li>18.00 London</li>
            <li>17.00 UTC</li>
            <li>13.00 Eastern (US)</li>
            <li>03.00 Tokyo</li>
            <li>01.00 Beijing</li>
        </ul>
    </div>
</body>
</html>
