{% extends "main/base.html" %}
{% block title %}<title>WHG::v2 Guide</title>{% endblock %}

{% block content %}
{% load static %}
{% load fontawesome %}
<div class="container">

<!--<a href="javascript:void(0);" data-href="getContent.php?id=1" class="openPopup">Got Modal?</a>-->
<a href="javascript:void(0);" class="openPopup">Got Modal?</a>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5>Preview <small><a href="#">full record</a></small></h5>
                <button type="button" class="close larger" data-dismiss="modal">
                    {% fontawesome_icon 'window-close' color='#336699' %}
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
      
    </div>
</div>
<script>
$(document).ready(function(){
    $('.openPopup').on('click',function(){
        <!--var dataURL = $(this).attr('data-href');-->
        console.log('clicked link')
        var dataURL = '/places/12345979/modal';  <!-- 12608007-->
        $('.modal-body').load(dataURL,function(){
            $('#myModal').modal({show:true});
        });
    }); 
});
</script>
{% endblock %}
