{% extends "main/base.html" %}
{% block title %}<title>WHG::Tutorials</title>{% endblock %}

{% block content %}
{% load fontawesome %}
{% load static %}
{% block extra_head %}
<style>
  a.btn {background-color: aliceblue;}
</style>
{% endblock %}
<main role="main">

  <section class="text-center">
    <div class="container mb-1">
      <h3>Tutorials and How-Tos</h3>
      <!--<p class="lead text-muted">Have at it!</p>-->
    </div>
  </section>

  <div class="album py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div style="background-color:antiquewhite; height:10px;"></div>
            <img src="{% static 'images/tute_guide.png'%}" height="138">
            <div class="card-body">
              <h4>A Guide to WHG</h4>
              <p class="card-text">Overview, Page by Page details, FAQ </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'main:tute-guide' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div style="background-color:antiquewhite; height:10px;"></div>
            <div class="card-body">
              <h4>Navigating the WHG for Spatial Thinking</h4>
              <p class="card-text">A lesson plan using the World Historical Gazetteer to make connections 
                between named place and cartographic space, gaining exposure to key skills of spatial thinking and reasoning.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'resources:resource-detail' 8 %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
{#                  <span class="ml-3"><mark>NEW!</mark></span>#}
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div style="background-color:antiquewhite; height:10px;"></div>
            <div class="card-body">
              <h4>Preparing an LP-TSV format file from a spreadsheet</h4>
              <p class="card-text">Step-by-step walkthrough from a spreadsheet to a valid LP-TSV file for upoad</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'main:tute-lptsv' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                  <span class="ml-3"></span>
                </div>
                 <!--<small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div style="background-color:antiquewhite; height:10px;"></div>
            <div class="card-body">
              <h4>Walkthrough: Uploading and extending data via reconciliation</h4>
              <p class="card-text">Step by step tutorial for loading a sample dataset and aligning its records with 3.6m place records in our Wikidata index</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'main:tute-walkthrough' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div style="background-color:antiquewhite; height:10px;"></div>
            <div class="card-body">
              <h4>Creating and Publishing a Place Collection <span class="badge badge-warning ml-3">BETA</span></h4>
              <p class="card-text">A brief guide</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'main:tute-place_collections' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
	      {#        <div class="col-md-4">#}
{#          <div class="card mb-4 shadow-sm">#}
{#            <div style="background-color:antiquewhite; height:10px;"></div>#}
{#          <!--<img src="{ static 'images/blank_68h.png'%}" width="100%" height="40" >-->#}
{#            <div class="card-body">#}
{#              <h4>Linked Traces in World Historical Gazetteer</h4>#}
{#              <p class="card-text">A brief introduction to this experimental feature.</p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                  <a href="{% url 'main:tute-traces' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>#}
{#                </div>#}
{#                <!-- <small class="text-muted">9 mins</small> -->#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div style="background-color:antiquewhite; height:10px;"></div>
          <!--<img src="{ static 'images/blank_68h.png'%}" width="100%" height="40" >-->
            <div class="card-body">
              <h4>WHG Asian History Lesson: Exploring the Changing Names of Cities</h4>
              <p class="card-text">A sample lesson plan based on WHG</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'resources:lesson-asian' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                  <span class="ml-3"></span>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div style="background-color:antiquewhite; height:10px;"></div>
            <div class="card-body">
              <h4>Choosing an upload data format: Linked Places (LP) or LP-TSV?</h4>
              <p class="card-text">Outlining the benefits and drawbacks of each</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'main:tute-choosing' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
    </div>
  </div>
</main>

{% endblock %}
{%comment%}
<div class="card mb-4 shadow-sm">
  <img src="{ static 'images/blank_68h.png'%}" width="100%" height="40" >
    <div class="card-body text-muted">
      <h4>Preparing Data: Linked Places (LP) format</h4>
      <p class="card-text">Step by step instructions for loading a dataset and reconciling it against 2.5m records from Getty Thesaurus of Geographic Names</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group hidden">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        </div>
        <!-- <small class="text-muted">9 mins</small> -->
      </div>
    </div>
  </div>
</div>
{%endcomment%}
