{% extends "main/base.html" %}
{% block title %}<title>WHG::Tutorials</title>{% endblock %}

{% block content %}
{% load fontawesome %}
{% load static %}

<main role="main">

  <section class="text-center">
    <div class="container mb-1">
      <h3>Tutorials and How-Tos</h3>
      <p class="lead text-muted">Have at it!</p>
    </div>
  </section>

  <div class="album py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/blank_150h.png'%}" width="100%" height="100" >
            <div class="card-body">
              <h4>WHG Beta Release: A tour</h4>
              <p class="card-text">What is here, what you can do, what is in the works.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'main:tute-beta' %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/soon_150h.png'%}" width="100%" height="100" >
            <div class="card-body text-muted text-muted">
              <h4>Choosing an upload data format: Linked Places (LP) or LP-TSV?</h4>
              <p class="card-text">Outlining the benefits and drawbacks of each</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group hidden">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <img src="{% static 'images/soon_150h.png'%}" width="100%" height="100" >
            <div class="card-body text-muted">
              <h4>Preparing Data: Linked Places (LP) format</h4>
              <p class="card-text">Strategies for transformation and walkthrough of the LP format specification.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group hidden">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/soon_150h.png'%}" width="100%" height="100" >
            <div class="card-body text-muted">
              <h4>Preparing Data: LP-TSV format</h4>
              <p class="card-text">Strategies for transformation and walkthrough of the LP-TSV specification.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group hidden">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/soon_150h.png'%}" width="100%" height="100" >
            <div class="card-body text-muted">
              <h4>Reconciliation</h4>
              <p class="card-text">Finding matches between your records and modern place name authority resources.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group hidden">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/soon_150h.png'%}" width="100%" height="100" >
            <div class="card-body text-muted">
              <h4>Using the WHG API</h4>
              <p class="card-text">Basics, with examples.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group hidden">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static 'images/soon_150h.png'%}" width="100%" height="100" >
            <div class="card-body text-muted">
              <h4>Updating your dataset</h4>
              <p class="card-text">Your uploaded dataset, once augmented with links and geometry, is a "new master." Strategies for making additions, deletions, and edits.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group hidden">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}
