{% extends "main/base.html" %}
{% block title %}<title>WHG::APIs</title>{% endblock %}

{% block content %}
{% load fontawesome %}
{% load static %}

  <div class="container">
    <div id="api_content" class="mx-3">
      <div class="row mt-2">
        <div class="col-sm-5"> 
			<h4>Using the API</h4>
            <p class="mb-2">Development of the external API is in draft stage. We plan to refine options and add endpoints in response to community feedback. Please use <a href="#" class="feedback">this form</a> for suggestions.</p>
			
			<h5 class="red-head strong">Two place data stores</h5>
			
            <p>The <b class="red-head">relational database</b> holds individual records from uploaded datasets</p>
            <p class="ml-2 notebox small">Note that records from all uploaded datasets are assigned a unique identifier within the WHG system (<b>place_id</b>). Both that place_id and the contributor's own <b>src_id</b> will be maintained unless and until the dataset is deleted by its owner. If a dataset is flagged as "public," its records will be accessible via the "database API" as indicated. In this way WHG can serve as a Linked Open Data publisher for those projects unable to stand up their own per-record landing pages.</p>
			
            <p>The <b class="red-head">"union index"</b>: links <i>contributed</i> records deemed to be close or exact matches in the optional accessioning step that follows initial uploading and reconciliation tasks. So, results of an index query will return a set of one or more records as distinct attestations of the "same" place.</p>
						{%comment%}
            <h5 class="red-head strong ">Trace data</h5>
            <p>We have indexed a limited number of "trace annotation" datasets, which can be searched by keyword. Trace records can optionally be returned in place searches,</p>
						{%endcomment%}
          </div>
          <div class="col-sm-7 smallish">
			<h4>Endpoints</h4>
			<!--<span class="text-danger"><b>NOTE:</b> Only the example links are confirmed to work right now.</span>.-->
			<ul id="api_tabs" class="nav nav-tabs" role="tablist">
			  <li class="nav-item">
				<a class="nav-link" id="placedb-tab" data-toggle="tab" href="#place_db" role="tab" aria-controls="place_db" aria-selected="true">Places (database)</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" id="placeidx-tab" data-toggle="tab" href="#place_idx" role="tab" aria-controls="place_idx" aria-selected="false">Places (index)</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="spatial-tab" data-toggle="tab" href="#spatial" role="tab" aria-controls="spatial" aria-selected="false">Spatial</a>
			  </li>
			  <!-- <li class="nav-item">
				<a class="nav-link" id="traces-tab" data-toggle="tab" href="#traces" role="tab" aria-controls="traces" aria-selected="false">Traces</a>
			  </li> -->
			  <li class="nav-item">
				<a class="nav-link" id="areas-tab" data-toggle="tab" href="#areas" role="tab" aria-controls="areas" aria-selected="false">Regions/Areas</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="datasets-tab" data-toggle="tab" href="#datasets" role="tab" aria-controls="datasets" aria-selected="false">Datasets</a>
			  </li>
			</ul>
			<div class="tab-content">
			  <div id="place_db" class="tab-pane fade" role="tabpanel" aria-labelledby="placedb-tab">
				<p class="mb-0">
				  Search <span class="red-head strong">public database records</span> (<b>whgazetteer.org/api/db?</b>)</p>
				<table class="table table-striped table-api">
				  <thead>
					<tr><th scope="col">parameter</th><th scope="col">value</th><th scope="col">notes</th></tr>
				  </thead>
				  <tbody>
					<tr><td>id</td><td>integer</td><td>returns single database record</td></tr>
					<tr><td>name</td><td>string</td><td>equals or starts with; <b>name, name_contains, or id is required</b></td></tr>
					<tr><td>name_contains</td><td>string</td><td>includes string</td></tr>
					<tr><td>dataset</td><td>string</td><td>dataset label</td></tr>
					<tr><td>fclass</td><td>string</td><td>1 or more <a href="#" data-html="true" onClick='return false;' title="A=administrative; H=hydrological; L=landscape; P=settlements;<br/> S='sites';<br/> T=topographical" rel="tooltip" class="ttip">GeoNames feature class code</a>, comma-separated</td></tr>
					<tr><td>year</td><td>integer</td><td>year within attested timespan(s) if any (<a href="#" data-html="true" onClick='return false;' title="Core records from TGN and GeoNames have no temporal information" rel="tooltip" class="ttip">Note</a>).<br/>use '-' for BCE dates, to -9999</td></tr>
					<tr><td>ccode</td><td>string</td><td>1 or more <a href="https://www.iso.org/obp/ui/#search/code" target="_blank">2-letter ISO codes {% fontawesome_icon 'external-link' %}</a>, comma separated</td></tr>
					<tr><td>area</td><td>integer</td><td>within this region or user study area</td></tr>
					<tr><td>pagesize</td><td>integer</td><td>Default is 20; maximum allowed=200</td></tr>
				  </tbody>
				</table>
				<p class="mb-2"><span class="text-danger strong">NOTE:</span> All places in a dataset may be downloaded as a file from the owner's dataset portal page, by the dataset owner and collaborators, or if flagged as "public," from the public dataset page.</span></p>
				<div id="examples">
				  <p class="mb-0 strong">Examples</p>
				  <p class="mb-0">Abydos, Egypt in the database, attested to exist at 4000 BCE</p>
				  <p><a href="{% url 'api-search' %}?name=abydos&ccode=eg&year=-4000" target="_blank">/api/db/?name=abydos&ccode=eg&year=-4000</a></p>
				  
				  <p class="mb-0">Khmer "landscape" features (regions, cultural groups, peoples) or settlements.</p>
				  <p><a href="{% url 'api-search' %}?name_contains=khmer&fclass=p,l" target="_blank">/api/db/?name_contains=khmer&fclass=p,l</a></p>

				</div>
			  </div> <!-- place_db -->
			  <div id="place_idx" class="tab-pane fade show active" role="tabpanel" aria-labelledby="placeidx-tab">
{#				  <div id="disabled" style="position:absolute; top:200px; min-height: 400px; min-width:400px; color:#993333; opacity: 80%;"><h3>Access to the index API is temporarily disabled. Back soon!</h3></div>#}
				<p class="mb-0">
				  Search <span class="red-head strong">union index</span> (<b>whgazetteer.org/api/index?</b>). Returns GeoJSON.</p>
				<!--<p class="smaller my-0"><i>using these parameters</i></p>-->
				<table class="table table-striped table-api">
				  <thead>
					<tr><th scope="col">parameter</th><th scope="col">value</th><th scope="col">notes</th></tr>
				  </thead>
				  <tbody>
					<tr><td>whgid</td><td>integer</td><td>index identifier; returns 1 or more linked records</td></tr>
					<tr><td>name</td><td>string</td><td>exact match; <b>name, name_startswith, or whgid is required</b></td></tr>
					<tr><td>name_startswith</td><td>string</td><td>starts <i>any part of</i> a name</td></tr>
					<tr><td>dataset</td><td>string</td><td>dataset label</td></tr>
					<tr><td>ccode</td><td>string</td><td>1 or more 2-letter ISO codes, comma separate</td></tr>
					<tr>
					  <td>fclass</td><td>string</td><td>1-letter GeoNames feature category <a href="#" data-html="true" onClick='return false;' title="A=administrative; H=hydrological; L=landscape; P=settlements;<br/> S='sites';<br/> T=topographical" rel="tooltip"> {% fontawesome_icon 'question-circle' color='#993333' %}</a>; >=1)</i>; </td>
					</tr>
					<tr>
					  <td>year</td><td>integer</td><td>within any timespan of linked records;<br/>use '-' for BCE dates, to -9999</td>
					</tr>
					<tr><td>area</td><td>integer</td><td>within this region or user study area</td></tr>
					<tr><td>pagesize</td><td>integer</td><td>Default is unlimited; results are unordered</td></tr>
				  </tbody>
				</table>

				<div id="examples">
				  <p class="mb-0 strong">Examples</p>
				  <p class="mb-0">Sites named Abydos: one in Turkey, two in Egypt. Two have two attestations each.</p>
				  <p><a href="{{ settings.URL_FRONT }}/api/index/?name=abydos&fclass=s" target="_blank">/api/index/?name=abydos&fclass=s</a></p>

				  <p class="mb-0">Index record linking the two database records for Abydos, EG asserted as matches.</p>
					<p><a href="{{ settings.URL_FRONT }}/api/index/?whgid=12608007" target="_blank">/api/index/?whgid=12608007</a></p>

					<p class="mb-0">Settlements and sites in N. Africa w/part of any name variant starting with "aby."</p>
				  <p><a href="{{ settings.URL_FRONT }}/api/index/?name_startswith=aby&fclass=p,s&area=85" target="_blank">/api/index/?name_startswith=aby&fclass=p,s&area=85</a>
				</div>

			  </div> <!-- place_idx -->
			  <div id="spatial" class="tab-pane fade" role="tabpanel" aria-labelledby="spatial-tab">
				<p class="mb-0"><span class="red-head strong">Spatial queries</span> (<b>whgazetteer.org/api/spatial?</b>)</p>
				<p class="mb-1 small"><i>Note that spatial queries can take several seconds to complete.</i></p>
				<table class="table table-striped table-api">
				  <thead>
					<tr><th scope="col">parameter</th><th scope="col">value</th><th scope="col">notes</th></tr>
				  </thead>
				  <tbody>
					<tr><td>type<sup>&#x02733;</sup></td><td>string</td><td><b>bbox</b> <i>or</i> <b>nearby</b> (required)</td></tr>
					<tr><td>sw<sup>&#8224;</sup></td><td>decimal&nbsp;deg.</td><td>bbox southwest corner</td></tr>
					<tr><td>ne<sup>&#8224;</sup></td><td>decimal&nbsp;deg.</td><td>bbox northeast corner</td></tr>
					<tr><td>lon<sup>&#8225;</sup></td><td>decimal&nbsp;deg.</td><td>longitude (wgs84)</td></tr>
					<tr><td>lat<sup>&#8225;</sup></td><td>decimal&nbsp;deg.</td><td>longitude (wgs84)</td></tr>
					<tr><td>km<sup>&#8225;</sup></td><td>integer</td><td>buffer distance in km</td></tr>
					<tr style="border-top: 2px solid lightgray;">
						<td>dataset</td>
						<td>string</td>
						<td>dataset label</td>
					</tr>
					<tr>
						<td>collection</td>
						<td>integer</td>
						<td>collection ID</td>
					</tr>
					<tr>
						<td>fclass</td>
						<td>string</td>
						<td>1 or more <a href="#" data-html="true" onClick='return false;'
								title="A=administrative; H=hydrological; L=landscape; P=settlements;<br/> S='sites';<br/> T=topographical"
								rel="tooltip" class="ttip">GeoNames feature class code</a>, comma-separated</span></td>
					</tr>
					<tr>
						<td>pagesize</td>
						<td>integer</td>
						<td>Default is 20; maximum allowed=200</td>
					</tr>
				  </tbody>
				</table>
				<p class="my-1 ml-2">&#x02733; always required; &nbsp;&nbsp;&#8224 required for <b>bbox</b>; &nbsp;&nbsp;&#8225; required for <b>nearby</b></p>
				<div id="examples" class="">
				  <p class="mb-0 strong">Examples</p>
				  <p class="mb-0">Settlements & sites within a bounding box (feature classes 'P' and 'S')</p>
				  <p class="mb-1"><a href="{% url 'api-spatial' %}?type=bbox&sw=31.918,26.186&ne=32.918,27.186&fc=P,S" target="_blank">
						/api/spatial/?type=bbox&sw=31.918,26.186&ne=33.918,28.186&fc=P,S
				  </a></p>
				  <p class="mb-0">Places in Old World Trade dataset within 100km of given point, ordered</p>
				  <p class=mb-1><a href="{% url 'api-spatial' %}?type=nearby&lon=31.918&lat=26.186&km=100&dataset=owtrad" target="_blank">
						/api/spatial/?type=nearby&lon=31.918&lat=26.186&km=100&dataset=owtrad
				  </a></p>
				  <p class="mb-0">Settlements in HGIS de Las Indias collection within 10km of given point, ordered</p>
				  <p class=mb-1><a href="{% url 'api-spatial' %}?type=nearby&lon=-98.3067&lat=19.1302&km=10&fc=P&collection=5" target="_blank">
						/api/spatial/?type=nearby&lon=-98.3067&lat=19.1302&km=10&fc=P&collection=5
				  </a></p>
				</div>
			  </div>
			  <div id="areas" class="tab-pane fade" role="tabpanel" aria-labelledby="areas-tab">
				<p class="mb-0">Search <span class="red-head strong">regions &amp; areas</span> (<b>whgazetteer.org/api/areas?</b>)</p>
				<table class="table table-striped table-api">
				  <thead>
					<tr><th scope="col">parameter</th><th scope="col">value</th><th scope="col">notes</th></tr>
				  </thead>
				  <tbody>
					<tr><td>&lt;none&gt;</td><td>n/a</td><td>all regions &amp; study areas flagged 'public'</td></tr>
					<tr><td>id</td><td>integer</td><td>a single region/area</td></tr>
					<tr><td>q</td><td>string</td><td>Search region/area names</td></tr>
				  </tbody>
				</table>
				<div id="examples" class="">
				  <p class="mb-0 strong">Examples</p>
				  <p class="mb-0">All regions and public user study areas</p>
				  <p><a href="{% url 'area-features' %}" target="_blank">
				  http://whgazetteer.org/api/areas</a></p>
				  <p class="mb-0">A region by id</p>
				  <p><a href="{% url 'area-features' %}?id=75" target="_blank">
				  http://whgazetteer.org/api/areas?id=75</a></p>
				  <p class="mb-0">Search string</p>
				  <p><a href="{% url 'area-features' %}?q=africa" target="_blank">
				  http://whgazetteer.org/api/areas?q=africa</a></p>
				</div>
			  </div> <!-- areas -->
			  <div id="datasets" class="tab-pane fade" role="tabpanel" aria-labelledby="datasets-tab">
				<p class="mb-0">Search <span class="red-head strong">datasets</span> (<b>whgazetteer.org/api/datasets</b>)</p>
				<table class="table table-striped table-api">
				  <thead>
					<tr><th scope="col">parameter</th><th scope="col">value</th><th scope="col">notes</th></tr>
				  </thead>
				  <tbody>
					<tr><td>&lt;none&gt;</td><td>n/a</td><td>metadata for all datasets flagged 'public'</td></tr>
					<tr><td>id</td><td>integer</td><td>metadata for a single 'public' dataset</td></tr>
					<tr><td>label</td><td>string</td><td>metadata for a single 'public' dataset</td></tr>
					<tr><td>q</td><td>string</td><td>string in dataset title or description</td></tr>
				  </tbody>
				</table>
				<p class="mb-2"><span class="text-danger strong">NOTE:</span> All places in a dataset may be downloaded as a file from the owner's dataset portal page, by the dataset owner and collaborators, or if flagged as "public," from the public dataset page.</span></p>
				<div id="examples">
				  <p class="mb-0 strong">Examples</p>
				  <p class="mb-0">List all 'public' datasets</p>
				  <p><a href="{% url 'dataset-list' %}" target="_blank">
					http://whgazetteer.org/api/datasets</a></p>
				  <p class="mb-0">A 'public' dataset by id</p>
				  <p><a href="{% url 'dataset-list' %}?id=1" target="_blank">
					http://whgazetteer.org/api/datasets?id=1</a></p>
				  <p class="mb-0">A 'public' dataset by label identifier</p>
				  <p><a href="{% url 'dataset-list' %}?label=dplace" target="_blank">
					http://whgazetteer.org/api/datasets?label=dplace</a></p>
				  <p class="mb-0">Search title and description for term</p>
				  <p><a href="{% url 'dataset-list' %}?q=spanish" target="_blank">
					http://whgazetteer.org/api/datasets?q=spanish</a></p>					
				</div>
			  </div> <!-- datasets -->
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
	$(function(){
	  $("[rel='tooltip']").tooltip();
	})
  </script>
{% endblock %}

