{% extends "main/base.html" %}
{% block title %}<title>WHG::UsingAPI</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Using the API</h3>
    </div>
    <div id="system_content" class="mx-3">
      <p class="lead">anything?</p>
        <div class="row">
          <div class="col-sm-6">  
            <p>Development of the external API is in a draft stage. We plan to refine options and add endpoints in response to community feedback. Please <a href="#">use this form for suggestions</a>.</p>
            <h6>Two place data stores</h6>
            <p>The <b>relational database</b>, holding records from uploaded datasets</p>
            <p class="ml-2 notebox"><i>Note that records from all uploaded datasets are assigned a unique identifier within the WHG system (<b>place_id</b>). Both that place_id and the contributor's own <b>src_id> will be maintained unless and until the dataset is deleted by its owner. If a dataset is flagged as "public," its records will be accessible via the "database API" as indicated. In this way WHG can serve as a Linked Open Data publisher for those projects unable to stand up their own per-record landing pages.</i></p>
            <p>The <b>"union index"</b> that gathers all <u>contributed (i.e. accessioned)</u> place attestations (and related trace annotations) for a given place. Note that accessioning is a separate and optional step that <u>can</u> follow uploading and reconciliation.</p>
            <h6>Trace data</h6>
            <p>We have indexed a limited number of "trace annotation" datasets.</p>
          </div>
          <div class="col-sm-5">
            <p>Data is available from these endpoints, using parameters as noted</p>
            <ul>
              <li><p>A contributed record (Verapaz): <a href="http://dev.whgazetteer.org/api/place/173465/" target="_blank">http://dev.whgazetteer.org/api/places/140167/</a></p></li>
              <li><p>The "union" record for Istanbul: <a href="http://dev.whgazetteer.org/api/union/?idx=whg&_id=12345979" target="_blank">http://dev.whgazetteer.org/api/union?idx=whg&amp;_id=12345979</a></p></li>
              <li><p>List of datasets: <a href="http://localhost:8000/api/datasets/" target="_blank">http://dev.whgazetteer.org/api/datasets/</a></p></li>
              <li><p>A single dataset: <a href="http://localhost:8000/api/dataset/1" target="_blank">http://dev.whgazetteer.org/api/dataset/1</p></li>
            </ul>   
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
