{% extends "main/base.html" %}
{% block title %}<title>WHG::UsingAPI</title>{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <h3>Using the API</h3>
  </div>
  <div class="px-5">
    <p>Development of the external API is at an early stage. There will be several place and dataset endpoints with numerous filtering and search options, to: 1) the relational database, accessing records from contributed datasets, 2) the "union index" that gathers all place attestations (and related trace annotations) for a given place, and 3) a listing of contributed datasets.</p>
    <p class="ml-2 notebox"><i>Note that contributed records will have "permanent" URIs within the WHG system, allowing WHG to serve as a publisher of linked data for those projects unable to stand up per-record landing pages.</i></p>
    <p>These are a few native Django REST API Framework screens available so far:</p>
    <ul>
      <li><p>A contributed record (Verapaz): <a href="http://dev.whgazetteer.org/api/places/173465/" target="_blank">http://dev.whgazetteer.org/api/places/140167/</a></p></li>
      <li><p>The "union" record for Istanbul: <a href="http://localhost:8000/api/union/?idx=whg02&_id=12345679" target="_blank">http://dev.whgazetteer.org/api/union?idx=whg02&amp;_id=12345679</a></p></li>
      <li><p>List of datasets: <a href="http://dev.whgazetteer.org/api/datasets/" target="_blank">http://dev.whgazetteer.org/api/datasets/</a></p></li>
      <li><p>A single dataset: <a href="http://dev.whgazetteer.org/api/datasets/9" target="_blank">http://dev.whgazetteer.org/api/datasets/9</p></li>
    </ul>
  </div>
</div>
{% endblock %}
