<!-- context keys: place, collection -->
{% load static %}
{% block extra_head %}

{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<div style="background-color: #fafafa; padding:2px;">
	<p><sr>Title</sr>: {{ place.title }}</p>
	<p><sr>Variants</sr>: {% for n in place.names.all %}
		{% if n.toponym != place.title %}
		{{ n.toponym }};
		{% endif %}
	{% endfor %}</p>
</div>
<hr/>
<!-- submits to traces.views.annotate() -->
<form id="anno_form" action="{% url 'collection:collection-annotate' collection.id %}"
      method="POST"	enctype="multipart/form-data">
	<input type="hidden" name="owner" value="{{ collection.owner_id }}"/>
	<input type="hidden" name="place" value="{{ place.id }}"/>
	<input type="hidden" name="collection" value="{{ collection.id }}"/>
	<input type="hidden" name="motivation" value="locating"/>
	<input type="hidden" name="saved" value="True"/>
	{% if existing %}
		<input type="hidden" name="anno_id" value={{ existing }} />
	{% endif %}
	<table>
		<tr>
			<td>Relation:</td>
			<td>
				<select class="" id="select_relation" name="relation">
					<option value="" selected >Select relation</option>
					{% for k, v in collection.kw_colors.items %}
						<option class="{{ v }}Text" value='{{ k }}' {% if k == form.relation.value %}selected{% endif %}>
							{{ k }} <span class="{{ v }}Text" >({{ v }})</span>
						</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr style="line-height: .6rem; padding-bottom: 1rem;"><td></td>
			<td class="align-top"><span class="small">{% for k, v in collection.kw_colors.items %}
				<i>{{ k }}</i>: <span class="fs-5" style="color:{{ v }}">&#9679;</span> | {% endfor %}</span></td>
		</tr>
		<tr style="height: .8rem; padding-bottom: 1rem;"><td></td><td></td></tr>
		<tr><td>Start/End:</td>
			<td>{{ form.start }} / {{ form.end }}
			<a href="#" class="" rel="tooltip" data-html="true" title="Month and day optional.<br/>For BCE, prefix with '-'">
				<i class="fas fa-question-circle linky"></i>
			</a>
			</td></tr>
		<tr><td class="align-top">Notes:</td><td>{{ form.note }}</td></tr>
		<tr>
			<td class="align-top">Image:</td>
			<td>
				{% if form.image_file.value %}
					<a href="/media/{{ form.image_file.value }}">
						{{ form.image_file.value }}
					</a> (<a href="javascript:showChooser('anno_img')">change</a>)
				{% else %}
					{{ form.image_file }}
				{% endif %}
					<span id="anno_img_chooser" class="hidden">{{ form.image_file }}</span>
			</td>
		</tr>
		<tr><td></td>
			<td>
			<button id="b_anno_submit" type="submit" class="button button-sm mt-2">Save annotation</button>
			</td></tr>
	</table>

</form>
<script type="application/javascript"></script>
{#</html>#}