{% extends "main/base.html" %}
{% block title %}<title>WHG::About</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Guide to WHG Beta v0.1</h3>
    </div>
    <div id="contrib_content" class="px-5">
      <p class="px-5 lead">Welcome to our first public beta release. The Version 1 launch is planned for Spring 2020 and in the meantime we will be making a series of beta releases to give early adopters and contributors an early view of the capabilities of this platform and a chance to experiment. <br/>Notes about future improvements and missing functionality appear <mark>highlighted like this</mark>.</p>
      <div class="tute-section px-5">
        <h4 class="p-1">Home Page</h4>
        <div class="p-1">
          <h5>Register/Login/Profile</h5>
          <p>Registration and login are required to be able to upload datasets, use our reconciliation service to find matches in modern placename authorities, <a href="#" target="_blank">Getty Thesaurus of Geographic Names (TGN)</a> and <a href="#" target="_blank">Wikidata</a> at this point), and ultimately to contribute your data to our index. <mark>These functions are rudimentary now and will be upgraded soon</mark>.</p>
          <h5>Search for Places and Traces</h5>
          <h6>Places</h6>
          <p>foo</p>
          <h6>Traces</h6>
          <p>fah</p>
        </div>
      </div>
      <div class="tute-section">
        <h3></h3>
        <p></p>
      </div>
      <div class="tute-section">
        <h3></h3>
        <p></p>
      </div>
    </div>
  </div>
{% endblock %}
