{% extends "main/base.html" %}
{% block title %}<title>WHG::Choosing an Upload Format</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Choosing an Upload Data Format: Linked Places (LP) or LP-TSV?</h3>
    </div>
    <div id="contrib_content" class="mx-3">
      <p class="px-5 lead">Two formats, which to use?</p><p>Notes about future improvements and missing functionality appear <mark>highlighted like this</mark>.</p>
      <div id="choosing#Intro" class="tute-section">
        <h4 class="p-1">Intro</h4>
        <div class="p-1">
          <h5>sub-heading</h5>
          <p>paragraph</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
