{% extends "main/base.html" %}
{% block title %}<title>WHG::Collections</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Collections in WHG</h3>
    </div>
    <div id="contrib_content" class="mx-5">
      <p class="lead">Collections in WHG are sets of datasets. Registered users can link datsets they own (or co-own), for purposes of presentation and filtering of searches.</p>
      <div class="tute-section">
        <h4 class="p-1">Step 1</h4>
        <div class="p-1">
		  <p>Lorem ipsum</p>
		  <p>Lorem ipsum rendundantum</p>
        <h4 class="p-1">Step 2</h4>
		  <p>Lorem ipsum</p>
		  <p>Lorem ipsum rendundantum</p>
        <h4 class="p-1">Step 3</h4>
		  <p>Lorem ipsum</p>
		  <p>Lorem ipsum rendundantum</p>
      </div>
    </div>
  </div>
{% endblock %}
