{% extends "main/base.html" %}
{% block title %}<title>WHG::Collections</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Collections in World Historical Gazetteer</h3>
    </div>
    <div id="contrib_content" class="mx-5">
      <p class="lead">Collections in WHG are sets of datasets. Registered users can link public datasets they own (or co-own), for purposes of presentation and filtering of searches. <mark>In our next release, it will be possible to create collections from individual records or groups of records by several means.</mark></p>
      <div class="tute-section">
        <div class="p-1">
          <h4 class="p-1">Why collections?</h4>
          <p>Creators of gazetteers for a particular region and period are increasingly interested in linking their data with projects that have overlapping spatial and/or temporal coverage. Loosely joining datasets in the WHG platform can potentially generate rich "focus regions," within the platform, effectively combining the efforts of numerous specialized projects.</p>
          <p>For example, the Humanities Cluster of the Royal Dutch Academies (<a href="https://huc.knaw.nl/" target="_blank">KNAW HuC</a>) has begun developing the <a href="{% url 'collection:ds-collection-summary' pk=2 %}">"Dutch History" collection</a>, which will ultimately link a few dozen datasets of settlements and administrative areas in historically Dutch territories around the globe.</p>
          <p>Preliminary discussion have begin on several similar efforts, including for Colonial and pre-Colonial Latin America (LatAm), the Middle East, the Ottoman Empire, Central Eurasia, Early Modern Europe, and the geography of the Atlantic slave trade.</p>
          <p>Collections can also be used to link datasets from a single contributor, as Werner Stangl has done with two datasets from his HGIS de las Indias project <a href="{% url 'collection:ds-collection-summary' pk=1 %}">WHG collection</a>]; [<a href="https://www.hgis-indias.net/" target="_blank">project site</a>]. One dataset contains around 13,000 settlements (lugares), the other around 900 political and religious administrative areas (territorios) they lay within&mdash; with their 3,000+ spatial extents that changed over time.</p>
          <h4 class="p-1">Creating a collection</h4>
          <p>Collections are created by listing two or more existing public datasets in a new Collection record, and describing it briefly in a short metadata form.</p>
          <p></p>
          <h4 class="p-1">Using collections</h4>
          <p>Collections are an important new feature in WHG, and we have only just begun implementing examples demonstrating their use and value. Two so far are the "focus regions" mentioned above and teaching applications.</p>
          <ul>
          <li><sr>Focus regions</sr>. A common use case in historical research is the geocoding (geo-referencing) of textual or tabular source material&mdash;finding actual or estimated locations for referenced places in order to map them and perhaps to use spatial analysis to understand their meaning and relevance to the phenomena in question. Such source corpora often reference particular regions in particular periods, and effective geo-referencing will benefit greatly by a gazetteer resource for that region/period combination. Collections in WHG provide a platform for multiple projects to assemble (link) the specialist gazetteer datasets they develop. Such a union of related and overlapping datasets can become an important resource for anyone working in a given region. We anticipate for example that a future LatAm collection will grow over time from numerous specialized contributions, seeded by the HGIS de las Indias datasets/collection.</li>
          <li><sr>Teaching</sr>. We have begun working with groups of historians and educators at the University of Pittsburgh (Pitt) to develop lesson plans for using WHG collections in classroms. We can foresee for example students being assigned to collaboratively gather a set of records for places that are connected in some way, as explored by them and/or their instructor.</li>
          </ul>
          <p style="min-height:30px;">&nbsp;</p>
      </div>
    </div>
  </div>
{% endblock %}
