{% extends "main/base.html" %}
{% block title %}<title>WHG::Contributing</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Contributing Place Data</h3>
    </div>
    <div id="contrib_content" class="mx-5">
      <p class="lead">After a dataset has been uploaded and reconciled with Wikidata and/or Getty TGN, its owner is encouraged to take the further step of requesting its accessioning to a separate high-speed index, where its records are linked with any corresponding or closely matched records already in the system. </p>
      <div class="tute-section">
        <h4 class="p-1">Step 1</h4>
        <div class="p-1">
		  <p>Lorem ipsum</p>
		  <p>Lorem ipsum rendundantum</p>
        <h4 class="p-1">Step 2</h4>
		  <p>Lorem ipsum</p>
		  <p>Lorem ipsum rendundantum</p>
        <h4 class="p-1">Step 3</h4>
		  <p>Lorem ipsum</p>
		  <p>Lorem ipsum rendundantum</p>
      </div>
    </div>
  </div>
{% endblock %}
