{% extends "main/base.html" %}
{% block title %}<title>WHG::v1 Guide</title>{% endblock %}

{% block content %}
{% load static %}
{% load fontawesome %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>World Historical Gazetteer Version 1.0: A Guide</h3>
    </div>
    <div id="guide_content" class="mx-5">
      <p class="lead">Welcome to Version 1 of the World Historical Gazetteer (WHG) platform. WHG remains a work-in-progress, so expect refinements, new features and new data in subsequent releases. Notes about planned near-future updates appear <mark>highlighted like this</mark>.</p>
      <div id="guide_tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="guide-overview-tab" data-toggle="tab" href="#guide_overview" role="tab" aria-controls="" aria-selected="true">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="guide-pages-tab" data-toggle="tab" href="#guide_pages" role="tab" aria-controls="" aria-selected="false">Page by page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="guide-faq-tab" data-toggle="tab" href="#guide_faq" role="tab" aria-controls="" aria-selected="false">FAQ</a>
          </li>
        </ul>
      </div>
      <div id="tab_content" class="tab-content">
        <div id="guide_overview" class="guide tab-pane fade show active" role="tabpanel">
          <ul class="nav nav-pills nav-fill mt-3 mb-1" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="pills-why-tab" data-toggle="pill" href="#pills-why" role="tab" aria-controls="pills-why" aria-selected="true">Why WHG?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="pills-what-tab" data-toggle="pill" href="#pills-what" role="tab" aria-controls="pills-what" aria-selected="false">WHG Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-do-tab" data-toggle="pill" href="#pills-do" role="tab" aria-controls="pills-do" aria-selected="false">WHG Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-comm-tab" data-toggle="pill" href="#pills-comm" role="tab" aria-controls="pills-comm" aria-selected="false">Community</a>
            </li>
          </ul>
          <div class="tab-content mt-2" id="pills-tabContent">
            <div id="pills-why" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-why-tab">
              <div class="p-1">
                <p class="subhead">Geography in Historical Research</p>
                <p>Some scholars and students of the human past ask explicitly geospatial questions (“Where did that happen?” “What else happened in that place?”). Others simply want to make maps. Either of these cases requires making a list of historical place names and determining the coordinates of those places in order to make them mappable and amenable to spatial analysis. This is an extremely difficult and time-consuming task. The mission of the World Historical Gazetteer is to make it as easy as possible.  WHG is a pilot platform for gathering in one system, over time, contributions of place name data—large and small, and for all regions and historical periods—and to provide services for geolocating additional names.</p>
                <p class="subhead">Teaching</p>
                <p>WHG is an excellent resource for teachers and students alike. Teachers can use information in WHG to refine lessons and to make custom maps for lectures or resources. Students can make their own historical datasets and then create maps from them. The services offered by WHG will help make historical mapping easier and more accessible to everyone. In short, developing gazetteer datasets is a hecka good classroom tool.</p>
                <p class="subhead">Reference</p>
                <p>A "union index" of place attestations drawn from historical sources will over time increasingly link the disparate research of contributors on the dimension of place. Furthermore, by bringing together all the known references for a place without privileging any particular one, it decenters colonized name making. For instance, the WHG index contains 133 modern and historical name variants for the contemporary city of Beijing drawn from multiple sources, and 96 for the city of Istanbul. Searching for either Al Quds or Jerusalem returns contributed references for either.</p>
              </div>
            </div>
            <div id="pills-what" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-what-tab">
              <h5>Data</h5>
              <div class="p-1">
                <p class="subhead">Two Place Data Stores: Database and Index</p>
                <p class="mb-0"><img src="{% static 'images/two-stores.png'%}" height=250/></p>
                <p class="mb-0">Data from files uploaded to WHG in either the full Linked Place format (LP) or abbreviated LP-TSV format are imported into a PostgreSQL relational database and made available to you for viewing and augmenting via our reconciliation process. You cannot edit them in WHG, but in the case of LP-TSV files, you can replace a dataset with a new file reflecting changes you made locally.</p>
                
                <p class="mb-0">The reconciliation process finds prospective matches to your records in Getty TGN and/or Wikidata. When such an external record is accepted as a “closeMatch,” one or more place_link and place_geom records are added to the database, reflecting that match. This augments your dataset within the WHG database with additional attestations to the same place (links), and geographical coordinates, but does not alter the uploaded content in any way. If you flag your dataset as public, it's records will publicly accessible via <a href="{% url 'usingapi' %}">the WHG API</a>.</p>
                
                <p class="mb-0">Separately from the database, WHG maintains a high-speed index that links records for the same place contained within multiple datasets. This conflation within the index means that for example, a search for either Istanbul, Constantinople, or Byzantium will lead you to a Place Portal page listing attestations for any of those names from multiple sources.</p>
                
                <mark>NOTE: We are evaluating ways to permit editing in the future.</mark></p>
                <p class="subhead">Place</p>
                <p class="mb-0">As of August, 2020 World Historical Gazetteer includes:</p>
                <p class="mb-0"><i><b>Core (non-historical) data</b></i></p>
                  <ul>
                    <li>942 records from <a href="http://geonames.org" target="_blank">GeoNames</a>, including cities with population > 500,000 and world capitals</li>
                    <li>Approximately 1.8 million records from a January 2017 download from <a href="" target="_blank">Getty Thesaurus of Geographic Names (TGN)</a>.</li>
                    <li>Countries (252), rivers (982), and mountain ranges (217) from <a href="" target="_blank">Natural Earth</a>.</li>
                    <li>Lakes (1491) from the <a href="" target="_blank">Wildlife Research Institute</a></li>
                    <li>1482 societies (peoples, cultural groups) from <a href="http://d-place.org" target="_blank">D-Place</a> a "Database of Places, Language, Culture and Environment."</li>
                  </ul>
                  <p class="mb-0"><i><b>Historical data</b> (all are in the database, but indexing is partial and in progress for some, as noted)</i></p>
                  <ul>
                    <li>10,643 records from the <a href="https://www.worldcat.org/title/dk-atlas-of-world-history/oclc/43091166" target="_blank">DK Atlas of World History</a> (Jeremy Black (ed.), 1999)</li>
                    <li>13,258 <i>lugares</i> and 892 <i> territorios</i> from <a href="http://www.hgis-indias.net/" target="_blank">HGIS de las Indias</a> (Werner Stangl)</li>
                    <li>20,365 settlements, archaeological sites, rivers and mountains from the <a href="http://pleiades.stoa.org" target="_blank">Pleiades gazetteer</a>. <mark>in progress</mark></li>
                    <li>4,117 settlements from the <a href="http://ciolek.com/owtrad.html" target="_blank">Old World Trade Routes project</a> (T. Matthew Ciolek) <mark>in progress</mark></li>
                    <li>3,584 settlements from <a href="https://www.euratlas.net/history/europe/" target="_blank">Euratlas <i>Periodis Web</i></a>  <mark>in progress</mark></li>
                    <li>2,241 settlements from the <a href="https://althurayya.github.io/" target="_blank">al-Ṯurayyā Project</a>  <mark>in progress</mark></li>
                  </ul>                
                    <p>Several additional historical datasets are in queue for accessioning at this time. We welcome further contributions, large and small. If you have one in the works or in mind, please let us know via the <a href="">conteact form</a>. We will publicize these additions as they occur via <a href="http://whgazetteer.org" target="_blank">our blog</a> and our Twitter account (<a href="https://twitter.com/WHGazetteer" target="_blank">@WHGazetteer</a>)</p>
                <p class="subhead">Trace annotations (experimental)</p>
                <p>Trace annotations are records annotating web resources about historical events, people, works and objects (“traces”) with identifiers for the places that are relevant to them. The annotations assert a relation between the trace and the place (for instance, they note that a place was the waypoint on a journey or the birthplace of an individual) and they attest a year or timespan during which the trace and the place were connected. Each annotation record joins one trace with any number of places. In connection with one another, one or multiple trace records link places together to create spatially explicit historical narratives.</p>
                <ul>
                <li>Hernán Cortes and the Conquest of the Aztec Empire</li>
                <li>The Journey of Xuanzang, a seventh century Buddhist Monk</li>
                <li>The Lifepath of Gautama Buddha</li>
                <li>The Empire of Alexander</li>
                <li></li>
                <li></li>
                <li></li>
                </ul>
              </div>            
            </div>
            <div id="pills-do" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-do-tab">
              <div class="p-1">
                <p>Details for how to use the following services appear in the "Page by Page" section of this Guide and in help screens throughout the application.</p>
                <p class="subhead">Geocoding via reconciliation</p>
                <p>The core feature of WHG is its reconciliation services, which allow you to upload place records drawn from your historical sources and find potential matches for them in two authority resources: the <a href="http://www.getty.edu/research/tools/vocabularies/tgn/" target="_blank">Getty Thesaurus of Geographic Names (TGN)</a> and <a href="https://www.wikidata.org/" target="_blank">Wikidata</a>. These include, in most cases, geographic coordinates. Potential matches are queued for review, and when you accept a match, your original dataset is augmented with geometry from the authority record as well as the authority identifier. Many Wikidata records also include concordances: identifiers from GeoNames, VIAF, and Library of Congress. Those are also added to the original dataset.</p>
                <p>The scripts that we have developed to suggest potential matches do not simply match names; they make use of context provided in uploaded and authority records, including: a) all name variants, b) modern country or study area bounds, c) place type, and d) any provided coordinates. </p>
                
                <p class="subhead">Downloading augmented data</p>
                <p>Having augmented an uploaded dataset with additional geometry and links, its owner can download it for mapping or further deveopment or any research purposes. Note that the file they download is a revised version of the original and users must manage the different versions.</p>
                
                <p class="subhead">Sharing (publication)</p>
                <p>If you flag your uploaded dataset as "public", it is effectively published as Linked Open Data. Each record is assigned a unique permanent numerical identifier within WHG. It also inherits a unique dataset <b>label</b> identifier upon upload, whichcan be combined with the unique <b>src_id</b> you had given it, forming another permanent identifier within WHG. Individual records can therefore be accessed via our API with two URI patterns: <b>/api/place/&lt;place_id&gt;</b> and <b>/api/place/&lt;dataset label&gt;/&lt;src_id&gt;</b>. For example, the <b>DK Atlas of World History</b> record for Abydos, Egypt has an assigned <i>place_id</i> of 81010 and can be accessed at <b>http://whgazeteer/api/place/81010/</b>.It can also be accessed via its dataset label and src_id at <b>http://whgazeteer/api/place/black/10031/</b></p>
                
                <p class="subhead">Contributing</p>
                <p>All of the above occurs in your private workspace. Once your dataset has as many geometries and links to external authorities as the reconciliation process can discover, you can have it accessioned as a contribution to the WHG union index. Why take this extra important step?</p>
                <ul>
                <li>Your place attestations now appear in index search results, in many cases linked with other attestations for the same place.</li>
                <li>Because of this, researchers concerned with a particular place or set of places can learn about other people also interested in the same place(s)</li>
                <li>If any of your records refer to places that were not previously in the WHG index, they will become new "seed" records. In time, people will spend far less effort geocoding their own place records</li>
                <li>The WHG API allows the index to be connected to tools such as Pelagios' <a href="http://recogito.pelagios.org" target="_blank">Recogito</a>. When it is, you and others will have a far easier time annotating historical texts with authority records (and coordinates) for place references.</li>
                <li>While simply flagging an uploaded dataset as "public" effectively publishes it, the extra step of accessioning to the index makes it that much more useful in the growing ecosystem of linked historical geodata.</li>
                </ul>
              </div>            
            </div>
            <div id="pills-comm" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-comm-tab">
              <div class="p-1">
                <p class="subhead">Community</p>
                <p>The WHG project belongs to a growing community interested in linking information <i>about historical places</i> and linking historical information from multiple disciplines <i>via place</i>. As such we are active partners in the <a href="https://pelagios.org/" target="_blank">Pelagios Network</a>.</p>
                <p class="subhead">Domains of Interest</p>
                <p><a href="http://pleiades.stoa.org" target="_blank">Pleiades</a>, the "community-built gazetteer and graph of ancient places," is a trailblazing project that more than a decade ago began gathering, curating and sharing contributed data, focused on the Mediterranean region. Its success has been instructive in several ways. The project was and is the product of a community&mdash;in its case classicists, archaeologists, and historians of the region and period. It has a dozen volunteer editors, numerous reviewers, and continues to grow in depth and breadth.</p>
                <p>We at World Historical Gazetteer anticipate our own data aggregation and publishing platform will grow by virtue of similar geographic and temporal "domains of interest." We aim to prioritize projects about the Global South. Our list of early and prospective contributors bears this out&mdash;it is spatiotemporally clustered. For example, Werner Stangl's HGIS de las Indias has seeded an early Latin American domain, and several other contributions of colonial and pre-colonial Latin America data are expected soon. Other emerging clusters include: the "Atlantic World," the Ottoman Empire, the Islamic World, Central Eurasia, and China.</p>
                <p>Expanding coverage of linked data resources to include under-represented areas like the Global South are an important priority.</p>
              </div>            
            </div>
          </div>
        </div>
        <div id="guide_faq" class="tab-pane fade" role="tabpanel">
          <div id="" class="tute-section">
            <p class="subhead">What is a gazetteer?</p>
            <p class="answer">In its simplest form, a gazetteer is a list of place names. Typically, digital gazetteers  provide some level of description for each listed place, e.g. its type and geographic coordinates. Historical gazetteers include prior names and sometimes a time span or period each name was in use. The <b>Linked Places format</b> (<a href="https://github.com/LinkedPasts/linked-places" target="_blank">spec {% fontawesome_icon 'external-link' %}</a>; <a href="{% url 'main:tute-choosing' %}">tutorial</a>) used by WHG allows us to record temporally scoped name variants, coordinates, place types, and relations with other places, as well as related descriptions and depictions.</p>
            <p class="subhead">Who uses historical gazetteers?</p>
            <p class="answer">Historical gazetteers are useful for anyone concerned with the history of a place or series of places, including researchers, teachers, and students. They help connect our present to our past.</p>
            <p class="subhead">What is a place?</p>
            <p class="answer">The term has multiple related meanings. A short sampler: (i) one answer to a where question, (ii) a setting for events and activity, (iii) "...an object resulting from a shared identification of a location. As an object, it may become a part of a network and participate in events" (<a href="https://asistdl.onlinelibrary.wiley.com/doi/pdf/10.1002/asi.24194" target="_blank">Purves, Winter & Kuhn 2019</a> {% fontawesome_icon 'external-link' %}). Attributes of places include names, locations, and types&mdash;all of which routinely change over time.</p>
            <p class="subhead">What is a place in WHG?</p>
            <p class="answer">A place record represents one or more attestations of a place found in historical sources or in modern gazetteers and name authorities. </p>
            <p class="subhead">What is the geographic and temporal scope of WHG?</p>
            <p class="answer">The geographic scope is global, and the temporal scope is roughly the span of written history.</p>
            <p class="subhead">Are some traces places, and vice versa?</p>
            <p class="answer">A number of spatial-temporal entities could be modeled as either. For example: a dynasty, or an historical route.</p>
            <p class="subhead">Are there "preferred names" in WHG?</p>
            <p class="answer">No. A place record can include any number of name and language variants; in fact they are encouraged. But we ask that each record have an assigned "title," which serves principally as a headword in lists.</p>
            <p class="subhead">Does WHG suport multiple languages?</p>
            <p class="answer">The name variants found in WHG are of numerous languages and scripts. Unfortunately, to date most of the contributed names do not arrive tagged with language-script codes. Separately, the <a href="https://www.w3.org/standards/webdesign/i18n" target="_blank">internationalization {% fontawesome_icon 'external-link' %}</a> of the WHG site is a high priority for the next phase of work.</p>
            <p class="subhead">How and why does WHG use modern country boundaries?</p>
            <p class="answer">Modern country boundaries are used in WHG primarily to filter queries and constrain reconciliation results. Country codes are included in place records for this purpose and do not reflect a given place's historical "containment" in administrative areas at any given time in the past.</p>
            <p class="subhead">What is the WHG vocabulary of place types?</p>
            <p class="answer">We have adopted a subset of 160 place type concepts from approximately 900 contained the <a href="http://www.getty.edu/research/tools/vocabularies/aat/" target="_blank">Getty Art & Achitecture Thesuarus {% fontawesome_icon 'external-link' %}</a>. Our focus in selecting these was on settlements (inhabited places), administrative divisions, sites, and natural features.</p>
            <p class="subhead">Can contributions include urban-scale features?</p>
            <p class="answer">We are not actively soliciting urban-scale place data, but recognize there is growing interest in systems to manage such information.</p>
          </div>
        </div>
        <div id="guide_pages" class="guide tab-pane fade" role="tabpanel">
          <ul class="nav nav-pills nav-fill mt-3 mb-1" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-why-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-why" aria-selected="true">Home/Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-what-tab" data-toggle="pill" href="#pills-data" role="tab" aria-controls="pills-what" aria-selected="false">Data Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-do-tab" data-toggle="pill" href="#pills-dataset" role="tab" aria-controls="pills-do" aria-selected="false">Dataset Portal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-comm-tab" data-toggle="pill" href="#pills-recon" role="tab" aria-controls="pills-comm" aria-selected="false">Reconciliation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-comm-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-comm" aria-selected="false">Reconciliation Review</a>
            </li>
          </ul>
          <div class="tab-content mt-2" id="pills-pagesContent">
            <div id="pills-home" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-home-tab">
              <div id="gp_home" class="tute-section mt-2">
                <!--<p class="subhead strong">Home/Search</p>-->
                <div class="p-1">
                  <h5>Register/Login/User Profile</h5>
                  <p>Registration and login are required to be able to upload datasets, designate collaborators, to use our reconciliation services to find matches in modern placename authorities (<a href="http://www.getty.edu/research/tools/vocabularies/tgn/" target="_blank">Getty Thesaurus of Geographic Names (TGN)</a> and <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" target="_blank">Wikidata</a> so far), and ultimately, to contribute your data to the WHG index. Once logged in, top-level menu options for "Data", user profile appear.</p>
                  <h5>Search</h5>
                  <h6>Places</h6>
                  <mark>Autocomplete (available for Trace searches) will be added for Place searches soon.</mark>
                  <p>Place search runs against a union index of ~1.8m core records (~3m names) and all contributed datasets. Typing a name then pressing the {Enter} key performs a search, presents a list of results, and maps those which have geometry (not all do). Clicking a result item will highlight it on the map, providing further context. Clicking the name link takes you to the index record's "portal" page where any number of attestation "cards" drawn from our core datasets (grey banner) and multiple contributed datasets (beige banner) are gathered.</p>
                  <p>Filters are available to constrain place searches: a) GeoNames feature class, b) temporal (not before, not after), and c) spatial (bounds of world regions, modern countries, and user "study areas."). Search results can be further filtered by place type.
                  <h6>Traces</h6>
                  <p> Search for trace data runs against a separate index. At this time there are only a few dozen example trace records. Try typing 'empire' to see a couple of examples. Selecting an auto-suggestion will perform the search and the places referenced in the trace record are mapped. As with places, clicking a result item highlights the place on the map, and clicking its name takes you to its place portal page.</p>
                  <p><mark>Integration of trace data</a> is at an early experimental stage. We welcome suggestions for how trace data can be better integrated into the WHG interface.</mark></p>
                  <h5>Dataset mapper</h5>
                  <p>Heat maps indicating coverage for some larger contributed datasets are available via a dropdown menu.</p>
                </div>
              </div>
            </div>
            <div id="pills-data" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-data-tab">
              <div id="gp_data" class="tute-section"><a name="dashboard"></a>
                <!--<p class="subhead strong">Data dashboard</p>-->
                <p>The Data dashbord page lists datasets created by a user or for which they are a collaborator, and user "study areas." Additionally, two read-only "core" datasets are listed. Clicking an "add new" or "create new" link ({% fontawesome_icon 'plus-square' color='#336699' %}) starts the process of creating and managing either a dataset or study area.</p>
                <h5>Datasets</h5>
                <ul>
                <li><h6>Place data</h6>
                <p>Registered users can create Place datasets by uploading files in one of two formats: the expressive GeoJSON-LD based <a href="https://github.com/LinkedPasts/linked-places" target="_blank">Linked Places format</a> ("LP format" for short), or the simpler <a href="https://github.com/LinkedPasts/linked-places/blob/master/tsv_0.2.md" target="_blank">LP-TSV format</a>. Considerations for making the choice are found in the <a href="{% url 'main:tute-choosing' %}">"Choosing an upload data format"</a> tutorial.</p>
                <p>Help icons ({% fontawesome_icon 'question-circle' color='#336699' %}) for each field in the "Upload dataset" form provide popup instruction for filling it.</p>
                <p>Uploaded data files are validated for adherence to the relevant format spec, LP or LP-TSV. If there are formatting errors, their details are displayed and after correcting them the file upload can be attempted again.</p>
                <p>Upon successful upload, a <a href="{% url 'main:tute-guide' %}#dataset-portal">Dataset Portal page</a> is displayed.</p></li>
                <li><h6>Trace data</h6>
                <p><mark>NOTE: Trace data uploads are not yet enabled.</mark></p></ul>
                <h5>Study Areas</h5>
                <p>These are user-created named polygon bounds used to constrain the searches used in the reconciliation process. See <a href="#reconciliation">Reconciliation</a> below.</p></li>
                <h5>Collections</h5>
                <p><mark>Planned, but not yet available. Users would be able to add place and trace records to personal collections, which can be mapped, edited, and optionally, shared. Would be useful for teaching scenarios. </mark></p>
              </div>
            </div>
            <div id="pills-dataset" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-dataset-tab">
              <div id="gp_dataset" class="tute-section"><a name="dataset-portal"></a>
                <!--<p class="subhead strong">Dataset Portal</p>-->
                <p>This page contains several tabbed sections for managing datasets: Metadata, Browse, Reconciliation, Sharing, and Log/Comments.</p>
                <h5>Metadata</h5>
                <p>This tab section provides metadata about the dataset and its most recent uploaded data file source. The <i>title</i>, <i>base URI</i> and <i>description</i> fields can be edited. Updating of the datasets can be initiated (<mark>only LP-TSV delimited files at present</mark>). Statistics are displayed on the right side of the screen: initial counts of rows, name variants, links, and geometries, as well as counts of link and geometry records added during the reconciliation review process.</p>
                <h5>Browse</h5>
                <p>This section combines a sortable, searchable list of the records currently in the dataset, and a map displaying any geometry it includes. Note that links and geometry from authority records matched in the reconciliation review process are reflected here, as dataset augmentation written as new <i>place_link</i> and <i>place_geom</i> records.</p>
                <h5>Reconciliation</h5>
                <p>Reconciliation "tasks" are initiated from this tab section and listed for access to review screens; <a href="#reconciliation">a process outlined below</a>. A summary of the initial results is generated and displayed in a list, with links to (a) <a href="#review">review prospective matches</a>.</p>
                <p>It is also possible to delete the task, its associated hits, and any match records created in review work. <span class="text-danger">Caution! There is no recovery from these clearing actions!</span></p>
                <div class="ml-2 contributing">
                <p class="mb-0 strong red-head">Contributing a dataset to WHG</p>
                <p>After a dataset has been uploaded and, using our reconciliation services, augmented with as many links (matches) to modern authorities as possible (<a href="#reconciliation">see below</a>), it can be considered for accessioning &mdash; that is, contributed to the WHG "union index." At this time all accessioning will be initiated by the WHG project team, and review performed by the dataset owner.</p>
                <p>Contributing a dataset to WHG entails reconciling its records to the WHG index. Any record sharing a link with one already in the index will be automatically indexed as a "child" or "sibling" to ours. Records for which there are no prospective matches are indexed as a "parent," in effect a new seed record for a place. Records for which there <b>are</b> prospective matches will be queued for review, just as with the TGN and Wikidata reconciliation.</p>
                <p>In that step, each record is compared with the WHG index to see if the referenced place already has one or more attestations from another dataset. If it does, it is marked as a "child" record of the first attestation we received. If it does not, it is considered a new "parent." <b>Accessioning relies on Place records having as many associated "place_link" records as can be obtained.</b><mark></mark></p>
                </div>
                <h5>Sharing</h5>
                <p>Owners of a dataset can name any number of registered WHG users as collaborators, giving them permission to view the dataset and to perform review of prospective matches generated by reconciliation tasks.</p>
                <h5>Log & Comments</h5>
                <p>Actions related to datasets are logged and listed here.</p>
                <p>On the Reconciliation Review and Place Portal pages, users can create comments specific to a database record. Comments for all places in a dataset are listed here. <mark>NOTE: Comments suggest followup action, e.g. correction of errors. We are contemplating how such corrections might be accomplished within the WHG interface.</mark></p>
              </div>            
            </div>
            <div id="pills-recon" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-recon-tab">
              <div id="gp_recon" class="tute-section"><a name="reconciliation"></a>
                <!--<p class="subhead strong">Initiate Reconciliation page</p>-->
                <p>Reconciliation is the process of identifying matches of your Place records to existing records in online place name authorities. So far, reconciliation to Getty TGN and Wikidata are offered. <mark>DBpedia and GeoNames will likely be added in the future</mark>. The purpose of reconciliation is to augment a dataset with associated "place_link" records, and optionally, geometry ("place_geom" records) derived from the authority. It is therefore possible to upload a dataset missing geometry for some or all of its records, and use this reconciliation service to make it mappable, at least in part.</p>
                <p class="strong">NOTE: Making a dataset as rich with links to authorities as possible is a crucial step in making it ultimately a solid contribution to the WHG index.</p>
                <p>In each case, the authority data store is queried for matches with your dataset records, one by one. Each query actually consists of multiple "passes," at first including as much context as your records may contain: name plus all variants; place type; one or more modern country or user-defined Study Area as a spatial constraint; coordinate geometry for the feature; and name(s) of "parent" entities. Subsequent passes (two for TGN, one for Wikidata) relax the query if no potential matches (hits) are found. Resulting hits for all records are queued for <a href="#review">review by the dataset creator</a>.</p>
                <h6>Getty TGN</h6>
                <p>WHG maintains a locally indexed copy of about 1.8 million place records retrieved from a TGN dump file in March, 2018. Because it is local, the process is considerably faster than for Wikidata. <mark>We hope to periodically update this index in the future, or to use the newly announce TGN Open Refine endpoint if its results are comparable and speed is acceptable.</p>
                <p>Almost all TGN records include a point geometry, but have no concordances with other authorities or structured temporal attributes.</p>
                <h6>Wikidata</h6>
                <p>The Wikidata reconciliation is performed against its SPARQL endpoint (https://query.wikidata.org/). At approximately 1 second per record it is much slower than that for TGN. Many Wikidata records contain geometry and concordances with other authorities. When you confirm a Wikidata match, we create a "place_link" record not only for the Wikidata ID but for any TGN, GeoNames, VIAF and Library of Congress IDs, if found.</p>
                <h6>Study Areas</h6>
                <p>Many toponyms appear repeatedly in multiple locations, referring to different places, often far apart (e.g. Latin America and the Iberian Peninsula). To aid the reconciliation process, users can define a Study Area that will constrain the search for matches to its bounds, by a) entering a series of 2-letter country codes, which will generate a hull shape, or b) by drawing a polygon on a map.</p>
                <p>Alternatively, a pre-defined region can be chosen from a separate dropdown menu.</p>
              </div>            
            </div>
            <div id="pills-review" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-review-tab">
              <div id="gp_review" class="tute-section"><a name="review"></a>
                <!--<p class="subhead strong">Reconciliation Review</p>-->
                <p>Prospective matches to external authorities are <b>not</b> automatically added to the WHG database during reconciliation; i.e. new "place_geom" and "place_link" records augmenting the dataset are created only by the Reconciliation Review step performed by the dataset creator or specified collaborators.</p>
                <p>This page presents dataset records with one or more prospective matches ("hits') on the left of the screen, with a list of those hits on the right. A small map displays geometry for the record with a green marker, and that of all hits with orange markers. Hovering over the globe symbol ({% fontawesome_icon 'globe' color='#336699' %}) in a hit item highlights its position in the map.</p>
                <p>The objective is to determine, for each dataset record, whether any of the hits are a "closeMatch" to it. By default, "no match" is selected for each hit. The reviewer can optionally change the selection to "closeMatch" for one or more hits. In any case, clicking save records the choice and advances to the next record. Attributes of the dataset record and the hits provide  context to assist making the assessment.</p>
                <h6>Matching</h6>
                <p>The meaning of <i>closeMatch</i> derives from the <a href="https://www.w3.org/TR/2009/REC-skos-reference-20090818/" target="_blank">Simple Knowledge Organization System (SKOS) vocabulary</a>, a data model commonly used in linked data applications. <mark>NOTE: The "related" relation is not yet defined formally, and assertions of it will not yet appear in the interface.</mark> For WHG, a Place record refers to a SKOS:Concept, so assertions of a closeMatch between your record and that of an external authority indicates:</p>
                <ul>
                  <li>"...(the) two concepts are sufficiently similar that they can be used interchangeably in some information retrieval applications"</li></ul>
                <p>Note that <i>closeMatch</i> is a super-property of <i>exactMatch</i>; that is, every <i>exactMatch</i> is also a <i>closeMatch</i>. Clear? Oh well. Practically speaking, for WHG asserting closeMatch serves as a linking "glue." Specifically, records that share one or more common authority link will conflated <b>in our union index" only</b>, and returned together in response to queries. For example, records from different source for Abyssinia and Ethiopia share two links, to a DBPedia record and a TGN record. Therefore, they appear together when searching for either Abyssinia or Ethiopia.</p>
              </div>
          </div> <!-- pills-pagesContent -->
        </div> <!-- guide_pages -->
      </div> <!-- tab_content-->
    </div> <!-- guide_content -->
  </div> <!-- container -->
  
  <script type="text/javascript">
    $(function(){
      $('.nav-pills a[href="#pills-why"]').tab('show')
    })
    $("[rel='tooltip']").tooltip();
  </script>
{% endblock %}
