{% extends "main/base.html" %}
{% block title %}<title>WHG::Linked Traces</title>{% endblock %}

{% block content %}
{% load static %}

  <div class="container">
    <div class="d-flex justify-content-center mt-3">
      <h3>Traces in World Historical Gazetteer</h3>
    </div>
    <div id="contrib_content" class="mx-5">
      <p class="lead"></p>
      
      <div id="traces#Intro" class="tute-section">
        <h4 class="p-1">In Brief</h4>
        <div class="p-1">
          <p></p>
          <p>... include:</p>
          <ul>
            <li>foo</li>
          </ul>
        </div>
        <h4 class="p-1">Linked Traces format</h4>
        <div class="p-1">
          <p><a href="https://github.com/LinkedPasts/linked-traces-format" target="_blank">The Linked Traces format</a> used is ...developed so far by WHG, working with a small working group...</p>
          <p>The distinctive features of Linked Traces format include:</p>
          <ul>
            <li></li>
          </ul>          
      </div>
    </div>
  </div>
{% endblock %}
