<!-- place/place_relocate.html -->
{% extends "main/base.html" %}
{% load fontawesome %}
{% load static %}
{% load dataset_extras %}
{% block title %}<title>WHG::Index admin</title>{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/b4vtabs.min.css' %}"/>
	<style>
		#admin_center .tab-pane {border:none !important;}.
	</style>
{% endblock %}

{% block content %}
<div class="container">
  {% if user.is_staff %}
  <h4 class="mt-3">Admin tasks</h4>
  <div class="row mb-5">
	  <div class="col-sm-2" id="admin_left">
			<ul class="nav nav-tabs left-tabs">
			  <li class="nav-item">
			    <a class="nav-link" href="#tab-panel-1" data-toggle="tab">Delete dataset (idx)</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active" href="#tab-panel-2" data-toggle="tab">Reorganize parent/child (idx)</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#tab-panel-3" data-toggle="tab">Remote AJAX tests</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#tab-panel-4" data-toggle="tab">Clear children (idx)</a>
			  </li>
			</ul>
	  </div>
	  <div class="col-sm-10 tab-content" id="admin_center">
			<div class="tab-pane container" id="tab-panel-1">
			  <form id="fetch_form" method="POST" action="#" enctype="multipart/form-data">
			  {% csrf_token %}
		    <p>Remove all records of a dataset. <mark>es_utils.removeDatasetFromIndex()</mark></p>
		    <input id="ds_input" class="small" name="dsid" placeholder="Dataset id (dsid)">
		    <button id="btn_remove" type="button" class="btn btn-primary btn-sm">Remove Dataset</button>
			  <ul>
				  <li>if parent</li>
					  <ul>
						  <li>if len(children) == 1, promotes it to childless parent</li>
						  <li>if len(children >1, promotes one to parent, update sibling parent id</li>
					  </ul>
				  <li>if child</li>
					  <ul>
						  <li>removes its id from parent's children[] list</li>
						  <li>removes <b>first instance of</b> each of its names from parent searchy[] list</li>
					  </ul>
			  </ul>
			  </form>
			</div>
		  <div class="tab-pane container active" id="tab-panel-2">
				{#<p>Promote child to parent or relocate to alternate parent</p>#}
			  <div>
				  <span class="">
				    <input id="pid_input" class="small" name="pid" placeholder="Enter place_id (pid)">
				    <button type="button" data-id='fetch' class="b_action btn btn-primary btn-sm">
					    Fetch record</button>
			    </span>
				  {# show action buttons after fetch #}
				  <span id="child_actions" class="hidden ml-2">Child actions:
				    <button type="button" data-id='promote' class="b_action btn btn-secondary btn-sm">
					    Promote to parent</button>
				    <button type="button" data-id='relocate' class="b_action btn btn-secondary btn-sm ml-2">
					    Relocate to</button>
					  <input type="text" id="newparent" name="newparent" placeholder="new parent pid"/>
			    </span>
				  <span id="parent_actions" class="ml-2 hidden">Parent actions:
				    <button type="button" data-id='' class="b_action btn btn-secondary btn-sm ml-2">Demote</button>
					  <input type="text" id="newparent" name="newparent" placeholder="new parent pid"/>
					  (elevate a child if any)
			    </span>
			  </div>
			  <div class="row mx-0 pt-2">
			    <div id="panel_2_left" class="col-sm-6 pl-0 small">
			      <h5>index record [<mark id="record_role">role</mark>]
{#				      <span class="float-right small">#}
{#					      <a href="#" class="a_action hidden" data-id="showdb">show db record</a>#}
{#				      </span>#}
			      </h5>
			      <div id="idx_place">fetch will display index record here </div>
			    </div>
			    <div id="panel_2_right" class="form-box mt-2 col-sm-6 hidden">
{#				    <div id="db_record">#}
{#			      <h5>database record</h5>#}
{#			      <div id="db_place">fetch will display db record here for confirmation</div>#}
{#				    </div>#}
				    <div id="">
			      <h5>alternate parents if any</h5>
			      <div id="altparents"></div>
				    </div>
			    </div>
			  </div> <!-- row d-flex -->
		  </div>
		  <div class="tab-pane container" id="tab-panel-3">
			  <div>
					<p><input id="new_placetitle" class="small" name="dstitle" placeholder="Place title">
						<input id="dslabel" class="small" name="dslabel" placeholder="Dataset label">
						<button id="b_post_place" type="button" class="btn btn-primary btn-sm">POST a new Place</button><br/>
						<span class="small">other attributes in data payload; datasets 'remote02', 'remote03' are open for posting</span>
					</p>
					<p><input id="new_dstitle" class="small" name="dstitle" placeholder="Dataset title">
							<button id="b_post_dataset" type="button" class="btn btn-primary btn-sm">POST a new Dataset</button><br/>
						<span class="small">unique label is auto generated: "ds_{dataset id}"</span></p>
			  </div>
			  <div class="row mx-0 pt-2">
			    <div id="panel_3_left" class="col-sm-6 pl-0 small">
			      <div id="idx_place" class="hidden">payload here </div>
			    </div>
			    <div id="panel_3_right" class="form-box mt-2 col-sm-6">
				    response here
			    </div>
			  </div> <!-- row d-flex -->
		  </div>
		  <div class="tab-pane container" id="tab-panel-4">
			  <div>
				  <span class="">
				    <input id="pid_input" class="small" name="pid" placeholder="Enter index id (whg_id)">
				    <button type="button" data-id='fetch' class="b_action btn btn-primary btn-sm">Fetch record</button>
			    </span>
			  </div>
			  <div class="row mx-0 pt-2">
			    <div id="panel_4_left" class="col-sm-6 pl-0 small">
			      <h5>index record [<mark id="record_role">role</mark>]
			      </h5>
			      <div id="idx_place">clearing children array</div>
			    </div>
			    <div id="panel_4_right" class="form-box mt-2 col-sm-6 hidden">
				    <div id=""> </div>
			    </div>
			  </div> <!-- row d-flex -->
		  </div>
	  </div>
	  <div class="col-sm-3"></div>
  </div>

  <div class="selector py-3"><div id="helpme"></div></div>
  {% else %}
    <p>Access to this page is limited to WHG staff</p>
  {% endif %}
</div> <!-- container -->

<script type="text/javascript">
  $(function(){
    $("#btn_remove").click(function(e){
      e.preventDefault()
      dsid = $("#ds_input").val()
	    console.log('gonna remove dsid', dsid)
	    urly = '/elastic/remove_dataset/'+dsid
	    $.ajax({
		    type: 'POST',
		    url: urly,
		    data: {
			    "csrfmiddlewaretoken":"{{ csrf_token }}"
		    },
		    success: function(response){
          console.log('response', response)
		    }
	    })
    })

		$("#b_post_place").click(function(e){
		  e.preventDefault()
			title = $("#new_placetitle").val()
			dslabel = $("#dslabel").val() != ''?$("#dslabel").val():'remote03'
			var data = {
        "title": title,
        "dataset": dslabel,
	      "ccodes": [],
		    "names":[
            { "toponym": title,
                "jsonb":{"toponym": title}}],
        "whens":{"jsonb":{"timespans":[{"start":{"earliest":"1230"}}]}},
        "geoms":[{"jsonb": {"type":"Point", "coordinates": [16.390228,48.214608]}}],
        "types":[],
        "descriptions":[{"jsonb": {"value":"Just another, that is all"}}]
			};
		  console.log('sending place ' + title + ' to '+ dslabel)
		  urly='https://whgazetteer.org/remote/pl/'
		  $.ajax({
		      type: "POST",
		      url: urly,
		      data: JSON.stringify(data),
				  contentType: "application/json; charset=utf-8",
		      datatype:"json",
				  headers: {'Authorization': "Token 1b7be4ea1d84020e483065524b3ccbcf15c18b17",
				    "Content-Type": "application/json"},
					error: function(xhr, status, error){
					   var errorMessage = xhr.status + ': ' + xhr.statusText
					   alert('Error - ' + errorMessage);
					},
				  success:function(response){
            console.log(response)
						$("#panel_3_right").html(response)
		      }
	    })
		})

		$("#b_post_dataset").click(function(e){
		  e.preventDefault()
			title = $("#new_dstitle").val()
			var data = {
        "owner": 14,
				"title": title,
        "description":"Created with remote POST from dev; label is auto-generated",
				"ds_status":"remote",
        "numrows":0
			}
		  console.log('new dataset title' + title )
		  urly='https://whgazetteer.org/remote/ds/'
		  $.ajax({
		      type: "POST",
		      url: urly,
		      data: JSON.stringify(data),
				  contentType: "application/json; charset=utf-8",
		      datatype:"json",
				  headers: {'Authorization': "Token 1b7be4ea1d84020e483065524b3ccbcf15c18b17",
				    "Content-Type": "application/json"},
					error: function(xhr, status, error){
					   var errorMessage = xhr.status + ': ' + xhr.statusText
					   alert('Error - ' + errorMessage);
					},
				  success:function(response){
            console.log(response)
						$("#panel_3_right").html(JSON.stringify(response))
		      }
	    })
		})

    $(".help-matches").click(function(){
      page=$(this).data('id')
      console.log('help:', page)
      $('.selector').dialog('open');
    })
    $(".selector").dialog({
      resizable: false,
      autoOpen: false,
      height: $(window).height() * 0.9,
      width: $(window).width() * 0.8,
      title: "WHG Help",
      modal: true,
      buttons: { 'Close': function() {console.log('close dialog'); $(this).dialog('close');} },
      open: function(event, ui) {
        $('#helpme').load('/media/help/'+page+'.html')
      },
      show: {effect: "fade",duration: 400 },
      hide: {effect: "fade",duration: 400 }
    });
    $(".a_action").click(function(){
      let action = $(this).data('id')
      if(action == 'showdb'){
        $("#panel_2_right").show()
      } else if(action == 'altparents'){
				$("#panel_2_right").show()
      }
    })
  })

  {#$(document).on('submit', '#fetch_form', function(e){#}
  $(".b_action").click(function(){
    {#e.preventDefault()#}
		// which button was clicked?
	  var action = $(this).data('id')
	  var newparent = $('#newparent').val()
    let formData = new FormData();
    {#formData['pid']=$('#pid_input').val();#}
    formData.append('pid', $('#pid_input').val());
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    {#formData['csrfmiddlewaretoken']="{{ csrf_token }}";#}
	  view_url = '/elastic/'+action+'/'
    console.log('formData, url', formData, view_url)
	  if(action == 'relocate'){
      if(newparent == ''){
        alert('need a whg_id for new parent')
	      return
      } else {
				formData.append('new_parent', $('#newparent').val());
      }
	  } else if (action == 'promote'){
      alert('pulling this pid out of parent.children[], changing its relation["name"] to parent')
		  return
	  }
	  // btn_promote
	  // btn_relocate
	  // btn_fetch
    $.ajax({
      type: 'POST',
      enctype: 'multipart/form-data',
      url: view_url,
      processData: false,
      contentType: false,
      cache: false,
      data: formData,
      success:function(data){
        console.log('data returned',data)
	      role = data.idxplace.role
        {#$("#db_place").html('<pre>'+JSON.stringify(data.dbplace, null, 1)+'</pre>')#}
        $("#record_role").html(role)
        $("#idx_place").html('<pre>'+JSON.stringify(data.idxplace, null, 1)+'</pre>')
        $("#idx_place").append('<pre>'+JSON.stringify(data.all, null, 1)+'</pre>')
	      if(data.idxplace.role == 'child') {
          $("#altparents").html('<pre>'+JSON.stringify(data.altparents, null, 1)+'</pre>')
          $("#parent_actions").hide()
          $("#child_actions").show()
		      $("#panel_2_right").show()
         } else {
          $("#child_actions").hide()
          $("#parent_actions").show()
	      }
	      // display links
	      $(".a_action").show()
      }
     })
  })

</script>

{% endblock %}

