html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/**
  modals
**/
.modal-dialog { position: relative; overflow: hidden; max-width: 90%; height: 90%; max-height: 90%; } 
.modal-form { position: relative; overflow: hidden; max-width: fit-content !important; max-height: 100%; } 
.modal-ext-content { height: 90%; overflow-y:scroll; background-color:#fff;}
/*.modal-form-content { */
.modal-content { 
  height: 90%; overflow-y:scroll; 
  background-color:#fff; 
  max-width: fit-content !important; 
  margin:auto;
}

/**
  dialogs
**/
/*.selector {  margin: auto; background-color: #fff;}*/
#helpme {
  padding:12px;
  height:fit-content;
}
.ui-widget-content a {
  color: #336699;
  text-decoration:underline;
}
/**
  general use
**/

label {vertical-align:top;}
.strong { font-weight: bold;}
.no-bullet { list-style: none;}
/*.tooltip { z-index: 600; color:"#993333"; border-bottom: 1px solid #ff0000;}*/
.tooltip { z-index: 600; }
.v-mid {vertical-align: super;}
.top { vertical-align: top;}
.half { font-size: .6em; font-style: italic; margin-top:.6em;}
.h2em { height: 2em; }
.h1em { height: 1em; }
.hidden {display:none;}
.texttop {vertical-align: text-top !important;}
.textsub {vertical-align: sub !important;}
.smaller {font-size: small;} /* smaller than bootstrap */
.larger {font-size: larger;}
.notebox {background-color:#eee;box-shadow: 2px 2px #999; border:1px dashed #333; padding:6px;}
.dashedbox {border:1px dashed #ccc; border-radius:8px; }
.bottom {}
.hover {cursor:pointer;}
.fa-search, .fa-times {color:#999; }
.tight-p { margin-top:0; margin-bottom:0;}

/**
  dashboard
**/
i.fa-eye { margin-bottom: -5px;}
.spinerow {background-color:#ffffcc;}

/**
  home, search
**/
/*.navbar-brand {padding:0; }*/
#beta_badge {
  font-size: 1rem;
  margin: 6px 0 0 30px;
}
#beta_links { margin: 6px 0 0 8px;}

.btn-default:not(:disabled):not(.disabled):active:focus,
.btn-default:focus, .btn-default.focus {
    box-shadow:none;
}
#trace_detail { 
  display:none; 
  max-height:300px;
  overflow:scroll;
}
#trace_detail ul {
  list-style-type: none;
  margin: 0;
  padding-left: .5rem;
}
/*.body-place li {border-bottom: 1px dashed #999 !important;}*/
#trace_detail li:hover { cursor:pointer;}
#trace_detail li {border-bottom: 1px dotted #ccc !important;}

input[type="text"] {
   /*height: 1.5rem;*/
   /*font-size: .8rem;*/
   /*line-height: rem;*/
}

#map_home.leaflet-container { height: calc(100vh - 90px);}
#home_map {  position:relative; z-index: 0;}
#mapview_container { position: relative; height:calc(100vh - 90px);}

#home_search {
  z-index:500; 
  position:absolute; 
  top:80px;
  min-width: 25%;
  max-width: 25%;
  margin:5px; padding:5px;
}
#search_panel {
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px #999;
}
#options { padding:2px; display:none;}
#searchbox { height: auto;}
#search_input { 
  margin: auto;
  /*margin-bottom: .3rem;*/
}
#result_list {
  padding: 5px;
  background-color: #fff;
  margin-top:8px;
  max-height: 70vh;
  overflow-y:scroll;
  box-shadow: 2px 2px #999;
}
#search_type {
  height: 1.5rem;
  z-index:500;
  margin-bottom: .5rem !important;
}
#search_type label {
  font-size:.9rem;
}
#search_button:hover {
  cursor: pointer;
}
#resultlist {
  padding-top: 0;
  border: 1px solid #ddd;
  border-top: #fff;
}
.autosuggest {
  display: none;
  margin-top: -18px;
  margin-bottom: 6px;
  padding-top: 3px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  /*padding: 5px;*/
  /*background-color: lightsteelblue;*/
  background-color: white;
  /*border: 1px solid  #80bfff;*/
  z-index: 600;
}

/*new style*/
.place-item, .trace-item, .sug_row, .search-row{
  list-style-type: none;
  margin-top: 5px;
  border-bottom: 1px solid #ddd;
  padding-left: 5px;
  font-size: small;
  cursor: pointer;
  min-height: 30px;
}

em { color: #993333;}
.sug_row { 
  background-color: #fff;
}
.sug_row:hover {
  background-color: #eee;
}
.flash-geom {
  font-size: 1.2rem;
  margin-top:6px;
  cursor: pointer;
}

.active-card {background-color: #f9ebeb !important;}
.trace-detail { display:none; margin-left: -14px; margin-top:2px;}
.col-content { 
  background-color: white; padding:4px;
  border-top: #ddd 1px solid;
  border-left: #ddd 1px solid;
  border-right: #999 2px solid;
  border-bottom: #999 2px solid;
}
.col-content p { margin-bottom: .5rem; }
.overlap { position:relative; }
.abbrev { max-height: 60px; overflow:scroll;}

/**
  place portal
**/
#place_content { height: calc(100vh - 120px)}
.trace-img {height: 250px;}
#place_home_l {
  height: calc(100vh - 200px);
  overflow: scroll;
}
#place_home_l tr, th {
  line-height: .2rem;
}
#place_traces {
  max-height: 120px;
  overflow:scroll;
}
.truncate {
  max-height: 125px;
  overflow:  scroll;
  padding: 0 2px;
}
#place_traces ul {  margin: 0; padding-left: 1rem; text-decoration:none; list-style:square; }

.bg-white { background-color: white; }
.attest-header { background-color: antiquewhite; padding: 0 2px;}
.allcap-heading {color: #993330;}
.child-record {background-color:white; padding:3px;}
.child-record p {margin-bottom:.3rem;}
.maxhi {max-height: 50px; overflow:hidden; margin-bottom:3px;}
.attest-element { border-bottom: 1px dashed #ccc;}
.ttip { text-decoration: underline dashed; color: brown;}

/**
  maps
**/
#map_app.leaflet-container { height: 550px;}
#zoom_extents { display:none; font-size: 1.2rem;}

/**
  recon
**/
#search_region {width: 250px;}

.recon-done {
  font-style: italic;
  color: grey;
}
#recon ul {
  list-style: none;
  padding-left: 0;
  /* margin-top: 12px; */
}
#select_region option, #select_userarea option{
  margin-right:6px;
}


/**
  review
**/
#select_pass {
  margin-left: 40px;
  font-weight: bold;
  color: firebrick;
}
.auth-match p {font-size: small; margin-bottom: .4rem;}
.globeflash {
  padding-top:3px; padding-bottom:3px; padding-right:3px; 
  background-color:gold;
}
.help-matches:hover { cursor:pointer;}
#map_review {z-index:0 !important;}
.ui-dialog {z-index:1001 !important}
.ui-dialog-titlebar-close {display:none;}

#tgn_match p {
  margin-bottom: .6rem;
  font-size: small;
}
.match_radio {background-color: oldlace; padding-left:0; max-height:24px}
/*.match_radio li {display:inline; margin-left:5px;}*/
.match_radio li {display:inline; margin-right:4px;}
/*.match_radio ul {list-style-type: none; float: right;}*/
.match_radio ul {list-style-type: none; padding-left:3px;}
.matchbar {  background-color: gold;}
.notefield {  height:100;  display: none;}
.noteicon {margin-left: 4px;}
.noteicon:hover {cursor: pointer;}
.inline {display:inline-block;}
.inline ul {margin-bottom:0;}


/**
  dataset create
**/
#create_review {
  /*background-color: yellow;*/
}

/**
  dataset browse
**/
#detail_left {
  border-right: 1px dashed #999;
}
#row_detail { margin-top:3px;}
#row_detail p {
  margin-top: 0;
  margin-bottom: 0;
}

#drftable_list {
  padding-right: 0 !important;
  font-size: .8rem;
}
.odd, .even { line-height:.5rem; cursor:pointer;}
.highlight-row {background-color: #ffff66 !important;}
.rowhover { 
  background-color: #ffff66 !important;
  /*color: white;*/
}
#drftable_fields p { margin-bottom: .5rem;} 
#placetable td {line-height:normal;}
#placetable_info, #placetable_paginate { font-size: smaller;}


/*  ?? */
@media (min-width: 768px) {
    #sidebar { position: fixed;}
}

#progress_bar {
  background: #f2f2f2;
  padding: 4px 0;
  /*text-align: center;*/
}
.prog  {
  display:inline-block;
  width:24px;
  height:24px;
  border-radius:12px;
  font-size:1rem;
  color:#fff;
  line-height:24px;
  text-align:center;
  background:#eb9494;
  font-weight:bold;
  box-shadow: 1px 1px #ccc;
}
.prog-active {background:firebrick;}

#tldr {
  background-color:lightyellow;
  margin-top: 65px;
  margin-right: 10px;
  padding: 6px 6px 0 6px;
  border: grey 1px dashed;
  max-width:150px;
  border-radius: 10px;
  box-shadow: 2px 2px lightgrey;
  text-align: center;
}

.ghostbox {
  background-color: #f2f2f2;
}

.ds-detail p { margin-bottom: .3rem;}

.tab-pane {
  padding: 3px;
  background-color: white;
  /* min-height: 128px; */
  border-left: #eeeee0 1px solid;
  border-right: #eeeee0 1px solid;
  border-bottom: #eeeee0 1px solid;
}

.p-tight p {
  margin-bottom: .6rem;
}
.pagination {
  background-color: #eee;
}


#id_uri_base{width: 300px;}

.list-box {
  border: 1px solid #ccc;
  min-height: 100px;
  background-color: oldlace;
  padding:12px;
  /* border-radius: 16px; */
  box-shadow: 3px 3px #eee;
}
.task-box {
  border: 1px solid #ccc;
  min-height: 100px;
  background-color: #fff;
  padding:12px;
  /* border-radius: 16px; */
  box-shadow: 3px 3px #eee;
}
.task-box p, .task-box li {font-size: small; margin-bottom:.3rem;}
.dataset-detail {
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 8px;
  width: 95%;
  margin-left: 0 !important;
}
.form-box {
  border: 1px solid lightgray;
  background-color: oldlace;
  padding:8px;
  border-radius: 8px;
  box-shadow: 3px 3px #eee;
  font-size: .8rem;
}

.form-check-input {
  margin-top: .2rem;
}
:-moz-any(.form-check-input) {
  margin-top: .35rem;
}

.red-bold {
  color: #dc3545 !important;
  font-weight: bold;
}

.link-bold {
  color: #336699 !important;
  font-weight: bold;
}

.block-left {
  display:block;
  float:left;
}

tr.place-row, tr.dataset-row {
  cursor: pointer;
  line-height: .75rem;
  font-size: .9em;
}

span.edit-row {
  cursor: pointer;
}


/**
  Main: tutorials
**/
.bg-light { background-color: #fff !important; }
.tute-section h4 { background-color: #eee;}
/*#contrib_content h6 { font-style:italic; color: #993333; }*/
.card-header {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}
.card-header h4 { margin:0;}
.accordion .btn-link { color: #336699;}

/**
  Auth: Profile, etc
**/
.profile p {}


/**
  element IDs
**/
.create-comment {
  padding: 0 2px;
  background-color: white;
  height: 20px;
  margin-bottom: 4px;
}
#review_list {
  height:calc(100vh - 180px);
  overflow:scroll;
}
#map_maps { position:absolute; top:120px; bottom:0; width:81%; height:80%;}

#map_area, #map_home, #map_view {
  height: 100%;
  /* position:absolute;top:0;left:0; */
}
#grid_detail, #place_record p {
  font-size: small;
  margin-bottom:0;
}
#area_options {
  background-color: ghostwhite;
  padding: 4px;
  font-size: .8rem;
}

