.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-input, 
.tt-hint {
    /*width: 250px;*/
    height: 24px;
    padding: 4px 6px;
    font-size: .8rem;
    line-height: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/*.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
/*}*/
.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    /*width: 250px;*/
    /*margin-top: 12px;*/
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 6px;
    font-size: .8rem;
    line-height: 24px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.tt-suggestion.tt-cursor { 
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}


.tt-suggestion p {
    margin: 0;